[2018-02-09 13:54] gricey432 opened #430 "Broken link on Firestore quickstart"
On the page https://firebaseopensource.com/projects/firebase/FirebaseUI-Android/ under Getting Started there's a broken link to FirebaseUI. https://github.com/firebase/quickstart-android/blob/master/firestore/README.md#L14

[2018-02-09 14:01] jemshit commented on #4
What about showing image from url ? I want to add imageUrl when sending notification from Firebase Functions. Something like:
[code]
Notification is received when app is in background.

[2018-02-09 15:59] samtstern commented on #427
@sohailniazai can you show me a few things:

- Your `build.gradle`
- The output of `./gradlew :app:androidDependencies`

Thanks!

[2018-02-09 16:04] samtstern commented on #430
@gricey432 sorry I don't see a "Getting Started" section here:
https://firebaseopensource.com/projects/firebase/firebaseui-android

Can you clarify?

[2018-02-09 16:05] samtstern commented on #430
Ohhh I see there's a broken link on this page:
https://firebaseopensource.com/projects/firebase/quickstart-android/firestore/README.md

And this is the broken link:
https://firebaseopensource.com/projects/firebase/FirebaseUI-Android/

Seems like an issue of case sensitivity, thanks!

[2018-02-09 16:06] samtstern commented on #430
I moved this issue over to firebaseopensource.com

[2018-02-09 16:06] #430 closed

[2018-02-09 16:12] #428 closed

[2018-02-09 16:20] SyamSundarKirubakaran commented on #428
@samtstern Thanks for the Fix.!

[2018-02-10 00:37] gricey432 commented on #430
Ah sorry, pasted the wrong link. Thanks!

[2018-02-11 23:59] skfaisal93 commented on #368
List of devices: OnePlus, Oppo, Lenovo

[2018-02-12 11:38] MakawaMT commented on #46
I have this problem in my application and even after catching the FirebaseRemoteConfigException the app still crashes

[2018-02-12 13:36] bironader opened #432 "java.lang.NoClassDefFoundError"
* Android device: Galaxy Grand2
  * Android OS version: 4.4

I get this crash in Crash Reporting:

java.lang.NoClassDefFoundError:
  at pil.<clinit> (SourceFile:2)
  at pij.onAnimationEnd (SourceFile:10)
  at android.animation.AnimatorSet$AnimatorSetListener.onAnimationEnd (AnimatorSet.java:818)
  at android.animation.ValueAnimator.endAnimation (ValueAnimator.java:1056)
  at android.animation.Valu

[2018-02-12 14:57] #432 closed

[2018-02-12 14:58] bironader commented on #432
Sorry issue was in youtube player , solved when I downgrade youtube app version

[2018-02-12 15:36] gokulkr535 commented on #429
Cannot receive notifications when application is killed state..kindly provide solutions to receive notification via fcm even app is in killed state

[2018-02-12 23:58] samtstern commented on #429
This is a duplicate of #418

[2018-02-12 23:58] #429 closed

[2018-02-13 10:21] farhanarrafi commented on #15
For Kotlin Try this:

[code]

[2018-02-13 20:11] samtstern commented on #332
@mmitic-lotusflare libraries should not receive FCM, apps receive FCM messages.  So you don't need to add the library's details to any JSON file, instead the library should be configured with the app's details (either at compile time or at runtime).

[2018-02-14 07:15] championboylay commented on #422
Same happening to me! I opened the links via Viber application and my application is not listed in recent apps. Open application manually is working fine.

[2018-02-14 16:04] samtstern commented on #422
@championboylay can you show a screenshot of what your recent apps looks like after you click the link from Viber?

[2018-02-14 20:02] rafid059 commented on #388
Problem still persists on `11.8.0`.

    compile 'com.google.firebase:firebase-core:11.8.0'
    compile 'com.google.firebase:firebase-messaging:11.8.0'
    compile('com.crashlytics.sdk.android:crashlytics:2.7.1@aar') {
        transitive = true
    }

Device states: 100% In background

[2018-02-15 00:36] hoopjumpers opened #433 "Stickers/Sticker Packs: Why so awkward?"
Okay, after much thought, I think I understand the logic behind the current approach to stickers and sticker packs via Firebase app indexing.  My best guess is that someone important at Google said, "Hey, iOS has stickers and people are using them and paying money for them!  [sigh]  I guess we could try to do that too."  The decision to rely on the Firebase API was probably so that other keyboard

[2018-02-15 06:47] davidsvilem commented on #38
I'm still having this issue :(

[2018-02-15 12:53] AndroidSuperGeek commented on #38
Has the same issue. What worked for us that we **had two intent-filters almost similar**
which caused the Google Play to lose the intent we wanted. Instead of showing "Continue" button it redirected us to uninstall/open page on the play.

Either way, its best to work with the latest firebase dynamic link API
https://firebase.google.com/docs/dynamic-links/android/receive

<intent-filter>

[2018-02-15 20:22] samtstern commented on #433
Thank you for the super detailed feedback!  I'm personally not an expert in
this API but a lot of what you're saying sounds sensible to me.

I'll share this around with some other Firebasers and see what they think.
We love when community members like you take the time to tell us what
you're thinking.

Also don't be offended when I eventually close this GitHub issue, GitHub
just isn't a great plac

[2018-02-15 21:32] samtstern commented on #38
@davidsvilem thanks for commenting.  Have you tried this:
https://firebase.google.com/docs/dynamic-links/debug

[2018-02-16 09:15] jemshit commented on #396
Same issue on emulator without google account:
[code]

[2018-02-16 16:01] samtstern commented on #396
It seems that some of you are running into the issue discussed here:
https://github.com/firebase/FirebaseUI-Android/issues/1104

The team is aware of the issue and it should be fixed in one of the next few Firebase Auth releases.  Thanks for reporting and for your patience!

[2018-02-20 01:58] tpincapps opened #434 "How to display Firebase database data into a RecyclerView before filtering it with SearchBar?"
could anyone help me with my question here? https://stackoverflow.com/questions/48867779/how-to-display-firebase-database-data-into-a-recyclerview-before-filtering-it-wi

I'm trying to show Firebase data in RecyclerView with a SearchBar feature, but when I try in phone, the app does function correctly meaning currently it can be searched but doesn't show Firebase data before search like it filers

[2018-02-20 10:08] ibrahimAlii commented on #41
I have this Issue too, when app is closed I didn't receive any notification, I'm tried to make a JobScheduler to schedule and check for notification every some time, but I didn't get a good result.

[2018-02-20 17:05] samtstern commented on #434
@tpincapps as noted, you've already posted on StackOverflow.  That's the right place for this question, so I will close it here.  I'll take a look at your SO post and see if I know the answer.

[2018-02-20 17:05] #434 closed

[2018-02-21 05:58] adhithyagnair commented on #422
![screenshot_20180221-112040](https://user-images.githubusercontent.com/30405024/36465114-b0d5014c-16f9-11e8-9ae0-93d74a97b23a.png)

@samtstern I was opening the app from Google-keep app and my deepLink app was not present in the background .
When I clicked the URL it opened my app as a new app instance-(as expected). then I switched between my app and other apps by clicking the highlighted button

[2018-02-21 06:56] kkyyppp commented on #79
How about my solution try it.
ttps://stackoverflow.com/questions/48897883

[2018-02-21 06:57] kkyyppp commented on #20
how about my solution
https://stackoverflow.com/questions/48897883

[2018-02-21 06:59] kkyyppp commented on #4
how about my solution
https://stackoverflow.com/questions/48897883/how-to-handle-notifications-with-fcm-when-app-is-in-either-foreground-or-backgro/48899186#48899186

[2018-02-21 21:29] samtstern commented on #422
Thanks @adhithyagnair, could you show your `AndroidManifest.xml`?

[2018-02-22 05:29] adhithyagnair commented on #422
` <?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.quickstart.deeplinks" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity a

[2018-02-22 12:04] fenerlee1907 commented on #291
Any update on this? I keep getting crash reports and I am going to need to remove Remote Config from the app unless there is an update soon. Do you have a schedule at least?

[2018-02-22 16:00] tucson-tom opened #435 "com.google.firebase.appindexing.FirebaseAppIndexingInvalidArgumentException: Indexable is 32143 bytes, which is larger than the maximum allowed size of 30000 bytes The invalid indexable is: StickerPack"
* Android device: Pixel 2
  * Android OS version: Oreo
  * Google Play Services version: The latest?  (`apply plugin: 'com.google.gms.google-services'`)
  * Firebase/Play Services SDK version: `com.google.firebase:firebase-appindexing:11.8.0`

### Describe the problem:

When attempting to add a mere 88 stickers to a sticker pack using AppIndexingUtil, I get the following in logcat:

[code]

#### S

[2018-02-22 16:23] samtstern commented on #435
Thanks @tucson-tom for mentioning this.  Obviously we can tell from the error message this is working as intended, but let's see if there is a workaround.

Do you mind sharing your exact code where you add the stickers?  No need to share the JSON.

[2018-02-22 16:36] tucson-tom commented on #435
AppIndexingUtil.java:

[code]

[2018-02-23 16:43] samtstern commented on #435
@tucson-tom thanks for sharing that.  I am going to reach out to some App Indexing engineers, your code looks reasonable but I don't know enough to say for sure what to do next.

[2018-02-23 16:47] samtstern commented on #422
@adhithyagnair huh ok that's very strange.  I will try and investigate this.

[2018-02-23 16:55] samtstern commented on #422
@adhithyagnair well you're totally right, I can reproduce this completely.  Let me go ask the engineering team if this is a bug or expected behavior.

[2018-02-23 17:41] samtstern commented on #435
@tucson-tom would you be comfortable sharing with me your sticker `JSON` file?  You could email it to me privately at samstern [at] google [dot] com.

[2018-02-23 19:14] samtstern commented on #435
@tucson-tom I got your JSON file and shared it with the team.  After some discussion, this was the main takeaway:

So you have a few options:

- Since you're only ~2KB over, you may be able to squeeze these stickers in by making the file names shorter (I see you're using an MD5 hash) or trimming some other metadata (maybe reduce tags to abbreviations)?
- If you intend for this to get even larger,

[2018-02-23 19:14] #435 closed

[2018-02-23 19:44] tucson-tom commented on #435
The MD5 hash deals with a different bug:  Gboard appears to cache the displayed sticker by its file name.  So the example `sticker%s.png` that uses the index position for the sticker (e.g. sticker2.png) means that the order of the stickers can never change.  The correct sticker shows in an actual message but the preview of the sticker is cached somewhere by its filename.  MD5 hash was the natural

[2018-02-24 18:57] jitendracodehacker commented on #72
I am facing this on xamarin .

[2018-02-26 12:04] Jason-Zy opened #436 "don't receive notification when app not run"
when my unity app run background ,i can receive notification ,but if i quit the app or kill it's background progress, no any notification can be found on my phone . however the firebase notification console show me that the message has send succeed? why this happen?

[2018-02-26 16:18] samtstern commented on #436
This seems the same as #4 and #89

[2018-02-26 16:18] #436 closed

[2018-02-26 19:09] skinner2012 commented on #396
@samtstern I also have this issue/crash and it did impact a lot.

[code]

And here is the Crashlytics link - http://crashes.to/s/c80ad0aae7c.

I don't think the crash in our app is due to FirebaseUI since we didn't use it. By the way, here is some informations which hopefully are helpful:

1. We use Firebase Auth to have Phone Verification.
2. The version of Firebase SDK we are using is 11.8.0.
3.

[2018-02-26 19:13] samtstern commented on #396
@skinner2012 yes yours is issue #1104.  It's something in Firebase Auth and it will be fixed in the next release of that SDK.

[2018-02-26 22:53] AMR-aa1405465 commented on #385
I had the same exact problem, what I did is the following

1) I unified the version of the firebase services to be as following

    compile 'com.google.firebase:firebase-firestore:11.8.0'
    compile 'com.google.firebase:firebase-database:11.8.0'
    compile 'com.google.firebase:firebase-core:11.8.0'
    compile 'com.google.firebase:firebase-auth:11.8.0'

2) I did add those

//@ at the app module

[2018-02-27 05:14] mustii82 commented on #105
Why closed?

[2018-02-27 11:39] adhithyagnair commented on #422
Oye, that's cool. Waiting for your further updates @samtstern . :)

[2018-02-27 13:06] Ktirumalsetty commented on #41
Does anyone found solution for this I have observed same with One Plus with 8.0 (Oreo)

[2018-02-27 20:54] stari4ek commented on #291
Still getting it right after
[code]
firebase 11.4.2

Device:
[code]

[2018-02-27 21:28] samtstern commented on #427
@sohailniazai since there hasn't been a response in 18 days I am going to close this issue.  If you still need help and can provide that info let me know.

[2018-02-27 21:28] #427 closed

[2018-02-27 21:28] samtstern commented on #425
@crazyhatfish since there hasn't been a response in 19 days I assume you figured this out?  If not let me know and we can re-open this.

[2018-02-27 21:47] kroikie commented on #433
Hi @hoopjumpers point taken, it would be cool if sticker developers had an easier way to submit their stickers. Your recommendation of using the Play Store to do this is reasonable.

However neither the Play Store nor Google Play Services have explicit support for sticker packs at this time. So if you want to have your stickers indexed by keyboards now then Firebase App Indexing is the way.

Thank

[2018-02-27 21:47] #433 closed

[2018-02-27 21:48] samtstern commented on #433
@hoopjumpers just FYI we forwarded this feedback on to the Product Manager for App Indexing, so you are heard!

[2018-02-28 07:12] androidkotlinejava commented on #294
Error:This Gradle plugin requires Studio 3.0 minimum

same issue...
can any one tell any solution.
above not working

showing error here
dependencies {

  ****implementation** fileTree(include: ['*.jar'], dir: 'libs')**
  androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
    exclude group: 'com.android.support', module: 'support-annotations'
  })
  compile 'com.android.

[2018-02-28 07:13] androidkotlinejava opened #437 "Error:This Gradle plugin requires Studio 3.0 minimum (This is different)"
**Can any one tell any solution.**

showing error here

[code]

[2018-02-28 14:44] mmitic-lotusflare commented on #332
@DanielByoungChul You can use `FirebaseApp.initializeApp(context, options, "<name>");`, where options reflect data from `google-services.json` (ApplicationId and ApiKey seem mandatory). However, I believe you'll need a Firebase project per application having your library, I don't think one Firebase project can cover more than one app. To get token, you can use this: `FirebaseInstanceId.getInstance

[2018-02-28 16:09] samtstern commented on #437
@androidkotlinejava this is working as intended, Android Studio 3 is stable and we have decided to use it in our projects.  You should upgrade and try it!  It's **much** better than the 2.x versions.

https://developer.android.com/studio/index.html

[2018-02-28 16:09] #437 closed

[2018-03-02 20:33] nikhilkilivayil opened #441 "Inconssit Module metadata found"
Project build showing this error

`Error:Cause: inconsistent module metadata found. Descriptor: com.google.gms:google-services:3.2.0 Errors: bad group: expected='com.google.gms.' found='com.google.gms'`

[2018-03-02 20:40] samtstern commented on #441
@nikhilkilivayil please provide all the requested information:

  * When does this happen?
  * What code are you running?
  * What sort of system are you on?

[2018-03-02 21:24] nikhilkilivayil commented on #441
I am trying to build my Android application using Firebase Messaging API.
Getting this error while doing gradle build.

This is my app gradle file:

[code]

This is my project gradle file:

[code]

[2018-03-03 18:25] nikhilkilivayil commented on #441
@samtstern Any solution for this issue? or do you need  more information about issue?

[2018-03-04 03:43] mourjan opened #442 "addSnapshotListener triggers twice when setting timestamp field with FieldValue.serverTimestamp()"
### Step 2: Describe your environment

  * Android device: ___samsung J7 & emulator__
  * Android OS version: __23 & 26___
  * Google Play Services version: __11.9.75___
  * Firebase/Play Services SDK version: _11.8.0____

### Step 3: Describe the problem:
the scenario goe like this:

I have a recyclerView setup with a firestore adapter setup along with a query fetching documents like CHAT/MESSAGE

[2018-03-04 05:22] mourjan commented on #442
After researching the matter, I found this explanation which makes sense [](https://stackoverflow.com/a/47764065/2199894). therefore I am closing this issue.

[2018-03-04 05:24] #442 closed

[2018-03-04 21:38] crazyhatfish commented on #425
Apologies, I've been waylaid on another project at work.

That's as high as the callstack as it goes, the rest of the error log (its a crashlytic error log) is pretty uninformative, although I may be wrong.
The full stack is as follows:
[code]

- `items` is a `ReadableArray` passed in from React Native JS
- `resultCallback` is a React Native `Callback`

I've verified that `items`, the `getString`

[2018-03-04 23:35] fiftysoft commented on #29
any update ?

[2018-03-05 07:04] haidarcorp commented on #41
Is there really no solution yet? Does anybody have any way of ensuring these services run after app is swiped?

[2018-03-05 07:27] haidarcorp commented on #41
I've found a solution!!!!
in the manifest, define this:
        <service
            android:name=".BService"
            android:enabled="true"
            android:stopWithTask="false" />
Then create the following java class:
import android.app.Service;
import android.content.Intent;
import android.os.Binder;
import android.os.IBinder;
import android.util.Log;
import android.widget.Toast;

public

[2018-03-05 16:17] samtstern commented on #442
@mourjan thanks for following up, glad you figured it out.

[2018-03-05 17:27] samtstern commented on #441
@nikhilkilivayil you have this line:

[code]

it's a typo, you need to remove the `.` before the `:`

[code]

[2018-03-05 17:27] #441 closed

[2018-03-05 17:30] samtstern commented on #425
@crazyhatfish thanks for getting back to me.  So if I understand correctly this is an issue in a React Native app only affecting users on KitKat and below.

I will leave this open for now, but as you noted there's not much information here and it doesn't seem that either of us can reproduce this too easily so I'm not quite sure how to proceed with debugging ... I'll see if I can do anything with t

[2018-03-05 18:13] samtstern commented on #425
Fwiw I looked into the proguard mapping and all I can see about `zzdvv` and `zzdwc` are that they are inside the operations you specified, so it's very hard to figure out where the NPE is coming from.

[2018-03-05 19:50] ahabbaba9 commented on #418
Hello, when will the next release be shipped?

[2018-03-05 19:53] kroikie commented on #418
@ahabbaba9 We can't give an exact date but we are working on getting the next release out as soon as we can.

[2018-03-06 01:04] crazyhatfish commented on #425
Thanks for looking at this for me.

Here is a minimal app reproducing the crash: [tmpapp.tar.gz](https://github.com/firebase/quickstart-android/files/1783136/tmpapp.tar.gz)
Ran on an emulated Nexus 10 API 16, stock image.

It's a React Native app, wasn't sure if that was a contributing factor. Should be just a `npm i`, `npm start` to get it running.

[2018-03-06 11:46] adhithyagnair commented on #422
@samtstern Any updates?

[2018-03-06 13:48] karmazinkd commented on #291
hey guys, any updates on this?
I'm getting the same crash report on various devices, with APIs 19 - 24

 Exception java.lang.NullPointerException: Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()' on a null object reference
com.google.android.gms.internal.zzblq.zzc ()
com.google.android.gms.internal.zzblq.zza ()
com.google.android.gms.internal.zzbtm.run ()
android.o

[2018-03-06 18:39] thewijaysharma commented on #23
Its really strange that this topic is closed but in my app onTokenRefresh() is not getting called even after the reinstallation

[2018-03-06 19:10] kroikie commented on #23
@comm1x the recommendation of uninstall and reinstall is only for development, this is not a solution for an app that is already in the hands of users. You are able to call `FirebaseInstanceId.getInstance().getToken();` at any time to get the current token.

@thewijaysharma please ensure that your `FirebaseInstanceIdService` is correctly defined in your [manifest](https://github.com/firebase/quick

[2018-03-07 06:25] sree533 commented on #422
I have same issue!!

[2018-03-07 06:28] jag4364u commented on #422
I got a same problem. app opened using dynamic link is not in recent apps after minimising.

[2018-03-07 19:09] DevUnderos opened #444 "FirebaseAds: There was a problem getting an ad response. ErrorCode: 0"
I have a problem with AdMob. I added AdMob in my app with firebase-ads, but banner can't load in all app build variants (Debug/Release). App registered in firebase.

Error Log
**W/Ads: Received error HTTP response code: 400
W/Ads: There was a problem getting an ad response. ErrorCode: 0
W/Ads: Failed to load ad: 0**

Firebase version: `'com.google.firebase:firebase-ads:11.8.0'`

[2018-03-08 19:05] GrinGraz commented on #281
Following the same steps this is still happening using Play Services version 11.8.0.

[2018-03-08 19:13] samtstern commented on #422
Hey all, I have been trying to get someone with more knowledge of the internals to chime in here.  Sorry for the silenve.

[2018-03-08 21:40] samtstern commented on #425
@crazyhatfish ok I was able to reproduce this on an API 16 emulator.

[2018-03-08 21:49] samtstern commented on #425
@crazyhatfish ok I installed a newer version of Google Play services on the emulator and this did **not** crash anymore (see below).  The API 16 emulator came with a version old version (9.x) and there must be some binary incompatibility between the new SDK and that one.

Because the emulator does not have the play store, there's no way for these devices to upgrade Google Play services which cause

[2018-03-08 21:49] samtstern commented on #425
Gonna report this as a bug, but closing it here since there's nothing more I can do :-/

[2018-03-08 21:49] #425 closed

[2018-03-08 22:38] crazyhatfish commented on #425
Awesome, that's perfect :100:. Cheers

[2018-03-09 02:04] ejswenson15 commented on #211
+1

[2018-03-09 17:49] #444 closed

[2018-03-09 18:14] William-ST commented on #422
I got a same problem.

[2018-03-11 11:59] anwarkamal317 commented on #296
same is the case with me I tried to use 2 mobile phones by putting 1st mobile phone number in 2nd phone(where I am testing app) I get the code in 1st mobile I put it for verification but it is giving error of "invalid code"
PS: I am putting right code (tried many times)

[2018-03-11 17:28] apasumarthi1999 opened #445 "In Android N, from FCM OnMessageReceived, OkHttp network call timeout when app is in background or killed. Need help or some guidance to fix this."
In Android N (7.0), from FCM OnMessageReceived, OkHttp network call connection timeout when app is in background or killed. Need help or some guidance to fix this.

This work in Android 6.0 and Android O (8.0).

Regards,
Aditya

[2018-03-11 18:06] apasumarthi1999 commented on #445
Looks like my issue is fixed. Starting Android 6 (API Level 23), the GCM/FCM messages with normal priority (default) will not have access to network in Idle or Doze mode. When I set the message priority to "high" in GCM/FCM messages payload, my OnMessageReceived handler was able to access the network properly. But I'm puzzled on how Android 6.0 and Android O (8.0) were able to access the network w

[2018-03-11 18:06] #445 closed

[2018-03-12 11:56] Mohit1099 commented on #283
after successfull vaerification completion i am getting error of invalid verification

my code is this:
package com.example.dpka.ess;

import android.content.Intent;
import android.support.annotation.NonNull;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.Button;
import android.widget.EditText;
import android.widget.ImageV

[2018-03-14 07:58] spddheeraj commented on #89
@rahuldevanavar91 any idea how WhatsApp is doing it?

[2018-03-15 03:37] privatejava commented on #89
@spddheeraj May be they will try to create a background services app once they gets killed manually . So they would always get notification.

[2018-03-16 02:40] fedetrim opened #446 "`onTokenRefresh` not being called after `getToken(entity, scope)`"
* Android device: Emulator (Nexus 5X API 26 x86)
  * Android OS version: 8.0 (Google APIs)
  * Google Play Services version: 10.2.6
  * Firebase/Play Services SDK version: 10.2.6

I'm trying to reproduce a situation where `onTokenRefresh` would get called, such as deleting the instance ID (`deleteInstanceId()`) and then calling `getToken()`.
I can get this to work perfectly with the regular `getTo

[2018-03-16 02:55] fedetrim commented on #446
To add a little more context: I was trying to do this because we are seeing an increasing number of failed messages, so we believe that we are failing to report tokens back to our server when they are refreshed on the clients.

Based on the tests I made, I'm starting to be a little paranoid that it is because we are using specific scope authorization rather than the master token.

[2018-03-16 14:42] Mravatech commented on #396
I actually faced this error also when ever i run the the application on android emulator, but whenever i run it on my phone it worked perfectly.

so i checked the my phone google service and compared it to the emulator, which is where the problem is the version of the google services installed on the emulator is lower to the version i have on my phone and and the one i add to my dependencies.

so

[2018-03-18 12:32] ispha commented on #46
Hi all m for anyone still facing this issue  , The Remote Config library has a client-side throttle to ensure you don’t ping the service too frequently. By setting your fetchDuration to 0, you’ll hit this throttle and your library will stop making calls.
You can get around this by enabling developer mode.call this function right before you call Remote config API .

func activateDebugMode() {
  let

[2018-03-19 09:47] shaik41 commented on #84
Any solution to this?

[2018-03-19 18:47] kroikie commented on #84
Hi @shaik41 large icon is not supported by the SDK at this time. If you want to do so you will have to do it client side via a data-message.

[2018-03-20 03:42] kimnamcham commented on #368
Same issues with asus a007 zenphone!!

[2018-03-20 04:31] kimnamcham opened #447 "FirebaseApp initialization unsuccessful when app killed"
When i force close app by stop all background app button , i see this log:
03-20 11:28:10.348 28852-28852/? I/FirebaseInitProvider: FirebaseApp initialization unsuccessful

Is that reason of firebase notification not working when app killed ? And how to recevied notification when app killed ?

[2018-03-20 11:12] shaik41 commented on #84
Thanks @kroikie, I already do that when my application is in foreground. Can I do this when the application is closed/suspended?. I tried the icon field in the notification payload but that did not help either.

[2018-03-20 16:18] kroikie commented on #84
@shaik41 when you use a data-message you must write code to build the notification. Your app would receive data messages even when the app is closed/suspended and your code will have an opportunity to build a message with a large icon.

[2018-03-20 19:03] samtstern opened #448 "Storage: notifications need to be posted to a channel"
cc @schmidt-sebastian

[2018-03-21 07:51] moltak commented on #396
Is this issue solve on "12.0.0"?

[2018-03-21 08:29] alonlevylll commented on #291
Any news about this issue? I'm using firebase-11.6.0 and the issue still happens in crashlytics logs.

crash cannot be reproduced

[2018-03-21 10:29] fabLouis commented on #291
Same crash with:
- Firebase: 11.4.2
- targetSdk: 27
- compileSdk: 27
- buildTools: 27.0.3

[2018-03-21 15:53] shaik41 commented on #84
@kroikie Interesting, here is what I understood from the Firebase Documentation. The method "MessageReceived" in the FirebaseMessagingService gets called only if application is in the foreground, allowing me to access the data-message using which i can create the notification with the large icon. If the application is in background this method **does not get called**  and the notification is autom

[2018-03-21 16:29] erlangp commented on #41
@Sanjay-Ghadge 's solution worked for me. Thanks!

[2018-03-21 16:40] kroikie commented on #84
@shaik41 data-messages are always processed by the `onMessageReceived` callback whether the app is in the foreground or background. With data-messages you are always responsible for handling the message, in your case creating a notification with a large icon.

notification-messages (and notification-messages with data payloads) are processed by `onMessageReceived` when the app is in the foreground

[2018-03-21 17:00] shaik41 commented on #84
Ok @kroikie got you! Thanks. We however cannot use only data-messages because the payload is same for android and iOS. iOS always requires a notification-message. Thanks again using only data-message will help but I have to tell my backend engineer to maintain different payloads for both platform.

[2018-03-21 17:17] kroikie commented on #84
@shaik41 Please take a look at the new [FCM HTTP v1 API](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages). This API allows you to send different messages eg: Notification message to iOS and data message to Android in a single request.

[2018-03-21 19:15] guilhermekrz commented on #422
Same with Android O. Is there any workaround?

[2018-03-21 20:12] kroikie commented on #446
Hi @fedetrim `onTokenRefresh()` is only called for the default application. If you are using additional senders (entities) then you need to call `getToken(entity, scope)` in order to get those tokens.

[2018-03-21 20:12] #446 closed

[2018-03-21 23:51] samtstern commented on #447
@kimnamcham as far as I am aware that is nothing to worry about, just an artifact of the way we initialize `FirebaseApp` in a `ContentProvider`.  Is anything bad happening?   If not, inclined to close this issue and just say to ignore the noisy log message.

[2018-03-21 23:56] #448 closed

[2018-03-23 06:26] rajeshjakhar1092 commented on #368
@kimnamcham  It is because of DOZE mode and battery optimization,you just have to turn off battery optimization for all apps or particular app. Go to Settings>> apps >> select your app>> battery>>
battery optimization> select your app>> select don't optimise.
Problem solved.

I have OnePlus 3 and I had the same issue . I did this and my problem solved. batter optimization blocks incoming notificat

[2018-03-23 08:59] skfaisal93 commented on #368
@rajeshjakhar1092 We all know this. You should read the whole thread.

[2018-03-23 12:54] sharifullahsh commented on #283
I have the same issue with ionic 3. Have any one solved it or not.

[2018-03-24 11:38] masterleclerc commented on #291
@samtstern We have new release (12.0.0). Have you fixed the error? I can see no information about this in the release notes.

[2018-03-25 18:38] MinceMan commented on #291
I've been able to see this on my debug builds and 12.0.0 seems to have fixed the problem.

[2018-03-26 00:20] pbizannes commented on #291
I was getting this error for a long time. Then I removed:

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

... from the AndroidManifest and everything worked! (I figured that since I use "apply plugin: 'com.google.gms.google-services'" at the end of my build.gradle, I might not need it)

However, I can no longer

[2018-03-26 00:21] begunfx opened #456 "java.lang.NullPointerException: Attempt to invoke virtual method on a null object reference: EmailPasswordActivity.createAccount"
### Step 2: Describe your environment

  * Android device: Emulator (Nexus 6 API 25 x86)
  * Android OS version: 7.1.1
  * Google Play Services version: 3.2.0
  * Firebase/Play Services SDK version: 12.0.0

### Step 3: Describe the problem:
I'm trying to test out the quick start Auth test project, but when I try to create a new account after launching the EmailPasswordActivity I get a NullPointerE

[2018-03-26 03:41] begunfx commented on #456
Seems to be specific to the emulator.  I tried running this on my device and it ran successfully.

[2018-03-26 05:30] masterleclerc commented on #291
@pbizannes I didn't use google_play_services_version meta-data in the manifest file and was experiencing the problem.

[2018-03-26 10:45] smoi opened #458 "Missing google_app_id"
I'm following the guide here https://firebase.google.com/docs/configure/ to use multiple projects, one for dev and one for prod i've configured everything correct like the example provided

`// Manually configure Firebase Options
FirebaseOptions options = new FirebaseOptions.Builder()
        .setApplicationId("1:27992087142:android:ce3b6448250083d1") // Required for Analytics.
        .setApiKey(

[2018-03-26 12:29] Link184 commented on #396
@moltak the issue persist in 12.0.0, with genymotion emulator, no google account. Works fine on real device with google account

[2018-03-26 14:34] disav1 commented on #388
Same here in 11.8.0, 98% in background

[2018-03-26 14:54] samtstern commented on #458
@smoi the `google-services.json` is used at compile time to produce a `strings.xml` file through the `google-services` plugin:
https://developers.google.com/android/guides/google-services-plugin

That generated strings file will contain a string called `google_app_id`, which is read by a Content Provider that Firebase starts automatically.

You definitely _do not_ have to use the plugin and you're

[2018-03-26 14:54] #458 closed

[2018-03-26 14:57] samtstern commented on #388
@rafid059 @disav1 I am surprised to hear that you're still seeing this issue in `11.8.0`.  Could either of you provide some additional crash logs?  Whatever you have would be helpful.

[2018-03-26 15:06] disav1 commented on #388
http://crashes.to/s/83b1f242773

[2018-03-27 08:33] Jossif commented on #291
@samtstern any updates regarding this fix? If this is not fixed in 12.0, is it possible to include it tot 12.0.1 please?

[2018-03-27 15:16] samtstern commented on #456
@begunfx thanks for following up.  It's probably the case that your emulator has an out of date version of Google Play services and no way to update it.  I think this issue is already being tracked, but I will report it to the Auth folks anyway.

[2018-03-27 15:16] #456 closed

[2018-03-27 15:17] samtstern commented on #456
You can see it in this log line:
[code]

[2018-03-27 15:20] begunfx commented on #456
Hi Sam, Thanks for the response to my post.  Yeah, after some investigating myself it seems that this is the issue.  However it isn't really clear how to get google services updated on the emulator.  The play store app isn't available for most emulator builds.  Do you have any suggestions?

[2018-03-27 15:26] samtstern commented on #456
@begunfx normally if you update the emulator image itself (via Android studio) you will get an image with the latest version of Google Play services.

Sometimes there's a bit of lag on when this happens versus when the SDK comes out, especially on the older images.

I agree with what you're probably thinking - this is a bad developer experience - and I am doing what I can to advocate for a better

[2018-03-27 15:44] samtstern commented on #447
@kimnamcham gonna close this issue, but let me know if you want me to re open it!

[2018-03-27 15:44] #447 closed

[2018-03-27 15:47] begunfx commented on #456
Yeah, I'm having trouble with the emulators not running the latest Google Play services and it seems that several of the SDKs don't have the latest version (and have no way to easily update them).  This is definitely a problem as you pointed out for the developer experience, and any potential growth in adopting Firebase.  I'm just trying to get the Auth quick start app working so I can look to mov

[2018-03-27 15:50] samtstern commented on #456
Yep, you can follow along with me here:
https://issuetracker.google.com/74401291

Feel free to chime in!

[2018-03-27 16:17] begunfx commented on #456
Thanks @samstern will do!

[2018-03-28 04:53] aldo-abvr commented on #368
@kimnamcham This is not solution. There are apps like Whatsapp, iMobile, Facebook,etc which is set to "optimise" in Battery Optimisation Setting but still it gets notification without missing any.

@samtstern @kroikie It can't be intended behaviour if other apps in background still gets notifications. Something bug with firebase push notification sdk.

I tested with firebase 4.5 package using unit

[2018-03-28 12:57] dcsclg opened #460 "without getting code from edittext ?"
https://github.com/firebase/quickstart-android/blob/761b8fc5364a50f09ace6d59fb70c09357fcca5e/auth/app/src/main/java/com/google/firebase/quickstart/auth/PhoneAuthActivity.java#L121

[2018-03-28 20:59] samtstern commented on #460
Sorry @dcsclg it is not clear what you are asking.

[2018-03-28 23:55] darklow commented on #41
I have ASUS ZenPad 3S 10 (Asus P027) tablet with Android 7.0 and none of the solutions mentioned here worked for me, until I discovered app under settings that comes with tablet that blocks all background activities.
Under: Settings > Power management > **Auto-start Manager** I needed to turn checkbox ON for my app in order to allow background activities like push notifications. By default all app

[2018-03-29 06:16] #460 closed

[2018-03-30 10:50] jo8558 commented on #370
I want to reopen this issue, because with the upcoming GDPA regulation in the EU everything related to users has to be treaded more carefully. It would be really nice to have a possibility to disable the automatic tracking and use firebase analytics just for in app events!

[2018-03-31 06:22] shivamsriva31093 opened #464 "Cannot invoke method split() on null object reference"
I updated today to AS 3.1.
included this in my project gradle - classpath 'com.google.gms:google-services:3.2.0'
included this at the bottom of app.gradle - apply plugin: 'com.google.gms.google-services'
But after that while building the project, I am getting this error:

java.lang.NullPointerException: Cannot invoke method split() on null object
	at org.codehaus.groovy.runtime.NullObject.invokeMe

[2018-04-02 11:41] adhithyagnair commented on #422
@samtstern Any updates on this?

[2018-04-02 19:29] samtstern commented on #464
@shivamsriva31093 can you try upgrading `google-services` to `3.2.1`

[2018-04-02 20:53] tianxu0836 commented on #72
So is this problem only happens on GCM?
If it is GCM, I can just ignore it, is it right?

[2018-04-03 19:16] shivamsriva31093 commented on #464
When I updated my build tools to version 27.0.3, it didn't give any error. I think you could close the issue. 👍

[2018-04-03 19:16] #464 closed

[2018-04-04 11:04] daveabes commented on #391
Sorry battery optimization did not resolve the issue for me.

[2018-04-05 11:31] BrookMezgu commented on #388
Is this fixed in 12.0.0?

[2018-04-06 02:05] mapo-lp commented on #283
same problem here :/ has anyone find a fix?

[2018-04-06 21:09] alexanderkhitev commented on #283
I faced the same problem on iOS

[2018-04-07 05:56] saprahits commented on #368
how to handle notification when app in kill in firebase android

[2018-04-07 07:09] sharifullahsh commented on #283
I had the same problem. First check the phone verification from firebase auth demo [firebase auth demo](https://fir-ui-demo-84a6c.firebaseapp.com/). If your are receiving the sms, than the problem is in your code, to solve it use the plugin directly not the way that ionic suggest. If you are not able to receive the sms from firebase auth demo, than the problem is from firebase and phone company.

[2018-04-07 07:35] jay11234 opened #465 "firebase real-time data error on Android studio."
i guess these errors are from that android studio that cannot connect to Firebase.
Any suggestions to solve this problems? thank you .

[code]

[2018-04-09 06:30] daveabes commented on #86
Also getting this on a Mobicel Device... Unable to resolve with any data found on the internet yet.

[2018-04-09 06:31] daveabes commented on #89
Also getting this issue, is there any resolutions at this time?

[2018-04-09 15:43] danleahy opened #466 "Auth quickstart app Null pointer error Android 4.4.2"
### Step 1: Are you in the right place?
  * yes
### Step 2: Describe your environment

  * Android device: Samsung Tab 3 SM-T210   Kernel version 3.4.5-4081557
  * Android OS version: 4.4.2
  * Google Play Services version:
  * Firebase/Play Services SDK version: com.google.firebase:firebase-auth:12.0.1/com.google.android.gms:play-services-auth:12.0.1

replicated on
  * Android device: Samsung Tab

[2018-04-09 18:29] darkwater84 commented on #84
you can edit the extras in  hadleIntent on firebase 11.4.2  to delete notification

@Override
    public void handleIntent(Intent intent) {
        String action = "com.google.android.c2dm.intent.RECEIVE";
        intent.setAction(action);
        intent.putExtra("message_type","gcm");

        intent.removeExtra("gcm.notification.badge");
        intent.removeExtra("gcm.notification.e");

[2018-04-10 06:40] vishal-i4gs commented on #422
Same issue, any fixes or workarounds ?

[2018-04-11 10:04] zeffa commented on #29
I have some forced crashes on my dashboard which i used while testing this tool. I'd like to clear them for real reports from production app. If you could add a functionality to select and clear it could be wow!

[2018-04-11 10:43] shubhamvashisht opened #467 "firebase_messaging_auto_init_enabled flag does not work"
Describe your environment

  * Android device: Motorola G4 Plus
  * Android OS version: & 7.0
  * Google Play Services version: 12.5.21
  * Firebase/Play Services SDK version: 12.0.1

Describe the problem:
As mentioned in the docs to prevent auto initialisation of fcm tokens we may add ```firebase_messaging_auto_init_enabled``` flag to be ```false``` in ```AndroidManifest.xml```.

[code]

 but thi

[2018-04-11 12:06] VyshuRaj commented on #307
I am also facing same problem.Some times push notifications are getting so fast.Some times its huge delay

Please help me how to fix it.

[2018-04-11 16:11] samtstern commented on #29
As @jhalborg said, this feature is available in Crashyltics.

Check out this guide for upgrading from Firebase Crash Reporting to Crashlytics, which is recommended:
https://firebase.google.com/docs/crashlytics/upgrade-from-crash-reporting

[2018-04-11 17:30] himalayaahuja commented on #20
Hi Guys , the only issue i am facing is with ionic 3 cordova fcm plugin , the push notification shows up silently in the systems tray whereas i want the the notification to pop out and display like chat notifications do on whats app or instagram.. what can be done about this.?

[2018-04-11 17:40] himalayaahuja commented on #128
Hi @kroikie I face the same issue , I need the notification to pop out and display when the app is killed or no longer active but only thing that happens is notification silently shows in systems tray and then i have to manually pull down to view it. what can we do about this? please help

[2018-04-11 18:07] rags016 opened #468 "This app is not authorised to use Firebase Authentication"
This app is not authorised to use Firebase Authentication. Please verify that the correct package name and SHA1 are configured in the Firebase Console.[App Validation Failed]
what i did
* I used Firebase Assitant
packagename is present  and SHA1 is also present
and i am testing on one plus 3T
inspite of this its showing above error

please help me out

[2018-04-11 20:58] samtstern commented on #466
@danleahy thank you for reporting this!  I'll show it to the fIrebase auth android team and see what they think.

Could you check what version of the Google Play services app is installed on the devices where this crashes?

[2018-04-11 21:01] samtstern commented on #465
@jay11234 can you show the code of this method? `com.example.a2015015407.edenparkproject.CategoryFragment.onCreate`

Also can you show the Firebase database URL you're using?

[2018-04-12 12:26] dirkam commented on #291
12.0.1 still crashes.

[2018-04-12 17:03] kroikie commented on #128
Hi @himalayaahuja if you are receiving the message but it is not displaying in they way that you want I would use a data-only message (no notification payload) and then in onMessageReceived I would build the notification locally.

[2018-04-12 17:15] kroikie commented on #307
@VyshuRaj Please file a support request with [Firebase Support](https://firebase.google.com/support/) since it seems you are implementing FCM correctly on your end so more troubleshooting is necessary.

[2018-04-12 17:34] masterleclerc commented on #291
It is one big joke from the firebase team. One year later and the problem (big problem!) still exists. I'm glad I removed RemoteConfig a few months ago.

[2018-04-12 17:49] thesurix commented on #291
I agree, new version has this issue, 11 users and 77 crashes in 7 days.... Is there any chance to get answer from Google devs? RemoteConfig is useless now.

[2018-04-12 18:03] danleahy commented on #466
On the Samsung T280 Google play services 7.8.95
On the Samsung T210 Google play services 6.1.88

[2018-04-12 18:28] samtstern commented on #466
Wow those are some very old versions!  Is there a reason you can't get Play
services 12.x on those?

On Thu, Apr 12, 2018, 11:03 AM danleahy <notifications@github.com> wrote:

[2018-04-12 19:43] danleahy commented on #466
Hi, some back history, the apps Kinesis developed were developed and designed on those old Samsung tablets over 5 years ago now, we still sell our app preinstalled on those tablets types, the tablets are sourced and provisioned by a 3rd party (and they charge for everything they do to them), our apps are installed and sent on to the end customer in custom case with associated bluetooth sensors wit

[2018-04-13 01:40] jay11234 commented on #465
package com.example.a2015015407.edenparkproject;

import android.os.Bundle;
import android.support.annotation.Nullable;
import android.support.v4.app.Fragment;
import android.support.v7.widget.LinearLayoutManager;
import android.support.v7.widget.RecyclerView;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;
import android.widget.Toast;

import com.examp

[2018-04-13 14:10] tarun4279 commented on #359
I added the user property on the console and added the property and logged an event just after setting that property. There is no update yet on console. How much time it takes to update the results.

Some logs
D/FA: Setting user property (FE): Location, Delhi
Logging event (FE): SET_PROPERTY, Bundle[{item_name=sampleItem345, firebase_event_origin(_o)=app, content_type=SampleItem, item_id=sampleId1

[2018-04-13 19:28] samtstern commented on #466
@danleahy thank you for the background

Before I continue the discussion, I want to just say that I am going to close this issue because the authentication team officially does not try to support compatibility when SDK version >> Play services version.  We intend for developers to trigger the Google Play services upgrade flow if they're having trouble with issues like this.  I understand in your s

[2018-04-13 19:28] #466 closed

[2018-04-14 11:46] danleahy commented on #466
Thank Sam for the update.

It is understandable.

The tablets do a have the playstore but as i mentioned in the last post our
tablets are provisioned by a 3rd party (they would charge a fortune to
update verything), they don't add a google account, the end customers don't
care, they just use whatever came pre-installed.

and we can't force them to add a google account to force the updates.

Anyway

[2018-04-16 15:46] samtstern commented on #466
@danleahy thanks for following up.  I am going to file a feature request with the Play Store team to see if there's any possibility of allowing devices with no Google account to still receive critical updates, like Google Play services.  Of course this is just a speculative FR so I wouldn't hold out for it, but thanks for the idea!

[2018-04-17 17:52] MathiasBerwig commented on #370
I do believe that Firebase Analytics should expose a setting to allow devs choosing to auto collect data or not. In some scenarios it is irrelevant to track activities, for example (they can be running non-UI tasks or just hosting fragments).

TL;DR +1 to reopen the issue.

[2018-04-17 20:24] stari4ek commented on #291
It looks like I'm getting this issue only on devices which most probably don't have Google Services. For example:
* Amazon AFTN (Fire TV?)
* Nexus M8S PRO (some Chinese tv box, which most probably doesn't have proper GMS)

[2018-04-17 20:49] fleficher commented on #291
Hi guys,

I'm facing the same problem since I've implemented Remote Config.
But, i've got a little different stacktrace :
[code]

Using the last firebase version or using a map for defaults values instead of an xml changed nothing.

[2018-04-18 07:12] fleficher commented on #291
@stari4ek Most of the crashes i've got are on device that have the Google Play Services installed.
Most of them have a recent version installed ( > 12.5.xxx).
I don't think it's related to that.

[2018-04-18 17:00] samtstern commented on #291
Hi all

This should **finally** be fixed in SDK version `15.0.0`.  For everyone who was affected by this bug for so long: we apologize and will do better.  We had a number of internal mishaps that resulted in this bugfix taking forever to be deployed.  We have already circulated a postmortem internally to make sure we don't do this again.

Thank you to everyone who added their thoughts here.

[2018-04-18 17:00] #291 closed

[2018-04-19 08:44] BulatMukhutdinov commented on #467
The same problem

[2018-04-20 19:59] mowbell commented on #372
We have same issues with our test devices. Seems like some device manufacturers don't allow notifications in some situations, We are investigating also
Take a loook on [manufacturers-interfere-with-reliable-notifications](https://onesignal.com/blog/manufacturers-interfere-with-reliable-notifications/)

[2018-04-23 07:09] manishbutola commented on #368
is this issue resolved?

[2018-04-23 07:12] aldo-abvr commented on #368
No. Google developers closing issue without solution on there own OS.

[2018-04-23 10:47] ZebpayDipen opened #472 "Fatal Exception: java.lang.RuntimeException Unable to start activity ComponentInfo: java.lang.IllegalArgumentException: ApplicationId must be set."
android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2555)
--
  | android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:2629)
  | android.app.ActivityThread.access$800 (ActivityThread.java:182)
  | android.app.ActivityThread$H.handleMessage (ActivityThread.java:1474)
  | android.os.Handler.dispatchMessage (Handler.java:111)
  | android.os.Looper.loop (Looper.java:19

[2018-04-23 10:50] ZebpayDipen opened #473 "java.lang.ClassCastException com.google.android.gms.iid.zzh.onServiceConnected Firebase"
java.lang.ClassCastException:
  at com.google.android.gms.iid.zzh.onServiceConnected (zzh.java:4)
  at android.app.LoadedApk$ServiceDispatcher.doConnected (LoadedApk.java:1631)
  at android.app.LoadedApk$ServiceDispatcher$RunConnection.run (LoadedApk.java:1660)
  at android.os.Handler.handleCallback (Handler.java:789)
  at android.os.Handler.dispatchMessage (Handler.java:98)
  at android.os.Looper

[2018-04-23 15:15] samtstern commented on #473
@ZebpayDipen we need a lot more information to debug this issue:

- What version of the Firebase Android SDK are you using?
- What code causes this issue?
- How easy is it to reproduce this issue?  Can you provide me instructions?
- Is it device or OS specific?

[2018-04-23 15:15] samtstern commented on #472
@ZebpayDipen there's not enough information here.  Please try filing a new issue and filling our the whole template.  Let me know if you're confused by any of the instructions, happy to help!

[2018-04-23 15:15] #472 closed

[2018-04-23 21:07] stari4ek commented on #291
And with 15.0.0 there is another one introduced:
[code]

never ending story

Should I create new issue here?

[2018-04-23 21:10] samtstern commented on #291
@stari4ek yes please do create a new issue, thank you for flagging this.

[2018-04-23 21:36] stari4ek opened #474 "NullPointerException from FirebaseRemoteConfig.getInstance()"
I'm seeing crashes in Crashlytics for most recent Firebase Remote Config (15.0.0)
Inside `Application.onCreate` `FirebaseRemoteConfig.getInstance` is called.

It produces crash:

[code]

Firebase version:
* `implementation "com.google.firebase:firebase-config:15.0.0"`
* `classpath 'com.google.gms:google-services:3.2.1'`

This is new issue introduced with 15.0.0. I didn't have it with previous vers

[2018-04-23 21:48] samtstern commented on #474
I just took a look at the `15.0.0` proguard mapping:

[code]

I'll try to investigate more myself and then report this to the team.

[2018-04-24 00:49] jkane001 commented on #474
FWIW, I'm getting the same crash after upgrading to 15.0.0

[2018-04-24 05:02] ZebpayDipen commented on #473
@samtstern

1) What version of the Firebase Android SDK are you using?
ANS : Firebase version is : 12.0.1

2) What code causes this issue?
ANS: We don't know actually by which error is coming.

3) How easy is it to reproduce this issue? Can you provide me instructions?
ANS: In Android 8.0 and later devices, this is issue came on the very first screen.

4) Is it device or OS specific?
ANS: This is

[2018-04-24 16:59] kroikie commented on #467
Thanks for flagging this issue @shubhamvashisht and @BulatMukhutdinov I'm digging into this further I'll report back here with an update.

[2018-04-24 18:10] kroikie commented on #467
You also need to disable analytics which also uses Firebase Instance ID. So the required metadata would be:

[code]

Note however that `15.0.0` is required for `firebase_analytics_collection_enabled` field, it existed previously however a bug was fixed in `15.0.0`.

[2018-04-24 18:10] #467 closed

[2018-04-24 18:26] kroikie commented on #418
This issue has been resolved please use `15.0.0`.

[2018-04-24 18:26] #418 closed

[2018-04-24 18:33] kroikie commented on #366
This has been resolved please use `15.0.0`. Feel free to open a new issue if you are still having problems.

[2018-04-24 18:33] #366 closed

[2018-04-24 18:40] samtstern commented on #473
@ZebpayDipen thank for for the details!  That is enough information for me to start an internal investigation,

[2018-04-25 05:29] ZebpayDipen commented on #473
Please ask if any other things you want, waiting for the solution now b'coz
playstore crashes are raised to almost 40% due to this.

Regards
Dipen Jansari

Android Developer, Zebpay

download Zebpay <http://app.zebpay.com/download-signature>

What is bitcoin in 2 mins (video)
<https://www.facebook.com/zebpay/videos/1765947396970777> | @zebpay
<http://twitter.com/zebpay>  | Facebook <http://fb.com/

[2018-04-25 06:31] samtstern commented on #473
How many crashes are you seeing due to this issue and what are the most
common devices that are crashing?

On Tue, Apr 24, 2018, 10:29 PM ZebpayDipen <notifications@github.com> wrote:

[2018-04-25 10:42] sreejithbnaick opened #477 "Adding tools:node="replace" to Android Manifest application tag causes FCM not working"
### Summary:
If I add `tools:node="replace"` to AndroidManifest Application tag, Android App will never get
`FirebaseInstanceIdService` `onTokenRefresh()` callback and FCM doesn't work.

### Environment
  * Android device:  Emulator or Any device
  * Android OS version: 7.1.1
  * Google Play Services version: 124510001
  * Firebase/Play Services SDK version: 15.0.0 or 12.0.1

### Description of th

[2018-04-25 15:17] samtstern commented on #474
We've found the source of this error and will include a fix in an upcoming (likely the next) release.  I will update this thread whenever I get more information.

[2018-04-25 19:01] rcha commented on #221
With the announcement of the upcoming GCM deprecation it worries me that this issue has not yet been resolved by Firebase. Can someone please escalate this to Google engineers as without this feature GCM to Firebase transition will be a breaking change.

[2018-04-25 19:45] xngigez opened #480 "null object reference when calling FirebaseInstanceId.getInstance().getToken() for first run without internet."
I am getting a null object reference when  trying to get token from FirebaseInstanceId.getInstance().getToken() for first run without an internet connection.

`            FirebaseMessaging.getInstance().subscribeToTopic("test");
            String token = FirebaseInstanceId.getInstance().getToken();`

Using
`    implementation 'com.google.firebase:firebase-messaging:15.0.0'`

[2018-04-26 05:47] ZebpayDipen commented on #473
Hey sam,
Due to this  ANDROID OREO devices are effected.
And playstore crashes are about 200K.

Regards
Dipen Jansari

Android Developer, Zebpay

download Zebpay <http://app.zebpay.com/download-signature>

What is bitcoin in 2 mins (video)
<https://www.facebook.com/zebpay/videos/1765947396970777> | @zebpay
<http://twitter.com/zebpay>  | Facebook <http://fb.com/zebpay>

On 25 April 2018 at 12:01, S

[2018-04-26 15:16] samtstern commented on #480
@xngigez can you further explain what the issue us?  The JavaDoc is here:
https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId.html#getToken()

It says that it returns `null` if the master token is not yet available, so this seems to be working as intended.

[2018-04-27 10:59] swapnilgt commented on #474
Is this already resolved?

[2018-04-27 15:14] samtstern commented on #474
@swapnilgt no, there has not been a release since `15.0.0` yet.

[2018-04-29 23:42] jkane001 commented on #474
@samtstern Is there a workaround we can employ while we wait? This is (by far) my number 1 crash right now, by volume.

[2018-04-30 06:09] pesehr opened #483 "Failed to initialize crash reporting"
HI,
I'm facing this type of issue.
Could you help me resolve the problem?

        at bgh.<init>(:com.google.android.gms.dynamite_dynamitemodulesc@12529020@12.5.29 (040308-192802242):29)
        at com.google.firebase.crash.internal.api.FirebaseCrashApiImpl.init(:com.google.android.gms.dynamite_dynamitemodulesc@12529020@12.5.29 (040308-192802242):12)
        at bfv.onTransact(:com.google.android.g

[2018-04-30 07:06] ZebpayDipen commented on #474
@samtstern  any update on this? As we are getting lots of many crashes due to this

[2018-04-30 18:05] samtstern commented on #483
@pesehr thanks for reporting this.  Can you reproduce this issue locally or is this something your users are seeing?

Also can you confirm what version of Google Play services is installed on the Samsung Galaxy S6 device?

[2018-04-30 18:51] pesehr commented on #483
@samtstern thanks for your response.
Yes, I can reproduce it.
The version of Google play services on my device is: 12.5.29

[2018-04-30 18:52] samtstern commented on #483
@pesehr can you show the minimal amount of code needed to reproduce it on that device?

[2018-04-30 18:59] samtstern commented on #483
Ok so the sequence of events is:

1) See a crash
2) Launch the app again
3) Get this error in the logcat

Does this cause the app to crash or is this just reported in the logs?

[2018-04-30 19:00] pesehr commented on #483
this just reported in the logs.

[2018-04-30 19:07] samtstern commented on #483
@pesehr thank you, good to know it's not fatal.  We'll try to reproduce and then forward it on to the crash reporting engineering team.

By the way, you might want to consider moving to Crashlytics:
https://firebase.google.com/docs/crashlytics/upgrade-from-crash-reporting

It's the best option going forward and the migration is really simple.

[2018-04-30 19:14] pesehr commented on #483
@samtstern
Actually, I use Crashlytics now but it doesn't report crashes so I thought maybe it's related to this error.

[2018-05-02 08:40] MohNage7 commented on #474
Any updates ? getting the same error on  **LG G4 Stylus Android 6**

[2018-05-03 00:56] ber4444 opened #484 "Crash during upload if app is killed (you should be using a foreground service as well)"
* Android device: Nexus 5
  * Android OS version: 6.0.1
  * Google Play Services version: 12.6.73
  * Firebase/Play Services SDK version: 15.0.2

#### Steps to reproduce:

  1. Start uploading a pic using the 'storage' sample
  2. Kill the app (service should continue due to ongoing progress notification)
  3. Crash: "Unfortunately, Cloud Storage for Firebase has stopped."

[code]

[2018-05-03 08:04] kozaxinan commented on #474
There is a new version of Remote Config with version 15.0.2. I couldnt find any release note for it. Does this have fix for this issue?

[2018-05-03 21:26] samtstern commented on #480
Closing due to inactivity.

[2018-05-03 21:26] #480 closed

[2018-05-03 21:26] samtstern commented on #474
Hi everyone, this should be fixed in version `15.0.2`.  Thank you all for reporting!

[2018-05-03 21:26] #474 closed

[2018-05-03 21:58] samtstern opened #486 "Convert crash reporting sample to crashlytics"
Now that Crashlytics is the recommended solution, we should convert the sample here.

[2018-05-04 12:00] DenLangeKilde opened #487 "Android (sdk 26) Firebase messaging is not working"
I have been trying to implement Firebase messaging in my app for a while now. I have followed different kinds of tutorial, including the official one by Firebase, adding it both manually and automatic with Firebase Assistant.

For some reason, the following statements are true:

 - onTokenRefresh() in the class extending FirebaseInstanceIdService, is
   NEVER called.
 - onMessageReceived(remoteMes

[2018-05-04 14:33] umarhussain15 opened #488 "Passwordless authentication intent-filter not wroking"
### Environment

  * Android device: One Plus 5t
  * Android OS version: 8.1.0
  * Google Play Services version: 15.0.1
  * Firebase/Play Services SDK version: core (15.0.2), auth (15.1.0)

### Problem:
After User clicks on the link from email for email link based authentication, the user is not redirected to desired activity in the app. Instead of opening the activity with the intent filter (in a

[2018-05-08 07:37] bhaskar2342 commented on #365
I have an issue with setContentTitle. Im working with flavors in android. I'm comfortably receiving notifications when app is in foreground/background/killed. But the problem is when app is in background/killed the title i'm receiving is incorrect i.e the title i'm getting from server what they've set. If the app is in foreground the title works fine.
For example i have 2 flavors Flavor1 and Flavo

[2018-05-08 10:25] bhaskar2342 opened #491 "Android PushNotification Title issue when app is in background"
I have an issue with **setContentTitle**. Im working with flavors in android. I'm comfortably receiving notifications when app is in foreground/background/killed. But the problem is when app is in background/killed the title i'm receiving is incorrect i.e the title i'm getting from server what they've set but not the flavors title. If the app is in foreground the title works fine.
For example i ha

[2018-05-08 16:54] IgniteCoders commented on #41
Yes, `FirebaseMessagingService` can receive `PushNotification` even when app is killed.

But there are some problems in the way. The behavior of the apps changes between development and production, and because of the device provider.

The first thing you have to consider, is when the app is in development, if you force close the app (kill-process), FirebaseMessagingService stop being triggered. Bu

[2018-05-09 12:38] timothegenzmer opened #492 "Cannot connect to realtime database"
We are facing a similar issue already discussed in the firebase unity repo:
https://github.com/firebase/quickstart-unity/issues/106

Using our office wifi we can neither read from nor write to the realtime database.
If we switch our devices to mobile connection it works as intended.
We see the same behavior for one developer's private network at home.

We don't have special firewall rules that mig

[2018-05-09 16:52] samtstern commented on #492
@timothegenzmer sorry to hear about that!  Unfortunately this repo (the Android quickstarts) is not the right place to get help for an issue like that.

Please file a ticket with Firebase support, who will help you with your connection issues:
https://firebase.google.com/support/

[2018-05-09 16:52] #492 closed

[2018-05-10 11:05] ashok8888 opened #493 "Blogbig"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-05-10 13:46] samtstern commented on #493
Closing for lack of information.

[2018-05-10 13:46] #493 closed

[2018-05-11 04:38] rupeshgohil commented on #491
Fist to check firebase description for update version Orio android api level 27 and see the Notification channel id and how to implement for Notification as Background and foreground as vise
bellowing the document as a firebase "https://firebase.google.com/docs/cloud-messaging/concept-options "
i hope that help to you and feting more description about firebase Notification Messaging
Thanks,
By Rup

[2018-05-12 15:36] AmanelX commented on #473
I've recently found that most of my inexplicable crashes came because i was using an obsolete Google services or Firebase or any other library. Try updating the lib artifacts to their latest versions

[2018-05-14 11:59] prashantwosti commented on #418
still not fixed. i'm using `15.0.2`. the dot is still here.

[2018-05-16 22:09] #486 closed

[2018-05-17 02:46] carlzhao commented on #488
mark

[2018-05-17 04:35] shivamsharma-1996 opened #502 "GradleException:Missing api key"
Getting this error since last day.  I Want to configure firebase with my project (using both of  firebase assistance as well as manually). But my google_services.json file not generate API key..it shows blank..Nd Gradle show "missing API key" .. help me . please.
I've tried to create completely new project and tried but still got same error.

[code]

[2018-05-17 09:26] railianmaksym commented on #473
Hello, we have this issue to, @AmanelX do you already find the reason of this problem?

[2018-05-17 15:30] yashasvigirdhar opened #503 "Not able to build firebase perf project"
* Android device: NA
  * Android OS version: NA
  * Google Play Services version: 3.3.0
  * Firebase/Play Services SDK version:  core - 15.0.2, perf: perf:11.8.0

I am not able to build perf project in this repository. It fails with this reason:

`All firebase libraries must be either above or below 14.0.0`.

#### Steps to reproduce:

Just build the perf project using `./gradlew build`.

[2018-05-17 15:32] #503 closed

[2018-05-17 16:00] samtstern commented on #503
#504 also makes sure this won't happen again.

[2018-05-17 19:00] samtstern commented on #488
@umarhussain15 are you still having this issue?  Can you show the code changes you

[2018-05-17 20:04] samtstern commented on #465
Closing this issue since it's been inactive for a month, hope you solved it!

[2018-05-17 20:04] #465 closed

[2018-05-17 20:04] samtstern commented on #483
@pesehr I apologize for not responding, did you get Crashlytics to work?

[2018-05-17 20:47] pesehr commented on #483
@samtstern yes, that's my fault.
but I still get the reported error :(

[2018-05-17 20:59] samtstern commented on #483
Could you show your `dependencies` block for me?

[2018-05-18 10:28] umarhussain15 commented on #488
Yes the issue is still present, I just made changes to the auth sample for enabling the password less activity.

- I added the app in my firebase project.
- Enabled Email Link in firebase project settings.
- Added google-services.json file.
- updated host in the intent-filter of PasswordlessActivity
- Updated the url used by `ActionCodeSettings` to match the url in the above intent-filter.
- white

[2018-05-18 11:00] Nik2505 commented on #487
try with latest Firebase Messaging service :
[code]

[2018-05-18 17:51] dr5hn commented on #294
@androidkotlinejava

Try Replacing
`
replace
        classpath 'com.android.tools.build:gradle:3.0.0-alpha4'
with
        classpath 'com.android.tools.build:gradle:2.3.3'
`

One More Change Required

Replace `implementation` with `compile`
compile was recently [deprecated](https://www.youtube.com/watch?v=7ll-rkLCtyk&feature=youtu.be&t=29m18s) and replaced by `implementation` or `api`

[2018-05-19 00:27] samtstern commented on #488
@umarhussain15 you have me a bit stumped to be honest!  Does the sample app work on your device or no?

[2018-05-20 06:53] jaipatel10 commented on #473
Hey, did anyone get any work around?

[2018-05-21 06:11] umarhussain15 commented on #488
it does work but as I mentioned earlier, the flow of PasswordLessActivity.java is broken.
After user clicks on the link in email it should open the PasswordlessActivity as this activity has intent-filter set according to Firebase docs. But instead the Activity for choosing authentication method is started.

You can replicate it in the app just by setting up the auth sample with firebase project as

[2018-05-21 15:21] samtstern commented on #488
@umarhussain15 there must be something a bit different in your setup as I can't replicate this with the sample app in this repo on my Pixel.  I even force-stopped the app before clicking on the link in my email and the deep link goes right to `PasswordlessActivity` rather than the picker screen.

Can you try this on a device other than the OnePlus?  Maybe an emulator?

[2018-05-21 18:37] tallnato opened #507 "Can't connect to Firestore over Vodafone in some devices"
### Step 1: Are you in the right place?

Can't connect to Firestore over Vodafone in some devices

### Step 2: Describe your environment

  * Android device: Xiaomi, Asus and Huawei
  * Android OS version: Several
  * Google Play Services version: Several
  * Firebase/Play Services SDK version:

### Step 3: Describe the problem:

I've encountered some weird behavior using Firestore SDK over a mobi

[2018-05-21 19:59] samtstern commented on #507
@tallnato could you please contact Firebase support with this request?  They are much more able to debug something as specific as this.

https://firebase.google.com/support

[2018-05-21 19:59] #507 closed

[2018-05-21 22:44] samtstern commented on #484
@ber4444 thanks for reporting!  This was fixed here:
https://github.com/firebase/quickstart-android/commit/91d054825e922d1bd906cc8a3acdee774ae1d25f

[2018-05-21 22:44] #484 closed

[2018-05-22 08:51] ltthao commented on #287
Hi! Can you help me please! Firebase not sent pin code for my phone number but sent with orther phone number

[2018-05-22 22:11] jinqian opened #508 "MLKit sample: classification live preview example not working (missing model source registration)"
# Environment

  * Android device: Samsung S8
  * Android OS version: Nougat (7.0)
  * Firebase/Play Services SDK version: 15.0.0

# Problem

Cloud & local model source registrations are missing in the ML Kit example according to the [documentation](https://firebase.google.com/docs/ml-kit/android/use-custom-models).

But the classification is not working even after fixing the registration issue.

[2018-05-22 23:09] isaisachen commented on #508
@jinqian, when you said " To know why, just print the stacks of the exception caught in
 createCameraSource(String model) method inside LivePreviewActivity ." Would you mind sharing the exception call stack? Ideally, a full bug report (e.g. upload to Google Drive and share by link). Thanks!

[2018-05-22 23:13] psanketi commented on #508
"Cloud & local model source registrations are missing in the ML Kit example according to the [documentation](https://firebase.google.com/docs/ml-kit/android/use-custom-models)."
@jinqian I do see the registration of model sources in mentioned. Or am I missing something?

[2018-05-23 12:42] jinqian commented on #508
@isaisachen here is the stack:

[code]

[2018-05-23 12:43] jinqian commented on #508
@psanketi I mean the model registration is missing in the [`CustomImageClassifier`](https://github.com/firebase/quickstart-android/blob/master/mlkit/app/src/main/java/com/google/firebase/samples/apps/mlkit/custommodel/CustomImageClassifier.java). What I understand from the documentation is that you need to register your cloud model, and local model (if you bundled the `tflite` file).

[2018-05-24 00:10] isaisachen commented on #508
@jinqian Thanks for reporting the Quick Start code issue. You are right, @gkaldev will fix it.

As for the exception, seems it's not aligning with the code you pasted.

There are two things:
1. model name
2. asset file name

(To clarify the usage a little bit: When you call "new FirebaseLocalModelSource.Builder(LOCAL_MODEL_NAME) ", it's model "name" and later setLocalModelName needs to use the sam

[2018-05-24 07:58] jinqian commented on #508
Sorry about the misunderstanding, I didn't make myself clear enough: the code I pasted is a possible fix, not the one which produces exception.

The exception can be reproduced by the example directly, simpley by printing the stacktrace here:
https://github.com/firebase/quickstart-android/blob/8baec79efbbabc7f229dedb52ddc788cab2517af/mlkit/app/src/main/java/com/google/firebase/samples/apps/mlkit/L

[2018-05-24 16:19] isaisachen commented on #508
Ah, I see. Thanks for clarification @jinqian

But you mentioned "But the classification is not working even after fixing the registration issue." So it still doesn't work for you with your posted fix? If so, could you share the entire bug report w/ your model registration fix?

[2018-05-24 16:31] jinqian commented on #508
Yes! I don't have any explicit error message or exception stack trace for that, what I can tell is images are fed to `FirebaseModelInterpreter` but no result seems to be produced no matter what object I point my camera to. I would like to know if it's because my configurations has a problem or something else underlying is wrong...

Thank you for your help! @isaisachen

[2018-05-25 12:56] ninovanhooff commented on #467
Setting the boolean programmatically works as expected without workaround, I presume?

https://firebase.google.com/docs/reference/android/com/google/firebase/messaging/FirebaseMessaging.html#setAutoInitEnabled(boolean)

[2018-05-25 16:17] kroikie commented on #467
Correct there is a possibility that the token will be generated before the code used for setting to false is run. So if you want to ensure that it does not get generated at all use version 15 or higher

[2018-05-25 18:55] isaisachen commented on #508
@jinqian While you don't see any other errors in your adb log, if you could share the bug report, I could possibly still spot other clues why it's not working for you.

But I took a quick look, another bug in the quick start is missing aaptOptions. @gkaldev Please also help fix this!

    // Do NOT compress tflite model files (need to call out to developers!)
    aaptOptions {
        noCompress "

[2018-05-26 17:59] malcolmmaima commented on #105
Anyone found a solution? I'm getting the same issue with android 4.2.2

E/AndroidRuntime: FATAL EXCEPTION: main
    java.lang.NoClassDefFoundError: com.google.android.gms.common.internal.zzbq
        at com.google.firebase.perf.provider.FirebasePerfProvider.attachInfo(Unknown Source)
        at android.app.ActivityThread.installProvider(ActivityThread.java:5097)
        at android.app.ActivityThre

[2018-05-27 16:34] umarpazir11 opened #515 "Firestore in not working on Android 4.3."
Describe your environment

  * Android device: Urovo Smart POS Payment Terminal i9000S
  * Android OS version: 4.3
  * Google Play Services version: 3.2.0'
  * Firebase/Play Services SDK version: 'com.google.firebase:firebase-firestore:17.0.1'

Describe the problem:
I am trying to insert data on android 4.3 device and its not working but its working on API level 21 and greater. And there is no err

[2018-05-28 08:36] ErdincOzdemir opened #516 "Attempt to read from field 'java.lang.String android.content.pm.PackageItemInfo.name' on a null object reference: com.google.android.gms.internal.zzaua.zzKq(Unknown Source) error Firebase Messaging"
### Describe your environment

  * Android device: Samsung Note 5
  * Android OS version: 7.0
  * Google Play Services version: 3.2.0
  * Firebase/Play Services SDK version: 10.2.1

### Describe the problem:

#### Steps to reproduce:

  1. Created an project and application on console.firebase.google.com
  2. Downloaded google-services.json
  3. Added FirebaseInstanceIdService & FirebaseMessagingS

[2018-05-28 12:30] rdoubleui opened #517 "Cannot run sample app due to failing download of barcode lib"
### Describe your environment

  * Android device: Huawei P9 Lite
  * Android OS version: 7.0
  * Google Play Services version: 12.5.86
  * Firebase/Play Services SDK version: 16.0.0

#### Steps to reproduce:

  1. Add sample app within Firebase console
  2. Follow steps e.g. import google-services.json
  3. Run app

#### Observed Results:

- Barcode (and for that matter any other) detection doesn

[2018-05-29 20:42] samtstern commented on #515
@umarpazir11 does this work on another device but not on the Android 4.3 device?

[2018-05-29 21:38] samtstern commented on #517
cc @isaisachen @gkaldev have you seen anything like this before?

[2018-05-29 21:40] samtstern commented on #516
@ErdincOzdemir what happens when you see this error?  Does the app crash?  Does FCM stop working?  Neither?

[2018-05-29 21:42] samtstern commented on #515
@umarpazir11 also could you try enabling debug logging for Firestore and then showing the logcat?
https://firebase.google.com/docs/reference/android/com/google/firebase/firestore/FirebaseFirestore.html#setLoggingEnabled(boolean)

[2018-05-30 17:12] samtstern commented on #517
There is a recent issue with Huawei devices / Google Play services / file permissions that caused a widely-noticed "outage" of Google Maps views on those devices.  It's very likely that this is the same issue.

@rdoubleui can you reproduce this on any non-Huawei device?

[2018-05-30 19:38] isaisachen commented on #517
@rdoubleui There's a potential fix for Huawei issue which just went out with Google Play services 12.6.85.

Could you:
1. Check on non-Huawei device like @samtstern suggested
2. Check on your Huaiwei device Google Play services version:
adb shell dumpsys activity service com.google.android.gms/.common.stats.GmsCoreStatsService | grep 'com\.google\.android\.gms \['
If it's older than 12.6.85, updat

[2018-05-30 19:58] fvermeulen commented on #517
@isaisachen
Checked it on a Huawei P9 Lite.... There is the 12.6.85 installed, Camera works, but no scanning. After deleting the playServices-data it will work. You have to do the same steps on every restart of the phone :(

On the non Huawei-decives I've tested, the barcode scanner works.

[2018-05-30 20:02] isaisachen commented on #517
@fvermeulen Would you mind grabbing a full bug report and share to us? You can e.g. upload it to Google Drive and share by link. Thanks!

[2018-05-31 11:41] umarhussain15 commented on #488
@samtstern I tried it on emulator (Android emulator with API 26 and Google play store) but still the `PasswordlessActivity` is not opening.
I even changed the firebase project and setup the app with it but still it goes to picker activity.

Can you outline steps you did to have successful flow?

[2018-05-31 19:51] gkaldev commented on #508
@jinqian, commit da5e1c8 should make custom model classification work in the sample. Could you try that and let me know if it works for you? Then we can try to figure out if there is a separate issue causing your code to fail.

[2018-06-01 16:49] TheMacNerd commented on #468
Perhaps one of these might solve your problem:

https://stackoverflow.com/questions/45707173/this-app-is-not-authorized-to-use-firebase-authentication-in-emulator
https://stackoverflow.com/questions/46751766/this-app-is-not-authorized-to-use-firebase-authentication-please-verify-that-the?rq=1
https://stackoverflow.com/questions/45707173/this-app-is-not-authorized-to-use-firebase-authentication-in-

[2018-06-01 22:30] theboubougne commented on #370
Please allow us to disable those automatic events which are using data and cpu for things we might not want to track. I can see my app logging some automatic event for more than 5 minutes after refreshing data in my app!!!
Also with the GDPR we need to provide an exact list of the data stored so we NEED a way to control this. In the meantime, I'm disabling the firebase analytics

[2018-06-04 20:02] mattlogan1 commented on #488
I'm running into this same issue on my own app. It seems like the intent filter doesn't recognize the dynamic link, so it just starts my launcher activity instead.

I'm sending the link with:

[code]

I whitelisted `auth.example.com` in the console.

The activity with the intent filter is declared like this:

[code]

When I click the link in the email, the SignInActivity isn't started though... it

[2018-06-04 20:50] mattlogan1 commented on #488
A bit more information...

When I test the email link with adb, it links to the correct activity in my app, but when I click from gmail it just goes to my launch activity. This seems strange... doesn't clicking a link in gmail just start an ACTION_VIEW intent?

Here's what I'm typing into my terminal:

`adb shell am start -W -a android.intent.action.VIEW -d <big long link from email>`

[2018-06-05 00:36] mattlogan1 commented on #488
I think my issue is that I don't have my SHA1 certificate fingerprints added to the firebase console, because of this issue here: https://stackoverflow.com/questions/50690030/cant-add-sha1-fingerprint-to-firebase-console

Sorry for hijacking this thread!

[2018-06-05 08:27] zdhruvit opened #524 "Timestamp Object is not serializable"
[code]

The Admin model

[code]

This is the code where i try to pass

[code]

[2018-06-05 12:02] harmispatel opened #525 "Firebase Token not generating in android"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-06-07 15:11] IgniteCoders commented on #41
Hi @Mina-Mikhail

I am glad to be helpful!

I dont have the code right now, but. The way to use JobDispacher is firing a Job when you receive the notification instead of trying to handle it in that moment. JobDispacher makes Job to be fired when there are resources for it (memory, baterry...).

I will post the code when i am at home, but there are lot of tutorials and a documentation in the link.

[2018-06-11 08:49] 3netra commented on #225
You can now specify up to five custom page.link subdomains for your Dynamic Links. Short links using these new custom subdomains look like the following example: https://example.page.link/abcXYZ

Firebase Dynamic Link domains assigned on projects couldn't be deleted at this time.( firebase team is working on it.)

You can now whitelist the URL patterns that can be used as a Dynamic Link's deep lin

[2018-06-11 09:08] dimsuz commented on #517
@samtstern this happens not only on Huawei devices, I have the same issue on my Nexus 5X (running android 8.1.0)

[2018-06-11 11:19] thomasbabuj commented on #225
Hi @3netra,
Do you know the reason for creating subdomains for "page.link" instead of "mydomain.com"?  After creating the custom subdomain, now "link previews" are working when sharing. Do you have any solutions for that?

[2018-06-11 16:48] isaisachen commented on #517
@dimsuz Are you sure you have the same issue on Nexus 5X? i.e. it could work initially and after a reboot, it stops working again. If you could never get it working, try clear Google Play services cache and see if you can put it to work again?

Also everyone FYI that we figured out the root cause for the Huawei issue and the fix will be available 100% end of the month. You can subscribe to public

[2018-06-11 17:50] dimsuz commented on #517
@isaisachen it looks very similar at least. I for sure have these lines in my log on Nexus 5X

[code]

though it is reproduced when using mobile-vision library, but I suspect that the core is the same - i mean ndk lib loading part and all this dynamite module stuff :)

I tried clearing Play cache (as was suggested in issues linked above) and tried to reboot my phone - nothing have helped.

[2018-06-11 17:56] isaisachen commented on #517
@dimsuz I don't think it's the same issue as Huawei then. After you clear the cache, need some API usage to trigger the download. Also, make sure you have sufficient device storage. (no download if < x% storage available)

Also, it's recommended to configure below meta-data to trigger the download upon your app installation.
[code]

See here for details.
https://firebase.google.com/docs/ml-kit/and

[2018-06-11 19:01] dimsuz commented on #517
Thank you! I will try it and see if it helps!

[2018-06-12 06:32] joshid commented on #323
is the memory leak solved?

[2018-06-12 07:38] datnt1987 opened #531 "[Remote config] methods count increase"
When adding firebase remote config, method count in my project increase over 1k methods. I just only use:

Then methods increase again. So please help me how to proguard that to decrease them, the methods in my project just only have 812 methods left, and I don't user multidex support. Thanks in advance

P/S: Firebase remote config version 16.0.0

[2018-06-12 08:50] datnt1987 commented on #531
when check dex-index-count tool, I found that remote config just only use 73 methods

So I don't know why it increase over 1k4 methods when using.

My code looks like that

[code]

[2018-06-12 09:45] nikitamarysoloman commented on #477
try to replace in
<application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
with the below attributes
   android:allowBackup="fal

[2018-06-12 10:12] P-Zenker commented on #225
Why only five? I have a android app with different product flavors for different customers (each got his own corporate identity and most of the code is the same). With only five domains I have to rebuild my app if I want to use dynamic links for each of them

[2018-06-12 10:36] techievbv opened #532 "To save ML Kit models for face recognititon into device's persisted storage"
Hi everyone,
I have just started exploring Firebase ML Kit by Google to test out face recognition capabilities. I tried official samples and it's working well.

Though, according to the official documentation, we can schedule an install time download of the ML models required using meta-data tags inside manifest, but I need a way to manually pre-install the models into the Android device's persist

[2018-06-12 13:56] norhan-elsawi opened #533 "new dynamic links custom domain issue"
i created dynamic link domain example.page.link
i created new dynamic link from console example ==> redirect to google.com
i add meta data image, title, description

issue
====
when i share that link in facebook no meta date appears and facebook deleted it after while as it consider it spam
 please solve this issue

[2018-06-12 14:22] kroikie commented on #477
Many of the Firebase SDKs depend on manifest merging, replacing the Application tag in the manifest will undo that. FCM in particular will not work if the Application tag is replaced. I'd recommend using another option besides `replace`, maybe `merge` like @nikitamarysoloman suggests.

[2018-06-12 14:22] #477 closed

[2018-06-12 15:44] psanketi commented on #532
You need to download the models just once. Do you estimate that even that
is unlikely?

On Tue, Jun 12, 2018 at 3:36 AM Vaibhav Malik <notifications@github.com>
wrote:

[2018-06-12 15:52] techievbv commented on #532
@psanketi you need to read the question again. This time more carefully. Thanks.

[2018-06-12 16:07] psanketi commented on #532
Who's your audience and how do you plan to distribute the apps to your
them? You can possibly build the app locally (during development time) and
then pass it to your audience.

On Tue, Jun 12, 2018 at 8:53 AM Vaibhav Malik <notifications@github.com>
wrote:

[2018-06-12 17:06] samtstern commented on #524
@zdhruvit Timestamp is just a `long nanoseconds` and `int seconds` so it's easily `Parcelable`.  `Serializable` is not recommended on Android.

I will file a FR for the class to come with a `Parcelable` implementation.

[2018-06-12 17:06] #524 closed

[2018-06-12 17:08] samtstern commented on #488
@mattlogan1 thanks for the extra info.  To be honest you have me stumped, are there any logs that let you see what the intent that Gmail is launching looks like?  Maybe you could intercept it in the app and log it?

[2018-06-12 17:13] fierysolid commented on #96
For those that come here looking for a solution to this. Check if the extras exist on the SplashActivity and put them into the MainActivity intent if they so.
[code]

[2018-06-13 04:05] techievbv commented on #532
Can't disclose details excep that the target audience will not be installing the app via Play Store, it will be manually distributed.
The scenario to be precise here, is that, the app should work OFFLINE at all times and being able to compare duplicate images.

[2018-06-13 09:10] fvermeulen commented on #517
for me it didn't help to update to the play-services-beta version. Deleted the data from play-services restarted the app then it works, but after a restart of the phone same thing :(

[2018-06-13 15:38] psanketi commented on #532
So seems like you are going to bring your own models. In that case, it could be possible.
Let's continue our discussion on the [SO thread](https://stackoverflow.com/questions/50815020/how-to-save-ml-kit-models-for-face-recognititon-into-devices-persisted-storage/50822872) since we are having the same dialogue there.

[2018-06-13 16:45] isaisachen commented on #517
Hi folks, sorry that the fix was actually only included in 12.8.62+.

@fvermeulen which version did you get?

`adb shell dumpsys activity service com.google.android.gms/.common.stats.GmsCoreStatsService | grep 'com\.google\.android\.gms \['
`

[2018-06-14 03:04] LiuDongCai opened #534 "Failed to find provider com.google.android.gsf.gservices for user 0; expected to find a valid ContentProvider for this authority"
It's my build.gradle

[code]

and  my android os verdion is android 8.0.0 (huawei), without google service

and then:

com.google.android.gms.internal.measurement.zzxz: com.google.android.gms.dynamite.DynamiteModule$LoadingException: No acceptable module found. Local version is 0 and remote version is 0.
        at com.google.android.gms.internal.measurement.zzxy.zzsw(Unknown Source:50)
        at

[2018-06-14 06:14] LiuDongCai commented on #534
my targetSdkVersion is 26

[2018-06-14 11:59] NarayanaraoRayapureddy commented on #473
Any luck with this issue?

[2018-06-14 14:11] elvisoric opened #535 "Subscription to topic does not return Task"
I was following the code and run into some issues.
Looking at code I can see that `subscribeToTopic` should return Task but it returns void, regarding that, I can not use this part for adding completion listener to determine whether the subscription succeeded.

[code]

[2018-06-14 14:17] #535 closed

[2018-06-14 23:18] samtstern commented on #534
@LiuDongCai unfortunately I think this is expected.  If you device doesn't have Google Play services then you will see errors like the `DynamiteModule` one you saw above.

Looking at your build.gradle, I have bolded the ones that definitely won't work without Play services.  Your mileage may vary with the rest:

implementation 'com.google.android.gms:play-services-base:15.0.1'
**implementation 'co

[2018-06-14 23:18] #534 closed

[2018-06-14 23:18] samtstern commented on #533
@norhan-elsawi this does not sound like an Android-specific issue or an issue with this repository.  I would recommend contacting Firebase support about this.

[2018-06-14 23:19] #533 closed

[2018-06-14 23:19] samtstern commented on #532
Thanks @psanketi and @techievbv for the discussion.  I agree, moving to SO or another forum is best here.

[2018-06-14 23:19] #532 closed

[2018-06-14 23:20] samtstern commented on #531
@datnt1987 unfortunately I don't think it's safe to remove the methods much further.  Remote Config relies on some common libraries in the `firebase` namespace.

Could you explain why you can't use Multidex in your application?

[2018-06-15 01:36] LiuDongCai commented on #534
hao can i do if i want it work in the phone without google services?

[2018-06-15 01:52] LiuDongCai opened #536 "How do I make it work on mobile phones without Google service?"
It's my build.gradle

    implementation 'com.google.android.gms:play-services-base:15.0.1'
    implementation 'com.google.android.gms:play-services-maps:15.0.1'
    implementation 'com.google.android.gms:play-services-analytics:16.0.0'
    implementation 'com.google.firebase:firebase-core:16.0.0'
    implementation 'com.google.firebase:firebase-analytics:16.0.0'
    implementation 'com.google.fir

[2018-06-15 08:59] LiuDongCai commented on #536
I think I've solved the problem.
In my build.gradle

implementation 'com.google.firebase:firebase-perf:16.0.0'

If I remove the perf，my phone can work!!!

So,the perf sdk is a problem

[2018-06-15 09:25] javanal opened #537 "Firebase version:9.4.0, report: java.lang.IllegalArgumentException"
Back traces starts.
java.lang.IllegalArgumentException
	at android.os.Parcel.nativeAppendFrom(Native Method)
	at android.os.Parcel.appendFrom(Parcel.java:449)
	at android.os.BaseBundle.<init>(BaseBundle.java:126)
	at android.os.Bundle.<init>(Bundle.java:102)
	at android.content.Intent.getExtras(Intent.java:5870)
	at com.google.firebase.messaging.FirebaseMessagingService.zzm(FirebaseMessagingServic

[2018-06-15 09:26] javanal opened #538 "Firebase version:9.4.0, report: java.lang.NullPointerException: com.google.firebase.messaging.FirebaseMessagingService.zzm"
java.lang.NullPointerException: Attempt to invoke virtual method 'int android.os.Parcel.dataSize()' on a null object reference
	at android.os.BaseBundle.(BaseBundle.java:164)
	at android.os.Bundle.(Bundle.java:106)
	at android.content.Intent.getExtras(Intent.java:7186)
	at com.google.firebase.messaging.FirebaseMessagingService.zzm(FirebaseMessagingService.java)
	at com.google.firebase.iid.zzb$2.ru

[2018-06-15 13:20] mattlogan1 commented on #488
Appreciate the response @samtstern!

I have an open support thread going with Jonathan from Firebase Support where I explain this in a bit more detail... I'll paste my last message to him here:

In the documentation [here](https://firebase.google.com/docs/dynamic-links/android/receive) it says "The intent filter should catch deep links of your domain, since the Dynamic Link will redirect to your d

[2018-06-15 15:59] samtstern commented on #538
@javanal there is not enough information here to help you, and also version `9.4.0` is extremely old and we definitely recommend upgrading!

You can try opening another issue if you want, but please fill out the entire template.

[2018-06-15 15:59] #538 closed

[2018-06-15 16:00] samtstern commented on #534
@LiuDongCai that's not possible right now.

[2018-06-16 02:19] kurtisnelson opened #539 "Release build of perf example is broken"
Running ./gradlew assembleRelease against the performance example fails, seemingly due to proguard obfuscation or GMScore version drift.

My hunch is that something is wrong with the drop of GMScore from google3/integ into the SDK.

[code]

None of these proguard rules fix it:
[code]

[2018-06-18 11:12] nikoviljanen opened #540 "Firebase Invites - sending invitations failed (resultCode=13)"
### Environment

  * Android device: Nokia 8
  * Android OS version: Oreo 8.1.0
  * Google Play Services version: 12.6.85

### The problem:
I posted this same message on StackOverflow, looking for some help with this issue. https://stackoverflow.com/questions/50900378/firebase-invites-sending-invitations-failed-resultcode-13

I am trying to get Firebase Invites to work, using the example app from

[2018-06-18 13:22] AndroidDeveloperLB opened #541 "Request: show in crash sample how to add customized data as soon as the crash occurs"
I don't know if it's possible, but would be great to see how you suggest to add customized data that is most relevant in the time of the crash.

Currently, the only way to do this, that I know of, is by using setDefaultUncaughtExceptionHandler, as I did for Fabric Crashlytics :

        // init crashlytics:
        Fabric.with(application, new Crashlytics(), new Twitter(authConfig));
        // wr

[2018-06-18 15:57] samtstern commented on #540
@nikoviljanen unfortunately that code (13) is just `ERROR` so there's not much information:
https://developers.google.com/android/reference/com/google/android/gms/common/api/CommonStatusCodes.html#ERROR

Is this issue device-specific or present on all devices?

[2018-06-18 16:57] nikoviljanen commented on #540
@samtstern I tried this on an Honor 7 (Lollipop 5.0.2) but the same issue is present.

[2018-06-18 20:15] TKBurner commented on #541
Thanks! Check out this section in our docs :) https://firebase.google.com/docs/crashlytics/customize-crash-reports#add_custom_logs

[2018-06-18 20:17] AndroidDeveloperLB commented on #541
@TKBurner I'm talking about Android, and I'm talking about adding customized data, and I'm talking about doing it when the crash occurs.
What you provided is none of those.

[2018-06-18 20:20] TKBurner commented on #541
Please add this to your Android Manifest:

`<meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />`

after that you can invoke Crashlytics the same way you did with Fabric and everything will work exactly the way it did before.

[2018-06-18 20:22] AndroidDeveloperLB commented on #541
@TKBurner That's not what I asked about.
I asked if there is a nice API instead of the workaround I've presented here, and if so, show it in the sample.

[2018-06-18 20:23] samtstern commented on #541
@AndroidDeveloperLB just FYI that doc that @TKBurner linked tricked me too.  You have to scroll to the top and switch to the "Android" tab to see Android snippets.

[2018-06-18 20:37] TKBurner commented on #541
The sdks are actually the same right now and there will be a seamless
process to migrate from fabric to firebase in the near future.

On Mon, Jun 18, 2018, 4:27 PM AndroidDeveloperLB <notifications@github.com>
wrote:

[2018-06-18 20:54] AndroidDeveloperLB commented on #541
@TKBurner But will thing change? Will they stay the same? Will one stop being updated? What will happen?

[2018-06-18 21:17] kurtisnelson commented on #539
I am running `./gradlew assembleRelease`

[2018-06-19 07:21] NasH5169 opened #542 "[Barcode / QRCode] Crash NewStringUTF with libart.so"
Hi all,

The native library **libart.so** used by ML is crashing. As far as I know, there are 2 ways to crash:

1. The camera has something wrong with utf8 char in its params (only Galaxy S5 for now)
2. The barcode or qrcode contains non utf8 char

Both are the used of NewStringUTF without check to string before?

- Android device: Galaxy S5 klte
- Android OS version: Android 7.1.2
- Google Play S

[2018-06-19 14:01] AndroidDeveloperLB commented on #541
Is it worth switching to Firebase Crashlytics?
Will it at some point be better than Fabric? Maybe Fabric will be deprecated?

[2018-06-20 06:05] nikoviljanen commented on #540
@samtstern For no apparent reason the issue disappeared yesterday, and the invites are now sent correctly. I have no clue why this is.

[2018-06-22 12:29] MMarco94 commented on #534
I think that the correct behavior for analytics and messaging would be to just do nothing, without crashing

[2018-06-22 15:44] daver1419 commented on #473
I have this issue, and the most common devices are these samsung:

<img width="658" alt="captura de pantalla 2018-06-22 a la s 12 42 02" src="https://user-images.githubusercontent.com/2520795/41785753-eb8351f2-7619-11e8-88f9-f550cb17087f.png">

[2018-06-22 18:10] MMarco94 commented on #536
There should be a way to use every firebase library without crashing on phones without Play Services. The libraries should just do nothing instead of making the app crash

[2018-06-22 18:22] isaisachen commented on #542
Thanks for reporting. Firebase / Google will take a look.

Sounds like #2 has a consistent way to repro? Do you know if there's a consistent way to repro issue #1? Thanks!

[2018-06-22 18:43] samtstern commented on #536
@MMarco94 the app does not crash, that `SecurityException` is not a fatal app exception.

We would like to support all devices, but that's just not possible for some of our APIs right now.  Google Play services can help us do things we would not otherwise be able to do (or if we could do them, they would not meet our performance / security / size standards)

[2018-06-22 20:48] MMarco94 commented on #536
I understand that some things need Play Services to work, but crashing is not the solution.
A user of our app is reporting that the app is crashing with the following stacktrace:
[code]
For what I can tell, a SecurityException is not different from any other exception, and it makes the app crash.

[2018-06-22 21:03] sacot41 commented on #422
Same issue, someone have a update ?

[2018-06-22 21:31] samtstern commented on #422
I am closing this issue as there's nothing to do but wait.  Thanks again everyone for your help and patience.

[2018-06-22 21:31] #422 closed

[2018-06-24 07:00] brijZdoN opened #543 "problem in connecting with firebase"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-06-25 07:19] rohanisme opened #544 "Code Sent But not receiveing Message"
Log Cat shows Code has been Sent with token id and verification id but not able to receive the message

[2018-06-25 07:39] duplex143 opened #545 "Changes required for using non-quantized tflite files in CustomImageClassifier.java [proposed Label]:mlkit"
I want to use a non-quantized tflite model. So, I made the following changes as mentioned [here](https://github.com/tensorflow/tensorflow/issues/14719#issuecomment-348991399) to [CustomImageClassifier.java](https://github.com/firebase/quickstart-android/blob/master/mlkit/app/src/main/java/com/google/firebase/samples/apps/mlkit/custommodel/CustomImageClassifier.java) to overcome `Cannot convert an

[2018-06-25 15:27] samtstern commented on #543
@brijZdoN there's not enough information in this issue to debug, please fill out the template when filing issues.

[2018-06-25 15:27] #543 closed

[2018-06-25 15:31] samtstern commented on #540
@nikoviljanen thanks for the update ... I wish we knew what happened but let us know if it comes back!

[2018-06-25 15:31] #540 closed

[2018-06-25 15:32] samtstern commented on #531
Closing this issue as this is intended behavior, but I would still like to hear about why you don't want to use Multidex if you want to discuss it.

[2018-06-25 15:32] #531 closed

[2018-06-25 15:33] samtstern commented on #515
@umarpazir11 closing this issue since it's been 27 days since last response.  If you want to re-open it just comment and let me know.

[2018-06-25 15:33] #515 closed

[2018-06-25 15:34] samtstern commented on #537
@javanal I apologize for not responding early, but this is not enough information to debug.  From the title it seems like you're using SDK version `9.4.0`, which is very old.  So I would recommend:

- Updating, if you can.
- Filing a new issue here and filling out the whole issue template so I can help you.

[2018-06-25 15:34] #537 closed

[2018-06-25 15:35] samtstern commented on #539
@kurtisnelson I am able to run `./gradlew assembleRelease` on the `master` branch from both the root directory of this repo and the `perf` directory.

Maybe you've got something bad in your build cache?  This also is the kind of thing that Travis would catch in this repo, so I am a bit skeptical that there's a real problem here and it's more likely that one of us has a bad setup.

[2018-06-25 15:37] samtstern commented on #541
@AndroidDeveloperLB in many cases yes, it's worth switching.  Firebase Crashlytics should have all of the features you already love, plus some new integrations like integration with Cloud Functions or Google Analytics for Firebase.  I'd say give it a try and let us know what you think!

[2018-06-25 15:37] #541 closed

[2018-06-25 15:38] samtstern commented on #541
I am closing this issue, even though it was a good discussion, since I don't think we will change the quickstart to show this feature.  The quickstart is supposed to be as bare-bones as possible and this is an advanced feature.

[2018-06-25 15:55] NasH5169 commented on #542
Hi,

Great. Thanks for taking this issue in account.

For the first crash, it is complicated because the Galaxy S5 is on LineageOS 14.1 (Android 7.1.2).

This is the only device with which I have this issue.

[2018-06-25 23:04] AndroidDeveloperLB commented on #541
Can you please consider to add a second sample with this ? Or at least write about it in the docs as a tip?

[2018-06-26 10:16] sakshamsd commented on #23
what if users have already installed the app and in a new update we need to implement FCM??

[2018-06-26 10:46] duplex143 commented on #545
@gkaldev @isaisachen Does MLKit right now works only for quantised tflite models?

[2018-06-26 15:12] isaisachen commented on #545
@duplex143 Nope, non-quantized model is also supported. It looks like a usage issue. Also, Saw you posted the same question on StackOverflow and our expert is helping you there already. Let's continue discussion on StackOverflow instead?
https://stackoverflow.com/questions/50923996/changes-required-for-using-non-quantized-tflite-files-in-mainactivity-java#50923996

[2018-06-26 20:59] samtstern commented on #541
@AndroidDeveloperLB I will see if we can add it to the docs, good idea!

[2018-06-26 21:17] AndroidDeveloperLB commented on #541
Thank you. Maybe let it be open then?

[2018-06-26 21:44] samtstern commented on #541
@AndroidDeveloperLB I try to keep open issues here limited to things that can be fixed within the repo (or where this is the best place to debug them).  Same reason I close issues here as soon as we find the root cause to be outside the sample, even if they are Firebase SDK issues.  Hope that makes sense!

[2018-06-26 22:44] keremkusmezer commented on #473
I have also the same issue my gradle file looks like the following for service descriptions.

  // Unique job ID for this service.
    static final int JOB_ID = 42;

    // Convenience method for enqueuing work in to this service.
    public static void enqueueWork(Context context, Intent work) {
        enqueueWork(context, XXXService.class, JOB_ID, work);
    }

implementation 'com.google.androi

[2018-06-27 06:36] powell commented on #535
Have you solved your problem yet? I have the same issue with Oreo devices, my program works fine with Android 7 and lower.

[2018-06-27 08:02] elvisoric commented on #535
I was using wrong version of
`Cloud Messaging | com.google.firebase:firebase-messaging`

From the release notes of Cloud Messaging version 17.0.0:

[2018-06-27 14:55] duplex143 commented on #545
Discussion is [here](https://stackoverflow.com/questions/50923996/changes-required-for-using-non-quantized-tflite-files-in-mainactivity-java#50923996).

[2018-06-27 15:31] kroikie commented on #23
@sakshamsd in that case you would get the same callbacks as if the app had been initially installed.

[2018-06-27 15:42] loicsiret commented on #488
Hi,
I just have the same problems as you guyz. I remove the pathPrefix and set the url of my domain instead of the dynamic links and it seems to work.

[2018-06-27 15:47] samtstern commented on #488
@mattlogan1 were you able to resolve this with Firebase support?

[2018-06-27 15:49] sakshamsd commented on #23
I tried implementing FCM on app updates but I can't get any token. What
should be done??

On Wed, Jun 27, 2018, 9:17 PM Arthur Thompson <notifications@github.com>
wrote:

[2018-06-27 21:07] samtstern commented on #488
@mattlogan1 ok I found your case and will push it along, sorry about the delay.

[2018-06-27 23:45] samtstern commented on #536
@MMarco94 I tried the sample in this repository on an emulator without Play services and could not observe a crash.  Are you able to reproduce?

[2018-06-28 04:50] umarhussain15 commented on #488
@loicsiret your solution is working.
Just one question which url are you using during creation of action settings?
I'm adding `/emailSignInlink` during link creation but removed this in my intent filter.
@samtstern is this the solution firebase will be providing?

[2018-06-28 05:59] LiuDongCai commented on #536
implementation 'com.google.firebase:firebase-perf:16.0.0'
You should add this, and you can reappear

[2018-06-28 06:40] AndroidDeveloperLB commented on #541
ok I hope you won't forget to add this tip somewhere.

[2018-06-28 16:07] samtstern commented on #536
@MMarco94 @LiuDongCai unless we can reproduce this there is no way to proceed.  Obviously we don't want our APIs to crash on phones without Google services, and in my testing they do not crash.

[2018-06-28 22:08] munibhamza commented on #208
I am having the same error If anybody please help me to resolve this issue
![screen shot 2018-06-29 at 2 50 29 am](https://user-images.githubusercontent.com/38657444/42063124-b74c43a0-7b49-11e8-93d0-37f496a9beec.png)

[2018-06-28 22:11] samtstern commented on #208
Are you using an emulator or a device without Google Play services?

On Thu, Jun 28, 2018, 3:08 PM munibhamza <notifications@github.com> wrote:

[2018-06-28 22:13] munibhamza opened #546 "com.google.firebase.auth not found"
I am trying to make a user login and register panel but it was giving me an error that com.google.firebase.auth not found .
Also when i run my app first time i registered a user and them login that user and It was successful but now it is giving me an error ..
Also attaching the screenshot of error after debugging.
Thanks in advance if anyone could help me resolving this issue
![screen shot 2018-0

[2018-06-29 08:12] datnt1987 commented on #531
Dear @samtstern ,
Sorry for lately reply your question. The reason why I don't want to use Multidex is my boss's request. He don't want to use Multidex and ask us try to code as less methods as possible.

So, In this case, I used firebase 12.0.0 instead of using 16.0.0 for decrease the total methods to around 1k3.

Thanks so much for replying my question, Mr.

[2018-06-29 15:58] samtstern commented on #531
@datnt1987 thanks for the reply!  I would suggest:

- Use Multidex when debugging only.  If you have a device/emulator of API 21 or higher for testing you can use the native multidex and not even need to worry about any configuration.
- In production, if you turn on ProGuard (`minifyEnabled true`) it will cut out all the unused methods and you probably can stay in a single dex file.

[2018-06-29 22:40] samtstern commented on #546
The messages say Google Play services is out of date.  I recommend running this on a real device or an emulator that has the Play store so that you can get auto updates.

[2018-06-29 22:40] #546 closed

[2018-06-30 13:16] chemickypes opened #547 "Dex Error with androidx libraries"
I started a new project and I saw that in the dependencies block there are `androidx libraries`.

[code]

if I add `implementation 'com.google.firebase:firebase-core:16.0.1'` I got follow error:

[code]
There is a way to use firebase with these libraries?

[2018-06-30 13:55] chemickypes commented on #547
Resolved and the problem was not cause by Firebase.  Indeed there are not these lines in `gradle.proprerties` file.

[code]
After I added them, everything has been ok.

[2018-06-30 13:55] #547 closed

[2018-07-01 12:29] UttamPanchasara opened #548 "FirebaseInstanceIdService is deprecated"
**I'm using : implementation 'com.google.firebase:firebase-messaging:17.1.0'**

when i have extended **FirebaseInstanceIdService** class, it showing that this is **deprecated.**

how should i get refreshed token, as this showing deprecated.

[2018-07-02 00:49] rosariopfernandes commented on #548
Cross-posted on [StackOverflow](https://stackoverflow.com/q/51123197/5861618).

As [this answer](https://stackoverflow.com/a/51123913/5861618) suggests, you simply need to override the `onNewToken(String token)` method from the `FirebaseMessagingService` class.

[2018-07-02 01:20] rosariopfernandes opened #549 "CONTRIBUTING.md needs update"
- The [CONTRIBUTING.md](https://github.com/firebase/quickstart-android/blob/master/CONTRIBUTING.md) in this repository currently asks for browser information on the [issue template](https://github.com/firebase/quickstart-android/blob/master/CONTRIBUTING.md#submitting-an-issue). This is an Android project and does not run on a browser.
- Under [Coding Rules](https://github.com/firebase/quickstart-a

[2018-07-02 08:12] LiuDongCai opened #550 "performance bug"
[code]

my app met some mistakes about perf

1:
[code]

2:
[code]

3:
[code]

[2018-07-02 09:42] JimmyDeemo commented on #332
I stumbled upon this issue when I ran into a similar problem. I wanted to metions that in order to so as the above poster suggested you need to remobe the line `apply plugin: 'com.google.gms.google-services` from your libraries `build.gradle` file. It is likely that this was added if you used the wizard to setup Firebase for your library.

[2018-07-02 11:14] FilipMik opened #551 "Dynamic links inconsistency"
Hi all,

recently I've encountered this issue with Firebase dynamic links on Android device, described below.

I'm using this dynamic link, which I created in Firebase console:

Short version - `https://miiska.page.link/payment-return-url`
Long version - `https://miiska.page.link/?link=https://www.seznam.cz&apn=com.thefuntasty.miska&afl=https://www.google.com/`

I'm using it to navigate user back

[2018-07-03 02:16] chenrongqi commented on #536
@samtstern Please  use HTC u11 ，android 8.0

[2018-07-03 09:09] wbervoets commented on #517
@isaisachen has 12.8.62+ been released fully as non beta? Still 197 users impacted yesterday on our app. Why does it take so long (eg. from May 10th) to fix an important bug ?

[2018-07-03 09:44] #548 closed

[2018-07-03 13:01] vaibhav4444 commented on #385
@AMR-aa1405465 solution worked for me. I was using different firebase versions for different firebase services. After unified version & applying plugin & dependencies at module level  resolved the issue.

Thanks AMR-aa1405465 .

[2018-07-03 18:11] isaisachen commented on #517
@wbervoets No, not yet. I will update here when a fix is 100% available to end users.

[2018-07-04 21:49] pavelshackih commented on #4
Agree with @jemshit. It was really convenient to specify a link for icon in notification push. Are there any plans to add this?

Thank you.

[2018-07-05 11:03] pratikbutani commented on #548
Here I wrote something :) :+1:
[Solution of Deprecated FirebaseInstanceIdService](https://medium.com/android-school/firebaseinstanceidservice-is-deprecated-50651f17a148)

[2018-07-05 14:29] ravichandra8 opened #552 "remote config"
task.isSuccessful() is true then remoteConfig.getString(key) returning empty data.

[2018-07-05 14:41] ravichandra8 opened #553 "returning empty data"
https://github.com/firebase/quickstart-android/blob/1791a58ffe13f364dfc1b39356ca0ec8fbf0d7f5/config/app/src/main/java/com/google/samples/quickstart/config/MainActivity.java#L136

[2018-07-07 06:55] tvhieuit opened #554 "[Firebase remote config] How to change property some fields in color.xml file or dimen.xml file"
Hello all

I want to make my app dynamic color for all in app, So i want to change color.xml and dimen.xml but I dont know how to use.

Could you help me
[code]

Thank you so much

[2018-07-07 20:47] anipindie commented on #554
<color name="colorPrimary">#000</color>
    <color name="colorPrimaryDark">#000</color>
    <color name="colorAccent">#000</color>

[2018-07-07 21:00] einicher commented on #121
Does this work by now? I only find sources on how to set the default notification icon but not on how to set individual icons.

[2018-07-09 02:39] andj207 commented on #16
I'm facing this issue using:
    implementation 'com.google.firebase:firebase-core:16.0.1'

1 user 4 reports (Huawei P8 lite 2017 (HWPRA-H), Android 7.0):

`java.lang.NoSuchMethodError:

  at com.google.firebase.messaging.FirebaseMessagingService.zzb (Unknown Source)

  at com.google.firebase.iid.zzb.onStartCommand (Unknown Source)

  at android.app.ActivityThread.handleServiceArgs (ActivityThread

[2018-07-09 03:00] ArcherEmiya05 opened #555 "Firebase Storage: The upload task triggered even the previous task is completed"
My scenario is that I was uploading 2 video the first item is about 150mb+ and the second one is about 70mb+. While uploading I closed the app then removed it from Recent App. Sometimes the task gets killed thus restarting the upload task when returning to the app. The 70mb+ upload video task  is complete while the 150mb+ upload video task is still on going. Instead of downloading the 70mb+ what I

[2018-07-09 07:21] avatarerr commented on #517
In case this information helps:

My codebar reading was working smoothly on a Huawei P8 lite when, 2 days ago, stopped detecting codebars, having exactly the same error than the poster. Not only my app, also the mlkit demo i used to test it's features.

Google Play services version: 12.6.85

Then i tried on a new Huawei P8 Lite (directly from the box) and, yeah, my app and the mlkit demo works.

G

[2018-07-09 12:59] kroikie commented on #16
@andj207 what version of `firebase-iid` and `firebase-messaging` are you using. I would advise using the [latest versions of the SDKs](https://firebase.google.com/support/release-notes/android).

[2018-07-09 13:04] andj207 commented on #16
@kroikie  I'm using the latest one
[code]

[2018-07-09 13:05] kroikie commented on #16
@andj207 are you using the latest versions of the other SDKs as well?

[2018-07-09 13:12] andj207 commented on #16
@kroikie yes, the Gradle doesn't suggest any new update for any libs. But, I notice the Play service for ads is lower ```implementation 'com.google.android.gms:play-services-ads:15.0.1' ```. Will it be the problem?

[2018-07-09 13:23] kroikie commented on #121
@einicher You can set the notification icon to any resource in your application via the API ([reference](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#AndroidNotification)). The default notification icon is used when no icon is set in the notification message.

[2018-07-09 13:32] kroikie commented on #4
@pavelshackih @jemshit thanks for that feedback, the team is looking into this type of feature.

[2018-07-09 13:35] einicher commented on #121
Any resource means, when i have a `messages.png` icon in my drawable folders and i set icon to `messages.png` it should work? Cause it does not.

[2018-07-09 13:42] andj207 commented on #16
@kroikie The problem is it crashes on "user" device, the report I got from Android Vitals in Play Console. I guess the user is from China so Play Service is not available. I need to use Admob, Firebase analytics for my app.

[2018-07-09 14:08] kroikie commented on #121
@einicher for example in the sample app, if you remove the default notification metadata from the [AndroidManifest.xml](https://github.com/firebase/quickstart-android/blob/master/messaging/app/src/main/AndroidManifest.xml#L13) then send a notification message without specifying the icon eg:

[code]

The launcher icon is used.

However if you add the icon as a notification override specifying the r

[2018-07-09 15:09] samtstern commented on #555
@ArcherEmiya05 this does not sound like a bug with this repository or in the Firebase Android SDK.  Please post this question to StackOverflow for help with your application logic.

[2018-07-09 15:09] #555 closed

[2018-07-09 15:10] samtstern commented on #554
@tvhieuit by default there is no connection between Remote Config and the theme of your app, you'd have to build that yourself.  Remote Config can only help you get the string values (`#000`, etc) into your code over the air.

If you need help learning how to apply themes at runtime, please ask on StackOverflow.

[2018-07-09 15:10] #554 closed

[2018-07-09 15:10] samtstern commented on #553
@ravichandra8 there is not enough information here to help you debug, please file a new issue and fill out the entire template if you still need help.

[2018-07-09 15:10] #553 closed

[2018-07-09 15:11] samtstern commented on #552
@ravichandra8 please fill out the whole issue template when filing an issue, there's not enough information here.

[2018-07-09 15:11] #552 closed

[2018-07-09 15:13] samtstern commented on #551
@FilipMik apologies for the slow response, a bunch of us were on vacation.

Are you seeing this inconsistency between attempts on the same device?  Or are you saying the behavior differs from device to device>

[2018-07-09 15:14] samtstern commented on #550
@LiuDongCai apologies for the slow response, a few of us were on vacation.

Are you seeing this on your own device or just in customer crash reports?  Do you know what behavior causes any of these exceptions to happen?

[2018-07-09 15:18] #549 closed

[2018-07-09 15:18] samtstern commented on #549
@rosariopfernandes fixed, thank you!

[2018-07-10 03:06] LiuDongCai commented on #550
Just in customer crash reports.
And I don't know how to reappear.But it has appeared many times.

[2018-07-10 07:15] wbervoets commented on #517
@isaisachen can you share the current rollout plan?

[2018-07-10 16:18] samtstern commented on #548
See #556

[2018-07-10 16:54] rosariopfernandes commented on #525
I have faced a similar issue. What I did was [retrieve the current registration token](https://firebase.google.com/docs/cloud-messaging/android/client#retrieve-the-current-registration-token) when the app starts.

[2018-07-10 17:13] rosariopfernandes opened #557 "[Proposal] Quickstart Kotlin"
It has been more than a year since [Kotlin](https://developer.android.com/kotlin/) became an official language for Android. It is being widely used by Android Developers and most of android samples and blog posts found on the internet are written in Kotlin nowadays.

I suggest rewriting, in Kotlin, the same android samples contained in this repository. Maybe pushing it to a new repository, since t

[2018-07-10 17:16] samtstern commented on #557
@rosariopfernandes thanks for bringing this up for discussion!

We are definitely working on bringing Kotlin to our Firebase developer materials, alongside Java.  The first thing we need to do is get our reference docs in order (since those are the most basic thing) and then we can move on to snippets and samples.

[2018-07-10 17:44] TarunPal3551 commented on #110
i am also facing this problem

[2018-07-10 18:53] isaisachen commented on #517
@wbervoets Sorry, I don't have any details to share. I can just say Google is actively working on the release. Thanks for your patience. I will update here when it's 100% rolled out.

[2018-07-11 16:25] Yugalmodi opened #560 "Shorten link is not returning complete long URL"
### Describing environment
  * Android device: Any
  * Android OS version: 6+
  * Google Play Services version: 16.0.1
  * Firebase/Play Services SDK version: 16.0.1

### Describing Problem

I am passing below example long link for shorten and it's shorten successfully but while i am clicking that shorten link. It's returning only below result long link.

##**NOTE:** All below links are just dummy

[2018-07-11 22:57] burnermanx opened #561 "Firebase Dynamic Links are reopening if put on onStart()"
Environment:
Android device: OnePlus 5 A5000
Android OS Version: 8.1 (27)
Google Play Services version: 11.8.0
Firebase/Play Services SDK version: 11.8.0

According by Dynamic Links docs:

For compatibility issues for devices which not supporting App Links, I'm loading Dynamic Links on main activity and routing to desired activity according Uri. So what I did:

[code]

In routeDeepLinkIntent(activ

[2018-07-12 09:09] #545 closed

[2018-07-12 15:23] FilipMik commented on #551
@samtstern This inconsistency was happening on every device I have tested. After many hours spend searching, I concluded that the error is related with Google Chrome. Everywhere else, the links were running perfectly. So there must be some kind of security reason when chrome simply won't open app from address bar.

[2018-07-12 15:42] samtstern commented on #551
@FilipMik thanks for the follow up!  I'm still going to file a bug internally just so someone can check into this and maybe talk to the Chrome people to clarify the behavior.

[2018-07-12 15:45] samtstern commented on #560
@Yugalmodi thanks for reporting this!  I will ask the Dynamic Links team and see what the possible explanation could be.

[2018-07-12 16:46] kchandawat commented on #368
even though opmization is enabled apps like whatsapp recieve message when in background and after being swiped out. Any solution for an app targeting oreo ?

[2018-07-13 11:03] ipsjolly commented on #548
### **Here is Solution explained!**
[http://www.freakyjolly.com/resolved-firebaseinstanceidservice-is-deprecated/](http://www.freakyjolly.com/resolved-firebaseinstanceidservice-is-deprecated/)

[2018-07-14 06:13] durzoflint commented on #418
Using `17.1.0` still persists

[2018-07-14 09:30] KishanViramgama commented on #78
please add SHA-1 Key on fire base project  and try i hope solved problem

[2018-07-14 18:59] thatfiredev opened #562 "Testing with a local instance of the Cloud Functions Emulator"
The [version 16.1.0](https://firebase.google.com/support/release-notes/android#version_1610) of the Cloud Functions Client SDK now allows us to test against a local instance of the Cloud Functions Emulator by using `useFunctionsEmulator()`.

It would be nice to have a snippet showing this method's usage and maybe also include a link pointing to the [Functions Emulator Docs](https://firebase.google

[2018-07-15 15:16] gagangoku commented on #41
This is a major issue for me. I ended up not using flutter and developing my Android app the typical way.
On my OnePlus 5T, a normal android app (https://play.google.com/store/apps/details?id=com.homedruid.notificationtester) is able to receive notifications when swipe closed. However, when I create a flutter project, I don't get firebase notifications when app is swiped off.

I am sure this is no

[2018-07-15 15:34] Eipeks commented on #4
I'm still having issues with firebase push notification.
It only customizes my push notification when the app is in the foreground.

[2018-07-15 18:31] gagangoku commented on #41
UPDATE: This might be a good news for OnePlus 5T. Can't say for other devices.
It seems if you have the word notificationtest in the package name, fcm notifications are received upon app swipe.

[2018-07-15 18:34] haidarcorp commented on #41
I have some great news. I updated my firebase versions within Gradle and data notifications are working without fail now! It would seem that the firebase team fixed the problem.

[2018-07-15 22:09] OnurVar commented on #370
I haven't checked the library's latest version if they have this option to enable/disable it. We definitely need this option for GDPR.
Thanks

[2018-07-16 06:03] umarhussain15 commented on #488
@samtstern any update on the issue?
The solution suggested by @loicsiret works only if one activity has the intent filter for the email link auth.
If I provide two activities with the same filter it opens a activity chooser to select.
My app requires two flows one for login one for sign up i.e. I need two unique urls for passwordless login.

[2018-07-16 07:17] wbervoets commented on #517
Seems 12.8.72 is being rolled out since a few days. I'll check if number of users impacted by the bug now starts decreasing.

[2018-07-16 08:33] jeffayan opened #563 "Firebase Database not receiving messages on china"
I have a messaging App with Firebase Database and Firebase Auth. The same features work fine California, but not in China.

Environment

Both iOS and Android

iOS
Using Firebase (4.8.2)
Using FirebaseAnalytics (4.0.9)
Using FirebaseAuth (4.4.2)
Using FirebaseCore (4.0.14)
Using FirebaseDatabase (4.1.4)
Using FirebaseInstanceID (2.0.8)
Using FirebaseMessaging (2.0.8)
Using FirebaseStorage (2.1.2)

[2018-07-16 09:19] Akhrorjon commented on #473
Is there anyone who have find the solution for the given issue?

[2018-07-16 16:21] samtstern commented on #560
@Yugalmodi here's the response I got, hope it helps:

[2018-07-16 21:14] rosariopfernandes commented on #563
All Google Services have been blocked in China, as mentioned [here](https://stackoverflow.com/a/42620514/5861618).

[2018-07-17 12:10] Baneeishaque opened #564 "UnknownPluginException"
Plugin with id 'com.google.firebase.firebase-perf' not found.
problem occurred evaluating project ':perf:app'.

[2018-07-17 16:51] samtstern commented on #563
@jeffayan thanks for reporting this.  While we'd love for Firebase to work everywhere, right now we can't guarantee the availability of any of our services in China.  I apologize for the bad experience, but there's nothing we can do here.

[2018-07-17 16:51] #563 closed

[2018-07-17 16:54] samtstern commented on #562
@rosariopfernandes thanks for the suggestion!  This is definitely something we should do.

[2018-07-18 09:09] Drakot commented on #205
@soufianeEssabbane solutions works nicely

[2018-07-18 17:07] AayushTaneja opened #565 "Firestore does not generate any callback/exception on attempting to upload data offline"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-07-18 19:06] samtstern commented on #565
@AayushTaneja that's actually expected behavior.  Those listeners only fire when the write has actually been written to the backend (or failed to do so).  So when offline, they just never fire.

However when you write it's immediately written to the offline cache.  So if you attach a snapshot listener to the location you're writing, you can get confirmation of the offline write that way (you'll ge

[2018-07-18 19:06] #565 closed

[2018-07-18 20:33] bradridsect opened #566 "Firestore cannot store data Error Handler"
i got problem in firebase storage. I make a project there is no error with take picture and store it in firestore. The image uploaded but the firestore show error .

Here is my code

`package my.wedee.com.wedeeon9bisnis;

                import android.Manifest;
                import android.content.Context;
                import android.content.Intent;
                import android.content.pm.

[2018-07-19 15:50] samtstern commented on #566
@bradridsect it's not clear what your issue is.  What is the error you are seeing and what did you expect to happen?

[2018-07-19 16:35] vitor-efo commented on #550
I also have this happening in customer crash reports.
Devices:
1- Infinix - multiple models (Android 7.0)
2- TECNO - multiple models (Android 7.0)

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.google.android.gms.internal.firebase-perf.zzq.zzb(com.google.android.gms.internal.firebase-perf.zzah)' on a null object reference
       at com.google.androi

[2018-07-19 18:02] samtstern commented on #550
Thanks everybody.  I don't have a good way to reproduce this myself right now but I have shown this thread to the Firebase Performance SDK team and I hope they can help dig into it.

[2018-07-19 18:24] bradridsect commented on #566
`package my.wedee.com.wedeeon9bisnis;

            import android.Manifest;
            import android.content.Context;
            import android.content.Intent;
            import android.content.pm.PackageManager;
            import android.net.Uri;
            import android.os.Build;
            import android.support.annotation.NonNull;
            import android.support.v4.app.ActivityCompa

[2018-07-19 18:27] bradridsect commented on #566
yes.. that error .. how can i fix it?

[2018-07-19 18:30] bradridsect commented on #566
`service cloud.firestore {
      match /databases/{database}/documents {
         match /{document=**} {
         allow read, write: if request.auth != null;
        }
     }
     }`

this is my rules in firestore

[2018-07-19 18:31] samtstern commented on #566
@bradridsect can you show the rules you're using for Storage?  I think those may be what is causing the problem.

[2018-07-19 21:44] samtstern commented on #566
@bradridsect this is very strange, I will have to follow up.

[2018-07-19 21:55] samtstern commented on #566
@bradridsect the URL you posted now works for me, so maybe there is no bug anymore and it was just a problem in your code?

[2018-07-20 01:26] LiuDongCai commented on #550
java.lang.RuntimeException: android.os.DeadSystemException
	at android.app.ActivityThread.acquireProvider(ActivityThread.java:5828)
	at android.app.ContextImpl$ApplicationContentResolver.acquireUnstableProvider(ContextImpl.java:2434)
	at android.content.ContentResolver.acquireUnstableProvider(ContentResolver.java:1554)
	at android.content.ContentResolver.query(ContentResolver.java:525)
	at android

[2018-07-20 09:19] bradridsect commented on #566
i put the permission on storage allow read, write: true; and now im also get see the picture.. btw ,, thanks mate..

[2018-07-20 17:37] Yugalmodi commented on #560
Thanks for the response. It is working fabulous.

[2018-07-20 17:37] #560 closed

[2018-07-21 16:36] Abu-Abdullah commented on #473
im getting the same from huawei android 8.0

[2018-07-21 22:14] RodrigoRMG commented on #105
Same erro for me on kitkat

` Didn't find class "com.google.firebase.perf.provider.FirebasePerfProvider" on path: DexPathList[[zip file`

[2018-07-23 05:49] ZebpayDipen commented on #473
I am getting below kind of error in firebase job dispatcher
executing service
zebpay.Application/com.firebase.jobdispatcher.GooglePlayReceiver

Error:
"main" tid=1 Runnable
"main" prio=5 tid=1 Runnable | group="main" sCount=0 dsCount=0
obj=0x737a0960 self=0xb8822c78 | sysTid=17779 nice=0 cgrp=default sched=0/0
handle=0xb6f4ab34 | state=R schedstat=( 0 0 0 ) utm=19868 stm=387 core=0
HZ=100 | stack=

[2018-07-23 05:56] ZebpayDipen opened #567 "executing service com.firebase.jobdispatcher.GooglePlayReceiver"
com.firebase.jobdispatcher.GooglePlayReceiver

"main" tid=1 Runnable
"main" prio=5 tid=1 Runnable
  | group="main" sCount=0 dsCount=0 obj=0x737a0960 self=0xb8822c78
  | sysTid=17779 nice=0 cgrp=default sched=0/0 handle=0xb6f4ab34
  | state=R schedstat=( 0 0 0 ) utm=19868 stm=387 core=0 HZ=100
  | stack=0xbe28e000-0xbe290000 stackSize=8MB
  | held mutexes= "mutator lock"(shared held)
  at com.googl

[2018-07-23 15:18] the-dagger opened #568 "Running TFLite model with custom operations"
Hi!
Can Firebase MLKit run TfLite models with custom operations?

The provided examples use models with built in operations but not models with custom ops.
For example, the smartreply model has 3 custom operations which gives an error while loading the Model using MLKit.

Stacktrace :
[code]
The relevant code can be found here :
https://github.com/the-dagger/MLKitAndroid/blob/master/app/src/main/j

[2018-07-24 07:21] niczm25 commented on #422
<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme" >
    <activity android:name=".MainActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />

[2018-07-24 09:20] LiuDongCai commented on #550
@samtstern
implementation 'com.google.firebase:firebase-perf:16.0.0'
It reproduce on phones without Play Services

[2018-07-24 10:07] the-dagger commented on #557
@samtstern Any tips on how folks can help the firebase team with the conversion?
Maybe starting off with the reference docs is something that we can help you out with?

[2018-07-24 15:13] samtstern commented on #557
@the-dagger we're actually going to put reference docs on hold for now and jump straight into getting Kotlin snippets alongside the Java snippets in our guides.  I will be working with one of our tech writers int the very near future to start this.

I still have to think of a plan for getting Kotlin into this repo in a maintainable way that still makes it easy to navigate.  In `snippets-android` w

[2018-07-24 16:38] the-dagger commented on #557
I see, @samtstern that makes sense.
How doing something similar to what the official Android docs do?
They have separate packages for Android and Kotlin for the docs.

<img width="360" alt="screenshot 2018-07-24 at 10 06 03 pm" src="https://user-images.githubusercontent.com/6565270/43153098-fcf7d86c-8f8d-11e8-82d4-87111d98b5c3.png">

This will however be an issue with Dart arrives later on down th

[2018-07-24 16:39] samtstern commented on #557
@the-dagger yep that's the most likely course.  Can you link me to that repo?  Also what editor/theme are you using?  Very pretty haha.

[2018-07-24 16:43] the-dagger commented on #557
Sure, here you go!
https://github.com/android/snippets

Let me know if there's a way I can help, happy to do so 🙂

For the theme, I'm using a chrome extension named Octotree, makes it super easy to browser github repos!
https://chrome.google.com/webstore/detail/octotree/bkhaagjahfmjljalopjnoealnfndnagc
<img width="357" alt="screenshot 2018-07-24 at 10 12 45 pm" src="https://user-images.githubuserc

[2018-07-24 16:55] Devajeet1995 commented on #283
sharifullahsh ...can u suggest the direct plugin for this

[2018-07-25 01:46] LiuDongCai commented on #550
@samtstern
targetSdkVersion  27

[2018-07-25 02:37] LiuDongCai commented on #550
java.lang.NoClassDefFoundError: com.google.android.gms.common.internal.zzbq
        at com.google.firebase.perf.provider.FirebasePerfProvider.attachInfo(Unknown Source)
        at android.app.ActivityThread.installProvider(ActivityThread.java:4819)
        at android.app.ActivityThread.installContentProviders(ActivityThread.java:4432)
        at android.app.ActivityThread.handleBindApplication(Act

[2018-07-25 11:08] memet569 opened #569 "white QR code"
barcode scanner can not read white barcods

[2018-07-25 15:36] samtstern commented on #569
@memet569 this is not enough information to debug, please fill out the whole template when filing an issue.

[2018-07-25 15:36] #569 closed

[2018-07-26 00:37] BestDI commented on #41
@haidarcorp Could you tell the fcm-messaging version you used?

[2018-07-26 12:37] devangichhatbar commented on #206
It seems the default shrinker has changed. Adding the configuration to turn on ProGuard seemed to work.

buildTypes {
        release {
            debuggable false
            minifyEnabled true
            useProguard true
            getDefaultProguardFile('proguard-android.txt'),'proguard-rules.pro'
        }
        debug {
            debuggable true
            minifyEnabled true

[2018-07-27 10:05] BestDI commented on #41
I have find that if the phone **battery optimization** is on, the push notification wouldn't be received after the app is closed.

[2018-07-27 17:05] samtstern commented on #524
As of version `17.0.3` timestamp is now `Parcelable`

[2018-07-28 19:06] the-dagger commented on #568
@samtstern Managed to resolve this issue by building a custom tflite build with source code for the missing custom operations (yes, I enjoyed my weekend).

Using a custom build resolved this issue, but presented me with another issue which I am clueless about.

[code]

I'm using the smartreply tfLite model which expects input as a String, but the default datatypes in TFLite only support FLOAT,INT,

[2018-07-29 04:05] candrwow opened #572 "have you plans to support rxjava2?"
Hello,I use rxjava2 in my app develop,sometimes `firebaseFunctions.getHttpsCallable("queryUserInfoByUid")
                    .call()
                    .continueWith(task -> {`
code like this,I change it by wrap rxjava,this way cause some error can  capture very well,have you plans to support rxjava2?
by use getHttpsCallable I also don't understand thread switching very well,maybe it can run not

[2018-07-29 10:18] CallumCoombes commented on #418
I have just tested this in `17.1.0` and it appears to be fixed. The icon is as defined as default in the manifest.

[2018-07-30 19:53] samtstern commented on #572
@candrwow thanks for the feedback.

We don't have specific plans for the `Tasks` library to support RxJava but we do understand the desire.

cc @aaronj1335 who would probably want to hear about this.

[2018-07-30 19:53] #572 closed

[2018-07-31 20:25] samtstern commented on #568
@the-dagger thank you for the update!  That's super cool that you managed to get a custom build going, let's see if I can find someone about that DataType 5 issue.

[2018-07-31 20:42] psanketi commented on #568
@the-dagger Thanks. Awesome that you got to build your own custom TFLite, which is needed if you want to have custom TFLite Ops.
You are right that String is not natively supported in MLKit at the moment. We should be able to add that. Let me try to get back to if we can find a workaround in the mean time using existing types.

[2018-08-01 01:46] the-dagger commented on #568
@psanketi @samtstern Thanks for the update!
I opened a (similar issue)[https://github.com/tensorflow/tensorflow/issues/21213] on TFLite github repo as well since on exploring further it turns out that even the TfLite data type only supports 4 data types.
Turns out that it currently doesn't support dynamic/static String input and output and this is something that's on the team's radar.

@psanketi W

[2018-08-01 05:01] isaisachen commented on #568
@the-dagger Thanks for reporting.

As @psanketi and @jdduke responded earlier, String is not well supported in Java APIs. It's only supported with C++ API.

Could you describe your planned use case? As of now, if you want to keep using Java APIs (ML Kit or TF Lite), you will have to modify ops to do data parsing and normalizing yourself:
1) The open-sourced smart reply implementation uses string_u

[2018-08-01 13:51] Quy-NguyenTrong commented on #492
I think that your router IP was recored in black list of GG security  , just restart router , it is working again .!

[2018-08-01 13:59] raojagannath11 commented on #492
###

[2018-08-01 14:48] the-dagger commented on #568
Hi @isaisachen thanks for the detailed explanation, it makes sense now.
As for the user case, I was just playing around with the given models in an attempt to implement the upcoming MLKit API for smart reply myself using the smart reply model.

I can do it using the C++ APIs, but I wanted to use it with Firebase MLKit for a blog I was planning to write on the same.

But anyways, I have decided to

[2018-08-01 15:40] isaisachen commented on #568
@the-dagger I see. Cool. Could you shoot a quick email to @samtstern? It's listed on his profile. Thanks.

[2018-08-01 16:33] samtstern commented on #568
@the-dagger just so you know, your comments have spawned some really productive internal conversations about how we can support use cases like yours in the future.  No concrete plans, just want to say thanks for pushing us in the right direction.

[2018-08-01 17:38] the-dagger commented on #568
@samtstern @isaisachen you're welcome, glad to be useful.

[2018-08-01 22:32] the-dagger commented on #557
@samtstern A gentle reminder on this one.
Really excited to see Kotlin support for the quickstart samples.

[2018-08-02 02:11] samtstern commented on #557
Today I sat down with our writers and hashed out a plan to get Java and
Kotlin equality on all docs.  Once that's done (will take a bit of effort)
the quickstarts are next in line!

On Wed, Aug 1, 2018, 3:32 PM Harshit Dwivedi <notifications@github.com>
wrote:

[2018-08-02 02:27] mediocreguy opened #573 "Sending Topic Messages through Legacy HTTP"
When I attempt to send a message via a topic through the HTTP legacy service, I do not get any notification on the client end.  However, if I send a test through the Notification Composer, the topic is there and the notification is received.

Any ideas?  Sending to devices is working fine.

Note - it is a little strange on the server side - the HTTP response only shows "message_id" - no other fiel

[2018-08-02 02:50] mediocreguy commented on #573
Never mind - my mistake - I was sending using the wrong application/sender id...  Sorry.

[2018-08-02 02:50] #573 closed

[2018-08-02 05:15] the-dagger commented on #557
Awesome, that sounds a plan!
Looking forward to it, should be fun haha.

[2018-08-03 14:05] candrwow opened #580 "firestore add new document performance is not very good"
I use console.log(Date.now()) to watch this code:

` resolve(db.collection("Coin").add(data));`
this is nodejs javascript in Promise,this line add a new doc need 2000ms or more,always. my function spend almost all the time on this line.can you help me how to optimize the code，thank you very much.

my firestore is in test,the collection "Coin" is new and No more than 10 doc.I feel when I use add to

[2018-08-04 02:45] cepv2010 opened #581 "Barcode Crashing in a Samsung Device"
Hi, i found this error when i read a barcode encoding in PDF147 in Samsung Devices, the error presents when execute the method **addCallbackBuffer**.

Wha can i do?.

 i appreciated if the error could be solve

[code]

[2018-08-04 20:32] Asrar-7 commented on #287
Even i am facing the same issue , unable to receive OTP for specific numbers, i really don't know whats wrong , at the beginning i had received but now its not working with me

[2018-08-05 13:47] gauravdhim1990 commented on #20
Is this possible to send a notification from FCM for background app.
I don't have my own server to store token key

[2018-08-06 16:10] samtstern commented on #581
@cepv2010 thanks for the report.  Can you show the code where you're calling `addCallbackBuffer`?

[2018-08-06 16:38] gkaldev commented on #508
Closing this issue due to inactivity. I believe the main issue has been resolved.

[2018-08-06 16:38] #508 closed

[2018-08-06 17:16] Awais914 opened #582 "Connect to Firebase failed"
I will try to connect app to firebase in android studio but every time get error:
 **Firebase: Connect to Firebase failed. Please check your internet connection and try again.**
![error](https://user-images.githubusercontent.com/40486209/43730803-06de8578-99c6-11e8-904f-f63f6c259c99.PNG)

I searched the whole internet but cannot get solution.Is there any solution.?

[2018-08-07 01:38] agustinsivoplas opened #585 "Firebase dependencies fails with Android Pie and new androidx.* package hierarchy"
I am starting a new project from the scratch. I would like to use all new libraries dependencies with new package structure. (https://developer.android.com/topic/libraries/support-library/refactor)

Unfortunately I am not able to compile the project when firebase libraries are added.

    implementation "com.google.firebase:firebase-core:$FIREBASE_CORE_VERSION"
    implementation "com.google.fireb

[2018-08-07 10:49] Awais914 commented on #582
raojagannath11 i don't know why but firebase connected with in android studio on mobile hotspot internet connection, but failed on router connection.

[2018-08-07 15:58] samtstern commented on #585
@agustinsivoplas unfortunately this is _way_ too much information to dig through.  It's very hard to know where the conflict is here.

In order to debug this we'd need a [MCVE](https://stackoverflow.com/help/mcve).  The key thing here is "minimal".  I would need to see the smallest possible set of dependencies and build options that can cause this error.

So I am going to close this issue, but her

[2018-08-07 15:58] #585 closed

[2018-08-07 17:54] beausmith commented on #464
Here is a related solution: https://stackoverflow.com/a/50930048/101290

[2018-08-07 19:17] the-dagger opened #586 "MLKit Custom Model : Provide a callback when the model was downloaded"
Hi, not sure if this is the right place to report the issue, but I've been facing a weird issue with Firebase MLKit's Custom model hosting feature.

[Firebase Hosting](https://firebase.google.com/docs/ml-kit/android/use-custom-models#host-models-on-firebase) allows us to upload the tensorflow model on Firebase instead of packaging it with the apk and Firebase downloads the model onto the user's de

[2018-08-07 19:50] samtstern commented on #586
cc @isaisachen what do you think of this feature request?

[2018-08-08 01:13] skipe777 opened #587 "getHeadEulerAngleY() Always Returns Zero"
Test Device:
  * Android device: Samsung Galaxy S7
  * Android OS version: 7.0
  * Google Play Services version: 49
  * Firebase/Play Services SDK version: 16.0.1

I am running the ML Kit Face Detection Sample project. Inside the project I modified the updateFace method of the FaceGraphic.java class to print out the orientation information from the faces.

[code]

I am running the Live Preview mod

[2018-08-08 10:34] BulatMukhutdinov commented on #4
Hi!
I need to somehow remove extras from an intent that was delivered by FCM.
1) App is closed
2) I send push notification from the fcm
3) When a user clicks on notification tray icon app starts and retrieves data from intent's extra
4) Then I want to clear these extras to prevent unexpected behavior in the future (I use intent.removeExtras())
5) After that, I click the back button (an app is clos

[2018-08-08 12:30] mohittanwar94 opened #588 "NullPointer Exception in Parsing Error while parsing timestamp in GCM event : FireBaseMessaging"
every time we fire notification without data message from server we got null pointer exception in logcat .

  * Android device:Any Device
  * Android OS version: Any OS version
  * Google Play Services version:'com.google.gms:google-services:4.0.1'
  * Firebase/Play Services SDK version: com.google.firebase:firebase-core:16.0.1
                                                              com.goog

[2018-08-08 16:21] the-dagger opened #589 "[Feature Request] Show last modified time in Firebase Storage"
Hi, opening an issue for another feature request in Firebase Storage. (Please do let me know in case there's a better way of doing this rather than creating an issue)

In firebase storage, the folders don't show the time when they were last modified or the size and hence as a result, it makes sorting and managing the data a very challenging task.

<img width="1186" alt="screenshot 2018-08-08 at 9

[2018-08-08 16:28] samtstern commented on #589
@the-dagger thanks for this.  When your feature request is not relevant to a particular platform (like the console UI one here) the best thing to do is to file a Feature Request in this form:
https://firebase.google.com/support/contact/

While I am not sure here, I think this one is surprisingly hard.  GCS doesn't really have "folders", it mostly just has objects that have paths that look like fil

[2018-08-08 16:28] #589 closed

[2018-08-08 16:50] the-dagger commented on #589
Got it, thanks for the heads, I've filled up the form!
Also, the link you shared was a good read, I definitely learnt a thing or two. Thanks for that.

[2018-08-08 22:27] samtstern commented on #536
@seventhmoon thank you!  With your help I was able to reproduce it.

[2018-08-09 09:32] tolstikhell commented on #588
+

[2018-08-09 12:24] mrkhanakia opened #590 "Quick Start Example Cloud Messaging onMessageReceived never called"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-08-09 13:28] rk6308700 opened #591 "Rebuild fails in android studio 3.1.3"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-08-09 15:50] samtstern commented on #591
@rk6308700 please fill out the issue template when filing an issue!

[2018-08-09 15:50] #591 closed

[2018-08-09 16:53] samtstern commented on #587
cc @isaisachen @gkaldev

[2018-08-09 16:57] samtstern commented on #588
Hmmm I did some digging in the source code and this seems to come from the integration between Cloud Messaging and Analytics.

@kroikie do you know anything about this?

[2018-08-09 17:06] samtstern commented on #586
@the-dagger I am going to file this internally and close it here.  Will update if I hear anything.

[2018-08-09 17:06] #586 closed

[2018-08-09 17:07] samtstern commented on #582
@Awais914 sounds like it really was an internet connection issue.  Due to that, closing this.

[2018-08-09 17:07] #582 closed

[2018-08-09 17:08] samtstern commented on #568
We've got some feature requests and bugs filed internally for this discussion.  Going to close it here as there's nothing we can do in this repo in the short/medium term.  Will update if I hear anything!

[2018-08-09 17:08] #568 closed

[2018-08-09 17:09] samtstern commented on #539
I think this was a machine config issue, haven't heard any other reports.  Closing for now, happy to re-open if anyone else can repro.

[2018-08-09 17:09] #539 closed

[2018-08-09 17:10] samtstern commented on #580
@candrwow this issue describes using Cloud Functions to write to Firestore.  This repo is for the Android quickstart, so it's not the right place to discuss this.

You may want to open an issue here:
https://github.com/firebase/firebase-admin-node

[2018-08-09 17:10] #580 closed

[2018-08-09 17:11] samtstern commented on #363
This is a pretty old issue and I believe nothing further can be done here.  Closing....

[2018-08-09 17:11] #363 closed

[2018-08-09 17:12] samtstern commented on #468
Thanks @NickSiena for posting all those useful links.

I apologize I never got around to responding here, but closing as I believe the solution(s) are presented on StackOverflow.

[2018-08-09 17:12] #468 closed

[2018-08-09 17:12] samtstern commented on #550
I believe this is the same as #536, which I was able to reproduce and we are now investigating.  Closing...

[2018-08-09 17:12] #550 closed

[2018-08-09 17:14] AhmadullahSaikat commented on #590
I also faced the same problem with firebase latest dependencies.
Any solution?

[2018-08-10 00:45] cepv2010 commented on #581
Hi, thank you for you response.

this is the code, the code is found in the class **CameraSource.java**

[code]

[2018-08-10 04:02] basel93natour opened #592 ".fetch() is not calling onComplete or onFailure"
i used the firebase remote config yesterday and it was working perfectly but today i'm facing this problem that .fetch function doesnt throw any exception but at the same time i'm not getting any response
this is my code :

       FirebaseApp.initializeApp(context)
        var mFirebaseRemoteConfig = FirebaseRemoteConfig.getInstance()

        val configSettings = FirebaseRemoteConfigSettings.Buil

[2018-08-10 04:06] basel93natour commented on #592
sorry its my fault

[2018-08-10 04:09] basel93natour commented on #592
ok i figurd out what the problem is ,the next day i was trying my application on a new device which doesnt have any google account yet so this means if the user mobile doesnt have google account the firebase wont return anything

[2018-08-10 04:09] #592 closed

[2018-08-10 07:28] vohoangtuit opened #593 "UI notification different when kill app"
i custom view notification by file xml, it only show when app opening. when close app, notification show from payload and it different with view my costom, i want to show view by xml when close app, thanks

[2018-08-10 09:48] LiuDongCai opened #594 "ANR"
[code]

[2018-08-10 12:38] shahbaz130 commented on #396
run the app on device ,not on emulator . works fine because u have google account,signed in on your device

[2018-08-10 12:54] jQrgen commented on #292
@samedson So Auto-retrieval and instant validation still _has_ to have a fallback to manual support edge cases? Or else some users will never be able to authenticate using sms?

[2018-08-10 13:25] samedson commented on #292
I believe you meant to mention @samtstern

[2018-08-10 15:02] ppamorim commented on #592
I am getting the same error. The workaround:

https://stackoverflow.com/questions/37556144/firebase-storage-firebaseapinotavailableexception-repeatedly-in-the-log-when-off

tltd; You need to include the dependency of `firebase-auth`.

[2018-08-10 15:27] kroikie commented on #590
@mrkhanakia the custom `sendNotification` method is not called in the quickstart, it is only for demonstration purposes.

In the title you mention that onMessageReceived is not being called. Could you confirm this and also include how you are sending the message?

[2018-08-10 15:32] kroikie commented on #4
@BulatMukhutdinov pressing the back button does not close the app. Your activity might be resumed with the same intent as the previous one. Maybe if you swipe your app away from the recents screen then you would have your app launch with an intent with empty extras. I would suggest having some type of check to see if the extras have already been handled so you can ignore them if so.

[2018-08-10 18:36] samtstern commented on #292
@jQrgen yes all of these fall back to manual when necessary.

[2018-08-10 18:38] samtstern commented on #594
@LiuDongCai this is not enough information to debug.  Are you getting this from Crashlytics or something?  Is this a new issue?  If so, does it correspond to an SDK update?

[2018-08-11 02:10] mrkhanakia commented on #590
Yes i know **sendNotification** method is not called but please check above code i gave i called the method manually already under **OnMessageReceived** method

[code]

[2018-08-11 02:58] BulatMukhutdinov commented on #4
@kroikie  yes, an app doesn't close, but the activity is recreated. Although I remove extras, the recreated activity still receives these extras. Is it intended behavior? How can I completely remove extras?
Sure, I can store somewhere if I have already handled extras but it seems to me as a workaround

[2018-08-13 02:15] LiuDongCai commented on #594
@samtstern
"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x72f69730 self=0x7532ac3a00
  | sysTid=17865 nice=0 cgrp=default sched=0/0 handle=0x75374189b0
  | state=S schedstat=( 1887679225 229007884 1067 ) utm=162 stm=26 core=1 HZ=100
  | stack=0x7fea58c000-0x7fea58e000 stackSize=8MB
  | held mutexes=
  #00  pc 0000000000068e18  /system/lib64/libc.so (__epoll_pwait+8)

[2018-08-13 05:00] sankar-novel opened #595 "Domain is being released. Please retry in one month."
When i try to create a domain for my dynamic link in firebase the following error  message occurs. "Domain is being released. Please retry in one month."

[2018-08-13 05:07] gerryhigh commented on #41
@gagangoku that seems to make no sense that it would work. From here https://github.com/flutter/plugins/tree/master/packages/firebase_messaging it shouldn't be supported

[2018-08-13 09:24] gagangoku commented on #41
@gerryhigh I'm not using the firebase plugin, am directly registering with firebase using native android. I guess OnePlus 5T isn't terminating the application when app is swipe closed. With my old package name, it was and I wasn't receiving firebase notifications.

[2018-08-13 09:36] Ankish commented on #563
@samtstern : https://github.com/urish/firebase-server/issues/56 will this solution work. This was posted long back and would like to know if there is still a way around to support for china.

[2018-08-13 19:06] happymark01 opened #596 "Androi firebase"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-08-13 19:25] #596 closed

[2018-08-13 21:10] SPodjasek commented on #588
There's a duplicate issue in flutter/flutter#19004 but the root cause is probably here

[2018-08-13 22:32] kroikie commented on #4
@BulatMukhutdinov this is working as intended. I believe the recents menu reuses the intent last used by the activity. As you have seen, I don't think removing the extras from the intent in the activity has an effect on the intent used to create the activity from recents menu.

Maybe in a future release we could add controls that will allow the developer to define how the launched activity is hand

[2018-08-14 02:43] mob-rockstar commented on #23
I have uninstalled app and installed again, but onTokenRefresh is never called.
I am using Firebase 11.4.2 in Android studio 3.1.4.
`classpath 'com.google.gms:google-services:3.3.0'`

[2018-08-14 07:43] wbervoets commented on #517
@isaisachen I assume roll out of 12.8.74 is complete for Huawei users now?

[2018-08-14 10:15] najeira opened #599 "Firebase SDK for Android is not open sourced"
Are there plans to make Firebase SDK for Android open source?

For iOS, it is opened: https://github.com/firebase/firebase-ios-sdk

[2018-08-14 15:07] kroikie commented on #23
@sakshamsd and @mob-rockstar could you try using the latest SDK `17.3.0` and also be sure that you are extending the FirebaseMessagingService and overriding [`onNewToken`](https://github.com/firebase/quickstart-android/blob/master/messaging/app/src/main/java/com/google/firebase/quickstart/fcm/MyFirebaseMessagingService.java#L94).

[2018-08-14 16:11] samtstern commented on #599
We are happy to say that we are working on this and making real progress, but I can't share exact timelines.

[2018-08-14 16:11] #599 closed

[2018-08-15 02:34] LiuDongCai opened #601 "警告: 无法找到类型 'GuardedBy' 的注释方法 'value()'"
Kotlin compiler
w: C:\Users\10583\.gradle\caches\transforms-1\files-1.1\firebase-iid-17.0.0.aar\1b373d571bd213bb73244c09400435c8\jars\classes.jar(com/google/firebase/iid/FirebaseInstanceId.class): 警告: 无法找到类型 'GuardedBy' 的注释方法 'value()'
w: C:\Users\10583\.gradle\caches\transforms-1\files-1.1\firebase-common-16.0.1.aar\7e380ab91344a09a19543f405de9f9c5\jars\classes.jar(com/google/firebase/FirebaseApp

[2018-08-15 08:26] LiuDongCai commented on #601
My build.gradle:

apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'
apply plugin: 'com.google.firebase.firebase-perf'
apply plugin: 'bugly'
apply plugin: 'kotlin-kapt'

[2018-08-15 11:17] umarhussain15 commented on #488
Any update on the issue?

[2018-08-15 13:40] dan-leech opened #602 "Firebase invitations: SMS 20 chars longer does not send"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-08-15 15:30] samtstern commented on #601
@LiuDongCai a few things here:

- Unfortunately nobody who maintains this repo speaks Chinese so we have to ask that all issues are filed in English.
- There's not enough information here to explain what's going on, what you expected to happen, and what code is causing the problem.

Could you please file a new issue and fill out the whole issue template and keep in mind the points above?  Thank yo

[2018-08-15 15:30] #601 closed

[2018-08-16 10:54] max-makeichik opened #603 "Non-fatal Exception: com.google.firebase.e.c"
I get these exceptions from Crashlytics:

[code]
The initialization code
[code]

[code]

project build.gradle has
`classpath 'com.google.gms:google-services:4.0.1'`
app build.gradle has
`apply plugin: 'com.google.gms.google-services`

[2018-08-16 21:44] SPodjasek commented on #588
It seems that `com.google.firebase:firebase-messaging:17.3.0` got this fixed

[2018-08-17 02:30] seventhmoon commented on #550
@samtstern
I think the recent release 16.1.0 fixed #536.
But didn't fix this. I am still having similar error report in crashlytics.
Seems the source of the problems are different.

[2018-08-17 11:31] soonsam123 commented on #231
If someone has the same problem, I was getting `getSignedInAccountFromIntent(Unknown Source)` . I had an client ID in [google cloud](https://console.cloud.google.com/apis/credentials?project=leafsoon-201022&folder&organizationId) for my website, and then I forgot to create one for my android application. I realized that I needed to create one OAuth Client ID for my android app also.

[2018-08-17 20:05] samtstern commented on #536
We've found the cause and a fix will come in a future version of the `firebase-perf` SDK.  Thanks all!

[2018-08-17 20:05] #536 closed

[2018-08-17 20:31] samtstern commented on #588
@SPodjasek thanks for following up!

[2018-08-17 20:31] #588 closed

[2018-08-17 20:32] samtstern commented on #602
@dan-leech does this depend on the number you're sending it to?  Does it reliably work with 19 characters?

[2018-08-17 20:33] samtstern commented on #595
@sankar-novel please contact [Firebase Support](firebase.google.com/support) for issues like this.

[2018-08-17 20:33] #595 closed

[2018-08-17 20:33] samtstern commented on #593
@vohoangtuit without any code, screenshots, etc it's hard to know where to begin.  I would suggest looking at some of the other FCM related issues like #4 or #89

[2018-08-17 20:33] #593 closed

[2018-08-17 20:36] samtstern commented on #594
@LiuDongCai while I do believe this is a real issue for you, it's not possible to begin fixing it unless we can *reproduce* the issue as well.

See this page for more information on how to file an actionable bug report:
https://stackoverflow.com/help/mcve

[2018-08-17 20:47] samtstern commented on #603
Hmm based on `Non-fatal Exception: com.google.firebase.e.c  ` it looks like this stack trace is proguarded which makes it pretty hard to debug.

Do you ever see this issue in a debug build?

[2018-08-17 20:50] samtstern commented on #525
Been a while since I asked for more info (although I should have been faster) so going to close this issue as stale.  Hope it was solved!

[2018-08-17 20:50] #525 closed

[2018-08-17 21:06] samtstern commented on #561
@burnermanx thanks for reporting this, I see the same behavior.  I'll go find out if this is a docs bug or a product bug.

[2018-08-20 09:54] max-makeichik commented on #603
Yes, it's in a debug build, this code is called in onStart, after super.onStart()

[2018-08-21 02:41] senamit2708 opened #606 "Android architecture components as a part of Android Jetpack is launched this year, and there is one feature name paging. How to implement it using firebase database"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-08-21 02:57] senamit2708 commented on #606
@the-dragger

[2018-08-21 07:08] Demonic217 opened #607 "Barcode Scanner not scanning anything other than QR Code on Samsung API 19"
Describe your environment

  * Android device: Samsung Galaxy Tab E(SM-t561)
  * Android OS version: 4.4.4
  * Google Play Services version: 12.8.74
  * Firebase/Play Services SDK version: 16.0.1

Describe the problem:
I'm trying to add the MLKit vision, for barcode scanning), to my application which is made to support API 19 and up. I've tried the mlkit demo app to test if it can do what I need.

[2018-08-21 11:53] fajaranugrah commented on #89
@privatejava  can you help me how to create service running on FirebaseMessagingService?

[2018-08-21 13:44] Kinchkun commented on #542
Hi,

we have the same issue. The issue arise when reading non-utf8 encoded datamatrix. In our case we are trying to read Latin1 resp. ISO 8859-1 encoded strings from datamatrix.

I think this is also the same issue: https://github.com/googlesamples/android-vision/issues/151

As suggested in the linked github issue, it would be sufficient to provide access to the raw byte array from the datamatrix,

[2018-08-21 14:44] max-makeichik commented on #603
It's a floating bug, it appears not every time, when hiding/resuming app during initialization, but we don't know the exact way.

[2018-08-21 16:39] samtstern commented on #606
@senamit2708 for "how to" questions like this it's more appropriate to file something on Stack Overflow.

We haven't built anything for RTDB, but you can read about using the Paging components with Cloud Firestore here:
https://firebaseopensource.com/projects/firebase/firebaseui-android/firestore/readme.md/

[2018-08-21 16:39] #606 closed

[2018-08-21 18:33] samtstern commented on #488
@umarhussain15 apologies I never got back to this.  We are going to update the docs now.

TL;DR you do need to add an `intent-filter` for the `firebaseapp` URL.

[2018-08-21 22:12] isaisachen commented on #517
Yes, 12.8.74 is available to everyone now.

[2018-08-22 15:31] samtstern commented on #517
Thanks @isaisachen !

[2018-08-22 15:31] #517 closed

[2018-08-22 15:31] samtstern commented on #581
According to @isaisachen this is a duplicate of #542, so let's discuss over there.

[2018-08-22 15:31] #581 closed

[2018-08-22 15:32] samtstern commented on #542
Hi all.  We have been able to reproduce this bug internally on some Samsung devices and are working on a fix, thanks for your patience.

[2018-08-22 16:41] the-dagger opened #608 "In App messaging won't compile with Cloud Firestore"
* Android device: Pixel 2 XL
  * Android OS version: 9.0
  * Google Play Services version: 4.0.0
  * Firebase/Play Services SDK version: 17.1.0

### Describe the problem:
On adding the In-App dependency with Cloud Firestore, the project doesn't build with the following error :
[code]

#### Steps to reproduce:

Add the dependencies for Cloud Firestore and In-App Messaging.
[code]

#### Expected Res

[2018-08-22 16:59] samtstern commented on #608
@the-dagger yeah this is a known issue :-/ we're working on it!  Nothing you can do besides downgrading Firestore (which may work by luck) or waiting for our next patch release.

[2018-08-22 17:44] CristiTr commented on #225
BTW if you share links from "page.link" inside some apps like Instagram(direct message) or Kik Messenger they are not seen as a link and are not clickable, this is because of '.link' tld.

[2018-08-22 17:50] the-dagger commented on #608
Got it, thanks for the heads up!

[2018-08-22 17:50] #608 closed

[2018-08-22 18:39] samtstern commented on #587
Thanks @isaisachen !

[2018-08-22 18:39] #587 closed

[2018-08-23 19:25] samtstern commented on #608
`17.0.1` has been released and should solve this!

[2018-08-23 19:51] the-dagger commented on #608
Awesome!

Best,
Harshit Dwivedi
https://harshit.app
<https://mailtrack.io/trace/link/4eb378ec1ae620fd5d6f83cf2283823aced9cfd9?url=https%3A%2F%2Fharshit.app&userId=531655&signature=6dbe406ad00a4786>

On Fri, Aug 24, 2018 at 12:56 AM, Sam Stern <notifications@github.com>
wrote:

[2018-08-24 09:05] WheelerLee commented on #41
If fcm can work like apns, it would be excellent!!!

[2018-08-25 17:54] dakdroid opened #611 "Compilation fails with androidx.databinding:databinding-compiler:3.2.0-rc02"
Error: Duplicate zip entry
There's a duplicate of Absent.java from the guava library.
Enable proguard and databinding:

[code]

I deleted unnecessary nodes here:

\--- androidx.databinding:databinding-compiler:3.2.0-rc02
     +--- androidx.databinding:databinding-compiler-common:3.2.0-rc02
     |    +--- com.google.guava:guava:23.0

+--- com.google.firebase:firebase-inappmessaging:17.0.1
|    |

[2018-08-27 23:36] samtstern commented on #611
@dakdroid what happens if you add a direct dependency on `com.google.guava:guava:23.0` in your `build.gradle`.  Does that fix it?

[2018-08-28 19:12] dakdroid commented on #611
This doesn't help and wouldn't be a fix at all.

[2018-08-29 10:29] hare989 opened #612 "App (killed) starts automagically after receiving notification"
### Step 2: Describe your environment

  * Android device: Emulators, Huawei P9 Lite, Samsung Galaxy Tab 3
  * Android OS version: 4.4.4, 5.1, 6.0, 7.0
  * Google Play Services version: com.google.gms:google-services:4.1.0
    (Also found in play-services-basement-15.0.1.aar in values.xml:
     <integer name="google_play_services_version">12451000</integer>)
  * Firebase/Play Services SDK version:

[2018-08-29 13:56] tomcalmon commented on #370
I am implementing Firebase Analytics on iOS and I really don't want to track those automatic events.

[2018-08-30 07:52] bby0856 opened #613 "Could not download protos.jar (com.android.tools.analytics-library:protos:26.1.4): No cached version available for offline mode"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-08-30 09:42] tanujraj08 opened #614 "linking facebook authentication with phone authentication"
i would like to know if i am linking face book authentication with phone no. authentication and i have done it once but after logging out and if i try to login again it will again ask for my phone no. is there any way so that when i am logging in again it remembers that i have already done phone no. authentication.by adding these feature i can also restrict user from logging in without adding phon

[2018-08-30 17:52] samtstern commented on #614
Sorry I don't quite understand what you are asking.  Could you explain the flow you want step by step?

[2018-08-31 02:04] liudongmiao commented on #370
There is a `FirebaseApp.dataCollectionDefaultEnabled`, we can set it to false in application's meta-data. (I don't check, just baksmali the sdk).

[code]

There is no document for Android's SDK. However, it's documented in iOS's SDK.

https://firebase.google.com/docs/reference/swift/firebasecore/api/reference/Classes/FirebaseApp#/c:objc(cs)FIRApp(py)dataCollectionDefaultEnabled

Could someone to c

[2018-08-31 05:14] tanujraj08 commented on #614
the thing is i want to add phone no. to a user who has logged in using facebook but before adding that phone no. i want to verify that the no. is authentic using otp. but i don't want the user to login using phone no. just verify the no.is there any way to do so in firebase

[2018-08-31 12:15] tomcalmon commented on #370
When I setted `FirebaseDataCollectionDefaultEnabled` to `NO` in my Info.plist, Firebase stopped collecting even my custom events. It's not an accepted solution!

[2018-08-31 16:25] samtstern commented on #614
@tanujraj08 in general we don't support phone number verification without signing in.

However, if you were to create a second `FirebaseApp` instance (and therefore a separate `FirebaseAuth` instance) you could get a similar effect.  Each `FirebaseApp` has its own authentication state.  So if you do phone auth on the second app, you will not disturb the sign-in state on the default app.

[2018-08-31 16:25] #614 closed

[2018-09-03 06:46] LiuDongCai opened #616 "NullPointerException: Null reference used for synchronization"
java.lang.NullPointerException: Null reference used for synchronization (monitor-enter)
	at android.os.Parcel.readException(Parcel.java:1706)
	at android.os.Parcel.readException(Parcel.java:1653)
	at android.app.ActivityManagerProxy.getContentProvider(ActivityManagerNative.java:4335)
	at android.app.ActivityThread.acquireProvider(ActivityThread.java:5779)
	at android.app.ContextImpl$ApplicationCon

[2018-09-04 22:59] samtstern commented on #557
@the-dagger @rosariopfernandes ok it's now time to start making this a reality.  But I think we need to think really carefully about how we want to do this.

Some options:

  * Create a whole new module for each quickstart in Kotlin.  So `auth` and `auth-kotlin`
  * Use a different build type / flavor for Kotlin
  * Build Kotlin and Java together and insert a first screen in the app where the user

[2018-09-05 02:28] the-dagger commented on #557
@samtstern awesome, sounds great!
I would go with the following option :

This will not only be much easier to implement, but we can also use interfaces like we did with the snippets to ensure that the Kotlin/Java code snippets are always in sync with each other.
And as a bonus, we can also easily share resources among different activities.

@rosariopfernandes your thoughts?

[2018-09-05 04:36] rosariopfernandes commented on #557
I think this

sounds good, but I'm afraid people might run into issues like [this](https://github.com/firebase/snippets-android/issues/40) and not be able to fix it due to the large amount of modules in the project.

So I agree with @the-dagger . I think creating a first screen sounds like the best option.

[2018-09-05 08:25] Vasu7052 opened #617 "Brightness is Very low in LivePreviewActivity.java in MLKIT"
When the Camera is started, Background is very dim. Is there any way to light it up as original?

[2018-09-05 11:53] djmalkar opened #618 "Scan only inside box"
Can draw rectangle over camera preview and just the image inside the rectangle should get scan and not preview outside the box

[2018-09-05 18:24] #617 closed, assigned to nobody

[2018-09-05 18:38] isaisachen commented on #618
@djmalkar You should only send a subset of the camera output byte buffer to ML Kit. As for how to get the sub-rectangle, each camera output format is different.  Like @samtstern suggested, you can ask on StackOverflow.

[2018-09-06 07:35] bigant88 commented on #487
I got the same issue, firebase does not work

[2018-09-06 22:19] samtstern opened #622 "[Internal] Translate admob app to kotlin"
See #557

[2018-09-06 22:20] samtstern opened #623 "[Internal] Translate analytics app to kotlin"
See #557

[2018-09-06 22:20] samtstern opened #624 "[Internal] Translate app-indexing app to kotlin"
See #557

[2018-09-06 22:20] samtstern opened #625 "[Internal] Translate auth app to kotlin"
See #557

[2018-09-06 22:20] samtstern opened #626 "[Internal] Translate config app to kotlin"
See #557

[2018-09-06 22:21] samtstern opened #627 "[Internal] Translate crash app to kotlin"
See #557

[2018-09-06 22:21] samtstern opened #628 "[Internal] Translate database app to kotlin"
See #557

[2018-09-06 22:21] samtstern opened #629 "[Internal] Translate dynamiclinks app to kotlin"
See #557

[2018-09-06 22:21] samtstern opened #630 "[Internal] Translate firestore app to kotlin"
See #557

[2018-09-06 22:22] samtstern opened #631 "[Internal] Translate functions app to kotlin"
See #557

[2018-09-06 22:22] samtstern opened #632 "[Internal] Translate invites app to kotlin"
See #557

[2018-09-06 22:22] samtstern opened #633 "[Internal] Translate inappmessaging app to kotlin"
See #557

[2018-09-06 22:22] samtstern opened #634 "[Internal] Translate messaging app to kotlin"
See #557

[2018-09-06 22:23] samtstern opened #635 "[Internal] Translate mlkit app to kotlin"
See #557

[2018-09-06 22:23] samtstern opened #636 "[Internal] Translate perf app to kotlin"
See #557

[2018-09-06 22:23] samtstern opened #637 "[Internal] Translate storage app to kotlin"
See #557

[2018-09-06 22:26] rosariopfernandes commented on #635
I'll be handling this one.

[2018-09-06 22:28] samtstern commented on #630
I'll take this one

[2018-09-06 22:35] samtstern commented on #635
I just started looking at `firestore` and I think the process I used for `inappmessaging` was probably too simple for the more complex quickstarts

[2018-09-06 22:43] rosariopfernandes commented on #635
I understand. Do you prefer I wait for you to make this change before I start making changes?

[2018-09-06 22:57] samtstern commented on #635
Or if you come up with something better, feel free to experiment!

[2018-09-07 02:02] rosariopfernandes commented on #631
I'm taking this one.

[2018-09-07 06:18] the-dagger commented on #625
I'll start with this one.

[2018-09-07 15:19] the-dagger commented on #622
Happy to work on this.

[2018-09-07 17:44] the-dagger commented on #627
I can start with this once my existing PRs are merged.
Looks simple enough :)

[2018-09-07 18:07] samtstern commented on #633
Reopening this because I should move to a `.java` and `.kotlin` package structure.

[2018-09-07 19:43] #625 closed

[2018-09-07 19:44] samtstern commented on #637
I'll handle this one.

[2018-09-07 19:58] rosariopfernandes commented on #626
I'll take this once my open PRs are merged.

[2018-09-07 20:51] #630 closed

[2018-09-07 21:00] samtstern commented on #633
Looks like @the-dagger got this along the way: https://github.com/firebase/quickstart-android/commit/9752be9277a0063a57d62b916455faa6930937b9

[2018-09-07 21:00] #633 closed

[2018-09-07 21:13] samtstern opened #643 "[Internal] Create a lint to make sure java classes are not imported from kotlin classes"
When converting to kotlin it's very easy to get crossed imports.

If we see a package `foo.kotlin`, none of the code in there should import from `foo.java`

[2018-09-07 21:52] #631 closed

[2018-09-07 21:54] the-dagger commented on #643
@samstern how are you planning on implementing this?
As some sort of style check or baked into the default lint check?

[2018-09-07 22:52] rosariopfernandes commented on #636
I'll handle this one.

[2018-09-07 23:47] samtstern commented on #643
I think this could be implemented inside the `internal` module and exported as `lintChecks`.

I have only done a custom lint check one time, and that's in FirebaseUI-Android.  I may try to copy from that, but I don't actually know if that's the easiest way.

But anyway yeah I can tackle this one, unless you really want to do it just for learning purposes.

[2018-09-07 23:56] the-dagger commented on #643
I wanted to explore this as I've not done something like this before.
Can you share the relevant code you did in FirebaseUI?
I can use that as reference and try to fix this one by myself and if things hit the fan you can take over.

How does that sound?

[2018-09-08 00:15] samtstern commented on #557
@rosariopfernandes @the-dagger you two are ridiculously productive.  Thank you for all the coding and reviewing today.  I'm going to leave for the weekend now, so I will pick this back up on Monday morning.

**SO** excited to see Kotlin happening here.  Without your help it would have taken a long time and the code quality would be lower.

[2018-09-08 06:58] samtstern commented on #643
Sgtm!  Here's an example lint check in FBUI:
https://github.com/firebase/FirebaseUI-Android/blob/master/internal/lint/src/main/java/com/firebaseui/lint/FirestoreRecyclerAdapterLifecycleDetector.kt

There are others in that folder as well.  We did some really strange
packaging tricks to be able to hide our lints from library users but you
won't have to do any of that.

On Fri, Sep 7, 2018, 4:57 PM

[2018-09-08 18:59] dan-leech commented on #602
@samtstern
I've tested it with USA number and two Russian numbers. The problem is the same.
Yes short messages send successfully. (I noticed this message only today, and doubt a bit about exact length. I set 19 and it work well. But with long message as in example it doesn't.)

[2018-09-09 11:28] the-dagger commented on #634
Can work on this next, easy enough!

[2018-09-09 19:45] kchandawat commented on #368
Solution plz sir?.....

[2018-09-09 21:45] shs442000 opened #649 "Save and Deleting temporary Data from Firebase ?"
simply i want to create a Tow-player questions game the first one who invites and creates the room and prepare all questions on the client side and the second will accept the invite and once the game has ended i dont need these questions anymore .. So What I supposed to do ?

Should I upload the data to RealtimeDatabase and fetch it to the other player and once the game has done the data will be d

[2018-09-10 08:59] mahsanasseri commented on #412
I Found my solution:
install the latest version Appium v1.9.0
The error was still there,
..” Security exception: Permission Denial..”.
and the solution was in this link:
[](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/android/activity-startup.md)
in Command Prompt:
**adb shell am start -W -n com.myfixedpackage/.myfixedactivity.MainActivity -S -a android.intent.action

[2018-09-10 17:57] alexd555 opened #650 "Login"
Hi,

I can't find the code of login.
Could you point ?
https://github.com/firebase/quickstart-android/tree/master/firestore

[2018-09-10 19:35] #626 closed

[2018-09-10 19:35] #627 closed

[2018-09-10 19:38] #637 closed

[2018-09-10 19:39] #622 closed

[2018-09-10 19:40] samtstern commented on #628
Will take this one.

[2018-09-10 19:42] #634 closed

[2018-09-10 21:11] #636 closed

[2018-09-10 21:14] samtstern commented on #629
On it

[2018-09-10 21:16] samtstern commented on #650
The firestore quickstart uses the FirebaseUI library for sign in, it's called here:
https://github.com/firebase/quickstart-android/blob/master/firestore/app/src/main/java/com/google/firebase/example/fireeats/java/MainActivity.java#L267

To learn more about the library:
https://firebaseopensource.com/projects/firebase/firebaseui-android/auth/readme.md/

[2018-09-10 21:16] #650 closed

[2018-09-10 23:13] rosariopfernandes commented on #623
Looks like a simple one. I'll take it.

[2018-09-10 23:43] rosariopfernandes commented on #632
:space_invader: Taking this one with no invitation, haha

[2018-09-11 06:04] the-dagger commented on #624
Will take on this one.

[2018-09-11 09:49] wslaimin commented on #536
@samtstern
crash immediately，when no google play service

FATAL EXCEPTION: pool-4-thread-1
Process: com.addcn.car8891, PID: 2474
java.lang.SecurityException: Failed to find provider com.google.android.gsf.gservices for user 0; expected to find a valid ContentProvider for this authority
    at android.os.Parcel.readException(Parcel.java:1942)
    at android.os.Parcel.readException(Parcel.java:1888)

[2018-09-11 09:50] rahuldevanavar91 opened #656 "Firebase inApp messaging gradle failed"
`com.google.firebase:firebase-inappmessaging-display:17.0.1`
after adding this dependency I am getting the following  error

[code]

I already have
`"com.google.firebase:firebase-core:16.0.3"
`

[2018-09-11 12:49] alexd555 opened #657 "login with facebook"
HI,

I done all configuration but I got error:
"Given URL is not allowed by the Application configuration.: One or more of the given URLs is not allowed by the App's settings. It must match the Website URL or Canvas URL, or the domain must be a subdomain of one of the App's domains."

I google it and I need to add platform.
When I add android platform then I need to enter hash.
keytool -exportcert

[2018-09-11 15:59] samtstern commented on #656
@rahuldevanavar91 could you show me a few things:

  * All of your dependencies
  * The `gradle.properties` file from your project

I am looking for either a conflicting dependency or an optional tool that may be causing this issue.

[2018-09-11 16:51] #632 closed

[2018-09-11 19:07] the-dagger commented on #586
@samtstern curious if this one had any updates from the team?

[2018-09-11 19:12] samtstern commented on #586
@the-dagger nothing to share yet, sorry!

[2018-09-12 06:28] StevenWT opened #664 "Console always show retry in China even I had used VPN."
When I open the website about Firebase console, it always shows retry in China even I had used VPN. The follows is the request and response。Who can tell me what am I wrong.

Request URL: https://mobilesdk-pa.clients6.google.com/v1/projects?key=AIzaSyDovLKo3djdRbs963vqKdbj-geRWyzMTrg
Request Method: GET
Status Code: 400
Response:
{
  "error": {
    "code": 400,
    "message": "Bad request: Origin d

[2018-09-12 08:12] StevenWT commented on #664
It is because of my network. If I change my VPN, it had been fine. Thanks.

[2018-09-12 08:12] #664 closed

[2018-09-12 15:37] #628 closed

[2018-09-12 17:28] alexd555 commented on #657
Please help me.

[2018-09-12 18:26] samtstern commented on #657
@alexd555 looks like you're getting an error message from Facebook explaining what you need to do, so I don't think this is an issue with the quickstart.  Have you tried asking on StackOverflow?

[2018-09-13 21:01] #624 closed

[2018-09-13 21:05] samtstern commented on #656
@rahuldevanavar91 one thing that stands out to me is this:

[code]

You're using the Java client for `google-cloud-storage` on Android which is not recommended and is likely the cause of your issue.

Is there a reason you are using this instead of Cloud Storage for FIrebase?https://firebase.google.com/docs/storage/android/start

[2018-09-13 21:05] samtstern commented on #649
@shs442000 apologies we did not get back to you sooner.  This type of question should either be asked on StackOverflow or the firebase-talk Google Groups mailing list.  Good luck!

[2018-09-13 21:05] #649 closed

[2018-09-13 21:07] samtstern commented on #616
Thanks @jkasnicki for jumping in.

@LiuDongCai we always appreciate your bug reports, but they generally seem to be just pasted stack traces. I assume you're getting them from Crashlytics or similar.

Without clear steps to reproduce (or at least a code snippet from your app that causes thre crash) there is nothing we can do to help you!

Closing this issue since it's been ~9 days since @jkasnicki

[2018-09-13 21:07] #616 closed

[2018-09-13 21:09] samtstern commented on #612
This sounds like the issue to me.  No part of your app can run without the `Application` being initialized.  If your `Application` class is launching an activity, that will happen at some pretty random times!

I suggest removing that logic from your `Application` class, this doesn't sound like a bug with FCM.

[2018-09-13 21:09] #612 closed

[2018-09-13 21:10] samtstern commented on #611
@dakdroid are you still having this issue?  Apologies for my late response.  If you are can you please paste the error message you're getting?

[2018-09-13 21:12] samtstern commented on #516
@ErdincOzdemir closing due to no recent response in this conversation, but let me know if you're still seeing this and want to discuss more!

[2018-09-13 21:12] #516 closed

[2018-09-13 21:15] #657 closed

[2018-09-14 05:08] rahuldevanavar91 commented on #656
even after removing
[code]
Still, I am getting the same error
Program type already present: com.google.thirdparty.publicsuffix.PublicSuffixType

[2018-09-14 15:30] #635 closed

[2018-09-14 15:35] samtstern commented on #557
It's done!

@rosariopfernandes @the-dagger I can't say enough good things about your work here!  Not only is this a big win for Firebase developers, but I learned a ton about Kotlin from working with you.

**THANK YOU**

![ezgif-5-93ec62c484](https://user-images.githubusercontent.com/8466666/45560129-2167f180-b7f9-11e8-996b-f038a569098e.gif)

[2018-09-14 15:35] #557 closed

[2018-09-14 15:43] the-dagger commented on #557
Always a pleasure, working on this was a lot of ```fun``` :D

<img width="616" alt="screenshot 2018-09-14 at 9 12 56 pm" src="https://user-images.githubusercontent.com/6565270/45560519-f7e3b000-b862-11e8-9c25-0b16ae260a7a.png">

[2018-09-14 18:07] rosariopfernandes commented on #557
Woo hoo! :tada:
It's always a pleasure to help Firebase Developers and I've also learned a lot from you guys.
I just realized we've all been working on different timezones :sweat_smile: and it's amazing what we've accomplished in just a few days.

Now I can't wait to see the Kotlin Docs on the Firebase site!

_Dread it, Run from It, Kotlin still arrives_ :sparkles:

[2018-09-14 19:41] samtstern commented on #557
Kotlin docs on firebase.google.com are (thanks to this work) no longer blocked by anything.  Unless something goes wrong we'll start adding Kotlin one product at a time over the next few weeks.

[2018-09-14 19:52] samtstern commented on #656
@rahuldevanavar91 I am not able to reproduce this on my machine, here's my whole `app/build.gradle`:

[code]

Do you see any differences from yours?  It would be most helpful if you could create a small project (little or no code) that demonstrates this issue and send it over as a `zip` or a GitHub repo.

[2018-09-15 11:22] jaykeerti opened #668 "is there code snippet for Text Detection on Video Feed using android?"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-09-15 11:50] serzh2u opened #669 "EXCHENDGE - 2018"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-09-15 12:12] serzh2u opened #670 "EXCHENDGE - 2018"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
    * If you are filing an issue about **FCM in the background** make sure to read [#4](https://github.com/firebase/quickstart-android/issues/4) and [#89](https://github.com/firebase/quickstart-android/issues/89) first!
  * For general technical questions, pos

[2018-09-16 19:03] madlabman commented on #539
I have a similar issue. It caused by using Java 9 instead of 8.

[2018-09-17 04:38] iiShadow opened #671 "Apk firebase-*.properties Files"
### Step 1: APK Analyzer firebase.properties Files? How to remove it？

![image](https://user-images.githubusercontent.com/6167082/45606228-e7efea00-ba75-11e8-8dde-5bee07aac9fe.png)

### Step 2:

  * Android device: Xiaomi
  * Android OS version: 8.1.0
  * Google Play Services version: 15.0.1
  * Firebase/Play Services SDK version: 16.0.1

[2018-09-17 07:11] dakdroid commented on #611
@samtstern
`Warning: Exception while processing task java.io.IOException: Can't write [/Users/stefanpledl/Android/LocalCast/localCast/build/intermediates/transforms/proguard/playstore/release/0.jar] (Can't read [/Users/stefanpledl/Android/LocalCast/dynamic_feature_cloud/build/intermediates/merged-classes/release/classes.jar(;;;;;;;**.class)] (Duplicate jar entry [com/google/common/base/a.class]))`

[2018-09-17 11:35] febimfelix opened #672 "Unknown api exception 4 while creating Firebase Short Dynamic link"
* Android device: _____Samsung & Motorola
  * Android OS version: _____Both Nougat & Marshmallow
  * Google Play Services version: _____15.0.1
  * Firebase/Play Services SDK version: _____16.0.3

This is the error i am getting when i try to create a short dynamic link.
com.google.android.gms.common.api.ApiException: 8:

[code]

[2018-09-17 13:14] Sub-Zero-1 opened #673 "Can't compile firebase-inappmessaging-display"
Hi,

I'm not able to compile:  'com.google.firebase:firebase-inappmessaging-display:17.0.1'

I get following error messages:

Caused by: java.lang.RuntimeException: com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:

Caused by: com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:

Module(App):
[code]

(App):
[code]

Removing:

[2018-09-17 15:41] #669 closed

[2018-09-17 18:22] samtstern commented on #673
@Sub-Zero-1 can you post the full error you're getting?  I want to see what the `DexArchiveMergerException` is.

[2018-09-18 11:30] Sub-Zero-1 commented on #673
That's all i have:

`org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:transformDexArchiveWithDexMergerForDebug'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:100)
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:70)
	at org.gradle.api.in