[2016-05-18 19:17] samtstern opened #1 "Could not find com.firebaseui:firebase-ui-database:0.4.0."
This is a known issue, firebase-ui-database is currently propagating to jCenter and should be available by the end of the day.

If you want to try the sample sooner, you can [install FirebaseUI locally](https://github.com/firebase/FirebaseUI-Android#installing-locally).

[2016-05-19 08:54] WanClem opened #3 "Error Failed to resolve: com.google.firebase:firebase-auth:9.0.0"
Help.I need to migrate my code base.Am so madly in love with the new firebase features.I followed all the instructions by altering all my build.gradle files in android studio just to start using the new features but this is what I keep getting...`Error Failed to resolve: com.google.firebase:firebase-auth:9.0.0`,`Error Failed to resolve: com.google.firebase:firebase-database:9.0.0`.Please help..Tha

[2016-05-19 15:12] ckarthikv opened #4 "Custom Notifications when app is in background or killed"
Hi,

I'd like to implement custom notification styles when app is in background or is killed. Is there a Firebase broadcast receiver class one could extend to implement the same? Would be very helpful. Thanks.

[2016-05-19 15:14] samtstern commented on #1
Fixed.

[2016-05-19 15:14] #1 closed

[2016-05-19 20:30] samtstern commented on #4
@ckarthikv could you clarify this question a little bit?  Are you trying to show different notification styles when your app is in the background versus when your app is running in the foreground?

[2016-05-19 20:30] samtstern commented on #3
The `9.0.0` versions of the `com.google.android.gms:*` and `com.google.firebase:*` packages were just released in the SDK manager so it's likely you just need to update.

In Android Studio:

  - Click **Tools** > **Android** > **SDK Manager**
  - Click into the **SDK Tools** tab
  - Select and install **Google Play Services** (rev 30) and **Google Repository** (rev 26).  See the image below.
  - *

[2016-05-19 20:30] #3 closed

[2016-05-19 22:15] ashokmachineni commented on #4
Hi,
When i tried to implement this notification i get error like
Error:(28, 0) Plugin with id 'com.google.gms.google-services' not found.

[2016-05-19 22:23] WanClem opened #6 "Unable to load your database"
Am having an Issue.Am migrating from the legacy console to the new console.But after the migration I keep getting _Unable to load your database_.Am I doing something wrong.Pls help.Thanks

[2016-05-20 05:55] ckarthikv commented on #4
@samtstern - Yes, we wanted to implement custom notification styles like Big Picture style, etc, when the app is in background or when the app is killed. I believe the notifications would be working through a broadcast receiver?

Would be great if you could point me in the right direction so that one could intercept all kinds of messages (probably by extending the FirebaseBroadcastReceiver class)

[2016-05-20 06:41] #6 closed

[2016-05-20 16:39] frostymarvelous commented on #4
Same problem. The icon being used is not what I want.
It is using the launcher icon while but the new guidelines require that we use a white on transparent icon. Also, the color is wrong.
I can't seem to find any way to customize this looking at the available methods.

Any help?

[2016-05-20 18:43] samtstern commented on #4
@ckarthikv you can see this example of [FirebaseMessagingService](https://github.com/firebase/quickstart-android/blob/master/messaging/app/src/main/java/com/google/firebase/quickstart/fcm/MyFirebaseMessagingService.java) which is where your app can receive FCM messages and react.  This is a good place to create notifications.

Telling if your Activity is in the foreground (and reacting differently

[2016-05-20 18:44] samtstern commented on #4
@frostymarvelous when you send a notification from the Firebase console is uses your app icon by default, and the Android system will turn that icon solid white when in the notification bar.

If you are unhappy with that result you should implement FirebaseMessagingService and create the notifications manually when you receive a message.  We are working on a way to improve this but for now that's

[2016-05-20 19:22] frostymarvelous commented on #4
@samtstern Both comments are incorrect.

Custom messaging service is only called when the app is in the foreground.

Android does not turn the icon white. It keeps its color.

I've already implemented FirebaseMessagingService for my app when it's in the foreground.
What we are asking for is how to handle it when it's in the background.

I don't understand why the notification is created automatica

[2016-05-20 19:29] samtstern commented on #4
@frostymarvelous the behavior you are seeing sounds like a bug, in my apps the FirebaseMessagingService is definitely called when the app is in the background.

As far as the icon color, on recent versions of Android the system applies a white mask to the icon.  What sort of device do you have and what version of Android is it running?

[2016-05-20 19:46] frostymarvelous commented on #4
An S6 running 5.1.1.

I think your behavior is the bug.

From the docs

"When your app is in the background on a user's device, notifications are
delivered to the system tray. When a user clicks on the notification, the
app launcher opens your app. If you want, you can also add client message
handling to receive notifications in your app when it is already in the
foreground on the user's device."

[2016-05-20 20:30] samtstern commented on #4
Sorry @frostymarvelous I misunderstood your situation, you are correct.  When you send a notification **from the Firebase console** and your app is in the background it cannot be customized.

If you want custom background notifications you should use the FCM API to send data messages to your app and handle them in the FirebaseMessagingService where you can decide how the notification should look.

[2016-05-20 20:41] frostymarvelous commented on #4
If that works, then I'm good.
I thought it behaved the same across.

Thanks a lot for your help.
If you're part of the team, then thanks for your hard work as well.

On Fri, May 20, 2016, 8:30 PM Sam Stern <notifications@github.com> wrote:

[2016-05-20 20:49] samtstern commented on #4
@frostymarvelous ok thanks for your patience while I figured out what was going on.

Please feel free to open issues if you try this approach and have questions.  Good luck!

[2016-05-20 20:49] #4 closed

[2016-05-21 13:31] VihaanVerma89 opened #7 "Firebase database getInstance crashes app"
When running the sample after creating google-service.json the app crashes when trying to get database reference in SignInActivity

`        mDatabase = FirebaseDatabase.getInstance().getReference();`

[code]

[2016-05-21 14:07] kaushikb1996 opened #8 "FirebaseMessagingService Custom notifcations/other tasks when app is in backgorund"
# ISSUE FIXED

~~I have switched from gcm to firebase messaging and I regret it now.~~

~~I know it clearly states in documentation that Notifications delivered when your app is in the background. In this case, the notification is delivered to the device’s system tray.~~
~~A user click on a notification opens the app launcher by default.~~

~~But onMessageReceived is not called when the app is bac

[2016-05-21 17:23] VihaanVerma89 commented on #7
http://stackoverflow.com/questions/37363791/firebase-database-getinstance-crashes-app?noredirect=1#comment62244072_37363791

[2016-05-21 17:23] #7 closed

[2016-05-21 18:22] samtstern commented on #8
@kaushikb1996 thanks for the feedback, you are right that this has confused a few people so far.  I will pass it on to the team.

[2016-05-21 18:22] #8 closed

[2016-05-21 23:48] biagionicp opened #10 "google-services.json is missing"
where is the google-services.json for the messaging project?

[2016-05-22 00:34] samtstern commented on #10
You have to visit the Firebase Console at console.firebase.google.com and
follow the steps to add an Android app in order to get a google-services
json file.  Use the package name for the sample app when prompted.

On Sat, May 21, 2016, 4:49 PM biagionicp <notifications@github.com> wrote:

[2016-05-22 02:19] #10 closed

[2016-05-22 02:19] biagionicp commented on #10
got it. thanks

[2016-05-22 02:50] biagionicp opened #11 "subscribe to topic button not creating a topic in the firebase console"
In the messaging quickstart app, the subscribe to news button is suppose to create a "news" topic in the firebase console, but even after I click it, the firebase console still shows the "This project does not have any topics" message when I click the topic bubble.

I can send notifications when I click the "User segment" button and when I click the "Single device" button. So firebase is aware of

[2016-05-22 02:56] samtstern commented on #11
I believe there is a delay in topics appearing in the console, possibly up
to 24h.  I have heard a number of users confused by this so I'll bring the
feedback to the console team.

Could you see if this issue persists tomorrow?

On Sat, May 21, 2016, 7:50 PM biagionicp <notifications@github.com> wrote:

[2016-05-22 14:21] biagionicp commented on #11
still no topics

[2016-05-22 16:59] biagionicp commented on #11
now the "news" topic is appearing... 14 hours later

[2016-05-23 02:56] Neno0o opened #12 "Get facebook user's info"
I have no clue about getting user's facebook info from the current Firebase version. In old versions, onAuthenticated callback function had AuthData object which used to get user's info. How can this be done now?

[2016-05-23 07:11] nycodes9 opened #13 "Email not appearing for FirebaseUser when used with GoogleSigninActivity"
This may have been inherited from FirebseAuth, when logging in with Google account the firebase user email is empty/null.
Seems we have to manually update email whereas photo Url is seamlessly picked up by firebase user !

Till few days ago (com.firebase) when users were added with google sign-in, email was added automatically as seen on users console.

[2016-05-23 11:49] yokei15 opened #14 "V/FirebaseCrash: Firebase Crash Reporting is disabled."
HI,
Im facing this type of issue,can you help me how to rectify, how to make enable firebase crash reporting.,this my error in logcat

V/FirebaseCrash: Firebase Crash Reporting is disabled.
E/FirebaseCrash: Failed to initialize crash reporting
com.google.firebase.crash.internal.zzg$zza: com.google.android.gms.internal.zzqi$zza: No acceptable module found. Local version is 0 and remote version is 0

[2016-05-23 12:21] vrjgamer opened #15 "Firebase database Persistence not working"
I m not able to enable the presistence, see here i m doing this as per the new api

`
public class App extends Application {
    @Override
    public void onCreate() {
        super.onCreate();
        FirebaseDatabase.getInstance().setPersistenceEnabled(true);
    }

}
`

but still its not working, its crashing and giving error:

                                                   Process: com.vrj

[2016-05-23 14:18] samtstern commented on #15
@vrjgamer `FirebaseApp` is initialized by a `ContentProvider

[2016-05-23 14:22] #15 closed

[2016-05-23 14:22] samtstern commented on #14
@yokei15 are you running on a device or emulator?  What is the version of Google Play Services on your device?

[2016-05-23 14:23] samtstern commented on #11
@biagionicp glad to see this was resolved, I will close this issue and file some internal feedback.

[2016-05-23 14:23] #11 closed

[2016-05-23 15:49] samtstern commented on #13
@nycodes9 can you try the following steps:

  * Uninstall the app
  * Re-install the app
  * Go directly to GoogleSignInActivity
  * Sign in

Is the email still null in that case?

[2016-05-23 15:53] frostymarvelous opened #16 "NullPointerException in FirebaseMessagingService"
I got this crash today. First day in production.
The crash report is from Crashalytics.

[code]

[2016-05-23 16:55] morphine9 commented on #13
Yes tried all variations - with no different outcome.

[2016-05-23 17:30] kroikie commented on #8
This is expected behaviour, the behaviour has not changed between GCM and FCM. Notification messages only get handled by the receiver callback when the app is in the foreground. Otherwise the notification is sent to the notification center and if tapped any data sent along with the notification message will be available in the intent extras of the intent fired when the notification is tapped. The

[2016-05-23 17:50] ianbarber commented on #16
This may be due to a device having an old version of Google Play services, but that's not a great error regardless. Are you seeing a high volume?

[2016-05-23 17:58] kaushikb1996 commented on #8
@kroikie I firstly appreciate that you are taking our feedback seriously : )

I now know that this is the expected behavior but the issue is earlier in GCM I didn't we know that there was a console to send notifications but since your improved UI in firebase, creating notifications from console is very simple as a result I got confused and thought it was similar to testing with api, so more emphas

[2016-05-23 19:24] frostymarvelous commented on #16
Just one crash from one user.
I'm not closing the app when play services is not available so that could
be it.

Thanks.
On May 23, 2016 6:11 PM, "Ian Barber" <notifications@github.com> wrote:

[2016-05-23 23:41] kroikie commented on #16
While checking for Google Play services would be good, I think this case is a result of the device in question not having the correct version of Google Play services. I have notified the team and they are looking into it.

[2016-05-23 23:41] #16 closed

[2016-05-24 00:22] samtstern commented on #13
@nycodes9 @morphine9 are you requesting email in your `GoogleSignInOptions`?

@iainmcgin do you know of a situation where email would be null from Google Sign In?

[2016-05-24 00:26] samtstern commented on #12
@Neno0o which information are you looking for?  Email, name, and profile photo should all be provided by the `FirebaseUser` object which you can access either from `AuthResult` or by calling `FirbaseAuth.getCurrentUser()`.

[2016-05-24 08:14] vrjgamer commented on #15
Thanks that was really helpful, it fixed my issue

[2016-05-24 08:48] yokei15 commented on #14
@samtstern Am running in Device... Play service version is 8.3.01

[2016-05-24 11:38] so2ju opened #17 "Gradle compile missing"
I had to add this line to my module gradle :
`compile 'com.google.android.gms:play-services:9.0.0' `
in order to compile code.

[2016-05-24 14:03] samtstern commented on #14
In that case this is the expected behavior. You will need play services
version 9.0.82 or higher.

On Tue, May 24, 2016, 1:48 AM yokei15 <notifications@github.com> wrote:

[2016-05-24 15:16] samtstern commented on #17
@so2ju

1. Can you provide some more details?  Did you have to add this to one of the sample apps in this repository or to your own app?

1. You should not use the `com.google.android.gms:play-services` target because it will make your APK very large and increase your dex method count.  For Firebase please see [this list](https://firebase.google.com/docs/android/setup#available_libraries) of libra

[2016-05-24 16:37] so2ju commented on #17
Hi Sam
Thanks for your answer.
I'm using Github sourcode, but copy pasting each file. I missed to paste
compile line for messaging. Sorry.

I changed as suggested and compiled and app started.

Despite it runs I'm not able to receive any notification sent from firebase
console in my app.
[image: Imágenes integradas 5]

I successfully gets Firebase instance id token, also it subscribes to
topic. Pl

[2016-05-24 16:40] samtstern commented on #17
@so2ju topic names take a while to appear in the Firebase console.  Right now it could be up to 24 hours, we hope to get it down to ~4 hours in the future.  Your topic subscription likely did succeed and you should be able to send a message to the topic using the REST API if you want to test immediately.

I am going to close this issue because I believe everything is working as intended.  Please r

[2016-05-24 16:40] #17 closed

[2016-05-24 16:50] so2ju commented on #17
Hi Sam
Thanks for your answer!

As topic isn't available I sent messages one to one by using token from
Firebase Console.
I did not receive nothing on App.

What could be happening? Or the App is only for topics?

Regards

2016-05-24 13:40 GMT-03:00 Sam Stern <notifications@github.com>:

--
Pregunta: *Cuando buscás un comercio o empresa, ¿Qué es lo primero que
hacés?*

Respuesta: *Busco en Google*

[2016-05-24 16:56] samtstern commented on #17
@so2ju is the app in the foreground or background?  Notifications from the Firebase console will only show up automatically when your app is in the background.

[2016-05-24 17:01] samtstern commented on #14
Closing as intended behavior, if you can reproduce this on a device with Google Play Services >= 9.0.82 please re-open.

[2016-05-24 17:01] #14 closed

[2016-05-24 17:03] Svoka commented on #4
@samtstern I can't find an example of FCM API and how to manage the custom icon.
Do you have an example of this? I'm new to cloud messaging and I only find that there is a parameter **icon**, but no details how to implement it in my app
Thank you!

[2016-05-24 17:26] samtstern commented on #4
Here is [the documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref#notification-payload-support) for sending Notification messages.

The `icon` parameter can be used to specify a drawable within your app.  If you want to use `R.drawable.foo`, just pass `foo`.

[2016-05-24 17:27] so2ju commented on #17
Hi Sam
I put the app in background but did not work neither.

Regards

2016-05-24 13:57 GMT-03:00 Sam Stern <notifications@github.com>:

--
Pregunta: *Cuando buscás un comercio o empresa, ¿Qué es lo primero que
hacés?*

Respuesta: *Busco en Google*

*Visita www.sojumobile.com <http://www.sojumobile.com> , no  te quedes
afuera.*

[2016-05-24 18:40] so2ju commented on #17
Hi Sam
I found the Issue and now I'm able to receive Notifications from Firebase
Console!

When I created  the Project on Firebase console, by mistake I wrote
*som*.sojuapps.firecm
instead of *com*.sojuapps.firecm and manually edited google-services.json
file.

I created a new package with correct package name and now it works.

Thanks for your time!
Regards

2016-05-24 14:26 GMT-03:00 Juan Pablo

[2016-05-24 18:44] DagobertDokate opened #18 "Google Login not working with Note 4 (6.0.1)"
After i get a valid token from google auth, auth at the firebase backend fails.
This happend on my Note 4 with 6.0.1. I have no problems with the emultar, S3, A3 and S3 mini.
Any suggestions?

lg.

[2016-05-24 19:20] Svoka commented on #4
@samtstern thank you for the doc link, really helpfull.

Console has custom params when sending a message,
must the custom icon work there too? ( In my test this is still the app icon, but I can do something wrong)

[2016-05-24 19:30] samtstern commented on #17
@so2ju glad you got it working!

[2016-05-24 20:01] frostymarvelous commented on #4
It will only work if your app is in the foreground. Otherwise, you have to
use the the api.

On Tue, May 24, 2016, 7:48 PM Artem Osipov <notifications@github.com> wrote:

[2016-05-24 20:02] samtstern commented on #4
As far as I am aware it is not possible to customize the icon through the
console right now, but that is a high-priority feature for us going forward.

On Tue, May 24, 2016 at 12:48 PM Artem Osipov <notifications@github.com>
wrote:

[2016-05-24 20:58] kroikie commented on #4
The key value pairs currently available in the Firebase composer are for data message values only.

[2016-05-24 20:59] frostymarvelous commented on #4
Do we need to customize it through console? Can't we just add it as a
config parameter? Thanks would be better
Don't forget the colors as well please?

Once again, thanks for the great job you all are doing!

On Tue, May 24, 2016, 8:47 PM Sam Stern <notifications@github.com> wrote:

[2016-05-24 21:41] hamidsani opened #19 "FriendlyPing"
I know this is not a place to ask for example requests but I was working on updating the [friendlyPing](https://github.com/googlesamples/friendlyping) application to use Firebase messaging to get myself familiar with it but I ran into a few different issue with parsing the data. If by any chance you could update that sample to use Firebase messaging that would be highly appreciated. Mostly because

[2016-05-24 21:42] kroikie commented on #4
It would have to be through the console since the client side handler does not reference any of your specified remote config parameters.

[2016-05-24 22:05] frostymarvelous commented on #4
Well, I thought  that would work through the Configuration in the
Application class. I wonder how that would work since we can't tell the
value of whatever R.drawable.foo will be.

On Tue, May 24, 2016, 9:51 PM Arthur Thompson <notifications@github.com>
wrote:

[2016-05-25 00:33] Neno0o commented on #12
thanks, sorry my bad.

[2016-05-25 00:33] #12 closed

[2016-05-25 00:46] #19 closed

[2016-05-25 02:36] despisedIcon commented on #4
I'm having a similar issue getting the notifications customized. I'm **not** using the console at all - only making API calls. When app is in foreground notifications get handled by my custom FirebaseMessagingService, but when in app is in the background notification displays solid white icon and ignores any specified payload support parameters (icon, color etc).

Please advise whether this is exp

[2016-05-25 07:06] hablema opened #20 "FCM when app in background"
Hi,

The FCM works fine when the app is in foreground and a push comes, but when the app is in background and the system tray notification is clicked , it just opens up the app without passing any intent extras. I have added the `click_action` in Notification Payload from Advanced option of Firebase Console to open an activity but it dosen't work. I have also added the intent-filter ( handle backg

[2016-05-25 07:16] yokei15 commented on #14
Thank you its working after updating Google play service @samtstern

[2016-05-25 08:26] Svoka commented on #4
@despisedIcon I have the similar problem, but I set it in the data section and it must be in the notification.
Like this:

   `'to' => '_PHONE_ID_',
   "notification"=>array(
        'title'=>"Test",
        'body'=>"Test2",
        "icon"=>"ic_stat_ic_notification"  // R.drawable.ic_stat_ic_notification
    )`

[2016-05-25 09:48] morphine9 commented on #13
`GoogleSignInOptions gso = new GoogleSignInOptions.Builder(
                GoogleSignInOptions.DEFAULT_SIGN_IN)
                .requestIdToken(getString(R.string.default_web_client_id))
                .requestEmail()
                .requestProfile()
                .build();`

[2016-05-25 10:27] MariusBudin commented on #18
Migrated my login with FB, Twitter and Google to the new API and I have a similar issue.
Can't get it to work with Google, all the other providers seem to work as expected.
My problem is after selecting the account, I get a null `account.getIdToken()` , not sure if related

[2016-05-25 12:08] DagobertDokate commented on #18
hm... i get a token with `account.getIdToken()`.

This is the method which failed. The task not return successful.

[code]

[2016-05-25 16:04] kroikie commented on #20
Hi hablema, thanks for giving FCM a try. You mentioned a couple of things:

1. you are not receiving the data sent along with the notification message.
2. and the click_action from the console does not result in the correct activity being launched.

So if I understand your issues, there are a couple of things to note:

1. The data sent along with the notification message (which is the type of noti

[2016-05-25 20:49] thisboyiscrazy opened #22 "Google Login not working"
I downloaded the google-services.json in the right place but the Google Sign On does not work.

[2016-05-25 22:26] thisboyiscrazy commented on #22
Never mind i have to use sign apk's

[2016-05-25 22:26] #22 closed

[2016-05-25 23:40] despisedIcon commented on #4
@Svoka Thanks for the tip. I've moved the icon parameter into the notification and now I'm getting the message

This same icon (R.drawable.ic_stat_logo) is being used for foreground notification builder without any issues.

[code]

Any idea why Firebase cannot resolve the icon for background notification?

[2016-05-26 00:08] kroikie commented on #4
@despisedIcon could you add your request here?

[2016-05-26 00:35] despisedIcon commented on #4
@kroikie You were right. I've tracked down this issue to malformed notification data in the request. Icon and color working correctly now. Thanks

[2016-05-26 05:40] SagarGang opened #23 "FCM Messaging onTokenRefresh() is not called."
it gives the token but it doesn't go to onTokenRefresh() which i need to trigger my sendRegistrationToServer().

[2016-05-26 09:25] DagobertDokate commented on #18
And i got these exception:

`05-25 17:25:36.221 3434-3434/de.dokate.dagobert.foodchecker.android.app     W/System.err: com.google.firebase.FirebaseApiNotAvailableException: API: InternalFirebaseAuth.FIREBASE_AUTH_API is not available on this device.
05-25 17:25:36.221 3434-3434/de.dokate.dagobert.foodchecker.android.app W/System.err:     at com.google.android.gms.internal.zznp$zzb.zzv(Unknown Sour

[2016-05-26 13:06] iboylmz opened #24 "Firebase API initialization failure. (java.lang.IncompatibleClassChangeError)"
Hi,

        FirebaseMessaging.getInstance().subscribeToTopic("global");

this line causing en error:

`05-26 15:52:42.551 11612-11612/com.lotram.uygulamacoapp A/FirebaseApp: Firebase API initialization failure.
                                                                       java.lang.reflect.InvocationTargetException

[2016-05-26 14:30] kroikie commented on #23
onTokenRefresh in FirebaseInstanceIdService is only called when a new token is generated. If your app was previously installed and generated a token then onTokenRefresh would not be called. Try uninstalling and reinstalling the app to force the generation of a new token, this would cause onTokenRefresh to be called.

Also be sure that your FirebaseInstanceIdService is properly defined in your Andr

[2016-05-26 15:46] SagarGang commented on #23
thanks for your reply.It work.

[2016-05-26 16:29] #23 closed

[2016-05-26 16:41] samtstern commented on #13
Ok those are the correct GoogleSignInOptions.  Does this happen when you use a different google account to sign in?

[2016-05-26 16:50] tisalph opened #25 "D/FirebaseInstanceId: background sync failed: AUTHENTICATION_FAILED"
Hi,

I am trying Firebase Cloud messaging. I cloned this project and created google.service.json as per instruction (https://firebase.google.com/docs/android/setup#prerequisites) and put that file under quickstart-android\messaging\app folder. But I keep getting

D/FirebaseInstanceId: background sync failed: AUTHENTICATION_FAILED

Also, when i click on Log Token button in the emulator, i getnull t

[2016-05-27 00:02] sir-gon commented on #4
@Svoka thats work form me... but only for small icon... any idea for large icon?

[2016-05-27 09:24] Svoka commented on #4
@sir-gon if you don't specify the custom icon, FCM will use the app icon.
I'm agree, if we can just set the default icon in some settings file, it'd be more convenient.

[2016-05-27 10:59] frostymarvelous commented on #4
I'd prefer we simply got the opportunity to handle all notifications if
possible like we did with GCM.
It can be a configuration item as well.

I'm currently not using FCM to push notifications due to it being
unpredictable atm.

On Fri, May 27, 2016 at 9:24 AM, Artem Osipov <notifications@github.com>
wrote:

--
Regards,
Stefan Froelich.

[2016-05-27 13:53] Svoka commented on #4
@frostymarvelous but when app in background GCM also send it to notification tray, not in app.

[2016-05-27 17:04] kroikie commented on #4
@frostymarvelous to be clear @Svoka is correct, FCM handles messages in the exact same way as GCM. Notification messages have always been handled in this way. If you always want to handle all notifications then you should send data only messages and handle the creation and display of notifications yourself. Note however that messages from the Firebase console are notification messages.

[2016-05-27 20:27] frostymarvelous commented on #4
Thanks for clarifying that. Again.
I will give it another spin this weekend!

[2016-05-28 12:34] aselims opened #28 "The code is not executed at onMessageReceived ()"
This method _onMessageReceived ()_ is not called when the app in the background. only when in the foreground. when I send a push msg from FCM console, it shows a notification as of a hidden implementation in the FCM Library itself that overrides my implemntation.

The documentation is also a bit vague.
public void onMessageReceived (RemoteMessage message)

Also: Google Play Services
Called when a

[2016-05-28 13:20] pranaypatel512 opened #29 "How to clear Firebase Crash reports?"
I am using Firebase crash reporting service for android.
Can any one help me to clear crash report from Firebase console or any way to remove it by Firebase crash android API?

[2016-05-28 13:38] kroikie commented on #29
Currently there is no way to remove an uploaded report. If possible could
you give more details on why this would be important in your case?

On Sat, May 28, 2016, 6:20 AM pRaNaY <notifications@github.com> wrote:

[2016-05-28 13:48] kroikie commented on #28
Hi @aselims thanks for trying FCM, you are not the first person to be confused by this implementation. Note that the FCM implementation is exactly the same is the GCM implementation. The thing to note is that messages from the Firebase console are notification messages not data only messages. If you always want incoming messages to be handled by onMessageReceived then you should always send data o

[2016-05-29 22:20] andytriboletti commented on #16
I also got this crash report from Crashlytics:

Fatal Exception: java.lang.NullPointerException
       at com.google.firebase.messaging.FirebaseMessagingService.zzT(Unknown Source)
       at com.google.firebase.messaging.FirebaseMessagingService.zzn(Unknown Source)
       at com.google.firebase.messaging.FirebaseMessagingService.zzm(Unknown Source)
       at com.google.firebase.iid.zzb$2.run(Unkno

[2016-05-30 13:18] antoineF commented on #4
The problem of using data notification instead of notification message is that it is not compatible with iOS. For exemple, if you want to send a message to a topic to both iOS and Android it's hard to find way to be compatible to the both platforms :
Send only data payloads -> message is not sent to iOS,
Send notification payloads (with or without data payloads) -> white icon on android.

The tip

[2016-05-30 14:39] kroikie commented on #4
@antoineF thanks for the feedback however:
- Data only payloads can be sent to iOS, see the content_available field in the reference docs. Also when the iOS app is connected to FCM (in the foreground) data messages are sent through the FCM connection and through APNs otherwise.

- The white icon on Android is a known issue, the FCM team is working on a fix.

[2016-05-30 19:57] yayaa commented on #4
Sending notifications from console is really powerful feature thanks for that, but since it is not possible to customize notifications when application is in background, as @frostymarvelous said would it be possible to create a configuration item or something like that and handle it in FCM? And maybe we could have previews of notification how would it be seen on devices.

Setting a bigImage, defin

[2016-05-30 23:17] kroikie commented on #4
Thanks for the feedback @yayaa it is noted!

[2016-05-31 06:37] morphine9 commented on #13
Same google a/c with which I'm registered with firebase.

[2016-05-31 08:49] frostymarvelous commented on #4
Couldn't have said it better myself.
The dashboard is a really powerful tool and I'm currently not even attempting to use it.

[2016-05-31 09:15] Karthi-R opened #31 "Why the expiry time of Firebase custom auth token is limited to max 1Hr(3600sec) ?"
I'm doing a chat application using Firebase. where I need to listen for incoming messages most of the time. If auth token expires every hour, its difficult for me to maintain the valid session all the time :(

In Legacy Firebase system, token expiry time was too flexiable; where we can adjust TTL value from 1Hr to as many years!! **Never expire** option was also there!

Why the current Firebase AP

[2016-05-31 15:33] AndreasZeiser commented on #4
@kroikie Can you please clarify when we can expect a fix? Sending notifications through the Firebase console was the main reason for us to jump on the Firebase train.

Also, I want to point out that I'm not able to fully customize a notification inside onMessageReceived callback. What I do is simple: build a notification with NotificationCompat with title, body and a small icon from my drawables.

[2016-05-31 18:39] samtstern commented on #31
@Karthi-R if you are using the Android SDK you should not have to worry about token expiration.  The auth and database SDKs talk to each other and the token is automatically refreshed every hour.  This should all be invisible to your application.

Are you having some problem where this is not the case?

[2016-05-31 18:42] samtstern commented on #13
@morphine9 can you capture the output of `adb logcat` during a sign-in attempt and upload it here?  If it's large you can use a pastebin or similar.

[2016-05-31 19:07] samtstern commented on #28
For further discussion on this topic, see #4.  I am going to close this issue as everything is working as intended for now, thanks for the feedback!

[2016-05-31 19:07] #28 closed

[2016-05-31 20:58] ptornhult commented on #13
This might be related:
In Firebase console under Auth -> Sign in method -> Advanced there is an option called "One account per email address". If this is Not checked (seems to have been the default), the users emails will be blanked when they sign in.

I checked this option, removed my users and logged them in again and the email is now there in both console and client.

[2016-06-01 02:43] Karthi-R commented on #31
@samtstern; thanks for your reply!

After the token expired, internally SDK itself trying to refresh the token. but its always failing with below error. As I'm using custom Authentication, SDK won't know my server endpoint to fetch new token (I guess).

[code]

In Firebase SDK, I couldn't find any API to check the token validity. If I know that token is expired, I can do the token refresh manually

[2016-06-01 09:33] pinkeshdarji commented on #4
I am developing movie review app where I need to push a message with movie title and movie poster so for that I need to implement NotificationCompat.BigPictureStyle regardless of app state(Foreground /Background) BUT i found that this could not happen when app is in the background with firebase cloud messaging.

There must be some mechanism like this:
public void onMessageReceived(RemoteMessage re

[2016-06-01 13:32] sibeliusseraphini commented on #16
@kroikie I'm receiving the same error here, and I have not added anything of Firebase on my code.
I've updated to `com.google.android.gms:play-services:9.0.1` that includes it (https://developers.google.com/android/guides/releases#may_2016_-_v90)

But what happens if I don't wanna use Firebase yet?

[2016-06-01 15:39] samtstern commented on #31
@Karthi-R this is a known issue in Firebase Authentication that a small number of developers are seeing, sorry about that!  I will get back to you with a workaround as soon as I have one.

Also as you can see on the [status page](https://status.firebase.google.com/) Authentication currently has one other known issue that makes the SDK not production ready.  You can continue to develop your Android

[2016-06-01 15:52] Karthi-R commented on #31
@samtstern Thanks for your update!

[2016-06-01 18:45] NL-Splinter commented on #4
I'm still such a noob, but via Raspberry Pi, Node-red and Firebase I now receive a notification on my phone when someone presses my doorbell. Helped by this page, even when the notification sample app is in the background, I get vibs or a tone. What I prefer though is, when the app is in the background and someone presses my doorbell I get a continuing ringtone, just like when someone would call m

[2016-06-01 20:26] kroikie commented on #4
@AndreasZeiser While I'm not able to give you a date for the fix to the icon issue, I can say that this is a high priority for the FCM team, and a solution will be released ASAP. I'm not sure why your notification icon is coming up transparent, once you receive the onMessageReceived callback you should be able to create and show notifications in the standard way, using NotificationCompat like you

[2016-06-01 20:39] kroikie commented on #16
@andytriboletti what version of Google Play Services is the device running?

@sibeliusseraphini Firebase Analytics is added by the google-services plugin which should work without issue, but if you want your app to be Firebase free then you can remove the google-services plugin and manually add the required Strings to your strings.xml file.

[2016-06-01 21:21] NL-Splinter commented on #4
Hi Arthur,

Thanks to your comment I now understand how to send a data only message, and the example app is indeed responding accordingly.

The only thing I don’t understand is:

the data payload is delivered in the extras of the intent of your launcher Activity

This kind of language is beyond my current Android skills :(

And  this is not the way right? (I’m getting null as a msg)

private void

[2016-06-02 07:15] yokei15 opened #33 "W/SyncTree: Listen at /message failed: DatabaseError: Permission denied"
06-02 12:42:49.892 750-750/com.android.firebase_database W/MainActivity: Failed to read value.
com.google.firebase.database.DatabaseException: Firebase Database error: Permission denied
at com.google.firebase.database.DatabaseError.toException(Unknown Source)
at com.android.firebase_database.MainActivity$1.onCancelled(MainActivity.java:40)
at com.google.android.gms.internal.zzafp.zza(Unknown Sourc

[2016-06-02 08:46] GeorgeArgyrakis opened #34 "GetInvitation resultCallback is called twice"
GetInvitation resultCallback is called when I tap a deep link. But after that if I force stop my app and relaunch the main activity through the launcher,  the callback is triggered again.
The first time `AppInviteReferral.hasReferral(getIntent()))` is true but when it is triggered again it is false.
This is in onCreate of MainActivity:

[code]

[2016-06-02 11:16] pinkeshdarji commented on #4
Thanks @kroikie,
onMessageReceived being called whether the app is in the foreground or the background by just passing data only messages as you suggested.

Now I can handle data like this-
public void onMessageReceived(RemoteMessage remoteMessage) {
        String topic = remoteMessage.getFrom();
        String movieId = remoteMessage.getData().get("movieId");
        String title = remoteMessage

[2016-06-02 13:13] andytriboletti commented on #16
How do I find out what version of Google Play Services lib the device is running? Does Firebase log that?  If Firebase needs latest version of play services, why not prompt user directly instead of having developer needing to do it resulting in crash if not implemented?

[2016-06-02 15:27] samtstern commented on #34
@GeorgeArgyrakis could you try calling `AppInviteApi.getInvitation(mGoogleApiClient, null, false)` in your `GameActivity`'s onCreate method?  For certain flows that is necessary to prevent the double-trigger that you're describing.

[2016-06-02 15:29] samtstern commented on #33
@yokei15 the default Firebase Database rules are to deny access to unauthenticated clients.  You can see these rules if you go to the **Database** tab of the Firebase console and then click **Rules**.

You should use Firebase Authentication to log in on your client.  The simplest way to do this is [Anonymous Authentication](https://firebase.google.com/docs/auth/android/anonymous-auth).

[2016-06-02 15:29] #33 closed

[2016-06-02 16:18] samtstern commented on #13
@ptornhult I have reproduced the behavior you just described, thanks for the tip!  This is surprising to me, but I will check with the authentication team to see if this is the expected behavior.

[2016-06-02 16:35] NL-Splinter commented on #4
Super, helped me a lot!

[2016-06-02 19:57] GeorgeArgyrakis commented on #34
@samtstern Thanks , calling AppInviteApi.getInvitation() in the second activity did the trick.

[2016-06-02 19:57] #34 closed

[2016-06-02 20:45] samtstern commented on #13
@ptornhult I have confirmed this is the intended behavior when you have multiple users per email address enabled.  We will be updating documentation to make this clearer so we have fewer surprised developers.

[2016-06-02 20:45] samtstern commented on #13
@nycodes9 I believe the information above should answer your question, closing this issue.  If you think there is a different cause to your problem, please reply and I will re-open.

[2016-06-02 20:46] #13 closed

[2016-06-02 21:50] csbenz commented on #15
@samtstern Why is it not recommended to initialize setPersistenceEnabled(true) in my app's Application class?

[2016-06-02 21:53] samtstern commented on #15
@csbenz it will not work because FirebaseApp is not automatically initialized until **after** your Application onCreate is called.

Also there are a few reasons in general why you may want to avoid subclassing `Application` if you can:
  * If you use Firebase Crash Reporting, your Application's onCreate may be called multiple times due to the multi-process nature of that service.
  * If your app u

[2016-06-03 02:16] swatijiet commented on #4
Does data only message means the message text on the top has to remain empty and only key value pairs in advanced options are to be filled? I am still getting a totally white color icon on lollipop and above.

![screen shot 2016-06-03 at 7 43 58 am](https://cloud.githubusercontent.com/assets/7709838/15766722/425922b8-295f-11e6-88d0-1b2a08a003ef.png)

[2016-06-03 07:29] Svoka commented on #4
@swatijiet you can't send data-only messages from Console at the moment. You need to use API

[2016-06-03 10:14] gauravjain131 commented on #4
Hi, does the click_action work from the console when app is in background? Or the APIs need to be used for that also? It works perfectly in foreground case, but not able to get it work in background. Is it a bug or behavior?

[2016-06-03 11:59] jhalborg commented on #29
I found this issue on Google Search by searching for "closing issue/ticket". I've previously used Twitter's Fabric as my crash reporting tool, and have been a fan of being able to mark issues as 'closed' or 'handled' so as to keep the dashboard clean and only list the new/reoccuring errors that should be handled.

[2016-06-03 23:41] austynmahoney opened #37 "Failed to initialize crash reporting RuntimeException"
Using Play Services 9.0.83 on a Nexus 5X I received the following stack trace when a crash occurred in my app.

[code]

[2016-06-04 08:22] seyfullahbilgin commented on #4
I have same problem. I tried to use different android service that only get fcm message body string to create custom notification but the same behavior appeared. My notification icon turned to white icon at the background.

Please fix the issue asap. :)

[2016-06-04 12:44] martinodecarlo commented on #4
I had the same issue (the blank icon).

So I tried to use a POST request to https://fcm.googleapis.com/fcm/send through cURL in this way:

`curl -i -H "Authorization: key=MY_SERVER_KEY" -H "Content-Type: application/json" -d @nt.json https://fcm.googleapis.com/fcm/send`

Now I want to send the notification to all the devices, without specifying the token of each user. However if I don't specify th

[2016-06-04 19:07] CeccoCQ opened #38 "Firebase Dynamic links always returned CANCELED"
I'm using dynamic links for my app.

I've followed the tutorial step-by-step and I'm able to open the app by clicking on the link posted on facebook.

But when I invoke getInvitation, I always have CANCELED as status of AppInviteInvitationResult.

[code]

Into debug, I can see that result.getStatus() returns CANCELED, but the click on lick open the app correctly.

Where I'm wrong?

[2016-06-06 05:29] sowdri commented on #31
Hi,

I've migrated from the legacy firebase to google-firebase. I've semi-private information the access to which was being controlled using tokens with a large expiry time. This has become impossible with the current limitation.

Is there any plans of making the expiry time flexible. I'm using custom authentication as well.

Ideally the validity of the token has to be left to the token provider i

[2016-06-06 12:52] yokei15 opened #39 "ArrayList cannot be cast to java.util.Map"
Database error while retriving data after Importing Json in dashboard database...
com.android.sample W/System.err: java.lang.ClassCastException: java.util.ArrayList cannot be cast to java.util.Map

[2016-06-06 16:40] samtstern commented on #39
@yokei15 can you provide some more information here?  `com.android.sample` is not a package name that is related to this repository, so I'd bet this is an unrelated issue.

[2016-06-06 22:20] samtstern commented on #37
@austynmahoney thanks for this bug report, I've forwarded the logs on to the Crash team and they will take a look.

[2016-06-06 22:21] samtstern commented on #38
@CeccoCQ can you provide the output of `adb logcat` while this is happening?

[2016-06-06 22:21] samtstern commented on #29
@jhalborg @pranaypatel512 this is all good feedback thanks!  As this is not a samples issue, I am going to close this.  I will pass it on to the team.

[2016-06-06 22:21] #29 closed

[2016-06-06 22:23] samtstern commented on #24
@iboylmz try updating your dependency to `compile 'com.google.firebase:firebase-messaging:9.0.2'`, I believe this bug was fixed in the patches between `9.0.0` and `9.0.2`.

[2016-06-06 22:24] samtstern commented on #25
@tisalph what kind of device are you using, and what version of Google Play Services does it have?

[2016-06-07 07:24] mdavila opened #40 "Failed to load module descriptor class"
There seems to be problem with the app or perhaps I am running it in the wrong way.  I am able to start the app. However, if I tap on "Sign in" the app does not respond, but the Android Monitor shows the following error:

![image](https://cloud.githubusercontent.com/assets/3312235/15849654/3cd1c4d8-2c59-11e6-9015-027f89e3f651.png)

06-07 02:18:39.017 6396-6396/com.google.firebase.quickstart.fireba

[2016-06-07 08:35] jamesytl opened #41 "Can Firebase console push notification if apps is closed? (User swipe away with the long click menu)"
I have tried developing a firebase notification apps with this [MyFirebaseMessagingService link](https://github.com/firebase/quickstart-android/blob/master/messaging/app/src/main/java/com/google/firebase/quickstart/fcm/MyFirebaseMessagingService.java) and [MyFirebaseInstanceIDService link ](https://github.com/firebase/quickstart-android/blob/master/messaging/app/src/main/java/com/google/firebase/q

[2016-06-07 09:09] CeccoCQ commented on #38
@samtstern Sure.

[code]

My AndroidManifest.xml
[code]

[2016-06-07 14:57] samtstern commented on #37
@austynmahoney in your stack trace I see `CrashInitProvider`

[2016-06-07 15:43] friedger opened #42 "[invites] Invite button click crashes Google Play services with missing permission for android.permission.READ_CONTACTS"
The invite button does not work on Android 6.0.1, device A0001 due to a security exception after I clicked the button and selected an account. Please see below for the log:

[code]

[2016-06-07 21:17] tisalph commented on #25
The issue is resolved. I was trying this example from our company netowrk and because of firewall, emulator could not connect to FCM server. When I tried from home, it worked fine. Thanks for taking a look at it.

[2016-06-07 21:17] #25 closed

[2016-06-07 23:22] samtstern commented on #38
Sorry @CeccoCQ those logs don't include much.  Could you provide the full output of adb logcat for ~15 seconds before and after the operation.

If it's too large to paste here, feel free to use a pastebin or github gist.

[2016-06-07 23:24] samtstern commented on #40
@mdavila can you confirm a few things:

  * What kind of device/emulator are you running this on?  Does it have Google Play Services `9.0.80` or higher?
  * When did you clone the code for this sample?  Is it using the `9.0.2` SDKs?

[2016-06-07 23:26] samtstern commented on #24
@iboylmz closing this issue, please comment if the fix above does not work for you.

[2016-06-07 23:26] #24 closed

[2016-06-07 23:27] samtstern commented on #16
@andytriboletti in many cases the SDK does prompt the user to update when they will likely be able to.

You can check your version by going to **Settings > Apps > Google Play Services**

[2016-06-07 23:30] andytriboletti commented on #16
I have the latest version on my phone, anyway, it's not crashing on my phone. This is from a crash report that a user is experiencing that I saw via Fabric.

[2016-06-08 00:22] mdavila commented on #40
Hi @samtstern I am using my mobile phone.  It is a Nexus 5 with Android Marshmallow 6.0.1.

The Android SDK manager app has Google Play Services 30:

![image](https://cloud.githubusercontent.com/assets/3312235/15878880/5afddb96-2ce4-11e6-81b9-8c413476bd13.png)

I cloned the files on 27-may-2016. It seems that the cloned files are using the SDK version 9.0.0.  I am going to clone the files again.

[2016-06-08 00:38] mdavila commented on #40
@samtstern I just cloned the files and the dependencies show the new SDK version:

compile 'com.google.firebase:firebase-auth:9.0.2'
compile 'com.google.firebase:firebase-storage:9.0.2'

However, the same error is still showing and when I tap on "Sign in" the app doesn't do anything:

06-07 19:31:33.057 29354-29354/com.google.firebase.quickstart.firebasestorage E/Storage#MainActivity: signInAnonym

[2016-06-08 01:08] alecrespo commented on #18
I was having the same issue, I was able to obtain the token but not getting the auth from Firebase. To solve this I register oath of android and web in the Firebase app settings for Google auth. Hope this help you to solve this as well.

[2016-06-08 07:29] CeccoCQ commented on #38
This is the entire log:
[code]

This is the StartActivity code:
[code]

[2016-06-08 08:46] mdavila commented on #40
@samtstern I have been able to solve the problem. I had to enable anonymous login from the Firebase console.

[2016-06-08 08:46] #40 closed

[2016-06-08 12:10] neo-xy opened #44 "firebasedatabase.getinstance vs new firebase"
why in your tutorial video  it is used :
Databasereference  mRootRef = FirebaseDataBase.getInstance().getReference();
 but  at firebase.com in docs they use:
Firebase rootRef = new Firebase("https://docs-examples.firebaseio.com/web/data");
-what's the difference ?when we should use 1st one & when the 2nd one?? :S﻿

[2016-06-08 17:15] samtstern commented on #44
@neo-xy the `Firebase` class is part of the old SDK which was replaced on May 19th by the new SDK which uses the `DatabaseReference` class.  You should always use the newer code when possible.

In general, firebase.com is deprecated and is kept live as a resource for users who have not yet migrated to the new SDK.  All of the most up to date docs are on firebase.google.com/docs.

[2016-06-08 17:15] #44 closed

[2016-06-08 17:34] samtstern commented on #40
@mdavila glad you solved your error!

For future people who may find this issue, enabling anonymous auth in the Firebase console fixes the `OPERATION_NOT_ALLOWED` error.  The `ModuleDescriptor` error was likely transient and unrelated.

[2016-06-08 17:43] neo-xy commented on #44
ok, Perfect -thank you (y)

[2016-06-08 20:36] CodingDoug commented on #42
Did some troubleshooting with @friedger and we discovered that this problem was caused by Play Services being revoked the permission to read contacts.  The device in question is a OnePlus device with CyanogenMod 11.  It has a permissions manager called Privacy Guard that works similarly to the permissions management screens in Android M.  So I imagine this could theoretically happen on M devices a

[2016-06-08 20:39] samtstern commented on #42
@CodingDoug thanks for digging!  So I think the bug here is that AppInvites is not properly checking for runtime permissions before launching the dialog.  I will report it, but since it's not a sample issue I am going to close this.

If there is progress, I will still update this thread.

[2016-06-08 20:39] #42 closed

[2016-06-08 23:30] samtstern commented on #38
@CeccoCQ can you double-check that the SHA1 you put in the Firebase console matches the SHA1 of your APK?

[2016-06-08 23:31] samtstern commented on #16
@sibelius is this happening on your device or a user's device?  If possible, could you provide logs?

[2016-06-08 23:38] samtstern commented on #16
@andytriboletti I have the proguard mapping so I can find out where that NPE is happening, I will report to the FCM team.

[2016-06-09 06:30] CeccoCQ commented on #38
The link is:
`https://wft4z.app.goo.gl/?link=https://aqld.it/testlink/112972&al=aqld://test/about?test%3D17363&apn=com.project.mydeeplink`

In the firebase console I've added:
<img width="641" alt="schermata 2016-06-09 alle 08 25 46" src="https://cloud.githubusercontent.com/assets/4593301/15920671/1edc3aa2-2e1c-11e6-8d02-cb90e9d3dc0e.png">

And this is the check with the
`keytool -exportcert -list

[2016-06-09 07:19] Karthi-R opened #45 "E/RunLoop: Uncaught exception in Firebase runloop (3.0.0)"
Strange error! what is the issue behind this?
Recently only, I'm seeing this error :(

[code]

[2016-06-09 11:10] friedger commented on #42
It looks like that this has been fixed by an update of CM 13 (MHC19Q). At least I can't reproduce. Google Play Services do respect the permissions and does not show any suggestions if permissions are revoked.

My guess is that Privacy Guard did not communicate the permission correctly.

[2016-06-09 14:58] cypressious opened #46 "FirebaseRemoteConfigFetchException when fetching Remote Config"
Using GMS and Firebase 9.0.2

I set up my app with Firebase, features like Analytics or Notifications are already working. Now I tried to add Remote Config but every time I call fetch, I get a `com.google.firebase.remoteconfig.FirebaseRemoteConfigFetchException`.

I'm not doing anything special. Basicly, all I do is

[code]

in my main activity's `onCreate` method (nevermind the Kotlin syntax) and

[2016-06-09 15:08] sibelius commented on #16
this is the logs, the same as the above, this happened in my device running android 4.4

[code]

[2016-06-09 18:13] samtstern commented on #16
@sibelius @andytriboletti ok I have an update here.  The SDK team knows about this issue and has a fix in place (it's a simple null check, of course).  I can't guarantee exactly when this fix will be integrated into the publicly released SDK, unfortunately.

As that's all we can do here I am going to close this issue.  Thank you everyone for your feedback and help identifying this.

[2016-06-09 19:52] austynmahoney commented on #37
Not pre-release, it would have been `9.0.0`, but possibly `9.0.2`. Sorry, I can't remember if we had updated to `9.0.2` before or after this happened.

Dependencies
[code]

[2016-06-09 21:50] wassupnari commented on #20
Hi @kroikie

I have a follow up question.
According to this [documentation](https://firebase.google.com/docs/cloud-messaging/downstream#sample-receive), the notification will be delivered to the device's system tray when the app is in background which means `onMessageReceived()` won't get called, but I wonder if there's any way that I can customize the icon in the notification view. Currently, it

[2016-06-09 22:14] samtstern commented on #46
@cypressious can you try printing the Exception message?  Also it should be an instance of `FirebaseRemoteConfigException`

[2016-06-10 07:26] jamesytl commented on #4
Hi, I wish to get the data payload information from the message sent from Server API I created. Anyone can provide me a guide or a link? I believe its just a several line of code but I just couldn't find it. I tried using getIntent() in sendNotification() as the [doc](https://firebase.google.com/docs/cloud-messaging/concept-options#data_messages) mentioned this :

_On Android, the data payload can

[2016-06-11 04:33] hungud opened #47 "Google FCM getIntent return null on app is not running"
Please help me! I check debug this code extras alway return null when click on new notification, if app is not running, and show good on app is running

[code]

[2016-06-12 06:30] CeccoCQ commented on #38
Any idea about my issue?

[2016-06-12 07:56] anuj1708 commented on #40
Here is the video and stack trace. After the Accounts on my phone are shown I choose one. But Then I just come back to the original Screen and no account added in the firebase console
link for video : https://drive.google.com/file/d/0B8tYKC1-UERHZlF2Q0dyRURaZEk/view?usp=sharing

Stack trace :

06-12 13:16:05.915 29115-29145/com.google.firebase.quickstart.auth E/DynamiteModule: Failed to load modul

[2016-06-12 11:29] mutablestudio commented on #18
Also having this issue. OnCompleteListener<AuthResult>() never returns after signing in with  mAuth.signInWithEmailAndPassword on Note 4 (SM-N910V, Android 5.0.1, API 21). Is there a minimum Android API which Firebase supports or a minimum google play services version?

[2016-06-12 11:52] xo0ps commented on #4
I have the same problem. I need to store notification in db for late use and also change the notification style and couple of more works on the received notification which is not possible. Please fix this issue as soon as possible.

[2016-06-12 13:57] mutablestudio opened #48 "Firebase auth error -23, "limits exceeded" on staging server"
I can authenticate the user on iOS without any issues, so Firebase is accepting auth requests for this user. It is working for iOS auth on both our staging AND production Firebase URLs.

However, on Android simulator/device I cannot login with same user on the staging Firebase.

I have tried using older login example with 'com.firebase:firebase-client-android:2.0.3+'  as we well as newer example u

[2016-06-13 05:19] avirepo commented on #20
Hi @kroikie

I am looking for the same solution as mentioned by @wassupnari. Can we achieve that or it is not possible with FCM. As using FCM on iOS we have background mode do Android also have same background mode using FCM or not.

[2016-06-13 07:13] Karthi-R commented on #45
Guys any update on this?

I've enabled database persistance. whenever i get the above crash, unable to proceed my app further! It's keep on crashing every time; until I clear the App data.

Kindly update some solution / workaroud.
Thanks in advance!

[2016-06-13 09:00] samtstern commented on #20
@avirepo @wassupnari these customizations are possible through FCM but not yet through the console UI, you have to use the HTTP API.

You can see more discussion on #4, I am going to close this issue as we are tracking this feature request elsewhere.  We know this is important to everyone so the team is working hard on it.

[2016-06-13 09:00] #20 closed

[2016-06-13 10:28] hablema commented on #20
@kroikie : Thanks for info. I got it working as you have mentioned from the intent of the activity. The documentation should have been more clear in that aspect with a full sample manifest. Its good now, also i had a problem in which the FCM messages from console only started delivering after i tried from the HTTP API. Don't know why but after that its working directly from the console. Thanks aga

[2016-06-13 12:47] iammert commented on #31
Same issue here. Hope it will get fixed soon.

[2016-06-13 14:33] mutablestudio commented on #48
Update - we enabled Google auth as well as email/pwd in our Firebase dashboard under Authorization -> Sign In Method. Also added SHA1 from ~/.android/debug.keystore. Here is the latest stack trace:

`06-13 16:23:59.599 10460-10460/com.helium.mobile.android.pulse D/com.helium.mobile.android.pulse.util.Preferences: signInWithEmail:onComplete:false
06-13 16:24:02.373 10460-10530/com.helium.mobile.and

[2016-06-14 07:27] ivandiazmolina commented on #38
Same problem and I still do not fix it

[2016-06-14 13:16] mutablestudio commented on #48
Here is more info on how I'm calling the Firebase auth:

Init mAuth per google Firebase example:

`mAuth = FirebaseAuth.getInstance();`
`mAuthListener = new FirebaseAuth.AuthStateListener() {
            @Override
            public void onAuthStateChanged(@NonNull FirebaseAuth firebaseAuth) {
                FirebaseUser user = firebaseAuth.getCurrentUser();
                if (user != null) {

[2016-06-14 13:40] andrewcheny opened #49 "Real-time database login does not work on simulator"
Followed all instructions and got the run time error:
E/DynamiteModule: Failed to load module descriptor class: Didn't find class "com.google.android.gms.dynamite.descriptors.com.google.firebase.auth.ModuleDescriptor"

Any suggestions?

[2016-06-14 13:45] andrewcheny commented on #49
Emulator Nexus 6P API 23 is the emulator I used on my android studio

[2016-06-14 14:08] iammert commented on #31
@Karthi-R @sowdri Finally made it work. It is all about configuration problem. You have to add you SHA-1 to firebase database. You can follow this [documenatation](https://drive.google.com/file/d/0B94LePkXiqa6SXVFd3N1NzJHX1E/view). Easy way to get SHA-1 key [here](http://stackoverflow.com/questions/15727912/sha-1-fingerprint-of-keystore-certificate/33479550#33479550)

It should supposed to be docu

[2016-06-14 15:55] samtstern commented on #49
@andrewcheny does your emulator use the Google APIs image?  Also make sure you update to the latest version of the image.

On your emulator go to **Settings** > **Apps** > **Google Play Services** and ensure that the version is `9.0.80` or higher.

[2016-06-14 16:21] laylizzlle opened #50 "Request for user profile from GMail is returning null"
I would like to retrieve the user's profile picture and name after google login:

    GoogleSignInOptions gso = new GoogleSignInOptions.Builder(GoogleSignInOptions.DEFAULT_SIGN_IN)
                .requestIdToken(getString(R.string.default_web_client_id))
                .requestEmail()
                .requestProfile()
                .build();

    ...
    mAuthListener = new FirebaseAuth.AuthSt

[2016-06-15 06:55] yishai-glide commented on #46
@samtstern this is what I got:
[code]
there is no visible error message

[2016-06-15 12:11] fockeRR commented on #41
Same problem here.  I created simple app using the exampe app from github. When the app is foreground or background everything works as expected and described in the docs. But, when I killed the app, I can't received the push notifications ;<

[2016-06-15 12:18] yishai-glide commented on #41
@jamesytl and @fockeRR are you seeing logs in the `onMessageReceived`?

[2016-06-15 12:32] fockeRR commented on #41
@yishai-glide No, it looks like the onMessageReceived is not called. If the app is in background or foreground I see the logcat output from onMessageReceived

[2016-06-15 13:28] jaydeep17 commented on #46
Same here :confused:

[2016-06-15 13:42] cypressious opened #51 "Remote Config: NullPointerException: Attempt to read from field 'int com.google.android.gms.internal.zzaji$zzc.zzbTG' on a null object"
I'm using the Genymotion emulator and since somewhere around last week, my app won't launch anymore when I use Remote Config. Everytime the app starts, I get the following stacktrace:

[code]

The emulator is running Android 5.0.

[2016-06-15 13:44] yishai-glide commented on #51
Genymotion has no play services and therefore is expected not to work

On Wed, Jun 15, 2016, 16:43 Kirill Rakhman <notifications@github.com> wrote:

--
Have a nice day
Yishai Levenglick
Android developer
+972-54-520-9569

[2016-06-15 13:46] cypressious commented on #51
There is a well-known workaround for installing Play Services on Genymotion and it works for the regular Google Play Libraries like Maps, App Indexing and Auth. Besides, other Firebase services like Analytics, Messaging or Auth are working, too.

[2016-06-15 13:50] yishai-glide commented on #51
Unless you have a version greater than 9.x this is not going to work

On Wed, Jun 15, 2016, 16:46 Kirill Rakhman <notifications@github.com> wrote:

--
Have a nice day
Yishai Levenglick
Android developer
+972-54-520-9569

[2016-06-15 13:53] cypressious commented on #51
I have Google Play Services version 9.0.83 installed.

[2016-06-15 14:19] samtstern commented on #38
@CeccoCQ sorry for the delayed response and thank you for the SHA info.  I am still not 100% sure what the issue is but I am looking into it.  Also just to be sure, are you using a device with Google Play Services version `9.0.80` or higher?

[2016-06-15 14:23] samtstern commented on #18
@mutablestudio the minimum Google Play Services version is `9.0.80`.

[2016-06-15 14:25] samtstern commented on #45
@Karthi-R sorry for the delayed response here.  This is being discussed on the firebase-talk mailing list, you can check out the thread here:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/firebase-talk/iy0762S3KsU/G46mNG6KAAAJ

You can also discuss on StackOverflow:
http://stackoverflow.com/questions/37724801/uncaught-exception-in-firebase-runloop-3-0-0

The team is awar

[2016-06-15 14:25] #45 closed

[2016-06-15 15:08] CeccoCQ commented on #38
@samtstern Yes, I'm using the latest version 9.0.83

[2016-06-16 01:38] jamesytl commented on #41
@fockeRR  @yishai-glide It seems like it depends on device being tested. When I use Oppo phone the apps will no longer receive notification when the app is "swiped off". However, RedMi Note 3 will still receive notification if I perform the same action.
So probably could say that its android phones with different OS messing with us and causing headaches

[2016-06-16 02:13] Karthi-R commented on #31
@iammert Are you doing custom Authentication ?

[2016-06-16 09:03] iammert commented on #31
I am using Facebook and MailPassword authentication. @Karthi-R

[2016-06-16 09:06] vendys-sungsik opened #52 "Firebase Invite always failed..."
I wonder why does always fail (resultCode : 3) about 'Firebase Invites' sample app.
What about others? Why does the fail occur?

[2016-06-16 14:54] Karthi-R commented on #31
@iammert
If we use default Auth providers like (Google, Facebook, Email..), updating "SHA-1 key" in firebase console would enable Automatic token refresh. (Its working fine as you said)

But in custom authentication, Firebase SDK need to contact 3rd party server to fetch new token.
Here only SDK is failing to refresh the token!

[2016-06-16 17:19] giannign1 commented on #38
Same issues for me, same code and logcat as CeccoCQ

[2016-06-16 20:19] abredykhin commented on #40
I see the same error in logcat, but I don't even use Auth module of Firebase

[2016-06-17 17:00] nottix commented on #38
+1

[2016-06-17 17:01] manuelcugliari commented on #38
+1

[2016-06-17 18:35] samtstern commented on #50
@laylizzlle your app should be ready to handle a `null` result for the photo URL as many users who have never set a public picture on Google+ will not have a picture that we can provide to your app.

The issue of `displayName` being null is something we are looking into.  We have seen other developers reporting this and are trying to work out the exact conditions where it happens.  Thanks for your

[2016-06-17 18:35] #50 closed

[2016-06-17 18:35] jcsla opened #53 "Isn't there any Authentication by email yet?"
Hi

I've already checked in email authentication firebase console.

firebase console -> Auth -> email template
you can see those three menus in there.(email authentication, change password, change email address)

But I couldn't see any api in android api document.(email authentication, change email address)
(I found sending change password api)

[2016-06-19 14:28] yishai-glide commented on #46
any news on this?

[2016-06-19 15:21] tanishqsh commented on #15
Thanks a ton for this.

[2016-06-20 04:51] wheel1992 opened #54 "D/FirebaseInstanceId: background sync failed: INVALID_PARAMETERS"
Hi,

I've have successfully registered a device and gotten a device token.
However, after I tried subscribing a topic, it keeps showing this error " D/FirebaseInstanceId: background sync failed: INVALID_PARAMETERS", and no topic was shown in console for past few hours.

[2016-06-20 08:53] yishai-glide commented on #46
this is what I get

http://imgur.com/IZMhoSl

[2016-06-20 09:57] Ben834 commented on #47
Hi,

If your app is just in the background, **onNewIntent** would be called.

If your app is not running at all, the intent is normally passed through the **onCreate**, where you should handle it. Can you check this ?

Ben.

[2016-06-20 12:41] AlexPari opened #55 "Authentication failed refresh Token"
I'm using Firebase Authentication 9.0.2 (Facebook, Google, email/password or anonymous) in my Android app, this part works correctly.

    mAuthListener = new FirebaseAuth.AuthStateListener() {
            @Override
            public void onAuthStateChanged(@NonNull FirebaseAuth firebaseAuth) {
                FirebaseUser user = firebaseAuth.getCurrentUser();
                if (user != null &&

[2016-06-20 13:38] AndroidDeveloperLB opened #56 "Question: A/B testing +RemoteConfigs- how to track, and is cacheExpiration needed?"
I can't find a sample or tutorial about how to track the current variant of the experiment.
For example, suppose we have 2 variants for the position of an button, and we wish to track how many people pressed the button on each variant. I'd also like to know where in the console website I need to see the stats.

I also don't understand the need for cacheExpiration when calling :

    mFirebaseRemot

[2016-06-21 06:59] dwlrathod opened #58 "FirebaseRecyclerAdapter"
Where is FirebaseRecyclerAdapter class ?

[2016-06-21 07:00] yishai-glide commented on #58
there is no class with that name, what exactly are you trying to do?

[2016-06-21 07:04] dwlrathod commented on #58
import com.firebase.ui.database.**FirebaseRecyclerAdapter**;

See this in
database/fragment/**PostListFragment.java**

[2016-06-21 07:14] yishai-glide commented on #58
it's part of this project that is in build.gradle https://github.com/firebase/quickstart-android/blob/master/database/app/build.gradle#L35

for more, here is the repo: https://github.com/firebase/FirebaseUI-Android

[2016-06-21 07:21] dwlrathod commented on #58
Ya I know it's part of project but where it is?
It should be in
[https://github.com/firebase/quickstart-android/tree/master/database/app/src/main/java/com/google/firebase/quickstart/database](url)

But the is not !!!

[2016-06-21 07:22] yishai-glide commented on #58
do you know how the gradle build system works?
here is your class and it's being imported as a library via gradle
https://github.com/firebase/FirebaseUI-Android/blob/master/database/src/main/java/com/firebase/ui/database/FirebaseRecyclerAdapter.java

[2016-06-21 07:25] dwlrathod commented on #58
Thanks !

[2016-06-21 07:25] #58 closed

[2016-06-21 12:38] rockink opened #59 "How to know the data sent to the database has reached successfully?"
mDatabase = FirebaseDatabase.getInstance().getReference();
        Task<Void> base = mDatabase.child("demo").child(id).setValue(story);

        Log.d(TAG, "getEditTextVals: This is after base");
        if(base.isComplete()){

            Log.d(TAG, "getEditTextVals: completed");

        }
        if (base.isSuccessful()){
            Log.d(TAG, "getEditTextVals: successful");
            Intent

[2016-06-21 21:11] cjvilla2012 commented on #55
Read this thread as background: http://stackoverflow.com/questions/37505119/firebase-android-authentication-failed-expired-token-auth-token-is-expired

I have implemented the measures recommended in that thread and the related threads and find that a) there is nothing wrong my token registration b) this error (fortunately) never occurs in my production release but c) the error does occur in my deb

[2016-06-22 02:06] jcricket commented on #46
I had the same problem. As in your code, I was calling `fetch()` without a parameter, but it was resolved when I passed in the `cacheExpiration` parameter as noted in the example:

[code]

[2016-06-22 07:06] AlexPari commented on #55
Hi @cjvilla2012 ,

Thank you for your answer, but implementing FirebaseInstanceIdService does not fix the bug, the service will only be fired when token is refreshed and give you the new token. It will not refresh the token.
More, my JSON is up-to-date.

[2016-06-22 09:11] Rahulrsannidhi commented on #52
I am also getting the same Error Please help to resolve

[2016-06-22 13:32] paragones opened #60 "How can I clone this project?"
Hi guys,

I am sorry for being a noob at the moment. I tried to clone the whole project to try and test it out.
But when I tried to clone it using Android Studio 2.1.2 `(Checkout From Version Control -> Github -> https://github.com/firebase/quickstart-android.git -> Create project from existing sources )`, I just got a series of folders but couldn't run it.

I am having a problem with the Gradle i

[2016-06-22 16:28] Purvik commented on #24
Failed to resolve: 'com.google.firebase:firebase-messaging:9.0.2' while integrating that will project. And my app is not starting anyway. It is saying "firebase api initialization failure".

Help me out something.

[2016-06-22 20:11] cuchas commented on #51
This is happening in production. It is not exclusive to emulators! I had o try catch it! http://stackoverflow.com/questions/37748985/nullpointer-on-firebaseremoteconfig-getinstance?noredirect=1#comment63310992_37748985

[2016-06-23 03:59] sensen commented on #16
@samtstern does this affect version 9.0.0?

[2016-06-23 07:45] Ashok-Varma commented on #46
Same issue here as well.

[2016-06-23 13:52] ThomasSunderland opened #61 "Topic not being created with FirebaseMessaging.getInstance().subscribeToTopic(...)"
Hello,

I am able to successfully send notifications to a single device and I am able to send them to a user segment, but in the Firebase Notifications console for my application for Target=Topic it shows "This project does not have any topics" even though I called FirebaseMessaging.getInstance().subscribeToTopic() from my Android application with several different topic names days ago.

The docum

[2016-06-23 17:52] harshil007 commented on #41
@jamesytl I am using RedMi Note 3 and facing the same problem. The app can receive notifications while running in foreground or background, but won't receive notifications when the app is killed. The same application is working fine on Nexus 5. Also I have another application which uses GCM implementation to receive notifications and it works fine on both devices even when the application is kille

[2016-06-23 19:48] kroikie commented on #41
@harshil007 With your working GCM implementation are you also sending messages from the Firebase console (notification messages) or are you using data only messages?

[2016-06-24 01:33] jamesytl commented on #41
**Update** : Tested using 2 RedMi Note 3 with different ROM. One worked perfectly as how I Intended ( Able to receive notification even if swiped off, immediately receive notification after boot with broadcastreceiver) while another phone failed miserably ( No longer receive any notification after swipe off, will never receive any notifications after reboot even if I manually start the program aft

[2016-06-24 04:46] aashishvanand opened #62 "in database (quickstart-android) only the first message syncs accross all the devices"
when the user adds additional messages it doesn't sync across the devices though it is added to the database .

[2016-06-24 06:07] harshil007 commented on #41
@kroikie Data messages only as it is a google project which I have not yet imported into the firebase console.

[2016-06-24 13:39] aashishvanand commented on #62
it took some time for the initial sync. now its working fine

[2016-06-24 13:39] #62 closed

[2016-06-24 19:33] myuseringithub commented on #31
Oh seriously, why did you add this limitation ! I have a server which produces tokens for other server users to use for at least several months. Now I should build a service to create tokens every hour ?

[2016-06-25 07:20] Karthi-R commented on #52
@vendys-sungsik @Rahulrsannidhi did you add "SHA-1 key" of your Android app in firebase console ?
If not; check Firebase App invite after updating your "SHA-1 key".

[2016-06-27 05:58] ch-muhammad-adil opened #64 "Error on getting Realtime Database reference in service"
I am getting error:

                                                                                                 Process: com.example.waseem.geolocation:location_service, PID: 17316
                                                                                                 java.lang.RuntimeException: Unable to instantiate service com.example.waseem.geolocation.LocationService: java.lang.

[2016-06-27 07:53] harshil007 commented on #41
**UPDATE** : App working perfectly now in RedMi Note 3. It turns out you have to give **auto start** permission to the application in order to be started up after being killed.

[2016-06-27 17:17] samtstern commented on #61
@ThomasSunderland it should create the topic and appear in the console within a few hours, so this is strange.  Can you confirm that you can send messages to the topic and receive them?  You can test this with the HTTP API by sending a request like this:

[code]

You can get your `$API_KEY` value from the `google-services.json` file.

[2016-06-27 17:22] samtstern commented on #60
@paragones no problem, newcomers welcome :+1:

Try this:

  * Run `git clone https://github.com/firebase/quickstart-android` to get the project on your machine. This will create a directory called `quickstart-android` wherever you run the command.
  * In Android Studio select **File** > **Open**
    * Find the `quickstart-android` folder on your machine
    * Select the subfolder of the quickstart

[2016-06-27 17:22] #60 closed

[2016-06-27 17:25] samtstern commented on #59
@rockink when a method returns a `Task` that means it is an async operation.  In your code you are checking `isComplete` or `isSuccessful` immediately, so the operation has not completed yet and it will not be completed or successful.

Instead you need to attach a listener to the task, like this:
[code]

[2016-06-27 17:25] #59 closed

[2016-06-27 17:27] samtstern commented on #53
@jcsla are you looking for Email/Password authentication?

If so you can find the documentation here:
https://firebase.google.com/docs/auth/android/password-auth

And a sample app here:
https://github.com/firebase/quickstart-android/blob/master/auth/app/src/main/java/com/google/firebase/quickstart/auth/EmailPasswordActivity.java

[2016-06-27 17:27] #53 closed

[2016-06-27 17:29] samtstern commented on #49
Closing this issue for lack of activity and because I believe the solution offered above is the correct answer here.  If using an emulator with the update version of Google Play Services does not solve the issue we can re-open.

[2016-06-27 17:29] #49 closed

[2016-06-27 17:31] samtstern commented on #39
Closing this issue due to lack of activity, if you are still experiencing this problem and have more information please reply.

[2016-06-27 17:31] #39 closed

[2016-06-27 18:00] samtstern commented on #52
Let's discuss general firebase invite failures on #38, which has a number of people with similar issues.

[2016-06-27 18:00] #52 closed

[2016-06-27 18:03] samtstern commented on #51
I believe this issue has been fixed in the new `9.2.0` version of the SDK which was just released a few hours ago.  @cypressious could you try to update your project to use the new SDK and see if this works?  Note that you will need Google Play Services `9.2.x` on your device.  On a real device this should have been pushed over the air, on Genymotion I am not sure exactly how you get it but I assu

[2016-06-27 18:05] ThomasSunderland commented on #61
@samtstern, I haven't run the test noted above yet, but I can say that I am able to run the sample app and create the "news" topic without any issues.

One thing that is different in the other app where the topics are not being created is that the actual topic creation is happening inside of an android library within my solution as opposed to within the main application. Do I need a separate googl

[2016-06-27 18:08] samtstern commented on #54
@wheel1992 can you provide some more information:

  * What is the topic name you are subscribing to?  A code snippet would be useful.
  * Are there any other errors in the logs?
  * Are you able to send a message to the topic using the HTTP API? (see example below)

HTTP sending example:
[code]

[2016-06-27 18:12] samtstern commented on #18
There hasn't been any activity on this issue in a while and I believe the underlying issue here is that the problematic device does not have the required version of Google Play Services.  At this time that's all I can offer, so I am going to close this issue.

If you can reproduce this on a device with Google Play Services version `9.0.80` or higher, please re-open with some more information.

[2016-06-27 18:12] #18 closed

[2016-06-27 18:14] samtstern commented on #37
Sorry for the lack of responses here!  I did follow up with the crash reporting team but they don't seen an obvious cause here and we're quite confused that you're seeing `CrashInitProvider` issues since that code is not part of the public SDK.

@austynmahoney there was a new SDK version released today (`9.2.0`).  Does this issue still happen with that SDK?

[2016-06-27 18:16] samtstern commented on #64
@ch-muhammad-adil are you making any calls to the service in your `Application`'s `onCreate` method?  FirebaseApp is automatically initialized by a `ContentProvider` but this does not happen until after the `Application#onCreate` method has been called.

[2016-06-27 18:19] samtstern commented on #55
@AlexPari thanks for reporting this.  I have forwarded the bug report on to the authentication team and will let you know if they see the problem, off the top of my head it's not obvious what's going wrong here.

[2016-06-27 18:21] kroikie commented on #56
Given your button example, you would use Firebase Analytics to log events when users click on each variant of your button position. Then you can analyse the effectiveness of each button click via the Analytics UI in the Firebase console.

It is up to you when your application fetches new values from the server. If you only want to push new values upon an app-update then you would not need to fetch

[2016-06-27 18:21] samtstern commented on #47
@hungud I believe @Ben834 has offered the correct solution here so I will close this issue.  Please re-open if checking in `onCreate` does not work for you.

[2016-06-27 18:21] #47 closed

[2016-06-27 18:45] tikurahul commented on #55
@AlexPari Can you please send us the response from `FirebaseUser#getToken(true)` (force refresh set to `true`) ?

[2016-06-27 21:00] ch-muhammad-adil commented on #64
no I am starting service from activity using this method startService(intent) and service is sticky

[2016-06-27 21:01] samtstern commented on #64
@ch-muhammad-adil is the service running in the same process as your Activity?  If it's not, you would have an `android:process="..."` entry in the `AndroidManfiest.xml` for the `service`.

[2016-06-27 21:07] ch-muhammad-adil commented on #64
how chould I make sure both run in same thread?

[2016-06-28 04:35] wheel1992 commented on #54
Hi Sam,

Thank you for your reply. I've managed to get it working by uninstalling my app on the device. It is kind of weird as Firebase does not register the device after the **first and only the first** installation from Android Studio.

[2016-06-28 04:35] #54 closed

[2016-06-28 05:18] schonmann commented on #41
I have a similar issue. My problem is basically that i need to receive every notification in my implementation of FirebaseMessagingService (onMessageReceived), even if app is in background or closed/killed (like messaging application services, for instance). The scenario is:

- When my app is swiped off i can only get system tray notifications, as expected.
- When i kill my application, i can't re

[2016-06-28 05:35] jamesytl commented on #41
@schonmann by killing apps you mean force close right? Force close will close down an app entirely including any background services even if START_STICKY is included if I'm not mistaken.

Btw, I just learnt in last few day we should not use a service with START_STICKY to start the FCM service because FCM service is an IntentService which will automatically start its own when needed and stop itself

[2016-06-28 09:15] AlexPari commented on #55
@samtstern Thank you for your report, it seems I do not reproduce the bug since last friday, but I change nothing in my code. I think you fix the problem on your side.

@tikurahul the response from `FirebaseUser#getToken(true)` is something like `com.google.android.gms.tasks.zzh@...,`, as I said to @samtstern the bug seems to be fixed now.

[2016-06-28 09:15] #55 closed

[2016-06-28 09:38] paragones commented on #60
Got it. Thanks!

[2016-06-28 15:17] AndroidDeveloperLB commented on #56
Yes, I see.
Say, how come the "fetch" command sometimes freezes, not calling its
callback?
I've even reported about this here:
http://stackoverflow.com/questions/37994774/
This makes it unusable in many cases.

On Mon, Jun 27, 2016 at 9:21 PM, Arthur Thompson <notifications@github.com>
wrote:

[2016-06-28 19:28] schonmann commented on #41
@jamesytl I think my problem is finally solved. I was sending push messages with both data payload and notification payload, so the system tray was handling it.. hahah
When i get home i will try that. Thanks!

[2016-06-28 19:47] #41 closed

[2016-06-28 19:51] kroikie commented on #61
I don't think you would need a separate google-services file for the library. As long as all of the necessary receivers are merged into the final AndroidManifest it should work as expected.

[2016-06-28 19:54] kroikie commented on #56
We have seen this issue reported and are currently investigating, I will update with a solution as soon as it is available.

[2016-06-28 20:04] kroikie commented on #46
Is this issue still occurring on 9.2.0?

[2016-06-28 20:06] cypressious commented on #46
Seems to be fixed with 9.2.0

[2016-06-28 20:26] samtstern commented on #46
@cypressious thanks for the follow up!

[2016-06-28 20:26] #46 closed

[2016-06-28 20:27] samtstern commented on #64
@ch-muhammad-adil glad this worked for you, thanks for following up.

[2016-06-28 20:27] #64 closed

[2016-06-29 01:24] jamesytl commented on #41
@schonmann  yup that's what I did previously too. Try doing data payload only andremember to handle it in your FirebaseMessagingService's OnMessageReceived(). Good luck coding ;)

PS: My RedMi Note 3 still have some issues like not receiving any notification until it is manually disconnect and reconnect to a Wi-Fi connection. Not sure how it works but I guess its still device dependent as the two

[2016-06-29 04:55] nvhaiwork commented on #4
Can any1 guild me how to send multiple push notification via push API???

[2016-06-29 12:58] eranpolo commented on #51
This issue also happens to us in Production, with Play Services 9.2.56 (434).

Some affected devices: LGLS740, LGLS770, LGLS996, MotoE2, SM-G360P.

Here's the exception:
"3:25:10.638 PM UTC+3 - June 29, 2016 initFirebaseRemoteConfig: java.lang.NullPointerException: Attempt to read from field 'int com.google.android.gms.internal.zzaji$zzc.zzbTG' on a null object"

[2016-06-29 13:13] ThomasSunderland commented on #61
@kroikie Everything does appear to work as expected other than subscribing to new topics. The topics never appear in the Firebase console if the call is made from a library. I am, however, able to receive within the library notifications sent to a segment and to a single device without any issues.

[2016-06-29 16:37] tbremer19 opened #67 "Notifications are not expandable"
It would be awesome if notifications with more than one line of text would be expandable. Otherwise notifications wouldn't make much sense. A lot of our users aren't able to see the full notification.

[2016-06-29 17:16] austynmahoney commented on #37
I will upgrade our app and monitor for that crash.

[2016-06-30 03:37] ckarthikv commented on #45
@samtstern - Already tried all the steps mentioned - still the crashes keep occurring. Where can I email the example app with the source code?

[2016-06-30 06:36] AndroidDeveloperLB commented on #56
I see. I tried workaround of delaying the "fetch" call, but they didn't
work.
Please tell me when it gets fixed, because as long as we have this issue,
we can't really use Firebase in the app.

On Tue, Jun 28, 2016 at 10:54 PM, Arthur Thompson <notifications@github.com>
wrote:

[2016-06-30 07:25] ckarthikv commented on #45
@samtstern - Have emailed you the source code to reproduce the bug. The exact same code doesn't crash using the old client, but crashes on the new ones (9.2.0 & 9.0.2).

[2016-06-30 09:47] chandrahasan commented on #41
@jamesytl , I can get notifications when App is Foreground/Background  , But when I swiped from recent tray then Firebase Notification not coming .  Any possible way to handle this ?
I check same scenario in whatsup , After swiped from recent tray Whatsup Notification still coming ,even I force stop whatsup  from settings but still i can get whatsup Notification.

I must want to handle notificatio

[2016-06-30 17:08] Rajan opened #69 "MQTT vs Firebase"
How does Firebase chat app compare to MQTT chat app in terms of battery power consumption?

[2016-06-30 20:08] samtstern commented on #69
@Rajan sorry this is not a good forum for that sort of question.  Please only file issues here regarding the provided set of quickstarts.

There is the firebase-talk google group if you have general discussion questions.

[2016-06-30 20:08] #69 closed

[2016-06-30 20:10] samtstern commented on #67
@tbremer19 thanks for the feature request, I will pass it on to the team.  Going to close the issue as it's more of a general feature request than a quickstart issue.

[2016-06-30 20:10] #67 closed

[2016-06-30 20:12] samtstern commented on #61
@ThomasSunderland thanks for the details, I will take this report to the FCM team and see if there's any diagnostic issue you can provide that would help to debug.

[2016-06-30 20:16] samtstern commented on #51
@eranpolo is your app compiled against the `9.2.0` SDK?

[2016-07-01 10:01] ckarthikv opened #70 "FCM onMessage() callback not received on specific phones"
We're sending data-only payloads from the API to completely customize notifications, but specific phones never receive the onMessage callback.

Phones like the Xiaomi MI3, Redmi Note  and a lot of other Android phone models on Kitkat, get the callback 2/10 times, which is an abysmal rate for a "high-priority" message. But on higher end phones like OnePlus2, Nexus5, etc, the callbacks are received

[2016-07-01 18:33] samtstern commented on #70
@ckarthikv I have heard other reports of issues with the Xiaomi and Redmi phones.  There are a number of possible device or connection specific reasons why you could be seeing this behavior, but it is certainly not the intentional behavior of the system.

This repository is just for issues with the quickstart sample, please contact the [personalized Firebase support channel](https://firebase.googl

[2016-07-01 18:33] #70 closed

[2016-07-02 01:25] jamesytl commented on #41
@chandrahasan Sorry for late reply and also sorry that I can't really help you because I'm not sure why yours isn't working. Just some common question when it comes to FCM notification.
- Have you remove your notification getbody method at FirebaseMessagingService?
- Did you handle the data at OnMessageReceived() method?
- Do your devices have security apps? If yes did you allow auto start for you

[2016-07-02 13:52] ErstwhileWork opened #71 "Cannot "import from github" into Android Studio ... not set up for gradle"
How should I import this project into Android Studio 2.2 (Preview 4 or later) and then use?

When importing, I get a complaint that the project is not set up to use gradle build, though I do see some gradle configuration information for different directories in the project.

Providing some directions in the overall README would be useful.

[2016-07-02 14:29] diegogui1 commented on #8
Hello ,

some time ago published in

http://stackoverflow.com/questions/38020348/send-a-notification-background-firebase-android

a problem that I have with the push notification in foreground and backgrand FCM after you read the link sugueris me to look at my app android?

backgrand foreground and take different style.

Regards,

[2016-07-02 14:31] diegogui1 commented on #4
Hello ,

some time ago published in

http://stackoverflow.com/questions/38020348/send-a-notification-background-firebase-android

a problem that I have with the push notification in foreground and backgrand FCM after you read the link sugueris me to look at my app android?

backgrand foreground and take different style.

Regards,

[2016-07-02 17:21] akrajilwar opened #72 "FirebaseInstanceId"
E/FirebaseInstanceId: Error resolving target intent service, skipping classname enforcement. Resolved service was: akraj.snow.fcm/akraj.snow.fcm.MyFirebaseInstanceIDService

[2016-07-02 23:12] ErstwhileWork commented on #72
akrajilwar -- can you provide more information beyond just an error message?

[2016-07-03 02:35] psigen commented on #31
@samtstern I'm running head on into this problem.  This timeout restriction is really terrible for IOT use cases.

I have a few hundred IOT devices that I am trying to safely upload data from.  An ideal way to do this is to generate tokens that last about a year for each device: using their owner's UID, but signed with "claims" containing the device serial number.

In Firebase, this makes it easy

[2016-07-03 04:34] akrajilwar commented on #72
firebase not generating token. I have two apps with fcm integrated. if i uninstall one app then second app working fine

[2016-07-03 07:47] eranpolo commented on #51
No, we're compiled against 9.0.0. Our next version would be compiled against 9.2.0, we'll update once it's deployed.

[2016-07-03 09:05] fraggjkee opened #73 "Database - why to duplicate posts?"
I have installed the **database** sample and here is how it structures its data:

<img width="663" alt="2016-07-03 11 55 45" src="https://cloud.githubusercontent.com/assets/1222517/16544614/269a054c-4115-11e6-9ef1-f1d3fcfa969c.png">

I am not quite familiar with NoSQL techniques and trying to understand why we have to persist each `post` entity twice - at `posts` and `user_posts` correspondingly.

[2016-07-04 11:17] aswalalka commented on #45
Is this fixed? I am also facing the same issue

[2016-07-05 17:40] austynmahoney commented on #37
@samtstern I am upgrading to `9.2.0`. Is there a changelog somewhere I can take a look at?

[2016-07-06 10:24] varunrramani opened #74 "Event names with white spaces wont log to analytics"
Currently we are unable to log events with the event names containing white spaces, same goes for the keys in the bundle sent. Is there a way to do it or is it a planned feature for the future release?

[2016-07-06 10:38] Seidak commented on #38
I have the same problem, any news about it?

[2016-07-06 16:48] samtstern commented on #37
@austynmahoney there are two places you can look:

  * [Google Play Services release notes](https://developers.google.com/android/guides/releases#june_2016_-_v92)
  * [Firebase release notes](https://firebase.google.com/support/releases)

[2016-07-06 16:59] samtstern commented on #73
@fraggjkee the reason the posts are duplicated is because we want to be able to quickly get all the posts belonging to a user (as you suggested) and filtering from the list of all posts ever to get the posts by one user can get pretty expensive as the number of posts expands.

This does mean that we have to update the post in two locations whenever we update it.  It makes the code a little uglier

[2016-07-06 16:59] #73 closed

[2016-07-06 17:03] samtstern commented on #31
While the token expires in one hour, that's just how long you have to use that token to authenticate.  Once you've called `authWithCustomToken` successfully, you stay logged in forever (until you sign out explicitly) so you should be able to get devices to have a long-lived authentication session without minting long-lived custom tokens.

[2016-07-06 17:38] samtstern commented on #71
@ErstwhileWork right now this repo is really a collection of separate gradle projects rather than one big project, so you should `git clone` the repo and then import one of the subfolders (`database`, `auth`, etc) into Android Studio.

I will investigate to see whether we can make a global grade config that would load all the projects at once.

[2016-07-06 17:50] dsdebastiani opened #75 "Gradle build process failed with "minifyEnabled" - Proguard"
I've got received this error when ```minifyEnabled``` is ```true```:
[code]

project build.gradle:
[code]

App build.gradle:
[code]

[2016-07-06 17:56] samtstern commented on #75
@dsdebastiani this is a known issue (recently discovered) that the `9.2.0` client libraries do not work with the Jack compiler or the new Android class shrinker.  While we work on a fix, you have the following options:

  * Go back to the 'stable' android compiler
  * Use the `9.0.2` libraries which are nearly identical to `9.2.0` minus a few small fixes

[2016-07-06 18:00] #71 closed

[2016-07-06 18:01] samtstern commented on #71
Fixed by #76, you should be able to import all projects at once now.

[2016-07-06 18:11] samtstern commented on #74
@varunrramani this is working as intended, no plans to allow spaces that I am aware of.

From: https://firebase.google.com/docs/reference/android/com/google/firebase/analytics/FirebaseAnalytics#logEvent(java.lang.String,%20android.os.Bundle)

"""
The name of the event. Should contain 1 to 32 alphanumeric characters or underscores. The name must start with an alphabetic character. Some event names

[2016-07-06 18:11] #74 closed

[2016-07-06 18:38] dsdebastiani commented on #24
Hello @samtstern , the error still occurring with ```9.0.2```
Log:
[code]

[2016-07-06 21:48] samtstern commented on #61
@ThomasSunderland did your topics ever appear?  The FCM backend engineers found a few small bugs in the pipeline and fixed them, maybe that was affecting you.

[2016-07-06 21:55] samtstern commented on #72
Can you show the `AndroidManifest.xml` of each app?

[2016-07-06 22:55] austynmahoney commented on #37
Thanks for those links.

The Firebase Release Notes page is great, but I don't see `9.2.0` listed on the page. A changelog for each SDK would be great, as I am hesitant to upgrade without one. Plus how am I even supposed to know it has been updated?

[2016-07-07 07:05] akrajilwar commented on #72
1st app
`<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.circleeduventures.app">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.pe

[2016-07-07 13:22] yokei15 opened #78 "Authentication login with Google getting handleSignInResult:false"
Getting false in results success

[code]

**handleSignInResult:false**

tried out many ways but cant find out the solution,there is any solution for these..
Thanks in Advance

[2016-07-07 16:02] samtstern commented on #78
@yokei15 I need some more information to debug this.  What other output do you see in `adb logcat` and  can you try adding a statement like this for more info:
[code]

It's likely an issue with your SHA1 and package name, but can't say for sure yet.

[2016-07-07 16:13] psigen commented on #31
Thanks very much for the suggestion @samtstern!

I tried this, but unfortunately, it seems like the session is not cached if the device reboots or the app gets restarted.  Is this supposed to be the case?  Alternatively, is there a way to force the authentication to be preserved across hard resets?

[2016-07-07 16:29] samtstern commented on #37
That's a good point, I will give your feedback to the page author and see how they feel about doing a more traditional release notes page with version-by-version diffs.  Also I'll look into getting an RSS or Twitter or some other push notification channel for interested devs (no promises though!).

[2016-07-07 17:13] samtstern commented on #31
@psigen on an Android device the session is cached in the SharedPreferences of your application.  It should have the same lifecycle as that does, which should definitely persist across device reboots.  Unfortunately you can't persist across hard resets.

[2016-07-07 20:24] austynmahoney commented on #37
@samtstern Above and beyond man. Thanks again!

[2016-07-07 22:36] psigen commented on #31
Ok, I might be accidentally clearing `SharedPreferences` as part of an autoupdate process.  Thanks for the info, I think I should be able to make this work!

[2016-07-07 23:10] samtstern commented on #37
@austynmahoney some improvements to the Firebase release notes are now published.  We went back and edited the last release to include the text below, and future releases will do the same:

We're also going to look into improving the general structure of the page, but that's more long term.

Back to the issue at hand: let me know how `9.2.0` works for you regarding Crash reporting.

[2016-07-07 23:13] samtstern commented on #31
Ok for the following reasons I am going to close this issue:

  * Original poster has not been involved in 21 days
  * @psigen has a potential workaround to go try
  * This issue tracker is really meant to deal with issues with the quickstarts and not general product feedback
  * I have shown the team this thread and they are taking all of your feedback under consideration

If anyone here experien

[2016-07-07 23:13] #31 closed

[2016-07-07 23:54] JasonSheedy commented on #38
I'm also experiencing the same issue. So far I've wasted a whole day on this.

[2016-07-08 04:39] yokei15 commented on #78
@samtstern Is **SHA1** key to be update in **firebase auth as well as in google developer console**???

[2016-07-08 12:28] Arun1811 opened #79 "How to handle notification when app in background in firebase"

[2016-07-08 13:30] yishai-glide commented on #79
1. this question should be in stackoverflow with the [firebase-cloud-messaging tag](http://stackoverflow.com/questions/tagged/firebase-cloud-messaging)

2. as written in the documentation and referenced in the [source code](https://github.com/firebase/quickstart-android/blob/master/messaging/app/src/main/java/com/google/firebase/quickstart/fcm/MyFirebaseMessagingService.java#L43), notifications th

[2016-07-08 16:02] samtstern commented on #79
@yishai-glide thanks for the recommendation.

Closing this issue, discussion duplicated in #4.

[2016-07-08 16:08] samtstern commented on #78
@yokei15 you need to make sure your SHA1 and package name are listed in the [Firebase console](console.firebase.google.com).

Could you show how you're creating your GoogleSignInOptions?

[2016-07-08 17:26] #79 closed

[2016-07-08 20:49] mific opened #80 "AuthStateListener is called multiple times."
* Android device: Sony D6503
  * Android OS version: 4.4.4
  * Google Play Services version: 9.2.56(038-124593566)
  * Firebase/Play Services SDK version: 9.0.2

### Describe the problem:
AuthStateListener is called multiple times.
#### Steps to reproduce:

  1. addAuthStateListener onStart activity
  2. removeAuthStateListener onStop activity

#### Observed Results:

07-08 23:36:16.804 29229-2922

[2016-07-08 20:54] samtstern commented on #80
@mific I can confirm that this is happening, not 100% sure why but I will find out.  In the meantime, what problem is this causing for you?  Maybe we can find a workaround.

[2016-07-08 21:02] samtstern commented on #80
Just heard back, this is the intended behavior.  We notify listeners once per internal events, so in this case it was likely a TOKEN_CHANGE event followed by a USER_INFO_CHANGE event.  Unfortunately we don't expose event type via the SDK so if this is bothering you, I'd suggest keeping track of a timestamp and ignoring events that are too close to each other,

[2016-07-08 21:02] #80 closed

[2016-07-08 21:15] mific commented on #80
Thanks for your comments. I added additional checks. Where i can see full list of internal evens for FirebaseAuth.AuthStateListener?

[2016-07-08 21:26] samtstern commented on #80
@mific we don't publish such a list since it should not matter to your app.  You should only react to the information passed to the listener.

[2016-07-09 04:13] yokei15 commented on #78
provided SHA! & Pakage Name correctly but same error in logcat (i.e) result is false

these was the code which i used
GoogleSignInOptions gso = new GoogleSignInOptions.Builder(GoogleSignInOptions.DEFAULT_SIGN_IN)
                    .requestIdToken(getString(R.string.default_web_client_id))
                    .requestEmail()
                    .build();

            mGoogleApiClient = new Google

[2016-07-10 05:35] madim opened #81 "Taking photo in Storage app always returns RESULT_CANCELED (0) in onActivityResult(..)"
### Describe your environment

  * Android device: Nexus 5
  * Android OS version: 6.0.1
  * Google Play Services version: 9.2.56
  * Firebase/Play Services SDK version: firebase-ui: 9.2.0

### Describe the problem:
Taking photo in Storage app always returns RESULT_CANCELED (0) in onActivityResult(..).

#### Observed Results:
logs: onActivityResult:101:0:Intent {  }

#### Relevant Code:

    @Afte

[2016-07-11 01:11] xainbutt commented on #4
Can anyone please provide some example how can i use the api to send data only messages (php), currently i am using console to send notification and data, but it acts differently when app is in background or foreground..

[2016-07-11 11:33] sharat9211 commented on #15
Is there a way to avoid using a singleton? Singletons stay in memory long after the app has been closed by the user.

[2016-07-11 14:01] samtstern commented on #15
@sharat9211 the only point of the singleton here is to make sure that you call `setPersistenceEnabled` exactly once.  You can do that using any method you like, such as tracking a boolean state or similar.  No need to use a singleton if you have concerns.

[2016-07-11 14:50] ThomasSunderland commented on #61
@samtstern No, they never appeared

[2016-07-11 14:54] romansmolyar commented on #61
Hey all. Have same issue.

[2016-07-11 17:47] kroikie commented on #61
@ThomasSunderland Have you tried sending to the topic using the HTTP API? I'm trying to figure out where the issue is that the topic does not get created at all (in which case sending to HTTP should also fail) or if it is an issue of the Firebase console not displaying an existing topic.

[2016-07-12 00:47] JasonSheedy commented on #52
If this causes dynamic links to fail, why is adding the SHA-1 key marked as optional in the console?

[2016-07-12 00:47] JasonSheedy commented on #38
Got it working by adding SHA-1 key. However, if this causes dynamic links to fail, why is adding the SHA-1 key marked as optional in the console?

[2016-07-12 00:49] vendys-sungsik commented on #52
Yes right. i found my mistake.
It was a problem that is not registed SHA-1 key to my console.
Thanks every good man 👍

[2016-07-12 01:29] samtstern commented on #52
@vendys-sungsik Glad you found your issue.

[2016-07-12 01:30] samtstern commented on #38
@JasonSheedy that's a very good question, let me look into that.  Glad you solved your issue!

[2016-07-12 13:14] ThomasSunderland commented on #61
@kroikie I get the following when I execute it through cURL:

[code]

[2016-07-12 13:34] ThomasSunderland commented on #61
A couple of quick updates:

1. Executing through cURL worked fine if I use the server key rather than the API key

2. With that said this may no longer be an issue for me as I can see today the topics that I created yesterday from my Android display. Perhaps those changes that were mentioned earlier in the thread fixed my issue.

Thank you everyone for your help.

-Thomas Sunderland

[2016-07-12 15:15] samtstern commented on #81
@madim thanks for the report.  Is there anything else appearing in logcat that would be helpful in tracking this down?  I am having trouble reproducing.

[2016-07-12 16:09] samtstern commented on #38
@JasonSheedy from what I can see the console says the SHA1 is required for App Invites / Dynamic Links.
![firebase_console](https://cloud.githubusercontent.com/assets/8466666/16774280/345db33e-4810-11e6-8656-c4e0b75e4c27.png)

I think the real bug here is that the error message on Android is so opaque.  `CANCELED` should tell you if it's a SHA1 issue.  I'll see what I can do about that!

[2016-07-12 16:44] CeccoCQ commented on #38
Hi, I still have the issue.

I've a project with 4 build types, that I named: .dev, .staging, .debug, .release as suffix.
So I've 4 different apks for my application.

For each type, I've created a specific alias in my keystore file and I've a different SHA1.
In the firebase console, in the Project settings I've 4 different app and I added the relative SHA1.

Nothing works, same error "Intent CANC

[2016-07-12 17:58] madim commented on #81
@samtstern thanks for the reply, the problem is solved. There was something wrong with the FileProvider, it could find the directory to locate the photo. It was solved by just changing the value of  "path" to the different location:

`<paths>
    <external-path name="photos" path="Android/data/<package_name>/files/Pictures" />
</paths>`

[2016-07-12 18:21] samtstern commented on #81
@madim thanks for investigating.  Let's leave this issue open so I can figure out why the initial code did not work.

[2016-07-12 19:37] kroikie commented on #75
@dsdebastiani this issue should be resolved in SDK `9.2.1`

[2016-07-12 19:37] #75 closed

[2016-07-12 22:47] kroikie commented on #61
@ThomasSunderland I'm very happy you got it working, I think you may have used the API key from the google-services.json file which is an Android API key, and a server API key is needed for sending FCM messages. If so you are not the only person that has made that error and we are updating our docs to make it clearer which API key you should use.

[2016-07-12 22:47] #61 closed

[2016-07-13 10:23] krebernisak commented on #45
We can reproduce this consistently with fixed `endAt` and `startAt` query parameters on `9.0.2` and `9.2.0`. Here are the details: http://stackoverflow.com/a/38348574/1252289

[2016-07-13 11:27] rimzici commented on #20
Hi Team,
Thanks for this module.

Works just fine except this issue. when the app is in background , and during cold launch from notification, the app is getting opened but how to access the notification data, and do some activities with that. Unlike the PushNotificationIOS's popInitialNotification, I dont think we have any function that will get the data. Can someone help me if you have made it w

[2016-07-13 17:49] kroikie commented on #20
Hi @rimzici, on Android when your application is in the background and a notification message is sent the accompanying data payload (if included) is available via the launched intent resulting from the developer tapping on the notification. By default that would be your MainActivity, you can find an example of this [in the messaging sample in this repo](https://github.com/firebase/quickstart-andro

[2016-07-14 07:24] or-dvir opened #83 "service unstable - messages received after huge delay or not at all"
### Step 2: Describe your environment

first device:
  * Android device: LG G3
  * Android OS version: 5.0
  * Google Play Services version: 9.2.56
  * Firebase/Play Services SDK version: 9.2.0

second device:
  * Android device: asus zenpad 10
  * Android OS version: 5.0.2
  * Google Play Services version: 9.2.56
  * Firebase/Play Services SDK version: 9.2.0

### Step 3: Describe the problem:

im

[2016-07-14 10:56] brianhsux commented on #4
I have the same question. Is there any simple way to send the data only messages?

[2016-07-14 11:17] Svoka commented on #4
@xainbutt it's really simple, you can adapt the following code:

`$toWhom = '';
$serverKey = '';
$serverFrom = '';

// The data to send to the API
$postData = array(
    'to' => $toWhom,
    "notification"=>array(
        'title'=>"Test",
        'body'=>"Test2",
        "icon"=>"ic_stat_ic_notification"
    )
);

// Setup cURL
$ch = curl_init('https://fcm.googleapis.com/fcm/send');
curl_setopt_ar

[2016-07-14 15:43] shinayser commented on #4
Just want to leave my feedback about the notification framework:
We as developers should have full control of the notifications. I never wanted FCM to auto-notify my system bar for me and i should ALWAYS receive the "onMessageReceived" callback, doesn't matter in foreground or background.

Pehaps we could have a checkbox on the Firebase Notification console indicating "Auto-notify". If unchecked,

[2016-07-14 15:53] yishai-glide commented on #4
Agreed

On Thu, Jul 14, 2016, 18:43 shinayser <notifications@github.com> wrote:

--
Have a nice day
Yishai Levenglick
Android developer
+972-54-520-9569

[2016-07-14 16:28] Svoka commented on #4
@shinayser I think you just misunderstood how android notifications is working.
This is the CORRECT behavior

[2016-07-14 21:50] shinayser commented on #4
@Svoka No, I did not. When in background, the Firebase Notifications (in Console) doesn't have data-only notifications. So, we can't customize it when app is in background.

[2016-07-14 21:57] Svoka commented on #4
@shinayser Why don't just use CURL or something instead? They'll be done with the console and data notifications soon.

[2016-07-14 22:53] xainbutt commented on #4
@Svoka  you used "notification" as the key, wouldn't it be "data..??
I got this from docs..

https://fcm.googleapis.com/fcm/send
Content-Type:application/json
Authorization:key=AIzaSyZ-1u...0GBYzPu7Udno5aA

{ "data": {
    "score": "5x1",
    "time": "15:10"
  },
  "to" : "bk3RNwTe3H0:CI2k_HHwgIpoDKCIZvvDMExUdFQ3P1..."
}

[2016-07-15 07:54] Svoka commented on #4
@xainbutt yes, you're right. This code needs to to do a little modification if you want to send data-messages.

[2016-07-15 09:06] 2ndGAB commented on #4
I wonder if we don't face a very recent problem on Android about the ability to receive data-messages while the application is in background.
It worked, for sure as I currently have a published application built 07/08/16 which perfectly receives data-message sent via API even if it's in background.

But I currently realize that the same project I rebuild now after some updates asked by Google with

[2016-07-15 09:14] HarshGrandeur commented on #40
I am facing the same issue, cant work it out.I am using marshmallow with play services verison 9.2. Can anybody help me out. I am getting this error.
W/DynamiteModule: Local module descriptor class for com.google.firebase.auth not found

[2016-07-15 10:27] paulomcnally commented on #15
[code]

[2016-07-15 11:33] rimzici commented on #20
@kroikie ,
Thank You very much for your response. Actually it worked for me by using FCM.initialData, which provides data, both during cold launch and background running.
in the documentation its specified under "Behaviour when sending notification and data payload through GCM" , but since iam using FCM to send push, i must say both users can retrive data using that property.(this.initialData = FC

[2016-07-15 12:20] 2ndGAB commented on #20
So does it mean that data-message only are not received anymore when the application is in background?? The doc is really fuzzy on it.

If yes, that's a very new behavior and it's what I'm facing in my application for few days because I built and published an application on 07/08/16 (FCM 9.2.0) which perfectly receives data-message sent by API while it's in background, on a Samsung GT-9295 5.0.1 a

[2016-07-15 16:30] kirtan403 commented on #45
pro-guard still caused crash.. adding **@Keep** to the ViewHolder class solved for me..

[2016-07-15 16:57] gadolfolozano commented on #45
@kirtan403 could you explain how did you solved? Please

[2016-07-15 17:01] kirtan403 commented on #45
Ohh.. I am so sorry! I just posted on the wrong thread! But yes, I have updated the answer..

[2016-07-16 08:16] gtl-kapil-thadani opened #84 "Large icons not applied in FCM notification"
When FCM auto creates a notification using notification payload, when our app is in background, there is no large icon added to the notification.

The notification payload only has parameters like icon (which is small icon), color (background color when there is no large icon). There is no option to provide custom large icon!

[2016-07-16 09:48] kmansoft commented on #72
Same error message in the official GCM (not Firebase) sample from https://github.com/googlesamples/google-services/tree/master/android/gcm

The push messages are received just fine, and yet there are these in the logcat every time:

[code]

[2016-07-16 12:13] gtl-kapil-thadani opened #85 "Notification badges in notification payload are not handled for FCM android"
FCM does not handles notification badge counts in android.

If my app is in background, it is impossible to update badge count of the app icon!

This is because when we have "notification payload", onMessageReceived is not called when app is in background. Hence, as a general feature, FCM should itself handle badge count coming from notification payload.

It is handled for IOS but not for Android!

[2016-07-16 18:28] jtushar53 opened #86 "Background Notification not working"
### Step 1: Are you in the right place?
yes

### Step 2: Describe your environment

  * Android device: Xiaomi MI5
  * Android OS version: 6.0
  * Google Play Services version: 9.2.56
  * Firebase/Play Services SDK version: 9.2.1

### Step 3: Describe the problem:
Can't get push notification in background / when app is closed (swiped from recents apps)

#### Steps to reproduce:
followed [these](ht

[2016-07-16 23:12] cbustamantem opened #87 "Email Authentication failed!"
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/) tagged appropriately.
  * For general Firebase discussion, use the [firebase-talk google group](https://groups.google.com/forum/#!forum/firebase-talk)
  * For he

[2016-07-16 23:17] #87 closed

[2016-07-17 19:41] 2ndGAB opened #88 "How to setup FCM to receive data payload messages in background?"
* Android device: any
  * Android OS version: 6.0.1
  * Google Play Services version: 3.0.0
  * Firebase/Play Services SDK version: 9.2.1

### Describe the problem:

I read many posts about receiving data-messages in background mainly on Stackoverflow and we can find as many post to tell it works as to tell it doesn't work!

And the doc is really fuzzy about this specific feature and as Stackoverf

[2016-07-18 08:12] brianhsux commented on #4
@Svoka thanks for your code.
But I get the error under below:
------------------
Unauthorized
Error 401
------------------
And I search for this error, this may be the problem of server key,
But I used the api_key in google-services.json, i should be work, right?
Do anyone have some idea?

[2016-07-18 13:25] 2ndGAB opened #89 "quickstart-android messaging app doesn't receive data messages in background"
### Step 1: Are you in the right place?

  * Issues related to the code **in this repository**.

### Step 2: Describe your environment

  * Android device: Asus Nexus 7 wifi
  * Android OS version: 6.0.1
  * Google Play Services version: 3.0.0
  * Firebase/Play Services SDK version: 9.2.1

But I cannot get it working on Nexus 7 LTE 6.0.1 or Samsung GT-9295 5.0.1 as well.

### Step 3: Describe the

[2016-07-18 15:28] samtstern commented on #85
@gtl-kapil-thadani Notification badges are not supported on most Android devices, they're only enabled by custom launchers.  Therefore they are not a part of FCM.

[2016-07-18 15:28] #85 closed

[2016-07-18 15:30] samtstern commented on #72
@all after seeing a number of reports here with different symptoms I suspect that the error message about `classname enforcement` is spurious logging, but I am still looking into it.

[2016-07-18 15:30] samtstern commented on #48
@mutablestudio is it possible you have an infinite loop in your application somewhere?  In your logs the Firebase server is saying it's getting too many requests from your client.

[2016-07-18 18:02] hossein-85 commented on #4
I am still looking for a way to Customize the notification message , specifically changing the style to BigTextStyle when the app is in the background. I have a relatively large message which gets ellipsized and more often than not the app is in the background when the user receives a notification from our server.

[2016-07-18 18:50] kroikie commented on #88
Could you clarify what you mean by "Advanced REST client"?

[2016-07-18 19:11] Gloix commented on #4
@2ndGAB Using Firebase 9.2.1 and Play services 9.2.1 notifications arrive in background.

@hossein-85 use the notification fields inside the `data` field for notifying Android users and then you can make your custom notifications (if you use the `notification` field you won't get the background notification in your declared Messaging service on Android). Unfortunately this does not work for iOS us

[2016-07-18 20:09] kroikie commented on #84
You are correct, currently there is no support for the large icon through the FCM notification message payload. Your request is noted and I will take it back to the team.

[2016-07-18 20:09] #84 closed

[2016-07-18 20:33] kroikie commented on #56
Update: This issue has been identified and we are currently working on a fix. I will update once a fix has been released.

[2016-07-18 20:38] samtstern commented on #37
@austynmahoney any update on how the new SDK is working for you?

[2016-07-18 20:57] AndroidDeveloperLB commented on #56
@kroikie Thank you.

[2016-07-18 21:08] kroikie commented on #88
Closing since this seems to be a duplicate of #89 please file a new issue if this is not the case.

[2016-07-18 21:08] #88 closed

[2016-07-18 21:09] kroikie commented on #89
Could you clarify how you are placing the app into the background? Eg: Are you tapping the device's home button?

[2016-07-18 21:10] kroikie commented on #86
This seems to be a duplicate of #89 so I'm closing it. Please create a new issue if this is not a duplicate.

[2016-07-18 21:10] #86 closed

[2016-07-18 22:36] kroikie commented on #83
Hi @or-dvir how reproducible is this behaviour? Out of say 10 messages how many would you say are massively delayed or not delivered at all? This will help me reproduce.

[2016-07-19 01:09] hilliao commented on #80
I can reproduce the same issue. onAuthStateChanged is called between 4 to 16 times.

[2016-07-19 06:19] anantshah93 commented on #89
I have same problem... cannot able to handle notification when app is in background. It is handled by system tray.

[2016-07-19 06:55] 2ndGAB commented on #89
Hello,

1. I tap the recent apps button then swipe the application out of the recent application list
I currently have an application published which perfectly receives GCM/FCM messages in this state via onMessageReceive().

2. I mean [Google Advanced REST client](https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo) which sends the message to https://fcm

[2016-07-19 06:59] or-dvir commented on #83
@kroikie thank you for your response.
unfortunately its really hard to say as it comes and goes in waves...
i mean there could be a time where 10/10 messages would be received within a few seconds, a time where a few messages in a row would go through, but any message sent right after those would not be received, and even a time where 0/10 messages would re received, and after X minutes (could be

[2016-07-19 07:56] jtushar53 commented on #89
Hii,

for me tested other devices inlcuding Moto G edition and One Plus 2 it is working and on Mi5 it is not working, was getting same error.

[2016-07-19 09:14] tatt5749 commented on #38
I am also having the same issue here... any update for this issue?

[2016-07-19 12:30] gkfillipus commented on #33
@yokei15 i am also getting the same error
i have put my database as follow {
  "rules": {
     "users": {
      "$uid": {
        ".write": "$uid === auth.uid",
        ".read" : "$uid === auth.iud"
      }
    }
  }
}

and i am signing in successfull but when i make a post and than when i try to get the post displayed along with my username i am geting the error

any help guys

Thankx

[2016-07-19 16:57] samtstern commented on #72
@akrajilwar after circling back with the team it looks like you're experiencing a very rare (in our experience) Android framework bug.  That log message was added to detect this situation, but we have not been able to reliably reproduce it in a test scenario.

If you can reproduce this issue reliably, would you be open to sending a full `adb bugreport` to my email (samstern@google.com) so I can he

[2016-07-19 19:28] austynmahoney commented on #37
I haven't seen that crash again.

[2016-07-19 20:06] samtstern commented on #37
@austynmahoney thanks for the update.  Since we never got a reliable repro on our end and the symptom is fixed on your end I will close this issue.  Appreciate all the back and forth so far and please reach out if you get anything like this in the future.

[2016-07-19 20:06] #37 closed

[2016-07-19 22:32] kroikie commented on #89
This error is seen when your application has been forced stopped.

Using the command:
adb shell dumpsys package <package-name> | grep stopped

If you get the result:
User 0:  installed=true hidden=false stopped=false notLaunched=false enabled=0
Then since stopped is false your app should get the notification. If however your result is:
User 0:  installed=true hidden=false stopped=true notLaunched=

[2016-07-19 22:46] kroikie commented on #83
Is your app in the foreground or background when you are testing this?

[2016-07-19 23:33] samtstern commented on #33
@gkfillipus this issue is closed, would you mind opening a new issue with more information about your exact issue?

[2016-07-20 04:03] or-dvir commented on #83
@kroikie both

[2016-07-20 08:01] mykfrost commented on #24
i have the same problem. am trying son hard to use firebase but problems keep arising one after another. am getting tired of this. Please help us out with this. i knoiw Google alwayas has a solution

[2016-07-20 08:02] mykfrost commented on #24
Caused by: java.lang.IncompatibleClassChangeError: The method 'java.io.File android.support.v4.content.ContextCompat.getNoBackupFilesDir(android.content.Context)' was expected to be of type virtual but instead was found to be of type direct (declaration of 'com.google.firebase.iid.zzg' appears in /data/data/com.example.michaelokello.erp/files/instant-run/dex/slice-com.google.firebase-firebase-iid-

[2016-07-20 08:03] mykfrost opened #91 "Caused by: java.lang.IncompatibleClassChangeError: The method 'java.io.File android.support.v4.content.ContextCompat.getNoBackupFilesDir"
Caused by: java.lang.IncompatibleClassChangeError: The method 'java.io.File android.support.v4.content.ContextCompat.getNoBackupFilesDir(android.content.Context)' was expected to be of type virtual but instead was found to be of type direct (declaration of 'com.google.firebase.iid.zzg' appears in /data/data/com.example.michaelokello.erp/files/instant-run/dex/slice-com.google.firebase-firebase-iid-

[2016-07-20 10:48] ManishPatiyal commented on #80
Any resolutions for this so far?

[2016-07-20 15:38] samtstern commented on #91
In the error you posted I see `firebase-iid-9.0.0` which implies you are using at least one Firebase dependency at version `9.0.0`.  This has known compatibility issues with some versions of the android support libraries.

Please update all of your `com.google.android.gms:play-services-*` and `com.google.firebase:firebase-*` dependencies to version `9.0.2` or higher.  Version `9.2.1` is preferred.

[2016-07-20 15:59] samtstern commented on #24
@mykfrost please don't double-post issues here.

[2016-07-20 16:13] kroikie commented on #83
This will be difficult to troubleshoot without some more information. Notifications sent from Firebase console behave differently depending on whether the app is in the foreground or background.

If your app is in the foreground then you will only see the notification represented as a log message in logcat. If your app is in the background then you will see the notification showing up in the notif

[2016-07-21 02:28] howyongjun commented on #4
Kind of pain in the ass right now as the behaviour in Android & iOS are different. Android developer unable to make customization in Notification message. It's difficult to show something like (5 new messages from somebody) unless the app server do the calculation which is NOT a good way. Is there any better way other than sending (Data only message to Android & Notification message to iOS)?

[2016-07-21 02:48] kroikie commented on #4
@howyongjun if you want full control of the notification on Android then you should send a data-message and since data messages cannot be received while an iOS app is in the background then you would not have a choice but to send two different notifications to each platform.

I understand the desire to send the same message to both iOS and Android as you would not have to keep track of the platfor

[2016-07-21 04:23] or-dvir commented on #83
@kroikie

If your app is in the foreground then you will only see the notification represented as a log message in logcat. If your app is in the background then you will see the notification showing up in the notification area.

To make things a bit clearer could you try foreground and background separately and see if you are seeing the same inconsistencies? If you have already done this are you s

[2016-07-21 07:04] howyongjun commented on #4
@kroikie I got some question about the collapsible. The problem I'm having is I sent 4 different notification message with 4 different collapse_key while the device is offline, then i reconnect to Internet & ONLY receive the last notification message. Is this an issue or i misunderstood the meaning of collapsible?

[2016-07-21 07:09] iboylmz commented on #24
Updating gradle to

`compile 'com.google.firebase:firebase-messaging:9.0.0`

fix this issue for me.

[2016-07-21 14:55] tiagoshibata commented on #4
@Gloix Do you mean data-only messages or are notifications created from Console working for you? Tested latest Firebase on Android and my app doesn't seem to receive notifications while in background.

[2016-07-21 19:26] kroikie commented on #83
Thanks for helping to investigate this, could you try one more thing, could you try an emulator with google APIs and see if you are getting the same issues. I am thinking that there could be issues with how these devices are implementing app closures which could affect whether or not the messages are delivered to the devices when they are in the background. The foreground issue is really strange b

[2016-07-21 21:45] kroikie commented on #4
@howyongjun what platform are you checking? collapse_key will not work if you are sending messages to iOS FCM does not hold on to messages sent to iOS devices.

[2016-07-22 01:33] howyongjun commented on #4
@kroikie i'm using collapse_key for Android only. It seems that some of the behaviour are not the same as what mentioned in the document. For instance,  disconnect device from Internet connection --> send different messages with different collapse_key --> reconnect device with Internet connection --> receive only the last message sent. Any idea on this behaviour?

[2016-07-22 08:12] or-dvir commented on #83
i tried working with the emulators in the past and they are pretty much impossible to work with.
they take 30+ minutes just to turn on

[2016-07-22 08:22] 2ndGAB commented on #4
@Gloix did you very recently build a project to verify it still work because It worked for me until begining of july but it don't work anymore for me after recent development environment updates.

[2016-07-22 10:22] lveigas opened #92 "Notification without background color"
* Android device: Samsung Galaxy S4
  * Android OS version: 5.1.1

Hi,

I'm using FCM to send push notifications to my app users devices on Android, but I can't set the notification background color no matter what.
The icon is correctly set, but can't set the circle background color around the icon.
Here's my message payload:

[code]

Thanks in advance,
Luís

[2016-07-22 10:40] 2ndGAB commented on #89
Hello @kroikie
Sorry for the late reply.
The command
adb shell dumpsys package | grep stopped

tells me the following message, the application running or not:

Can't find service: com.google.firebase.quickstart.fcm

For information, when I put your application in background, I get the following log:

	                                                    --------- beginning of system
	07-22 12:28:00

[2016-07-22 16:10] samtstern commented on #92
@lveigas what behavior are you seeing?  The [documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref) says that the `color` attribute "Indicates color of the icon, expressed in #rrggbb format".  There is not an attribute for changing the background color around the circle so I think you are seeing the correct behavior.

[2016-07-22 16:10] #92 closed

[2016-07-22 17:34] paveltech opened #93 "Firebase icon doesn't show and sound not play"
I am using this code to show notification.

    private void sendNotification(String messageBody) {
        Intent intent = new Intent(this, MainActivity.class);
        intent.addFlags(Intent.FLAG_ACTIVITY_CLEAR_TOP);
        PendingIntent pendingIntent = PendingIntent.getActivity(this, 0, intent,
                PendingIntent.FLAG_ONE_SHOT);
        Bitmap b = BitmapFactory.decodeResource(getRes

[2016-07-22 17:36] kroikie commented on #89
@2ndGAB Thanks for the logcat info, looks like the fcm sample is being stopped when it is being sent to the background.

    07-22 12:28:01.860 671-745/? I/ActivityManager: Force stopping com.google.firebase.quickstart.fcm appid=10293 user=0: from pid 17340

I'm not sure why Activity Manager is killing the sample app when you put it in a background state. This is not expected behaviour, what devic

[2016-07-22 20:26] kroikie commented on #93
Hi @paveltech what are you using to send the notification?

[2016-07-22 20:29] kroikie commented on #83
I know what you mean, however we have updated the emulators recently and they are much more responsive. I would recommend giving them a try, what I'm trying to establish is whether or not it is the device or the sample or FCM. Trying it on an emulator (with Google APIs) would help eliminate the device being the issue.

[2016-07-23 07:46] or-dvir commented on #83
like i said, i already tried on 2 different devices

[2016-07-23 11:12] thomasdsouza commented on #47
According to the Firebase Notifications docs, when App State is Background and a Notification with data is sent, the notification appears in the system try and the data will be available in the extras of the intent. However, there is a bug ... the data is NOT available in the intent... either in onNewIntent or in onCreate, the extras is null.

[2016-07-23 11:48] thomasdsouza commented on #47
The data is available when App State is Foreground. But the notification console is pretty much unusable with this bug because ALL (background, app not running, foreground) users need to be able to get the data in a notification. Otherwise, how does a developer know what data a user saw or didn't see!!!!

[2016-07-23 18:18] 2ndGAB commented on #89
Hi @kroikie
I tried on a Nexus 7 6.0.1
So I tried on a GT-9295 5.0.1 and I get the same result:

    07-23 20:16:34.620 803-1408/? I/ActivityManager: Force stopping com.google.firebase.quickstart.fcm appid=10317 user=0: from pid 7231
    07-23 20:16:34.620 803-1408/? I/ActivityManager:   Force stopping service ServiceRecord{3cada6f8 u0 com.google.firebase.quickstart.fcm/.MyFirebaseMessagingService

[2016-07-24 00:34] mrosenlund opened #94 "Android Firebase Storage - Imagesize too large"
ANDROID FIREBASE STORAGE:
I setup Firebase Storage and I am unsure how to reduce the quality of the image that is uploaded. The file size is anywhere from 3mb-7mb which is far too large and I cant seem to find a way to reduce it. Also it is 4000+ x 2000+ and can't be rendered back in android.

[2016-07-24 06:06] or-dvir commented on #83
@kroikie when trying to clone a virtual device (any virtual device) i get this exception:

null
java.lang.NullPointerException
	at com.android.tools.swing.util.FormScalingUtil.scaleComponent(FormScalingUtil.java:183)
	at com.android.tools.swing.util.FormScalingUtil.scaleComponentTreeWorker(FormScalingUtil.java:140)
	at com.android.tools.swing.util.FormScalingUtil.scaleComponentTree(FormScalingUtil

[2016-07-24 10:10] 2ndGAB commented on #89
**THAT'S COMPLETELY INCREDIBLE**

I've reisntalled Android Studio 1.5 bundle 141.2422023, sdk 23.0.3, java jdk1.7.0_79 and rebuilt your application.

The result is **amazing**. I get the same messages when I put the application in background.

    07-24 12:00:10.409 671-3321/? I/ActivityManager: Killing 11067:com.google.firebase.quickstart.fcm/u0a297 (adj 9): remove task
    07-24 12:00:10.425 671

[2016-07-25 06:52] pratikbutani commented on #20
After a deep search, I have found what is going on: There are two types of messages in FCM:

 - **display-messages**: These messages only work when your app is in **foreground**
 - **data-messages**: Theses messages work **even** if your app is in **background**

Firebase team have not developed a UI to send **data-messages** to your devices.

To achieve this, you have to do a `POST` to the follow

[2016-07-25 08:17] 2ndGAB commented on #20
@pratikbutani That's sure, but according to lot of tests I did, applications built with Studio 2.1.2 can't work.

https://github.com/firebase/quickstart-android/issues/89

[2016-07-25 09:20] lveigas commented on #92
Hello Sam,

Thanks for the answer. I've solved the problem by replacing the
notification payload by a data payload.

On 22 July 2016 at 17:10, Sam Stern <notifications@github.com> wrote:

[2016-07-25 14:55] samtstern commented on #81
@madim I think this was fixed by commit 591053 so I will close this issue.  If you're still using this sample and it's not fixed for you please let me know.

[2016-07-25 14:55] #81 closed

[2016-07-25 14:58] samtstern commented on #94
@mrosenlund this sample uploads a file from your camera at full resolution.  If you want to change the file size, you need to do that **before** interacting with Firebase Storage.  Image resizing is not a feature of Firebase Storage right now.

[This article](https://developer.android.com/training/displaying-bitmaps/load-bitmap.html) on loading large bitmaps may be useful to you.  You can load the

[2016-07-25 14:58] #94 closed

[2016-07-25 17:56] kroikie commented on #89
@2ndGAB thanks for the information, we do test our samples against the latest developer environments. I don't think that you are doing anything wrong here, it is very unusual what you are experiencing. I'm looking into it and will reply here with more. If you can, in the meantime, use AS 1.5.2.

[2016-07-25 18:43] kroikie commented on #83
Hi @or-dvir I'm not sure that we can trouble shoot this any further without more info. So I'll close this issue but feel free to create a new one if you can provide a bit more detail. There are many reasons that could cause delay in messages, eg: network conditions, if the app is forced stopped.

[2016-07-25 18:43] #83 closed

[2016-07-25 22:24] samtstern commented on #72
@akrajilwar @kmansoft can either of you produce a bugreport of this happening?

[2016-07-25 22:39] kmansoft commented on #72
@samtstern Tried it again just now, not happening.

[2016-07-25 22:52] kroikie commented on #89
Hi @2ndGAB there should be no change affecting the build between AS 1.5 and 2.1, could you confirm that you are not changing anything in the messaging quickstart? As in git status does not indicate any changes?

[2016-07-26 00:03] thomasdsouza opened #96 "Google FCM getIntent returns null when app is not running or when app is in background"
* Android device: Nexus 5 or emulator
  * Android OS version: Android N or Android M
  * Google Play Services version: 9.2.1
  * Firebase/Play Services SDK version: 9.2.1

#### Steps to reproduce:

  1. Using the Firebase console (or via the REST API), send a notification with custom data (for e.g. key "discount" value "10" )
  2. app is in background or not running

#### Observed Results:
though,

[2016-07-26 08:35] 2ndGAB commented on #89
Hi @kroikie

OOOOOOOHHHHHHHHHHHHH YESSSSSSS!!!

Please have a look at my complete tests [here](https://code.google.com/p/android/issues/detail?can=2&start=0&num=100&q=&colspec=ID%20Status%20Priority%20Owner%20Summary%20Stars%20Reporter%20Opened&groupby=&sort=&id=217489)

;-/

Regards,

[2016-07-26 08:37] 2ndGAB commented on #96
Hello,
I didn't tried to receive data from the intent but from onMessagereceive() only.
But just  a question, what Android Studio version do you use?

[2016-07-26 11:19] yayaa commented on #4
Since i am not able to create a custom notification -as talked above- we decided to implement data-only messages via FCM API, and not use console -even though how powerful it is.

But just out of curiosity is there a way that FCM console messages displayed by using colorPrimary | colorAccent or any of resources? And also if the notification gets icon from R.mipmap.ic_launcher or it gets icon from

[2016-07-26 16:29] kroikie commented on #89
Hi @2ndGAB couple things that you did not mention that might help:

After updating to 2.1.2:
- were you using instant run?
- did you clean the project?
- did you try building the project from the command line? From the project directory:
.\gradlew :app:assembleDebug

[2016-07-26 16:33] Gloix commented on #4
@2ndGAB @tiagoshibata I'm sorry for the delayed response. I just tested with Firebase library 9.2.1 through the Firebase console and I received the notification in background.

[2016-07-26 17:13] 2ndGAB commented on #89
Hi @kroikie

I deactivated instant run
Yes of course I cleaned/rebuilt many times/
But I didn't try to built it from command line.
I'll test it.

[2016-07-26 17:14] 2ndGAB commented on #4
@Gloix That's a good news.
Can you tell me which Android Studio version do you use?

[2016-07-26 17:16] Gloix commented on #4
@2ndGAB Android Studio 2.1.2. Maybe I should also mention that I included a title, a message and that the target was a single user.

[2016-07-26 17:20] 2ndGAB commented on #4
@Gloix ok so no data payload message

[2016-07-26 17:32] Gloix commented on #4
@2ndGAB Exactly. No data message. I actually didn't include any additional fields in the Firebase console form. Only title, message (I included a message tag as well (the second field in the form) ) and the single target user. App was in background (closed, not open in background), but phone screen turned on.

[2016-07-27 01:40] thomasdsouza commented on #96
Hi @2ndGAB , I am aware of the data only msgs being received in onMessageReceived( ) and i use that for certain purposes and it works correctly for me. But there are cases where we want the "target" (the "to") to be chosen from the console and not maintain a list of millions of FCM device tokens. Also, console provides useful options such being able to time the delivery based on recipient's time z

[2016-07-27 04:55] abdymalikmulky commented on #4
halo i have same problem , my icon not show on background notifcation just show white background in bar and not popup like foreground notification
i tested on lollipop device
 here is my http request

    "collapse_key" : "demo",
      "priority" : "high",
    "data": {
        "id" : 123,
        "message": "kirim data pakan Kolam Siapapuns",
        "title": "Log Pakan",
        "type": "feed_lo

[2016-07-27 05:12] nilsi commented on #14
I added the following to avoid crash in case the user does not have Google services installed.

[code]

[2016-07-27 06:13] 2ndGAB commented on #4
@abdymalikmulky Are you supposed to receive your data message in onMessageReceive()?

[2016-07-27 06:17] 2ndGAB commented on #96
@thomasdsouza I'm very surprised that your projects built from Studio 2.1.2 are able to receive data messages in onMessageReceive() because that really don't work for me. Only if I build the project from Studio 1.5 https://code.google.com/p/android/issues/detail?id=217489

[2016-07-27 06:48] abdymalikmulky commented on #4
@2ndGAB  i have created my onMessageReceive() , that method just call when app in foreground
this is my screenshoot

![photo264167697778059618](https://cloud.githubusercontent.com/assets/1695466/17166284/34acc8ba-5400-11e6-8c43-7c459d5b88c2.jpg)

1. Just show the white background icon (even though my color parameter is works)
2. not showing notification like in foreground
photo264167697778059620](

[2016-07-27 07:22] 2ndGAB commented on #4
@abdymalikmulky ok so if I understand well, when the application is in background, the Notification is received by the system tray and not your application.
I never tried it so I cannot help you about the problem you have with your icon. I'm really sorry.

I'm not so experienced with FCM but the basics are the following.

When your application is in foreground, the notification and the data payloa

[2016-07-27 08:43] jpaseneta commented on #72
Hi,

i'm experiencing the same problem. as you can see, i'm receiving the messages after a downstream messaging using HTTP protocol(https://developers.google.com/cloud-messaging/downstream)

I've followed the original GCM setup thru here: https://developers.google.com/cloud-messaging/android/client

[code]

i'm using the IntentService context in my NotificationEngine to build NotificationCompat no

[2016-07-27 09:50] jdkanani commented on #45
Same error. Can't disabled persistent as I need offline support. @puf Any other work around?

[2016-07-27 13:02] ramonz commented on #80
Hi. I have the same issue
In AuthStateListener I am trying to get the auth token. Tokens are fetched multiple times and have a different values sometimes. After installed proxy I saw:

[code]

How prevent this unsatisfied behavior?
I cant store the first token permanently because expiration time is not known
It seems the knowledge about the internal event types would be not superfluous

[2016-07-27 15:14] kroikie commented on #93
Seems like you are sending notifications from the Firebase console, which will automatically generate a notification when your app is in the background. In that case your code will not be run and that is likely the reason why you are not getting the type of notification you are expecting.

From the Firebase console sound is disabled by default and there is currently a known issue about notificatio

[2016-07-27 15:14] #93 closed

[2016-07-27 15:37] kroikie commented on #96
Hi @thomasdsouza you should be getting that data in the launched intent. I just sent a notification from the console that contained a custom data pair like you specified and here is the output from the extras of my intent:

[code]

Have you made any changes to the quickstart?

[2016-07-27 15:45] samtstern commented on #80
@ramonz what sort of issues is this causing in your application?  Ideally when using the Firebase Android SDKs you should not need to worry about tokens at all.

[2016-07-28 09:34] mussa-ibragimov commented on #78
Any news on this issue?
I'm having the same problem with my androiddebugkey SHA1

[2016-07-28 13:21] ramonz commented on #80
Hi again. I need a token to iteracting with my own server app. To get it I use a code like:

[code]
And this code causes multiple token requests to google server. In what place of app I could get the token only once and after it refreshed?

[2016-07-28 17:41] felipezf commented on #38
+1

[2016-07-29 17:09] sbsatter commented on #72
I have mailed you @samtstern regarding this issue with the name of this thread as the subject of the mail.

[2016-07-29 18:03] kroikie commented on #51
Closing this issue due to lack of activity. Feel free to open a new one if the issue persists.

[2016-07-29 18:03] #51 closed

[2016-07-30 12:08] virat-shukla opened #97 "Question"
I am trying to build storage project. I have registered my project in firebase console, and downloaded google-services.json. After installing app on my Nexus5 phone, when i click on "SIGN IN" button, I get this error -

Storage#MainActivity: signInAnonymously:FAILURE
                                                                                                    com.google.firebase.FirebaseExce

[2016-07-30 15:11] samtstern commented on #97
Operation not allowed likely means you have not enabled Anonymous
Authentication in the Firebase Console.  Go to the console where you
registered the quick start project, go to the Auth tab, then go to Sign In
Methods and enable Anonymous.  That should fix it if you set everything
else up correctly.

On Sat, Jul 30, 2016, 8:08 AM Virat Shukla <notifications@github.com> wrote:

[2016-07-31 00:49] yutin1987 commented on #14
I have the same error, on 9.2.1.
[code]
and
[code]
and then add
`apply plugin: 'com.google.gms.google-services' `

run on Genymotion Samsung Galaxy S6 - 5.0.0

[code]

[2016-07-31 02:40] yutin1987 commented on #14
Sorry, It's worked. I miss https://github.com/codepath/android_guides/wiki/Genymotion-2.0-Emulators-with-Google-Play-support

[2016-07-31 05:02] thomasdsouza commented on #96
Hi @kroikie, thank you for your reply.
[apologies for the delay in replying... have been traveling past couple of days...]
i just set up new project with the quickstart code (no modifications) and wanted to test the issue but now i am receiving an error when trying to sending a notification in the console.
![err](https://cloud.githubusercontent.com/assets/3932569/17274660/0109c6fe-570a-11e6-97c9-3

[2016-07-31 23:01] toneloc opened #98 "Feature Request: GIF"
Show a gif on ReadMe showing user flow and all views.

[2016-08-01 09:39] yoman07 commented on #56
@kroikie What is status for this problem?

[2016-08-01 09:52] AndroidDeveloperLB commented on #56
@yoman07 I've sent them a sample, but I didn't get any update about it.
I hope it will get fixed soon.

[2016-08-01 16:58] jcampbell05 commented on #61
@kroikie  I am having issues, if I manually create a topic via the CURL I can send push notification messages to a topic even when they don't show up on the consoled.

The iOS Library doesn't seem to create this topic or let me push to it, nor do I get APNS.

[2016-08-01 20:31] kroikie commented on #96
Not a very helpful error message I would agree. Couple of clarifications:
- So you have connected the sample app to your project and you are sending to the token generated by the sample?
- At what point in the message sending process are you getting this error?

[2016-08-02 04:15] BurritoSmith commented on #72
I'm seeing the same error on my application.  As others have said, the messages are received just fine in my GcmListenerService but it's a bit annoying to not see a clean logcat while I'm working.

I'm happy to send any logs if it'd help.

I'm testing with a One Plus Two, and a Galaxy S7 Active...both have the errors....

[2016-08-02 07:32] Anuphap commented on #38
1+

[2016-08-02 07:36] curiousily commented on #45
@samtstern - I have tried the new SDK 9.4.0 and the issue still persist. The issue arose when we used *startAt* and *endAt* for the first time. Our app is not multiprocess (checked via the provided methods on StackOverflow) and we do not use the crash SDK.

There seems to be no progress on the mailing list, StackOverflow or this issue for a long time. Has it been tracked somewhere at Google? Have

[2016-08-02 09:08] #97 closed

[2016-08-02 14:41] thomasdsouza commented on #96
Hi @kroikie, thank you for your reply.
I can confirm that i can send messages from the console.
Also, I can confirm that, the data is now available in the intent... in onNewIntent( ) or in onCreate( ) as the case may be. At this point i can say that i have thoroughly tested my scenarios and the functionality is working in accordance with your specification/documentation.
Thank you very much for yo

[2016-08-02 14:41] #96 closed

[2016-08-02 15:30] anujjpandey11 commented on #20
Anybody please let me know is it not possible to show custom notification instead of default when app is in background or is not running while using FCM.

[2016-08-03 06:35] 2ndGAB commented on #20
@anujjpandey11 Yes it's possible by sending a data message which will be received by `onMessageReceive()`.
Then based on the information sent, you can create your own notification using notification builder.

[2016-08-03 07:43] curiousily commented on #45
Here is an excerpt from a response from Firebase support:

[2016-08-03 10:08] anujjpandey11 commented on #20
I already tried it but it is only work when app is in foreground.

Note: I'm sending message from firebase console.

[2016-08-03 11:30] ihussainafridi commented on #15
Not Working

[2016-08-03 15:27] 2ndGAB commented on #20
AFAIK, firebase console is not able to send data only messages, unles it has been updated very recently.

To do that, I use [Google Advanced REST Client](https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo)

And configure it like [here](http://i.imgur.com/MIOuj2U.png)
Of course data are mine, replace everything in data by the infos you need.

[2016-08-03 15:52] samtstern commented on #98
@toneloc this is a good request, I'll mark it as an enhancement.  Also if you want to submit a pull request with some gifs of these apps we always love community contirbutions 👍

[2016-08-03 15:53] samtstern commented on #91
@mykfrost it's been 14 days and I believe the solution offered will solve your problem so I am going to close this issue.  Please re-open it if updating your dependencies does not fix it.

[2016-08-03 15:53] #91 closed

[2016-08-03 17:12] anujjpandey11 commented on #20
Thanks @2ndGAB

[2016-08-03 18:36] kroikie commented on #56
Update: Apps built with the latest version of the Google Play services SDK (9.4) encounter this issue on fewer devices. A comprehensive fix to this issue is being developed and should be available soon. No changes were visible in the sample app because no changes are required in app code to implement this fix.

I will update once the comprehensive fix has been released.

[2016-08-03 18:48] AndroidDeveloperLB commented on #56
@kroikie Is there any workaround for this? And why does it occur?
How come it was found only now? The SDK is out for a few months, and the issue even occurred on Nexus devices...

[2016-08-03 20:47] kroikie commented on #56
@AndroidDeveloperLB try delaying the call to fetch helps, say from onCreate to onResume. I have not been able to reproduce this on Nexus devices I have tried, which one have you seen this issue on? Given that the issue shows itself on some devices and not others it was difficult to track down. We have been able to reproduce it on one of our test devices and while Google Play services SDK 9.4 does

[2016-08-03 21:08] AndroidDeveloperLB commented on #56
I've already reported you guys about it on 9 devices and I don't remember how it went on each. I do remember that it doesn't always occur, and sometimes when I tried it over and over, it didn't occur.

About delaying, this didn't help.

[2016-08-03 23:49] kroikie commented on #56
@AndroidDeveloperLB you are still seeing this issue on SDK 9.4? If so could you indicate the devices here?

[2016-08-04 00:32] Nicomalacho commented on #89
@2ndGAB hey did you fixed using AS 1.52 ?

[2016-08-04 06:08] codevalley opened #100 "Data only messages queued when device is idle (Doze mode?) even when priority is high and ttl=0"
### My environment

  * Android device: Nexus 5, Samsung Galaxy Note, Nexus 5X
  * Android OS version: 6.0+
  * Google Play Services version: 9.2.1
  * Firebase/Play Services SDK version: 9.2.1

## Problem.
I tried executing the sample code. And to send downstream FCM, I have used GAE and have sent a message with following fields.
[code]
I am not able to receive the message, until I unlock the pho

[2016-08-04 07:01] yucheng82 commented on #89
CAN NOT receive a message when app is in background .
D/FirebaseApp: Notifying background state change listeners.
W/FirebaseMessaging: Unable to log event, missing measurement library

[2016-08-04 07:24] 2ndGAB commented on #89
@yucheng82 First check if your device receives the message. Have a look at the logcat view and see if you receive such kind of messages:

    mm-dd hh:ii:ss.nnn 1461-1461/? W/GCM-DMM: broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE flg=0x10000000 pkg=com.your.package (has extras) }

If no, maybe you don't ue the right token.

If yes, please tell m

[2016-08-04 07:26] 2ndGAB commented on #100
First check if your device receives the message. Have a look at the logcat view and see if you receive such kind of messages:

mm-dd hh:ii:ss.nnn 1461-1461/? W/GCM-DMM: broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE flg=0x10000000 pkg=com.your.package (has extras) }
If no, maybe you don't ue the right token.

If yes, please tell us what Android S

[2016-08-04 07:39] 2ndGAB commented on #89
@Nicomalacho Yes, definitively, as explained in detail [here](https://code.google.com/p/android/issues/detail?id=219084)

[2016-08-04 08:01] yucheng82 commented on #89
@2ndGAB
My Android Studio is 2.1.2
message lib version:
`com.google.firebase:firebase-messaging:9.2.1`
My App token is ok .

When App is in foreground, Can receive FCM message:

[code]
when in background CAN NOT receive Message and log is:
`W/FirebaseMessaging: Unable to log event, missing measurement library`

[2016-08-04 08:18] yucheng82 commented on #89
@2ndGAB
I find when APP is in background  the FCM message is show by notification by google's code, not send message to my APP.
and when message is stop, noting is received.
How can i receive a message when app is in background and app is not running.
Thanks!

[2016-08-04 08:32] mykfrost commented on #91
thank u sam

[2016-08-04 08:36] AndroidDeveloperLB commented on #56
@kroikie I don't work on Firebase for the time being, because of this issue, so I can't try it out on 9 devices (have other tasks at the office). It's also a bit rare to notice at the office.
If you work at Google, please have a look at the email sent to firebase-support@google.com , title has this number: "[9-0500000012256]" .
The email contains both a sample and information of which devices had

[2016-08-04 08:36] codevalley commented on #100
@2ndGAB After scouring the internet I am relieved to atlast find someone interested in this issue, and actively being investigated.
That aside, I am pretty sure my app is alive, (see steps to reproduce). This happens specifically in doze mode AFAIK.
In fact, I don't think an app has to be alive for it to trigger `onMessageReceived`, since it has `com.google.firebase.MESSAGING_EVENT`  **intent-filt

[2016-08-04 08:42] AndroidDeveloperLB commented on #56
Note that even though it seems that it worked on my device, it doesn't mean that it always works well.
I remember that for Nexus 4 with Android 5.1.1 , it used not to work, and after a few days, when trying it again, it worked fine (though quite slow - took ~5 seconds to get the variants etc...).

[2016-08-04 09:32] 2ndGAB commented on #100
@codevalley According to my tests, the mentioned message is not always displayed on all devices.
I'm not sure about the state of the application when it's left in foreground but the phone in doze mode.

Anyway does your message fire onMessageReceive() when the application is in background?

[2016-08-04 09:52] 2ndGAB commented on #89
@yucheng82 so to see if you are facing the same problem as me, I can advise you to install Android Studio 1.5 from [here](http://tools.android.com/download/studio/canary).

Install it in a different folder so you keep 2.1.2 version.
You can specify a different sdk folder as well but in fact, the problem seems not coming from it.

Then you open your project in AS 1.5, without changing anything exce

[2016-08-04 10:03] codevalley commented on #100
@2ndGAB No. That's the whole problem. All I want is to get `onMessageReceive()`.

[2016-08-04 10:07] 2ndGAB commented on #100
So, maybe I could propose you to install [Android Studio 1.5](http://tools.android.com/download/studio/canary) beside your 2.1.2 version, and try to build you project from 1.5 without changing anything and see....

[2016-08-04 10:12] codevalley commented on #100
@2ndGAB it worked for you?

[2016-08-04 10:17] 2ndGAB commented on #100
@codevalley perfectly as strange as it appears.

[2016-08-04 10:24] gentjana commented on #24
Please help me. I see this error:

FATAL EXCEPTION: main
                                                                                             Process: com.example.aneg2_000.firebasenotificationapp, PID: 2303
                                                                                             java.lang.IncompatibleClassChangeError: The method 'java.io.File android.support.v4.content

[2016-08-04 11:40] AndroidDeveloperLB commented on #56
I've not tested on Nexus 4 with 4.4.4, which had the issue before. It didn't occur this time.
In order to be sure it got fixed I will need to try on all devices, and also try to reset Play-Store and/or Play-Services.

[2016-08-04 22:43] kroikie commented on #100
@codevalley I assume you are calling `adb shell dumpsys deviceidle step` till the device is `Stepped to: IDLE`. In that case the device should receive the data message when priority is high and the message should never be delivered when priority is normal and ttl is 0.

It seems that your time_to_live, delay_while_idle and priority fields are being ignored, assuming that you left them out, what yo

[2016-08-04 23:22] kroikie commented on #89
@yucheng82 are you seeing this behaviour while running this sample? The warning you are mentioning about the missing measurement library should not prevent your app from receiving the message, that is just an indication that the automatic analytics provided by FCM will not work.

@2ndGAB I'm not convinced that the issue you are facing is due to an Android Studio version change, nor am I convinced

[2016-08-05 04:01] codevalley commented on #100
@kroikie I haven't left those params out. This is my GAE funciton to send a message (downstream).

[code]

[2016-08-05 05:41] ytianhui commented on #38
+1

[2016-08-05 06:05] ynakanishi commented on #38
I also had the same issue. However, after I updated firebase to 9.4.0, I don't see it.

Is this issue solved?

[2016-08-05 06:39] 2ndGAB commented on #89
@kroikie maybe but did you have a look at all tests I made [here](https://code.google.com/p/android/issues/detail?id=219084) ?
How can you conclude somethign else?

[2016-08-05 15:27] kroikie commented on #89
@2ndGAB could you try uninstalling both versions of Android Studio and building from the command line like you have done here and see if the issue persists?

[2016-08-05 15:49] 2ndGAB commented on #89
@kroikie but as you can see, that doesn't depend on sdk and build tools, so I'll be in one of the 2 first cases i.e. building from the command line and building from command line seems to work without problem.
Again, the problem comes if I launch the build from Android Studio 2.
So what do you expect to see more?

[2016-08-05 16:07] kroikie commented on #100
@codevalley thanks for the function, I wonder if your json is formatted the way you expect from the String. The json String that you are generating seems to be missing a comma after the dataJson String unless that string contains a comma itself. Could you possibly log the resulting json string and post it here?

[2016-08-05 16:09] kroikie commented on #89
@2ndGAB Sorry miss read your post, could you try the 2.2 preview, if there is an issue in 2.1 it may have already been fixed.

[2016-08-05 16:26] 2ndGAB commented on #89
ok I'll try

[2016-08-05 17:14] codevalley commented on #100
Ok. let me do it.

[2016-08-05 18:50] codevalley commented on #100
@kroikie
Here is the final json.
[code]
Sorry for the confusion around the 'comma', the running version has data in the end, I changed while tinkering around it see if something was wrong in the order. The json shown above is from actual GAE log.

[2016-08-05 20:43] kroikie commented on #100
@codevalley the format of your request looks good, the data message should be delivered even if the device is in doze mode. Are you running into this issue while using this sample? Or are you using a different application.

I have run this sample on a Nexus 5X and I have not seen this issue. Also v9.4.0 was recently released could you update your dependencies to match those in this sample and try

[2016-08-06 04:21] codevalley commented on #100
@kroikie This is weird. I upgraded to 9.4 and it is now working. I tested on 5x (Nougat preview), Nexus 5 (6.0.1) and Note 4 (6.0.1). Not sure how this got fixed, because I had upgraded to 9.4 yesterday and tested once after that, it didn't seem to work then.
Anyways, I will test a little more today with this new build on different devices and confirm the fix and close this ticket.
PS. Purely out

[2016-08-06 11:03] CeccoCQ commented on #38
With the 9.4.0 the issue still remain.
But the Google/Firebase devs doesn't have any news about this issue? I think that this is a critical bug.

[2016-08-06 16:28] thomaskanzig commented on #24
Hi guys, I did the same problem and after for very searches I find the solution:

Update the dependencies from firebase in the build.gradle with 9.0.2 version
    compile 'com.google.firebase:firebase-core:9.0.2'
    compile 'com.google.firebase:firebase-messaging:9.0.2'

This Resolved for me.

[2016-08-07 11:52] 2ndGAB commented on #89
So, I've installed AS 2.2 Preview 7, I installed evertyhing, I didn't import the settings from AS  2.1

I rebuilt my project, same problem!

I've upgrade my project to 9.4.0, same problem!

[2016-08-07 13:08] codevalley commented on #100
@kroikie Did extensive testing yesterday. Here are the inferences.
- When device is sent to idle from adb commands, all messages are received immediately.
- When device goes to doze by itself (overnight), the messages don't get received on to the device, but it is not queued up for later delivery either (TTL=0 seems to be working)

Hence I can the issue is resolved (mostly). My doubt is if Doze/Id

[2016-08-07 17:48] mindfreak269 commented on #89
I Have same problem,
I use AS 2.1.2 and AS 2.2 Preview 7
Use Target and Compiled SDK API 24
Use Device Xiaomi Redmi Note 3

problem is
if i'm launched app, i can received noification with onMessageReceived()
if i'm press home button / back button in main activity, i can received notification with default FCM
if i'm kill this app, i cant received notification but get usefull message

W/GCM-DMM: bro

[2016-08-08 06:18] 2ndGAB commented on #89
@mindfreak269 That's a "good" news for me.
Please can you try to either build your project from the command line as suggested by @kroikie and exposed few posts above or install AS 1.5 and build/test your project from it?

[2016-08-08 06:21] 2ndGAB commented on #89
@mindfreak269 do you talk here about notification message or data message?

[2016-08-08 07:21] rimzici commented on #20
Hi Team,
@kroikie : Well the issue still persits, I thought i had it solved but i was stupidly mistaken.
I looked into the links that you have suggested [https://github.com/firebase/quickstart-android/blob/master/messaging/app/src/main/java/com/google/firebase/quickstart/fcm/MainActivity.java#L37](url)
, from there can you suggest me some way , how to pass the data from the MainApplication.java(Ma

[2016-08-08 07:46] MiniJay commented on #20
@kroikie  @anujjpandey11
Hi I faced into the same issue.
My app is built in Android 2.1.2.
My app receive the FCM notification with Android service extending the FirebaseMessagingService
Although it's **not working** when my app is clear from the background

There are some questions I am curious about

1.why my app is using 'service' but not 'receiver' in Manifeset.xml
2.is there any problem with

[2016-08-08 07:48] MiniJay commented on #89
@kroikie @anujjpandey11
Hi I faced into the same issue.
My app is built in Android 2.1.2.
My app receive the FCM notification with Android service extending the FirebaseMessagingService
Although it's not working when my app is clear from the background

There are some questions I am curious about

1.why my app is using 'service' but not 'receiver' in Manifeset.xml
2.is there any problem with FCM ?

[2016-08-08 07:52] 2ndGAB commented on #89
@MiniJay if you send notification+data message, your application is not supposed to receive it when it's in background. Only the system tray receives it. But in that case, when you tap the notification, your application is supposed to be launched and receive the data through the intent.
If you want your application receive data while in background, you need to send a data only message.

[2016-08-08 14:30] lenguyenthanh commented on #89
hi @2ndGAB,
We send both notification + data message. When our app is in background, received Intent is empty, it contains no data. (I check data from Intent.getExtras()).

Did I do something wrong  here?

[2016-08-08 14:50] 2ndGAB commented on #89
@lenguyenthanh I would prefer to let @kroikie to answer that point as I didn't explore this feature again from my side.

[2016-08-08 15:33] mindfreak269 commented on #89
@2ndGAB so, if i'm using firebase console, i cant get the message because no option like that, only rest advance API maybe can do that.
@MiniJay i agree with you, why must service, service can killed with MUI (Xiaomi OS in my case), different with GCM, it have receiver and no problem when app killed,

[2016-08-08 15:40] myflashlab opened #102 "Analytics LogEvent fails on Sony Xperia Z"
The very same app works on all our devices except for the Sony Xperia Z. The logcat says:

[code]

the key part is `HAL:write 14 to fd 277 returned 'Device or resource busy' (16)` I think. Any explanation for this?

[2016-08-08 16:15] hf commented on #80
I can confirm that this is happening. We should either get a reason for the change, or get only one change. An authentication state change to a developer means either the user has signed in, or has signed out.

[2016-08-08 16:39] kroikie commented on #89
@MiniJay

1. Firebase add the necessary receivers to your manifest at build time. If you look at the merged manifest of your application you will see a receiver for `com.google.firebase.iid.FirebaseInstanceIdReceiver` this serves both the FirebaseMessagingService and the FirebaseInstanceIDService.
2. There is currently no know issues with the FCM service see the status [dashboard](https://status.f

[2016-08-08 17:09] kroikie commented on #100
@codevalley I have tried the sample in doze mode using the adb commands and if I send a message with ttl 0 while the device is in doze mode (IDLE) it never receives the message, with both 9.2.1 and 9.4.0. Can you confirm that when you are using `adb shell dumpsys deviceidle step` that you are using it repeatedly till the response is `Stepped to: IDLE`?

Glad to hear that it seems to be working whe

[2016-08-08 17:31] codevalley commented on #100
@kroikie Actually it is **not working** when the device organically dozes (overnight).

- When I put device to **IDLE** using **ADB commands**., I **always** get the FCM message (at times a few seconds delay, but negligible). [Absoultely made sure, that the device is stepped to IDLE, have tested it dozens of times since yesterday]
- When I let the device got to **Doze overnight**, and send a messa

[2016-08-08 19:53] kroikie commented on #100
@codevalley to clarify:

If you are using high priority then you should expect to see the notifications coming in even when the phone is in IDLE/Doze, while IDLE and DOZE may not be the same thing FCM messages should be treated the same. ie Delivered if priority is high and not delivered otherwise.

It's difficult for me to define what you are seeing as a bug since I'm not able to reproduce it. It

[2016-08-08 19:53] #100 closed

[2016-08-08 19:59] kroikie commented on #89
This issue seems not to be related to the sample so I'm closing it, however feel free to create new issues.

[2016-08-08 19:59] #89 closed

[2016-08-08 20:05] kroikie commented on #56
@AndroidDeveloperLB We have not been able to reproduce the issue on any of our devices with the new SDK I looked for your support case but that number did not seem to match your issue. Either way I will close this issue and feel free to open another one referring to this one if the issue is visible to you again.

[2016-08-08 20:05] #56 closed

[2016-08-08 20:38] AndroidDeveloperLB commented on #56
@kroikie  But you have succeeded seeing the issue on previous versions of Firebase, right?

[2016-08-08 21:07] samtstern commented on #38
Hi all,

I don't have much of an update but I don't want you to feel that this issue is ignored.  The only way I have been able to reproduce this is by having the wrong SHA1/package name for my app entered in the Firebase console.  It's also possible this error could occur when the wrong version of Google Play Services is installed on the device.

If anyone has another reproduction method I'd be h

[2016-08-08 21:09] samtstern commented on #102
I don't see anything to do with `logEvent`here, how are you determining that the `logEvent` method call is failing?

You can view more information about your Firebase Analytics calls by following these instructions:
https://firebase.google.com/docs/analytics/android/events#view_events_in_the_android_studio_debug_log

[2016-08-08 21:25] kroikie commented on #56
Yes in versions previous to 9.4.0 we were able to reproduce the issue so now we are confident that it is very unlikely to occur and are working on another update that will make it impossible.

[2016-08-09 03:01] codevalley commented on #100
@kroikie No problem. Just to clarify though,

does that mean you could reproduce the bug?

[2016-08-09 09:40] CeccoCQ commented on #38
We can see that I've already verified and added the right SHA1 for my package: https://github.com/firebase/quickstart-android/issues/38#issuecomment-224811237

Can you check if my configuration in that post is right? (Manifest, Gradle, etc...)

[2016-08-09 10:03] lenguyenthanh commented on #89
Thanks @kroikie for answering my question :)

[2016-08-09 13:16] AndroidDeveloperLB commented on #56
@kroikie I don't understand. So on which version the issue is gone? On 9.4.0 (which is currently the latest one), or on newer one?
Is it safe to use it on 9.4.0 ?

[2016-08-09 13:27] rimzici commented on #20
Hi.
Do anyone have a working solution for this??
I tried by sending "DATA ONLY" message iam able to receive push message inside FCM.on('notification',()=> {
});
but not in notification tray, so I have created a custom notification using react-native-system-notification.
that has only made the situation worse. Iam not able to receive push notification at
"FCM. initialData" , where it used when app

[2016-08-09 15:13] samtstern commented on #38
@CeccoCQ what you've posted so far looks right, what does your `app/build.gradle` look like?

[2016-08-10 01:22] naasmobile commented on #61
I am having a similar issue. I was able to successfully generate the message ID. I used FirebaseMessaging.getInstance().subscribeToTopic(InfoTopicName); to create the Topic in my java class. However, when trying to send  notification to the "topic", firebase claims no topics exists.  I used an HTTP curl request to generate the ID. How much time AFTER the ID is generated does it take firebase to cr

[2016-08-10 12:39] NiravShah006 opened #103 "after network connection lost offline write not working"
f### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/) tagged appropriately.
  * For general Firebase discussion, use the [firebase-talk google group](https://groups.google.com/forum/#!forum/firebase-talk)
  * For h

[2016-08-10 12:41] NiravShah006 commented on #103
offline data write not working.

[2016-08-10 14:54] samtstern commented on #103
@NiravShah006 it's too hard for us to troubleshoot an issue without any information.  Please open another issue and fill out the fields in the issue template.

[2016-08-10 14:54] #103 closed

[2016-08-10 21:17] samtstern commented on #78
@mussa-ibragimov so you had to replace `default_web_client_id` with a web Client ID you created yourself?

[2016-08-10 21:18] samtstern commented on #48
@mutablestudio it's been a few weeks since the last reply on this thread and I have heard no additional reports of this issue.  I am going to mark this as closed, please re-open this issue if you are still stuck.

[2016-08-10 21:18] #48 closed

[2016-08-10 21:56] kroikie commented on #89
Thanks @2ndGAB I will bring this issue to the attention of the Android Studio team.

[2016-08-10 22:47] kroikie commented on #20
@rimzici I don't think that, messages from the Firebase console (notification messages) are supported by React Native. I would suggest that you use data messages (sent from the REST API) and generate your own notifications.

[2016-08-10 22:48] kroikie commented on #56
@AndroidDeveloperLB you should not see the issue on 9.4.0 or later.

[2016-08-10 22:52] kroikie commented on #100
@codevalley no it means that I was not able to reproduce the bug. If device is in doze mode (IDLE) then:

- Message sent with ttl = 0 and priority = high: device gets the message immediately
- Message sent with ttl = 0 and priority = normal: device never gets the message

This is what I am seeing on both 9.2.1 and 9.4.0

[2016-08-11 07:10] AndroidDeveloperLB commented on #56
@kroikie  OK, thank you.
Sadly, due to the slow handling of this issue (more than a month since I reported it), we won't use it in the near future.
I hope that by the time we try it all again, it will be more friendly for A/B testing, because currently it all seem like a huge workaround by using various Firebase components.

[2016-08-11 10:19] rio45ka commented on #41
@jamesytl same problem with @chandrahasan. But for me if app dead because killed automatically by ActivityManager. Notifications not received.
I'm using Asus Zenfone with 5.0 Lolipop.

[2016-08-11 14:42] kroikie commented on #56
@AndroidDeveloperLB thanks for the feedback, we are working on making A/B testing easier, so I trust the next time you try config it will be more suited to your A/B testing needs.

[2016-08-11 15:26] kroikie commented on #41
@chandrahasan and @jamesytl The Android framework advises that apps that have been stopped (not in background) should not be started without explicit user interaction. FCM follows this recommendation and thus does not deliver messages to stopped apps. What I believe is happening on the devices in question is that apps that are swiped from the recents list are being stopped and thus not receiving m

[2016-08-12 04:50] njboro opened #104 "java.lang.NullPointerException"
* Android device: EMS Bk2021
  * Android OS version: 4.3
  * Google Play Services version: ___
  * Firebase/Play Services SDK version: 9.4.0

Issue Description:
I tried sending Firebase Notification to users. I got 1 crash on this device only. What may be reason?

Crash report :
Fatal Exception: java.lang.NullPointerException
       at android.os.Bundle.(Bundle.java)
       at android.content.Inte

[2016-08-12 07:18] Miindaugas commented on #16
Got this issue to with older Android versions. 4.1 - 4.4.

[2016-08-12 07:42] mahesh825mahi opened #105 "App crashing in 4.4.4 and Working fine in 6.0.1"
### Step 2: Describe your environment
- Android device: Moto
- Android OS version: 4.4.4
- Google Play Services version: _____
- Firebase/Play Services SDK version:

[code]
### Step 3: Describe the problem:

App working fine in 6.0.1 but app crashing in 4.4.4
#### Steps to reproduce:

While open the app it crashing
1. _____
2. _____
3. _____
#### Observed Results:

java.lang.NoClassDefFoundError:

[2016-08-12 09:46] manishbutola commented on #78
I also get the same issue but adding SHA1 has solved the problem.

To Get SHA1 follow this:
http://stackoverflow.com/questions/27609442/how-to-get-the-sha1-fingerprint-certificate-in-android-studio-for-debug-mode

[2016-08-12 16:48] samtstern commented on #105
@mahesh825mahi would you mind showing your whole `build.gradle` file?  Also what is the version of Google Play Services running on each device? You can find this out by going to **Settings** > **Apps** > **Google Play Services**

[2016-08-12 16:49] samtstern commented on #104
@njboro is this a device you own or one of your users devices?  If you own it, could you check the version of Google Play Services it's running by going to **Settings** > **Apps** > **Google Play Services**?

[2016-08-13 06:44] myflashlab commented on #102
Yep, that's exactly the point and this happens ONLY on Sony Xperia Z. all our other devices are working fine. Because of that, I don't have any more information to provide! But you might probably duplicate the problem if you test with a Sony Xperia Z device?

[2016-08-14 16:16] njboro commented on #104
NO @samtstern , I don't know about Google Play Services version that the User is using. But, I haven't written code to check availability of GPS on a device.

[2016-08-15 15:08] samtstern commented on #104
@njboro given that this is only happening on a small subset of your devices I believe it's an issue with out of date Google Play Services.

You can use the `makeGooglePlayServicesAvailable` method of [`GoogleApiAvailability`](https://developers.google.com/android/reference/com/google/android/gms/common/GoogleApiAvailability.html) to ensure your users have the right version.

[2016-08-15 15:33] nvasilescu commented on #72
I have the same error. It's good to see firebase brings soooo many new features to the table like this one.

[2016-08-15 18:57] samtstern commented on #102
@myflashlab I don't think those `HAL` logs are related to Firebase Analytics, and unfortunately I don't have access to an Xperia Z device.  Are there any other logs you think might be relevant?  And how does your app behave on that device?

[2016-08-16 04:27] rimzici commented on #20
Hi,
@kroikie , Well, may be i would have messed up with something, still a newbie.
Anyway finally It all came together.
after upgrading to
"react": "^15.2.1",
"react-native": "^0.31.0",
"react-native-fcm": "^1.0.16",

it all works perfectly.
thank you very much team.

[2016-08-16 10:42] long-greg-c commented on #72
@samtstern I have emailed you a adb bugreport of this issue occurring.

[2016-08-16 11:33] rishi023 commented on #16
following logs for device (GI-I9500_TMMARS)  running android 4.1.1

Fatal Exception: java.lang.NullPointerException

       at com.google.firebase.messaging.FirebaseMessagingService.zzT(Unknown Source)
       at com.google.firebase.messaging.FirebaseMessagingService.zzn(Unknown Source)
       at com.google.firebase.messaging.FirebaseMessagingService.zzm(Unknown Source)
       at com.google.firebas

[2016-08-16 14:45] samtstern commented on #72
@long-greg-c thanks for the bugreport!

[2016-08-16 16:37] samtstern commented on #16
@Miindaugas @rishi023 what version of the Firebase SDK are you using in your app?

[2016-08-16 18:16] FabianBravoA commented on #16
Almost the same here :
Firebase (play-services) : 9.2.1

at com.google.firebase.messaging.FirebaseMessagingService.zzav(Unknown Source)
       at com.google.firebase.messaging.FirebaseMessagingService.zzn(Unknown Source)
       at com.google.firebase.messaging.FirebaseMessagingService.zzm(Unknown Source)
       at com.google.firebase.iid.zzb$2.run(Unknown Source)
       at java.util.concurrent.Thr

[2016-08-16 18:19] samtstern commented on #16
@FabianBravoA this was fixed in `9.4.0`, could you try updating your dependencies and reporting back if this error still occurs?  Remember to update all `com.google.android.gms` and `com.google.firebase` dependencies to the same version.

[2016-08-16 18:22] FabianBravoA commented on #16
@samtstern Will do, thanks for the quick reply!

[2016-08-17 03:31] Xstar97 opened #107 "ads slow app down"
when I re-implemented my project w/o ads...it was fast & w/o lag...however after adding ads again it became slow & lagged when switching to another option in the bottom navigation. I used bottomBar which is not the caused for the lag, but its your admob SDK that causing it.  any help will be greatly appreciated.

[2016-08-17 09:43] saytomanish82 opened #108 "Notification body text getting truncated"
When we send notification messages, its by default get shown in device tray(as expected). We have message body length of nearly 92 characters. When we try to view the message in device tray only first ~40 characters are being shown. Seems like message is not getting wrap in multiple lines.

We have tested the same behavior on Android phones having 5.1 and 6.0 versions.

![screenshot_2016-08-17-14-

[2016-08-17 23:01] dezmaeth commented on #47
Im having the same problem , the intent doesnt hold any data, both on `onCreate `and `onNewIntent`

[2016-08-18 05:36] codenpk commented on #89
Facing the same issue. Refer https://code.google.com/p/android/issues/detail?id=219084

[2016-08-18 06:14] tsadoklf commented on #45
Any progress?

[2016-08-18 07:06] 2ndGAB commented on #89
@kroikie At least I can say that I have the exact same behavior on your project and mine.

[2016-08-18 11:48] giniedp commented on #80
I use the auth listener callback to detect whether there is already an opened session.
It works perfectly, so i thought. Now i am faced with a device on which that callback is triggered on app start telling me that there is a signed in user. It does so after a fresh install of an app (or data/cache clear). Further that UID seems to not exist. I cant find it in the Firebase Web interface.

that exp

[2016-08-18 16:40] kroikie commented on #96
The console should be working as expected now.

[2016-08-18 16:42] kroikie commented on #108
This should be fixed in SDK 9.4.0. Big Style notifications are used so there would be the option for the user to expand the notification if it is not expanded automatically.

[2016-08-18 16:42] #108 closed

[2016-08-18 17:03] samtstern commented on #72
@long-greg-c can you reproduce this issue with the quickstart app provided in this repo or only with your own app that includes FCM?

[2016-08-19 09:07] long-greg-c commented on #72
@samtstern My own app is still using gcm. I have not tried to reproduce the issue with FCM using my own app or the quickstart app in this repo.

[2016-08-19 19:28] mesuk commented on #47
I am implementing FCM(Firebase messaging Service) in my application. Here all seems ok except when app is in background state i am not able to extract expected notification data.

here is concepts: There are two types of messages in FCM:

display-messages: These messages only work when your app is in foreground.

data-messages: Theses messages work even if your app is in background When our app is

[2016-08-21 13:17] isapoetra commented on #46
this bug comeback on 9.4.0 version, here is my code

[code]
here is stacktrace
[code]
task.getException().getMessage() return null.
with or without expiration parameter while fetch, this error still occur.
please fix/give me solution. thanks.

[2016-08-21 13:54] mesuk commented on #47
**google.sent_time**: 1471631793774

**from**: 50711789666

**google.message_id** 0:1471631793776823%098e508d098e508d

**collapse_key**: com.myapp.package_name

[2016-08-21 14:08] eranpolo commented on #51
Just updating that using 9.2.0 solved the problem for us :)

[2016-08-22 00:42] sanbnl opened #110 "Local Module descriptor class for com.google.firebase.auth not found."
### Step 1: Are you in the right place?

  * For issues or feature requests related to the code **in this repository** file a Github issue.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/) tagged appropriately.
  * For general Firebase discussion, use the [firebase-talk google group](https://groups.google.com/forum/#!forum/firebase-talk)
  * For he

[2016-08-22 00:51] sanbnl commented on #110
- Android device: Google Nexus 4 (Virtual)

- Android OS : 5.0

- Google Play Services version: 9.4.52

- Firebase/Play Services SDK version: 9.4.0

I downloaded the Zip file to try the quickstart in my environment, the app in installed in virtual device.
when i try to create a new in EmailPasswordActivity i get the following Error: **Local module descriptor class for com.google.firebase.auth not

[2016-08-22 03:54] viksoffice commented on #45
Any alternative way to solve this problem?

[2016-08-22 17:00] samtstern commented on #110
@sanbnl can you paste more of the logcat output from the device?

[2016-08-22 17:57] samtstern commented on #46
@isapoetra are you calling fetch in your Activity's `onCreate` method?

[2016-08-22 17:58] samtstern commented on #45
@viksoffice @tsadoklf you can expect a fix in the next release, in the meantime there is not a good workaround if you require startAt, endAt, and persistence.

[2016-08-22 17:59] samtstern commented on #107
@Xstar97 I will need more information to debug this, we have not had other reports of ads slowing down apps significantly so it's hard to guess what's going on here.

Can you provide a small code example that reproduces this issue?

[2016-08-22 18:02] Xstar97 commented on #107
I just updated bottombar to its latest version & implemented it in a better
way...so the lag is gone for now...

On Aug 22, 2016 1:59 PM, "Sam Stern" <notifications@github.com> wrote:

[2016-08-22 20:15] sanbnl commented on #110
@samtstern  sure this is what happens when i set an email and a password and i click "CREATE ACCOUNT":

D/EmailPassword: createAccount:sanbnl0016outlook.com
W/DynamiteModule: Local module descriptor class for com.google.firebase.auth not found.
W/DynamiteModule: Local module descriptor class for com.google.firebase.auth not found.
W/EGL_emulation: eglSurfaceAttrib not implemented
W/OpenGLRenderer:

[2016-08-23 03:41] 10520314 commented on #38
The same issue here but It goes away after a day. Is there any delay in the Firebase server for the SHA1 to be available?

[2016-08-23 08:29] AndroidDeveloperLB opened #111 "Some questions about the "dynamiclinks" sample..."
I have a few questions about this sample:

1. Suppose I have a "google-services.json" file and an app code from the Firebase console (but of another app, of course), what would it take to check the sample?

  Is it only for checking out how it works?

2. Shouldn't you call "disconnect" on "mGoogleApiClient" variable, once it's not needed anymore?

3. Shouldn't I perform all the deep linking handli

[2016-08-23 11:53] #107 closed

[2016-08-23 14:46] samtstern commented on #38
@10520314 there's no server side delay for SHA1 registration, sometimes there is a client-side cache which generally only lasts ~1hr but I would not expect a day long delay.

[2016-08-23 14:51] samtstern commented on #111
@AndroidDeveloperLB hey there, I'll try to answer your questions:

1. Not sure exactly what you're asking here.  The main purpose of the code here is produce a minimal, runnable sample demonstrating how Dynamic Links work and how to use them.

2. Since we are using `enableAutoManage()` there is no need to call `connect()` or `disconnect()`
3. The `getInvitation` API will only return success once p

[2016-08-23 15:11] samtstern commented on #110
@sanbnl can you provide more logs?  I don't believe any of those messages is relevant to the problem.  Also can you attach an `onFailureListener` to your `createUserWithEmailAndPassword` call and log the resulting `Exception`?

[2016-08-23 20:20] AndroidDeveloperLB commented on #111
1. Thing is, how to make the sample work
2. I see. Maybe you should write a comment there. Does it also include error handling (disconnect and free everything, if an error occurred) ?
3. So it's not needed to save for next runs. How much does it take to handle all the calls till it decides it has already handled the deep link, compared to just using SharedPreference to check if we already did it i

[2016-08-23 20:24] samtstern commented on #111
1. Please follow the [README](https://github.com/firebase/quickstart-android/blob/master/dynamiclinks/README.md) to make the sample work.
2.  You can find more documentation on `enableAutoManage()` [here](https://developers.google.com/android/guides/api-client#start_an_automatically_managed_connection)
3. It uses `SharedPreferences` internally, so it's the same speed.
4. It's hard to say why that'

[2016-08-23 20:24] #111 closed

[2016-08-23 21:02] sanbnl commented on #110
@samtstern  Now i tried with a real device and it is working !!!!!
Thank you very much sam.

[2016-08-23 21:03] samtstern commented on #110
@sanbnl glad you got it working!

[2016-08-23 21:03] #110 closed

[2016-08-23 23:51] calistus commented on #40
I am also facing the same issue since Migrated to the latest Firebase console.
Has anybody been able to solve this issue?
@HarshGrandeur @abredykhin  @mdavila  Have you been able to resolve this issue?

[2016-08-24 06:49] AndroidDeveloperLB commented on #111
1. Thanks.
2. I was talking about the sample, but thank you . I will read it. According to it, using enableAutoManage isn't intended to use if I work outside of an Activity, right? So if I don't use it, I should disconnect in all cases, including error.
3. But it still needs to connect to mGoogleApiClient.
4. What can I do to handle it correctly?

[2016-08-24 13:00] isapoetra commented on #46
@samtstern yes. any suggestion?

[2016-08-25 01:31] sydneyitguy commented on #16
I'm having the same crash on `9.4.0`.
Stack trace is exactly the same.

[2016-08-25 08:15] raintears opened #112 "I tried a lot of times but I just couldn't receive notification send from the firebase console?"
I added this to my manifest and do the necessary codes already. I can get the token but when I send I just can't receive from my emulator. I can only receive it when I run on my phone.
[code]

[2016-08-25 15:31] fredpedro commented on #15
It would really be helpful if there is a way to use the setPeristenceEnabled across different Activites.

[2016-08-26 08:27] mesuk commented on #47
finally, i solved my problem. Please visit this answer
[http://stackoverflow.com/a/39161526/3073945](url)

[2016-08-26 09:37] PenzK opened #113 "No default large icon in push"
- Android device: Nexus, Samsung
- Android OS version: 6.0+
- Google Play Services version: 3.0.0
- Firebase/Play Services SDK version: 9.4.0

  I received push from FCM with notification and data, I need this type to handle on iOs also
  There is small icon which I have defined in notification it works on nexus, BUT not on samsung
  on samsng device there is empty space in status bar
  and on eve

[2016-08-26 16:55] manel00 opened #114 "How can I test the app?"
Hi everyone!

Good job guys! It sounds really good! I want to try to understand this code to improve my firebase knowledge, but it's really annoying to get some errors when I import the project as 'Git' on Android Studio (The last edition). Could you give some information please about duties that must to do to make it working? Thanks you so much

[2016-08-26 18:33] samtstern commented on #114
@manel00 what are the errors you're seeing?

[2016-08-26 20:11] manel00 commented on #114
[http://imgur.com/a/FVC4y](url) This is the problem, thanks hope to get some reply! ;)

[2016-08-26 20:22] samtstern commented on #114
Try the instructions here:
http://stackoverflow.com/questions/37310188/failed-to-resolve-com-google-firebasefirebase-core9-0-0/37310513#37310513

That was posted when `9.0.0` was the newest version but the solution is the same for `9.4.0`

[2016-08-27 10:30] manel00 commented on #114
And should to put my own google-services.json right? hehe. The problem was I didn't had installed google play services and the other one... jeje

[2016-08-27 11:01] manel00 commented on #114
Sorry but I dont know how to make it work... always giving me the same error... need to paste google-services.json on multiple folders....

[2016-08-27 11:33] manel00 commented on #114
ok it works finally! just to paste google-services.json on module i want to use right? thanks you ;)

[2016-08-27 14:01] monusurana commented on #40
I'm using Firebase version 9.4.0 and I've Google Play Services version 9.4.52 on my emulator.

I'm facing the same issue when trying to login, I see these failures in logcat logs:
`08-26 05:28:17.704 6020-6033/com.example.auth W/DynamiteModule: Local module descriptor class for com.google.firebase.auth not found.`

I also enabled Firebase logging I see these WebSocket failures.

[code]

[2016-08-28 11:55] sohel2178 commented on #23
Thanks Kroikie Bro, Its Work

[2016-08-29 09:32] rakam commented on #83
Hi

I have the exact same problem with my app.
The reception was instantaneous 3 days ago, today I receive a message either with a 10 minutes delay (approximately) or not at all. I do not have change from devices or networks since then.

The messages sent from the Firebase web UI are never delivered.

As @or-dvir , I don't have a lot of informations to debug this. Topic subscription works fine, an

[2016-08-30 17:09] samtstern commented on #114
@manel00 glad you finally got it!

[2016-08-30 17:09] #114 closed

[2016-08-30 17:25] samtstern commented on #111
2. Yes it's safe to use `autoManage` even if the Activity might die before the result comes back, this case is handled.  You're right that `enableAutoManage` is only for use in an `Activity` context, in other contexts you are required for calling `connect()` and `disconnect()`.
3. Yes that's true.  If that delay is a problem for you, you can track this yourself as described.
4. There's nothing obv

[2016-08-31 09:17] mtiidla commented on #28
Can you please confirm, that sending the same message for iOS and Android devices is not possible when on the Android side custom notification needs to be shown.

What I want to achieve, is to show notification action buttons on Android and this requires to handle the "data" part of the message in `onMessageReceived()`. But for iOS to show the notification (and action buttons), the "notification"

[2016-08-31 14:58] myflashlab opened #118 "Firebase Storage: Unknown method 'PATCH'; must be one of [OPTIONS, GET, HEAD, POST, PUT, DELETE, TRACE]"
when calling the [updateMetadata](https://firebase.google.com/docs/reference/android/com/google/firebase/storage/StorageReference.html#updateMetadata(com.google.firebase.storage.StorageMetadata)) on ice cream sandwich Android V4.0.3 (in forums I heard that kitkat also has a similar problem), it throws the following error message.

It works fine on lollipop and marshmallow though as we tested.

We