[2020-06-08 06:06] JanNash commented on #29
@samtstern Could you elaborate on how it is possible to select multiple crashes and close them all at once? I can't seem to find a way to do this.

[2020-06-08 06:15] JanNash commented on #29
There is even [a video from December 2018](https://www.youtube.com/watch?v=KKaZFkIvs_M) where the first information is that it is not possible to close multiple issues at once. Is there any plan to implement this at all?

[2020-06-08 13:11] samtstern commented on #29
@JanNash sorry I must have been misinformed.  If this  feature is not available and you would like to advocate for it, the best place to do so is here:
https://firebase.google.com/support/troubleshooter/report/features

[2020-06-10 11:48] anzyhui opened #1127 "how to change inner androidx to android support library?"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:
   my project can`t to migrate to Androidx, and I want to use ml-kit lib "firebase-ml-natural-language-language-id-model", but now it is conflict in my project with androidx and androi

[2020-06-11 10:27] Yrlec commented on #594
I'm glad you're not working for Boeing.

[2020-06-14 10:35] danielesegato opened #1129 "[feature request] FCM Messages: create notifications like system ones"
With FCM when the app is in background the OS create a notification that has the image, icon and everything...

but to build a notification that looks the same when the app is in foreground you shouldn't be having to do it manually, I think we should have a method that receive the Notification object and provides the Notification Builder already filled with everything.

For instance I think the OS

[2020-06-14 10:41] danielesegato commented on #1129
I got no template :)

by the way I realized this probably wasn't the place to do such a feature request and i've open this: https://github.com/firebase/firebase-android-sdk/issues/1663

[2020-06-14 11:18] johan-schoeman commented on #819
The SA drivers license (first post) has the following information (Andoid App that I am working on that uses the Android Mobile Vision scanner):

License type 1:  EB
License type 2:
License Type 3:
License Type 4:
Surname:  KRIGE
Initials:  ZA
PrDP Code:
ID Country of Issue:  ZA
License Country of Issue:  ZA
Vehicle Restriction L1:  0
Vehicle Restriction L2:
Vehicle Restriction L3:
Vehicle Restric

[2020-06-14 14:48] ashwinraghav commented on #1129
Closing in favour of the other issue

[2020-06-14 14:48] #1129 closed

[2020-06-15 09:59] GoldLinPan commented on #822
I also can't receive notification in System Notification Bar when App is killed by swiping remove Unless the app is set to run in the background and can start automatically in the system settings （default is auto managed by System).

    mobile phone : Huawei honor 20
    System: Magic UI  3.1.0 (based on Android 10)

[2020-06-15 10:45] evgentset commented on #822
Same issue on Samsung Galaxy A5 with Android 8.0.0.
I use Data Message with custom data payload.
Method onMessageReceived (from FirebaseMessagingService) is not called if the app was removed from recent app. Looks like the app was killed in this case, so FirebaseMessagingService also was stopped.

implementation 'com.google.firebase:firebase-messaging:20.2.0'

[2020-06-15 13:00] evgentset commented on #822
ahhh... found this on SO - https://stackoverflow.com/questions/48642423/firebase-push-notification-issue-in-android-when-app-is-closed-killed
I tested with release build and it works for me.

[2020-06-15 17:38] katowulf commented on #822
There is nothing actionable in this thread related to the Android quickstart; this isn't the correct place to troubleshoot message delivery issues.

[2020-06-15 17:38] #822 closed

[2020-06-17 03:23] longld103 opened #1130 "Barcode scanner detected wrong barcode sometimes"
![failed](https://user-images.githubusercontent.com/8160105/84851242-f4a6d500-b083-11ea-98f7-523619697b67.jpg)

These are results of detector. String `1209-002558GK28E21060524860000321` is correct

1209-002558GK28E21060524860000321
1209-002558GK28E21060524860000321
1209-, 9ZGK18E210523242150321
1209-002558GK28E21060524860000321
1209-002558GK28E21060524860000321
3410702717477
1209-002558GK28E210605

[2020-06-17 03:29] longld103 opened #1131 "MLkit barcode scanner cannot decode simple 1D code, Example "2""
<img width="251" alt="Screen Shot 2020-06-17 at 10 26 38 AM" src="https://user-images.githubusercontent.com/8160105/84851690-2e2c1000-b085-11ea-9b22-b3f76a7a3595.png">

Can't read barcode of one character

[2020-06-17 03:34] longld103 commented on #1131
@zhouyiself Could you help me check

[2020-06-17 03:34] longld103 commented on #1130
@zhouyiself Could you help me check

[2020-06-17 13:25] samtstern commented on #1130
@longld103 it looks like you have the correct result the majority of the time, can you explain what the issue is?

Please use the issue template when filing issue.s

[2020-06-17 13:26] samtstern commented on #1131
@longld103 please use the issue template when filing issues, this is not enough information to debug.

[2020-06-17 13:26] #1131 closed

[2020-06-17 20:07] Thomas-Vos commented on #671
Why are these `.properties` files needed, what are they used for?

[2020-06-17 21:07] pmokkapati opened #1132 "Firebase Authentication"
![Screenshot_20200615-232059](https://user-images.githubusercontent.com/1531471/84951283-11073980-b0a5-11ea-95c8-1e8b738a8a15.png)
We already have an app - coupanda - https://play.google.com/store/apps/details?id=com.coupanda&hl=en on app store.
However when I try to sign up I get an error - "App is not authorized to use Firebase Authentication. Please verify the correct package name and SHA-1 are

[2020-06-17 22:26] samtstern commented on #1132
@pmokkapati since this is an issue with a live app in production please contact Firebase support:
https://firebase.google.com/support

Most apps use a different signing key in development and in production.  My guess is that you only added your development key to Firebase, you need to also add your production key:
https://firebase.google.com/support/guides/launch-checklist#update_your_connected_ap

[2020-06-17 22:26] #1132 closed

[2020-06-18 08:38] longld103 opened #1133 "MLkit barcode scanner cannot decode simple 1D code, Example "2""
<img width="251" alt="Screen Shot 2020-06-17 at 10 26 38 AM" src="https://user-images.githubusercontent.com/8160105/84997259-86900a00-b178-11ea-8581-82b93135ab3b.png">

### Environment

  * Android device: Samsung galaxy note10 (N975F)
  * Android OS version: Android 10
  * Google Play Services version: com.google.gms:google-services:4.3.3
  * Firebase/Play Services SDK version: com.google.firebas

[2020-06-18 08:46] longld103 commented on #1130
### Step 1: Describe your environment

  * Android device: Samsung galaxy note10 (N975F)
  * Android OS version: Android 10
  * Google Play Services version: com.google.gms:google-services:4.3.3
  * Firebase/Play Services SDK version: com.google.firebase:firebase-ml-vision:24.0.3

### Step 2: Describe the problem:
I'm using camera2 api, get bitmap from onImageAvaiable function > put the bitmap to

[2020-06-18 12:27] samtstern commented on #1130
@longld103 the correct response is returned 12/15 frames.  Unfortunately there's no way to guarantee you get the correct response on every single frame, especially when the source image is imperfect (like yours).

I would suggest waiting until you get the same response in two frames, that way you know it's right.

[2020-06-18 12:27] #1130 closed

[2020-06-19 01:48] longld103 commented on #1130
Hi @samtstern
When I tested with high quality image, the issue still occur but wrong rate down to <1%.
FirebaseBarcodeScanner is great however it not have trust 100%
So the point of the issue is input image not good or FirebaseBarcodeScanner can't decode correct 100%?

<img width="1144" alt="Screen Shot 2020-06-19 at 8 15 52 AM" src="https://user-images.githubusercontent.com/8160105/85088160-a28fb

[2020-06-19 20:57] samtstern commented on #1130
@longld103 thank you for trying again with a higher-quality image, that's really helpful.

Unfortunately we can't count on 100% accuracy for MLKit because there are too many factors:

- Phone cameras
- Lenses and focus distance
- Variable "correct" bar code widths

I would suggest the following ways to make your application more resilient:

- Wait until you get two results that are the same, it is

[2020-06-20 03:11] longld103 commented on #1130
@samtstern Thank for your reply. MLKit is wonderful :kissing_heart:

[2020-06-21 19:49] tomblenz commented on #550
We're also seeing this issue come up from time to time in crashlytics, last two devices were
- Samsung Galaxy S8+
- Oppo AX7 (CPH1903)

We're using `com.google.firebase:firebase-perf:19.0.7`.

[code]

Please re-open..

[2020-06-22 15:30] tejasd commented on #550
@tomblenz @fractalbob Thanks for your report! I've forwarded this to the folks currently taking care of this - but AFAICT these seem to be new bugs and so might be worth opening a new issue!

[2020-06-23 13:50] samtstern commented on #550
Thanks @tejasd for keeping an eye on this one.  Also to everyone: if you are experiencing bugs in the Firebase Android SDK please file those on the firebase-android-sdk repo.  We try to keep this repo for quickstart issues only.

[2020-06-23 15:11] beersheba commented on #805
Having the same issue on Xiaomi MI 8 SE.

[code]

Play Store version: 20.4.18
Google Play Services 20.21.17

[2020-06-24 08:03] kishan3390 commented on #100
Hello @codevalley  and @kroikie  and @KhaledJU  I am exactly in the same issue can you guys let me know the solution. This issue has eaten my precious time of almost a week . Please help

[2020-06-26 08:59] AmrutHaridas opened #1137 "Not receiving firebase-inappmessaging"
### Step 1: Describe your environment

  * Android device: Lenovo K50a40 / Samsung T330NU
  * Android OS version:  6.0 / 5.1.1
  * Google Play Services version: 20.1.17 /20.1.28
  * Firebase/Play Services SDK version: com.google.firebase:firebase-database:17.0.0
  * FirebaseUI version: com.firebaseui:firebase-ui-database:5.0.0

### Step 2: Describe the problem:

I am not able to receive firebase-I

[2020-06-26 12:42] samtstern commented on #1137
@AmrutHaridas the best way to make sure you're getting your dependencies right is to use the Bill of Materials (BoM):
https://firebase.google.com/docs/android/setup#firebase-bom

So in your case it would look like this:
[code]

Let me know if that helps!

[2020-06-27 01:23] develbass commented on #368
I have the same problem, and in 2020 there is still no solution for that ?? a shame for google.

[2020-06-27 07:18] AmrutHaridas commented on #1137
Thanks @samtstern I tried as you said..but I am getting following error. I also tried to change the `firebase-bom` version to match it to dependencies I am using in my project. but I get same error.

* What went wrong:
A problem occurred evaluating project ':app'.
Could not find method platform() for arguments [com.google.firebase:firebase-bom:25.5.0] on object of type org.gradle.api.internal.arti

[2020-06-27 07:44] AmrutHaridas commented on #1137
other way .. I checked [Firebase Bill of Materials (Firebase BoM) version 18.0.0](https://firebase.google.com/support/release-notes/android#bom_v18-0-0) and updated `inappmessaging` version like below and with this there is no any error but no In-App message either. Not receiving in-app message ...
`implementation 'com.google.firebase:firebase-inappmessaging:17.1.1'
    implementation 'com.google.

[2020-06-27 15:31] AmrutHaridas commented on #1137
@samtstern we upgraded our project to androidX and with latest dependencies we are now able to send and receive in App messaging. thanks !

[2020-06-28 07:04] njarun commented on #151
Why you guys close the thread without providing a proper response!
Whenever the app is swipe closed from recent app list, we are getting this message in the log instead of a valid payload in the firebase notification handler

W/GCM: broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=***** (has extras) }

[2020-06-28 12:25] abhisheksoni27 commented on #13
How are we supposed to link the accounts using firebase admin sdk, if we do need to allow multiple accounts using same email address (and different social providers) ?

[2020-06-29 12:23] samtstern commented on #1137
@AmrutHaridas that's great, thanks for following up!

[2020-06-29 12:23] #1137 closed

[2020-06-30 16:41] ulukaya commented on #1097
FirebaseModelInterpreter is up for deprecation. Please use TfLite interpreter as shown in https://github.com/FirebaseExtended/codelab-digitclassifier-android/blob/master/final/app/src/main/java/org/tensorflow/lite/examples/digitclassifier/MainActivity.kt#L140
or you can use custom imagelabeler from the ML Kit standalone SDK: https://developers.google.com/ml-kit/vision/image-labeling/custom-models/

[2020-06-30 16:41] #1097 closed

[2020-07-06 11:53] bwpandamb commented on #594
We meet the same thing in the project and update it to 20.1.7 is useless. This problem seems to have existed for at least a year, do you have the plan to solve it?

[2020-07-07 14:58] RodolfoGS commented on #594
Same issue

[2020-07-08 12:03] mwshubham commented on #594
+1

[2020-07-14 10:34] sandeep5193 commented on #368
as mentioned by @kroikie many times here, vendors have not implemented swipe-up from recents correctly. and since most of the low cost devices do not get updates, this seems not getting solved. I have seen this issue in Lenovo Vibe K5 Plus, few apps are whitelisted by vendor. There is restrict-to-launch checkbox in app management. for well-known apps it is unticked. If  I download whatsapp, it is

[2020-07-19 05:35] bukovskiy7777 commented on #368
Hi, when I call *#*#426#*#* on my phone, I see the screen with logs of notifications. In this screen shown that firebase delivered notifications, but android can't broadcast stopped app. So I think this is not a problem of firebase. Maybe it is helps someone to understand how to solve this issue.

[2020-07-20 11:12] RoyJing commented on #594
Same issue,do you have the plan to solve it?

[2020-07-20 11:33] mwshubham commented on #594
@RoyJing I am using  implementation 'com.google.firebase:firebase-messaging:20.2.3'
and it is fixed there check release notes.

[2020-07-20 15:39] RoyJing commented on #594
Hi，bro. Did you see after the app was released that the GooglePlay console didn't have this problem?
And can you tell me about your app's DAU? Thank you very much!

[2020-07-21 09:54] MemoraApps opened #1146 "Why i can't find the directory of this package "import com.google.firebase.example.fireeats.databinding.ActivityMainBinding;"?"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2020-07-21 10:06] samtstern commented on #1146
This is a generated class, it is created at build time.   For more information please see the Android documentation:
https://developer.android.com/topic/libraries/view-binding

Also please do not file issues with an empty template on this repo, it's there to help us help you!

[2020-07-21 10:06] #1146 closed

[2020-07-22 08:07] xuduo commented on #594
My app use a lot of high priority fcm notification with only payload.I wonder if this happens when user click the notification to open the app or when user receive the notification then the app is process is started?
About 70% ANR are from the FirebaseInstanceIdReceiver.

[2020-07-23 21:28] Sampath-Lokuge commented on #296
Can you tell me how to enable this feature to me? I have Samsung Galaxy S8 with Android 8. Here I cannot test this feature on my device. What should I do to enable this on my device because I would like to test how this works with my code?

[2020-07-25 17:38] devakrishna33 commented on #307
Facing same issue, is there a solution yet?

[2020-07-27 03:27] xuduo commented on #594
I've tried to change the fcm notification priority from high to normal, all the ANRS caused by FirebaseInstanceIdReceiver disapeared, except one which has a stacktrace that I think could be resolved. But the notification recieve rate dropped about 10%.

[2020-07-27 12:10] jemshit commented on #1045
I am using v19.3.2,
behavior i get is: `firebaseAuth.pendingAuthResult` is null after returning from apple sign-in browser, while "Dont keep activities" is checked.

[2020-07-27 15:35] lawloretienne commented on #13
this still doesn't work for me even after this suggestion. the email field is still null.

[2020-07-30 21:56] thassio-vinicius commented on #307
this is still happening in 2020. Why is this issue closed?

[2020-08-06 08:56] Sanjay619 commented on #378
I have resolved this issue from its official documents
https://firebase.google.com/docs/cloud-messaging/android/receive

[2020-08-06 12:25] patolax opened #1158 "FirebaseVisionImage.fromMediaImage vs fromBitmap"
Unfortunttely after releaseing the app that was developed on you sample code does not work on most devices. So I am trying to use CameraX or Camera2 apis.

Those api output MediaImage. If I use FirebaseVisionImage.fromMediaImage detection is fast and provide desired performance. However, if I use front camera, FirebaseVisionImage.getBitmap outputs a flipped image.

In order to convert MediaImage

[2020-08-06 15:15] rosariopfernandes commented on #1158
@tpatikirikorala you might want to have a look at https://github.com/googlesamples/mlkit/tree/master/android

The MLKit samples have been moved there, where they're being updated and properly maintained.

[2020-08-06 22:21] procmixin commented on #932
It's provided in the ML Kit [GitHub Sample](https://github.com/googlesamples/mlkit/blob/master/android/vision-quickstart/app/src/main/java/com/google/mlkit/vision/demo/BitmapUtils.java) which uses Camera2

[2020-08-07 12:01] samtstern commented on #1158
@ulukaya @gkaldev should we remove the `mlkit` samples here and point to the more up-to-dates ones that the Android team is maintaining?

[2020-08-11 07:11] florianmonfort commented on #563
just to clarify, on our side we are using some services, and it depends on what you're talking about inside Firebase. Firebase Crashlytics, and Firebase Analytics work for us. However Firebase In-app messaging is blocked. So you might want to customize the SDK and put the domain behind your own to direct it to a server outside the country then route the data to the actual real Firebase domain.

[2020-08-11 09:36] appwelt-new commented on #28
I wanted to update the service when I receive notification even if app is closed or in background but onReceive method is not call at the same time.

[2020-08-13 05:30] abhishekBansal commented on #368
Can confirm that this issue is reproducing for me on `Google Pixel3` running `Android 10` for even `Data only` `Max Priority` FCM messages. App does not receive/show notification when killed from recent panel. However, when app is resumed again all pending notifications are delivered.
This happens even when phone is awake and not sleeping. This is not ideal for me as I am trying to develop a calli

[2020-08-13 10:59] austyking commented on #368
Hass this issue been fixed after 3 years? Or any work around?

[2020-08-13 11:08] KORuL commented on #368
Not fixed

[2020-08-13 11:12] satyajiit commented on #368
Tested on a production app, over 100+ devices. Just don't Pass the "Notification" object .
Issue arises when Passed the "Notification" object.

What I am doing?
Sending notification to devices group/id , on new document (creation) trigger of Firestore.

check this cloud function
https://github.com/satyajiit/PWA_TO_NATIVE_ANDROID_APP/blob/master/Cloud_Functions_For_FCM/functions/index.js

FirebaseS

[2020-08-13 11:20] satyajiit commented on #368
Tested on a production app, over 100+ devices. Just don't Pass the "Notification" object .
Issue arises when Passed the "Notification" object.
( I know this is strange 😷)

What I am doing?
Sending notification to devices group/id , on new document (creation) trigger of Firestore.

check this cloud function
https://github.com/satyajiit/PWA_TO_NATIVE_ANDROID_APP/blob/master/Cloud_Functions_For_FCM/f

[2020-08-13 16:19] abhishekBansal commented on #368
@satyajiit my message is `data` only already. Strangely! It works in `release` builds on Pixel 3

[2020-08-14 09:09] cookiemouse commented on #474
I'm getting the same crash In 19.2.0
please help me.

[2020-08-19 07:46] yasiralijaved opened #1160 "LiveObjectDetection not working"
### Step 1: Describe your environment

  * Android device: Android Emulator
  * Android OS version: 10
  * Google Play Services version: 12451000

### Step 2: Describe the problem:

I get the following a lifecycle and observer related error in console/logcat while launching the LiveObjectDetection Activity. In result the Object detection is not working.

#### Steps to reproduce:

  1. Merge Barcod

[2020-08-19 09:30] samtstern commented on #1160
@yasiralijaved the best place to file MLKit issues is now here, that's where the MLKit team is watching:
https://github.com/googlesamples/mlkit

I can't transfer this issue automatically since GitHub doesn't allow cross-organization transfers.

[2020-08-19 09:30] #1160 closed

[2020-08-19 09:33] yasiralijaved commented on #1160
@samtstern thanks. The issue has been moved to the suggested place.

[2020-08-26 04:04] andy3466 commented on #594
I've also tried to change the fcm notification priority from high to normal, the ANRS caused by FirebaseInstanceIdReceiver decreased a lot. But the notification receive. rate dropped about 30%, which has a huge affect to our app...

[2020-08-27 22:46] Waleedasim commented on #368
same issue, any solution for infinix?

[2020-08-27 22:46] Waleedasim commented on #368
same issue did you find any solution?

[2020-08-28 21:18] Waleedasim commented on #368
finally issue resolved just follow below code it is working fine on oneplus huawei and infinix

[code]

[2020-08-28 21:20] Waleedasim commented on #368
Kotlin version with broadcast would be:

[code]

[2020-08-31 11:29] ArigarasuthanRepo opened #1165 "Firebase notifications did not come when I kill the app in android"
I am developing an android application using kotlin. I am using firebase notifications in my app.notifications arrive when the app in foreground and background.but when I killed the app notification did not come. How to fix the issue?

I am using latest firebase version

`implementation 'com.google.firebase:firebase-messaging:20.2.0'`

Implementing my messaging service:

[code]

Declared in Andori

[2020-08-31 11:36] samtstern commented on #1165
@ArigarasuthanRepo this has been discussed extensively, please see another thread such as #4 or #368

[2020-08-31 11:36] #1165 closed

[2020-08-31 11:43] THEAccess opened #1166 "java.lang.NoClassDefFoundError on Android 5 & 6"
### Step 1: Describe your environment

  * Android device: OnePlus X
  * Android OS version: 6.0.1
  * Google Play Services version: 20.30.19
  * Play Services SDK version: 4.3.3

### Step 2: Describe the problem:

After updating to the latest versions of the Firebase SDK, my users have experienced crashes on Android 5 & 6 devices. I have one test device running Android 6 where I can reproduce the

[2020-08-31 12:20] ArigarasuthanRepo commented on #1165
this thread I saw already none of them solved my issue. that's why I posted the issue.

[2020-09-10 19:25] kylemccollom commented on #296
This is a cool feature, but many users are concerned and confused when they experience it. They do not realize the verification was a success, and they see the experience as insecure. This should be something that we can disable.

[2020-09-11 05:44] michaelsof47 commented on #418
it's still not working when i downgrade into 17.3.4 because i have using onNewToken when i got a new token. sorry for i'm a newbie on fcm. so that, i can't resolve in 2 weeks ago. how i resolve it?

[2020-09-11 10:09] Bradmrhong commented on #594
Hi, @mwshubham, I check the release note and  it says "Fixed an issue that caused an app to crash when a user tapped on a received notification." I'm aware that it solves the crash instead of ANR issues. I just want to confirm if the updates will help to reduce ANR.

Also, I read the comments from @samtstern which says the devices with >26 will trigger more ANRs instead of <26'devices. But as I se

[2020-09-11 14:32] vladikKBR85 commented on #151
Any updates?

[2020-09-13 03:21] JiZhi-Error commented on #673
I also encountered this mistake, which proved to be in conflict with Kotlin-Reflect

[2020-09-14 12:37] mwshubham commented on #594
I checked the play console. We didnt get the ANR from the last two releases. @Bradmrhong Looks like this is fixed in the latest versions.

[2020-09-15 07:01] chitrey commented on #296
This is automatically done by Firebase. You need to enable "Phone Sign In" and your package name should match. Add debugging SHA1 key as well and you should start receiving the codes. And as everyone has already mentioned, we cannot disable the auto verification process. Sadness

[2020-09-15 12:00] Sampath-Lokuge commented on #296
@chitrey **You:** `Instant verification: in some cases the phone number can be instantly verified without needing to send or enter a verification code.`

**Me:** How can I enable this? I can use normal Phone Auth and it always asks verification code. i.e. no instant verification.

[2020-09-16 15:15] arsundram commented on #594
We are still getting this error even after

It is still coming in the latest version "com.google.firebase:firebase-messaging:20.2.4"
Anyone else still getting this ANR? The Play Console is filled with this ANR. It is affecting our play store listing.

[2020-09-18 07:00] Bradmrhong commented on #594
Same as @arsundram. We have already updated to 20.2.4 but still getting this kind of ANRs at the same high rate.
I checked again in StackOverflow and someone says need to update play-service too? Any more ideas about this?

[2020-09-23 06:54] Prabha10cs opened #1178 "setCurrentScreen is deprecated api:firebase-analytics"
'setCurrentScreen(android.app.Activity, java.lang.String, java.lang.String)' is deprecated

[2020-09-23 07:17] vincent-paing commented on #1178
Yes you are supposed to use `FirebaseAnalytics.logEvent`

Per [this blog post](https://firebase.googleblog.com/2020/08/google-analytics-manual-screen-view.html)

[code]

[2020-09-24 13:33] samtstern commented on #1178
Thanks for noticing this!  Preparing a PR to fix this now.

[2020-09-24 13:44] samtstern commented on #1178
Fixed by @rosariopfernandes  in #1176

[2020-09-24 13:44] #1178 closed

[2020-09-25 07:41] mahmoudadel1999 opened #1181 "Can't pass null for argument 'pathString' in child() in adapter recyclerview"
package com.example.grocery.adapters;

import android.content.Context;
import android.content.Intent;
import android.text.format.DateFormat;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;
import android.widget.Filter;
import android.widget.Filterable;
import android.widget.TextView;

import androidx.annotation.NonNull;
import androidx.recyclerview.widg

[2020-09-25 09:42] samtstern commented on #1181
@mahmoudadel1999 please use the issue template and only file bugs here if they are related to bugs in these samples.  If you need someone to help you debug your app, try StackOverflow.

[2020-09-25 09:42] #1181 closed

[2020-09-29 08:28] heiyeliuying commented on #594
ANR +1
too many .

[2020-09-29 12:29] RodolfoGS commented on #594
I updated to `com.google.firebase:firebase-messaging:20.2.4` but the ANRs continue.

[code]

[2020-09-30 14:26] 231mayur commented on #45
apply plugin: 'com.google.gms.google-services'

check if above dependency added if not add it and retry.
This worked for me

[2020-10-09 06:38] JeetSA commented on #784
I am having the same issue. Can anyone please help me?

[2020-10-09 14:33] vishal14321432 commented on #759
hey any body knows the solution?
firebase token is getting null in jellybean 4.2.2

[2020-10-17 09:27] AllwinJohnson commented on #368
Sometimes `onMessage` not working when the app in `background `( removed app from the recent apps)
`Android 9  Lenovo PB-6505M `
while the app is in the `foreground`, `OnMessage` is triggering when I send another notification, and also the pending notifications are coming.

[2020-10-18 18:33] findnizam commented on #200
I have faced the similar issue what helped me is.

You have to provide release Sha1 certificate in firebase, during development you might have provided debug SHA1 but in production and release mode you have to provide release SHA1 in firebase page else your app will load but never signs in.

To get release certificate project>>android>>app>> click build.gradle>>on top right side click "open for ed

[2020-10-20 17:53] pratyesh commented on #594
I was also getting the same ANR(as it mentioned in early comments). So i'm sharing my finding here with you all guys to reduce this ANR.

Memory Leak can be one reason for emitting this **com.google.firebase.iid.firebaseinstanceidreceiver ANR**.
So you can verify on [Android profiler](https://developer.android.com/studio/profile/android-profiler) for memory leak, If memory leak issue is fixed then

[2020-10-21 02:32] tuancoltech commented on #594
@pratyesh Interesting.
Can you please explain in more detail how memory leak can lead to **com.google.firebase.iid.firebaseinstanceidreceiver ANR**?
Thanks.

[2020-10-21 02:38] RodolfoGS commented on #594
This issue is closed and is not asigned to anyone. I think that the best is continue comments in this issue:
https://github.com/firebase/firebase-android-sdk/issues/2014

Thanks 👍

[2020-10-21 08:47] pratyesh commented on #594
@tuancoltech
I had identified in my case the context of Activity/Fragment was being stored in somewhere within ViewModel or some Sdk CallBack(i.e. **Google In App Update**) is registered with the current context and it never been cleared from memory till to kill the app.

So same way if you guys start looking on your Memory Leak issue and after fixing this then surly your ANR will get reduce.

Tha

[2020-10-22 11:48] NidheeshMt commented on #151
Same log when app is in background

broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=***** (has extras) }

[2020-10-28 10:40] memfis19 commented on #372
Hi. We have same issue even in release builds. According to FCM diagnostic tools we found out that we received all messages but some of them didn't broadcasted to out app. Any thoughts how to deal with it?
To be clear:
1. We send high priority push notifications
2. We are using legacy http protocol
3. Push-notifications works fine until device in doze mode or app in standby or both cases.
4. This

[2020-10-28 10:43] willmastered commented on #372
Droidscript type retrieve my information
Install assets call me I'll help 7314138848

[2020-10-28 11:24] willmastered opened #1200 "Getridofbug"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2020-10-28 11:27] #1200 closed

[2020-10-29 08:21] willmastered commented on #372
Im not a bot I just don't talk

[2020-10-30 10:30] 4tee opened #1202 "Crash not working for kotlin version"
I just clone and run the sample app. Tested the crash:app in the emulator.

When the UI for crash sample is running, there is 2 options: Java and Kotlin. Using Java, when i click the button, i can see in firebase console that crash is detected.

However, when i attempted to do on Kotlin, it is not. I try with different firebase project (different json) to verify again. The result is the same. Java

[2020-10-30 11:36] rosariopfernandes commented on #1202
@4tee Can you tell us whether you checked the "Catch Crash" CheckBox or not? Just so we can we can reproduce your issue accurately.

[2020-10-31 03:07] 4tee commented on #1202
@rosariopfernandes ... I unchecked it to make them crashed.

[2020-11-04 06:18] ArcherEmiya05 opened #1207 "Firebase Auth 20.0.0 update has crash"
All of a sudden there is a crash within SMS verification using Firebase UI and Firebase Auth.

`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.happyluck9.pirate.slot, PID: 6678
    java.lang.NoSuchMethodError: No virtual method verifyPhoneNumber(Ljava/lang/String;JLjava/util/concurrent/TimeUnit;Ljava/util/concurrent/Executor;Lcom/google/firebase/auth/l0$b;Lcom/google/firebase/auth/l0$a;)

[2020-11-04 12:10] rosariopfernandes commented on #1207
@ArcherEmiya05 You say this crash happens in Auth 20.0.0, but in your dependencies I see 19.4.0

[2020-11-04 13:17] ArcherEmiya05 commented on #1207
Sorry, updated

[2020-11-04 20:46] rosariopfernandes commented on #1207
@ArcherEmiya05 Thanks for the update, I was able to reproduce this error on my side.
This seems to be due to the fact that [v20.0.0](https://firebase.google.com/support/release-notes/android#auth_v20-0-0) removed the `PhoneAuthProvider#verifyPhoneNumber` method that takes an Executor as a parameter, which is still being used by FirebaseAuthUI.

A fix will probably come out with Firebase UI v7.0.0

[2020-11-04 22:16] rosariopfernandes commented on #1202
@4tee I tried to reproduce your issue with no success. Both the Java and Kotlin apps are working for me.

Here's what it looks like in the Crashlytics Console:

![Screenshot from 2020-11-05 00-09-40 resized](https://user-images.githubusercontent.com/16766726/98173269-7e542380-1efb-11eb-833c-7c4bf0b9e772.png)

Notice that it says "4 events". Some of them are from the Java app, others from the Kotli

[2020-11-05 02:46] ArcherEmiya05 commented on #1207
Yes I agree after reading the changelog of 20.0.0 of Firebase Auth.

[2020-11-05 03:57] 4tee commented on #1202
@rosariopfernandes ... thanks a lot for following up. Yes, today, i try to run again and it works in both Java and Kotlin now. 😕
Anyway, I will close this thread. Thanks a lot once again.

[2020-11-05 03:57] #1202 closed

[2020-11-05 09:16] samtstern commented on #1207
@rosariopfernandes thanks for helping out with the debugging here!
@ArcherEmiya05 we're working on releasing a `7.0.0` version of FirebaseUI soon that will depend on the latest Firebase Auth SDK.  For now they are incompatible, FirebaseUI `6.x` only works with Firebase Auth `19.x`.

[2020-11-05 09:16] #1207 closed

[2020-11-05 16:24] samtstern commented on #1202
@rosariopfernandes thanks for looking into this!

[2020-11-06 11:24] gaiththewolf opened #1209 "FATAL EXCEPTION: Firebase-Messaging-Intent-Handle"
### Step 1: Describe your environment

  * Android device: Nokia 1
  * Android OS version: 8.1 (API 27)
  * Google Play Services version: 203915062
  * Firebase/Play Services SDK version:  firebase-bom:26.0.0/google-services:4.3.4

[code]

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. This problem shown on pre-release report of **Google Play Console** for two devices **Nokia 1*

[2020-11-06 12:29] Cyhermes commented on #368
I tried  adapting this code for Xamarin, but was unable to get it to work, still not receiving the push notification when app is closed on Infinix. @Waleedasim if you don't mind, can you give any other pointers that might be help. Thanks

[2020-11-09 01:55] shahzadafridi commented on #368
If someone is looking for a detailed explanation please visit: [ https://github.com/shahzadafridi/FCM-Notification-Test-Cases](URL) I am sure this will helps you.

[2020-11-17 17:25] yidah commented on #706
I have the same issue

[2020-11-18 09:44] yinyangwu opened #1214 "A bug 'Class versions V1_5 or less must use F_NEW frames'"
**About:Android Firebase Performance**

This is a demo, [https://github.com/yinyangwu/FirebasePerformanceDemo.git](https://github.com/yinyangwu/FirebasePerformanceDemo.git), when I input a build apk command, this bug is happend.
[code]

In project level, build.gradle:
[code]

In app level, build.gradle:
[code]

JDK version info:
[code]
Gradle version info:
[code]
Android Studio version info:
[code

[2020-11-20 15:59] rosariopfernandes opened #1217 "Jetpacktify our quickstarts ✨"
Following up on my suggestion to implement [Modern Android App Architecture](https://developer.android.com/jetpack/guide) here, I've come up with a list of actionable tasks which we can discuss in this issue.

### 1. Replace RelativeLayout with ConstraintLayout

[ConstraintLayout](https://developer.android.com/training/constraint-layout) seems to be the recommended way to design layouts in Android

[2020-11-20 16:16] samtstern commented on #1217
@rosariopfernandes thanks for starting the conversation and breaking down the tasks!

- I think (1) is an obvious positive, we should do it.
- I also think (2) is probably a good idea, I don't think it adds much complexity
- I am a bit concerned about (3) ... I'll have to see what this looks like in an example before deciding.  Quickstarts need to be careful not to "hide" the firebase behind platf

[2020-11-20 16:22] rosariopfernandes commented on #1217
@samtstern I share the same concern on (3). I'll see if I can create a small sample app to demonstrate what this would look like.

[2020-11-23 09:07] mohity777 commented on #1086
Hey can u tell how did u resolve the issue? what needs to be enabled?

[2020-11-23 18:35] viveksomaiya1103 commented on #368
Anyone with any  working solution

[2020-11-23 19:00] KORuL commented on #368
@Google decided to do nothing, it left us with this problem alone

[2020-11-25 10:11] Lans commented on #1081
it happened on xiaomi

[2020-11-29 12:45] anurag-176 commented on #368
Lets get one thing cleared!
What ever the documentation says, what I have experienced is that one doesn't need the "onMessageReceived" to simply open app via notification or a specific part of it, such things can be handled by TAGS in notification's payload and and Intent receiver/reader in the startup activity.
If you have noticed, Push notifications do not pop up when app is in foreground (while

[2020-11-29 12:52] anurag-176 commented on #368
Also, did you guys check [https://firebase.google.com/docs/cloud-messaging/android/receive](this) out?
Check thi stopic there "Background Restricted Apps (Android P or newer)"

[2020-12-01 09:14] sreejithvijayan commented on #23
After two days of troubleshooting, finally i found out that the latest versions of the below nuget packages (or may be one of them) is causing this. I downgraded to the below versions and it started working.

[code]

[2020-12-14 11:37] lenoch0d commented on #1045
Same here with v20.0.1, any update on this?

[2020-12-25 02:15] yorondahacker commented on #781
I hope this gets fixed

[2020-12-30 18:54] ManjKS commented on #368
App state     |   Notification               |         Data                   |         Both
Foreground | onMessageReceived | onMessageReceived | onMessageReceived
Background | System tray | onMessageReceived | Notification: system trayData: in extras of the intent.
When app is in background onMessageReceived() is not called. This is how the behavior is.
When app is in background,notification will

[2021-01-01 13:06] hanchang97 opened #1239 "why the in app message appears only when the button is pressed first time"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

Firebase in app message only appears when I press the trigger button first time.
So I deleted the app and install again.
But I had the same problem.
Any idea why this is happening..?

[2021-01-01 13:15] girubhai commented on #804
Any solution ?

java.lang.RuntimeException: Unable to get provider com.google.firebase.provider.FirebaseInitProvider: java.lang.NullPointerException: null reference
	at android.app.ActivityThread.installProvider(ActivityThread.java:7181)
	at android.app.ActivityThread.installContentProviders(ActivityThread.java:6659)
	at android.app.ActivityThread.handleBindApplication(ActivityThread.java:6576)
	a

[2021-01-02 09:36] moonklhh opened #1240 "ปัญหาเกี่ยวกับรหัสเริ่มต้นอย่างรวดเร็ว"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2021-01-05 10:30] #1240 closed

[2021-01-05 12:38] samtstern commented on #1239
@hanchang97 please use the issue template when filing issues or we won't be able to help you!

[2021-01-05 12:38] #1239 closed

[2021-01-07 12:39] zhuozp commented on #41
Can you make sure that some app like skype, whatsapp are in whitelist. In fact, I had a test on skype. when have a call with skype, the skype can receive incall. But when I delete google play service, skype can't receive any incall when skype is closed.

[2021-01-12 11:32] samtstern commented on #1217
@rosariopfernandes I assigned RTDB and Firestore to myself, will start giving them a look today.

[2021-01-12 17:35] rosariopfernandes commented on #1217
@samtstern Thanks for the assists with ConstraintLayout! I'll see if I can finish my draft for auth tonight.

[2021-01-18 09:02] ibeshkar commented on #368
Hi there,
this problem happens because of the "notification" part of remoteMessage. so if you wanna get a message when the app is in the foreground or killed, you should remove the "notification" from server-side notif.

[2021-01-19 10:09] ben-mathu commented on #902
Any updates on this issue? Did you find a solution?

[2021-01-26 16:44] xayappz commented on #368
I have one App which is on Play Store it receives the notification but the App which is in development process not getting I think after publishing it on the store it will also work.

[2021-02-01 15:15] deimantasa commented on #562
After building my emulator
`firebase emulators:start --only functions`
And trying to run on Android,
`firebaseFunctions.useFunctionsEmulator(origin: "http://10.0.2.2:5001");`
I get an issue
` Firebase Exception: [firebase_functions/unavailable] UNAVAILABLE`

If I run it via postman on `localhost:5001` - it works.

[2021-02-01 15:19] samtstern commented on #562
@deimantasa can you try [this method](https://firebase.google.com/docs/reference/android/com/google/firebase/functions/FirebaseFunctions#useEmulator(java.lang.String,%20int))

[code]

[2021-02-01 15:21] deimantasa commented on #562
There is no secondary param anymore - only one `origin`.
![image](https://user-images.githubusercontent.com/12739071/106478432-c7f0e200-64db-11eb-9e44-06a35a295e70.png)

Am currently on `cloud_functions: ^0.9.0`.

[2021-02-01 15:22] deimantasa commented on #562
There if no such method and params anymore - I suspect it was cut off for some reason.
![image](https://user-images.githubusercontent.com/12739071/106478684-08506000-64dc-11eb-847d-c76caa4245cb.png)

![image](https://user-images.githubusercontent.com/12739071/106478648-fbcc0780-64db-11eb-9f43-d6abc1b8fdf7.png)

Currently I'm on `cloud_functions: ^0.9.0`.

[2021-02-01 15:24] samtstern commented on #562
@deimantasa looks like you're using FlutterFire?  Please file an issue on their GitHub repo, this repo is for the Android SDK quickstarts.

[2021-02-02 16:53] rosariopfernandes opened #1253 "our little dpebot got stuck/blocked :("
@dpetbot seems to be pushing changes to the correct branch (`dpebot-repositorygardener`), but it mentions a PR that doesn't seem to exist: #1231. I tried opening a PR with the changes from that branch, but GitHub doesn't allow it because it detected a similar open PR (our ghost #1231).

[2021-02-02 16:55] samtstern commented on #1253
@rosariopfernandes huh I have no idea how a ghost PR like #1231 could happen!

[2021-02-02 21:52] russparker37 commented on #1253
@

[2021-02-03 10:07] samtstern commented on #1253
See #1255

[2021-02-03 10:07] #1253 closed

[2021-02-04 11:41] NiranjanShirke commented on #359
I am also not able to see custom events on console . please help if anybody have any idea.

[2021-02-04 15:56] Anku5hk commented on #784
Does not work, it shows duplicate classes when using mlkit's ocr. Anyone solved the issue?

[2021-02-04 16:02] Anku5hk commented on #784
The problem seems to be of play services version, on emulator it's not working but on physical device it is. Anyone having problem should check that one.

[2021-02-09 11:45] OlgaFlower commented on #359
I have the same problem! Is any solution??
P.S. view_item is tracked as "screen_view"

[2021-02-10 10:09] Madhanbg commented on #252
How do you solve this error? can't pass null for argument 'pathstring' in child()

[2021-02-18 00:01] michaelMdMlavia opened #1256 "How can import import the code into android studio successfully"
I have been trying to import the code to android studio I get so many errors .Please help

[2021-02-18 00:06] michaelMdMlavia commented on #1256
Please see here
![Screenshot (409)](https://user-images.githubusercontent.com/77862705/108284396-d0a90f80-718d-11eb-9bd6-ec4e80c56425.png)
![Screenshot (408)](https://user-images.githubusercontent.com/77862705/108284401-d30b6980-718d-11eb-8840-6cf27c108496.png)

[2021-02-18 00:08] michaelMdMlavia commented on #1256
are there any dependencies, or anythin I should do the manifest file? as for the buttons and the class name I can work around that  still new at android studio

[2021-02-18 10:57] samtstern commented on #1256
@michaelMdMlavia this is not enough information to help you, we don't know what errors you're getting or what you've tried.  I would suggest asking on StackOverflow which is the better place to get general environment help like this.

[2021-02-18 10:57] #1256 closed

[2021-02-19 12:05] Monika-Paliwal opened #1257 "App is getting crash on click on the push notification in some devices"
Android device: Samsung A30
Android OS version: 10
Firebase : firebase-core:18.0.0
**Steps to reproduce:**
One user call to the another user and the app is in background mode when push is coming on click on push app is getting crash.

**Observed Results:**
though, the notification does appear in the system tray, the data available when we put the data in intent in service but when we are getting t

[2021-02-19 12:11] samtstern commented on #1257
@Monika-Paliwal is this related to the quickstart apps in this repository or your own real app in production?  If it's your real app this seems like we should maybe transfer the issue to this repo: https://github.com/firebase/firebase-android-sdk

Also can you provide the stack trace for this crash?  Right now it's unclear if the crash comes from Firebase code or your code.

[2021-02-19 12:30] Monika-Paliwal commented on #1257
Yes this is related to firebase messaging android SDK  so we can move it.

[2021-02-19 23:06] chiranshu14 commented on #568
@samtstern
Hi Sam,

I am currently trying to implement smart replies using the ML Kit SmartReply model in Python so that it can be used in Django application. I was able to get the tflite model file from the sample android project but could not find the custom ops header files used for that model.

I was planning to build a wrapper library using PyBind to create a stand-alone CPython shared librar

[2021-03-04 15:27] omnibrain commented on #307
We‘re facing the same issue!

[2021-03-05 05:49] homels opened #1260 "Multiple different dependency versions"
When I cloned the project, I found that it depends on different versions of the same library.

For example, it seems to contain okhttp3:3.12.1, okhttp3:3.12.7

[2021-03-05 05:52] homels commented on #1260
![Uploading WeChat1543d265e0f5fda9c3ddba1d76a66dba.png…]()

[2021-03-05 11:39] samtstern commented on #1260
@homels that's normally not a problem, both are on the `3` major version and they should be compatible and they're even the same minor version `3.12.` so they should have the same API.

Gradle handles choosing a version when multiple versions of the same library appear in the dependency tree. This is extremely common in Android projects.

https://docs.gradle.org/current/userguide/dependency_resolu

[2021-03-05 11:39] #1260 closed

[2021-03-15 06:19] crsgarcias commented on #355
Hi, someone was able to fix the error. I tried the following:

1. Get SHA1 from the debug keystore and add the firebase project settings.
2. Get SHA1 Released on Play App Signing
3. Link the application with the Play Console.

All those options didn't work for me, I removed the app and it didn't work either.

The login with Phone Number does not work, but the Facebook one does.

The first time I t

[2021-03-15 06:19] carlg0020 opened #1264 "com.google.firebase.auth.FirebaseAuthException: This app is not authorized to use Firebase Authentication"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:
[auth/app-not-authorized] This app is not authorized to use Firebase Authentication. Please verify that the correct package name and SHA-1 are configured in t

[2021-03-15 06:30] carlg0020 commented on #1264
Y

[2021-03-15 10:53] samtstern commented on #1264
@carlg0020 this is not an issue with the quickstart app in this repo, sounds like your app has a SHA1 misconfiguration. If you're unable to figure out how to fix it try StackOveflow or Firebase support.

[2021-03-15 10:53] #1264 closed

[2021-03-15 11:17] Softkeydel opened #1266 "onMessageReceived not called when app is in background"
I need to send information through pending intent. When the app in foreground onMessageReceived being called and I can get those information but  if the app in background onMessageReceived not being called and tapping on notification form tray app is starting from the launcher screen and I can't get those information. Please help asap.

Thanks

[2021-03-15 11:18] samtstern commented on #1266
@Softkeydel please look at some of the existing issues on this topic, this is not a new issue with the quickstart apps:
https://github.com/firebase/quickstart-android/issues?q=is%3Aissue+background

[2021-03-15 11:18] #1266 closed

[2021-03-15 11:28] Softkeydel commented on #1266
I've already seen these but none of those worked for me. Please help

[2021-03-15 12:27] samtstern commented on #1217
@rosariopfernandes I'll take the Firestore migration to Navigation so I can get some practice with that.

[2021-03-15 12:31] rosariopfernandes commented on #1217
@samtstern I had a feeling you would take it, that's actually why I kept it for last ;)

[2021-03-15 13:23] TamaraShlomovMoveo opened #1267 "Crashlytics not sending any crash reports, getting " Settings request failed" error"
![image](https://user-images.githubusercontent.com/37972688/111159733-177a0180-85a2-11eb-9337-e2aef5d36a31.png)
android :
app-level:
classpath 'com.android.tools.build:gradle:3.3.1'
classpath 'com.google.gms:google-services:4.3.5'
classpath 'com.google.firebase:firebase-crashlytics-gradle:2.2.0'

module-level:
apply plugin: 'com.android.application'
apply plugin: 'com.google.gms.google-services'
a

[2021-03-15 19:14] samtstern commented on #1217
@rosariopfernandes we're so close!  I almost feel bad that we'll probably end up deleting the Java at some point in the next year and going Kotlin-only, but I think we'll both be pretty happy about that 😄

[2021-03-16 10:27] samtstern commented on #1267
@TamaraShlomovMoveo this is not an issue with the quickstart app, please try StackOverflow or Firebase support for debugging.

[2021-03-16 10:27] #1267 closed

[2021-03-16 11:23] TamaraShlomovMoveo commented on #1267
hi Sam, I saw the same issue opened here but on iOS and Unity , so I think this is the right place

[2021-03-17 04:54] eramudeep commented on #307
I am also facing the same issue.

[2021-03-17 06:56] rosariopfernandes commented on #1217
@samtstern It'll be a bit sad to see Java go, since we spent so much time maintaining it. But going Kotlin-only will make maintenance much easier, so I'm happy with that. :smile:

[2021-03-17 07:02] rosariopfernandes commented on #1217
@samtstern I was taking a look at the firestore quickstart to see how we could implement a ViewModel and I found the [`FirestoreAdapter`](https://github.com/firebase/quickstart-android/blob/master/firestore/app/src/main/java/com/google/firebase/example/fireeats/kotlin/adapter/FirestoreAdapter.kt) implementation very interesting.
But I wonder if we have strong reasons to keep it? Because we could r

[2021-03-17 10:34] samtstern commented on #1217
@rosariopfernandes hadn't heard of `ListAdapter`! Everything old is new again. I agree it looks like it could be useful but it also is doing double work by computing the diffs when the Firestore snapshot listener already gives us the diffs between snapshots.

I think since one of the goals of the quickstart is to teach people how to use the Firestore APIs we should probably stick to our current im

[2021-03-24 12:32] NatyN-teac commented on #355
hey there guys, i m also experiencing the "this app is not authorized to use Firebase Authentication error" here is what i did, i have signed the application and add SHA-1 key of release(uploading key) to firebase, and also i have added google play key to firebase, even also i add the debug key also. but its keeps showing me that firebase auth is not  working for my OTP, But in debug mode when i r

[2021-03-25 16:11] sorosons commented on #368
For me in Xcode ı Fix it ruunner >Sign &Capabitlies cheack All - Debug-Release-Profile to be same bundle id and for all accept push notificaiton this was my problem and take my 5 days

  [1]: https://i.stack.imgur.com/ungal.png

[2021-03-25 16:58] adamGT commented on #355
I've had this same issue for days. After trying every possible solution I found out my firebase-auth dependency version was (19.3.1) and when I change it to the latest i.e (20.0.3) it worked fine.
I hope this helps

[2021-03-25 18:31] nrotonda opened #1271 "Sticker packs are not showing up in Gboard"
### Step 1: Describe your environment

  * Android device: Pixel 4 XL (Build number RQ2A.210305.006)
  * Android OS version: 11
  * Google Play Services version: 4.3.5
  * Firebase/Play Services SDK version: firebase-appindexing:19.2.0

### Step 2: Describe the problem:
Stickers from the app-indexing app do not show up in my gboard on my phone. My gboard version is 10.3.05.356487417.
Seems to be a

[2021-03-25 19:28] rosariopfernandes commented on #1271
@nrotonda This has been previously reported in firebase/firebase-android-sdk#2536

The reply to that issue states that:

[2021-03-25 19:40] nrotonda commented on #1271
Ok thanks! Is there an alternate way in Firebase to add stickers to Android? That's the only way I can find in the documentation.

[2021-03-26 04:06] NatyN-teac commented on #355
after one day of not working, then it starts working in both mode, but other issue came out when i upload the same apk i built for release to playstore it's not working but the same apk works when i install on my phone, i have done every possible configuration that might go wrong correctly.... can any one help on this

[2021-03-29 10:35] samtstern commented on #1271
Thanks @rosariopfernandes for providing that link. @nrotonda I would ask on that `firebase-android-sdk` issue if someone knows of a workaround, but unfortunately this may just be broken 😢

[2021-03-29 10:35] #1271 closed

[2021-03-30 07:00] Abhishek01039 commented on #562
Hello @samtstern
https://github.com/firebase/quickstart-android/issues/562#issuecomment-607819116
This is working fine in android.
what about ios stuff?
do we need to do anything in info.plist file ?

[2021-04-02 11:28] William353 opened #1274 "ANR"
### Step 1: Describe your environment

  * Android device: too manay
  * Android OS version: all  5、6、7、8、9、10
  * Google Play Services version: 17.0.0
  * Firebase/Play Services SDK version:
    implementation "com.google.firebase:firebase-core:17.4.4"
    implementation "com.google.firebase:firebase-messaging:21.0.0"
    implementation "com.google.firebase:firebase-config:18.0.0"

### Step 2: De

[2021-04-06 10:38] samtstern commented on #1274
@William353 you need to make sure that your app does not do too much heavy work after receiving this broadcast. I am going to close this because it's not a new issue or an issue with this quickstart, please read these threads for more information:
https://github.com/firebase/quickstart-android/issues?q=is%3Aissue+ANR

[2021-04-06 10:38] #1274 closed

[2021-04-10 08:26] wuizard commented on #296
I found out this instant verification is dangerous.
Even when your SIM number is different with the number you use to login. You still get instant verification. Why don't you guys at least disable instant verification if the number is different with current device SIM number ?

or at least , give us developer disable feature

[2021-04-12 09:19] djj1109 commented on #1158
thanks

[2021-04-12 11:17] ulukaya commented on #1158
Firebase ML-Kit SDK is deprecated, please follow the Google ML-Kit at https://github.com/googlesamples/mlkit/tree/master/android/vision-quickstart

[2021-04-12 11:17] #1158 closed

[2021-04-13 19:41] mbunch33 opened #1279 "How do i fix this?"
https://github.com/firebase/quickstart-android/blob/cf8d0eebc5d74bccf19e198fedb29478bb1825e7/analytics/app/src/main/java/com/google/firebase/quickstart/analytics/kotlin/MainActivity.kt#L202

[2021-04-14 17:00] Alsania14 commented on #307
i am also facing the same issue

[2021-04-15 03:53] VISHALANONYMOUS commented on #582
just update your Android studio and restart your pc

[2021-04-15 09:55] #1279 closed

[2021-04-15 10:13] shekhar12020 commented on #307
We are also facing same issue. Randomly device stopped receiving notification. Then I need to restart the mobile network or wifi then it start working again and message get delivered from FCM.

[2021-04-16 03:01] bhanuka96 opened #1280 "how to get RemoteInput text in FirebaseMessagingService"
I am creating **reply action button** in the message notification. I need to send that text to firestore when the user press sends button in the notification.

**This is my FirebaseMessagingService service**

     override fun onMessageReceived(remoteMessage: RemoteMessage) {

            if (remoteMessage.data.isNotEmpty()) {
                if (!isAppForground(this)) {
                    sendNo

[2021-04-19 09:48] samtstern commented on #1280
@bhanuka96 this is a general Android programming question and not something related to the code in this quickstart, please try StackOverflow.

[2021-04-19 09:48] #1280 closed

[2021-04-19 10:11] bhanuka96 commented on #1280
@samtstern okay. I already added. waiting 3 days. https://stackoverflow.com/q/67112824/8822337

[2021-04-20 13:14] andreififiita commented on #307
Also it seems (for me at least) that messages sent to PWA / Chrome apps (using firebase web) have even longer delay, even hours if the phone or browser is not used. I have recently posted here: https://stackoverflow.com/questions/67178131/firebase-messaging-priority-high-not-working-on-android-chrome-pwa-app-delaye

[2021-04-20 13:16] andreififiita commented on #307
@samtstern : You said that this issue was closed because it is not related to the code in this repo (which is understandable), but is there another issue opened somewhere else? If not, where can we open one so that the Firebase team takes us seriously?

[2021-04-21 04:12] shekhar12020 commented on #307
Put below broadcast to send heartbeat to fcm on every launch:

    sendBroadcast(new Intent("com.google.android.intent.action.GTALK_HEARTBEAT"));
    sendBroadcast(new Intent("com.google.android.intent.action.MCS_HEARTBEAT"));

It's working for me.

[2021-04-23 01:09] #875 closed

[2021-04-24 17:02] djj1109 opened #1283 "games"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2021-04-26 09:55] #1283 closed

[2021-05-04 08:55] erkkkkkkkkk commented on #4
Gi

[2021-05-05 05:21] erkkkkkkkkk opened #1288 "#@firebase-adminsdk-7bjdr@gserviceaccount.com"
@https://console.firebase.google.com/u/0/project/neert-3d654/overview

### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This cou

[2021-05-05 05:23] #1288 closed

[2021-05-05 11:42] EinfachHans commented on #307
@shekhar12020 I'am encountering a similar issue. Sending these Heartbeats on App Launch solved it for sure? What does they do?

[2021-05-10 17:00] erkkkkkkkkk opened #1291 "App"
https://android.googlesource.com/trusty/app/avb
الفروع

[2021-05-14 08:48] atulmavani opened #1294 "onverificationcompleted not called"
on verification method not call on each and every device

[2021-05-14 12:45] samtstern commented on #1294
@atulmavani please use the issue template when filing issues. Also this does not sound like it's an issue with the quickstart code in this repository.

[2021-05-14 12:45] #1294 closed

[2021-05-19 03:13] ekramul-1 commented on #595
Same issue as I also did the same mistake

[2021-05-20 06:30] GuptaMunna commented on #473
Im getting the same error on android 11.

[2021-05-23 06:48] aasif1297 commented on #355
Same issue. Got any solution?

[2021-05-26 07:38] fengxiaohu opened #1297 "Is there any way to build a private firebase test lab on my own device"
I was in CHINA,so i can not use the google service.
can i build a private firebase test lab on my own server to test the APP?

[2021-05-26 09:10] samtstern commented on #1297
@fengxiaohu this does not follow the issue template and is not related to the quickstart code.

[2021-05-29 15:36] takieddine12 commented on #296
I guess there should be a way to disable it at least , me basically i prefer to receive the sms and verify it from the user side as well , then authenticate him

[2021-06-05 14:08] TiavinaRakotobe commented on #41
#41

[2021-06-08 19:59] tucson-tom opened #1300 "Firebase AppIndexing no longer working with Gboard"
### Step 1: Describe your environment

  * Android device: Pixel 2
  * Android OS version: 11
  * Google Play Services version: Jan 1, 2021
  * Firebase/Play Services SDK version: firebase-appindexing:20.0.0

### Step 2: Describe the problem:

com.tucson.thisistucsonstickerpack is no longer loading stickers in Gboard on any device, including mine.

#### Steps to reproduce:

Install and run com.tuc

[2021-06-08 20:42] rosariopfernandes commented on #1300
@tucson-tom please see my [comment in #1271](https://github.com/firebase/quickstart-android/issues/1271#issuecomment-807334304)

[2021-06-09 23:01] tucson-tom commented on #1300
We have unpublished the associated app from Google Play due to Gboard apparently no longer supporting custom stickers via App Indexing and no path for continuity of functionality.  It's a sad day for cute and adorable cactus stickers everywhere.

[2021-06-10 10:16] samtstern commented on #1300
🌵 😢

[2021-06-10 17:49] tucson-tom commented on #1300
@rosariopfernandes Not sure why you are confused.  Please clarify.  The issue you linked to says that App Indexing is dead.  And our testing is showing that Gboard is not loading stickers via App Indexing and there are no alternatives available.  Removing the app from the Google Play store, especially since the sticker app is not free, is the most responsible thing to do.

[2021-06-10 18:14] rosariopfernandes commented on #1300
@tucson-tom Oops, my bad. I was looking for a 'sad' reaction and apparently 'confused' is the only one with that face :/

Sad to hear the app was removed from the store. I really hope we get a suitable alternative some day.

[2021-06-15 12:59] rugovit commented on #902
happens on my app as well, no stacktrace

[2021-06-17 15:34] JeremyR34 commented on #1300
Spent the 2 last hours trying to make it work until I found this issue...
Sad to see that custom stickers are not supported anymore.
Even sadder to find no official announcement or update...

[2021-06-18 13:38] George-Kihara opened #1302 "How can i get all the devices subscribed to a particular FCM topic?"

[2021-06-23 09:26] Prasannnakumar opened #1304 "Firebase Authentication"
* Android device: realme
  * Android OS version: 10
  * Google Play Services version: 21.21. 16
  * Firebase/Play Services SDK version: 4.3.8

we are currently making an app where you can also login via your Google account or mobile phone number with Firebase. With the keytool I have already read my SHA-1 and stored it in the project settings of Firebase (I also read the SHA-1 value via Gradle in

[2021-06-23 09:29] samtstern commented on #1304
@Prasannnakumar for SHA-1 issues the best place is StackOverflow, this is not an issue with the quickstart app. However before I close the issue let me take a guess at what's happening.

Since you said "but in case of my Team member its working properly" this sounds like a debug keystore issue. Every computer has its own unique debug keystore with its own SHA1:
https://developer.android.com/studio

[2021-06-23 09:29] #1304 closed

[2021-06-23 16:21] rohitsharma181589 commented on #355
I am also facing same issue, please suggest.

[2021-06-23 16:25] aasif1297 commented on #355
I have just changed the these two lines in app build.gradle file and it worked. You can try this too.

classpath 'com.android.tools.build:gradle:3.5.0'
classpath 'com.google.gms:google-services:4.3.4'

[2021-06-27 12:56] ethanwlo commented on #595
Same issue here...

[2021-07-01 06:48] Shawn1912 commented on #296
Hahaha, its been 4 years and we still don't have a workaround for this issue!

[2021-07-02 15:24] samtstern commented on #1300
Hey everyone. I am really sorry about some of the frustration you have experienced working with AppIndexing. As you noticed, it is definitely no longer fully working and we should have updated our documentation sooner to reflect that.

As of today the App Indexing docs give a much stronger warning to developers that this product should no longer be used in almost all cases: https://firebase.google

[2021-07-02 15:24] #1300 closed

[2021-07-03 12:10] MuruganandhamE commented on #368
any solution for this issue?

[2021-07-16 13:13] samtstern commented on #1217
cc @gkaldev who may pick up this work in the future! Kalyan if you plan to do anything related to Firebase + Android + GitHub make sure to say hi to @rosariopfernandes (the hidden wizard behind the curtain).

[2021-07-22 05:20] yujongu commented on #307
Did anyone find a solution to this?

[2021-07-25 12:44] cyxin577 opened #1319 "Token is written to the log files."
Describe the problem:
  1. Token is a piece of sensitive data.
  2. Token is written to the log files.  `Log.d(TAG, "onNewToken:" + token);` in CustomAuthFragment.java.

#### Observed Results:

This data leakage may result in session hijacking.

#### Expected Results:
Maybe just detele this statement is fine.

Thanks.

[2021-07-30 10:14] snowfluke commented on #307
Having the same issue, notifications just stopped working and delivered in a huge delay

[2021-07-31 06:03] HrishikeshPator commented on #355
Hey i'm facing the same issue... did you manage to solve it out?

[2021-08-04 12:40] ramaaz31 opened #1320 "041210"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2021-08-04 12:42] #1320 closed

[2021-08-07 19:59] gdhananjay opened #1321 "Request to reopen https://github.com/firebase/quickstart-android/issues/83"
Step 2: Describe your environment
first device:

Android device: LG G3
Android OS version: 5.0
Google Play Services version: 9.2.56
Firebase/Play Services SDK version: 9.2.0
second device:

Android device: asus zenpad 10
Android OS version: 5.0.2
Google Play Services version: 9.2.56
Firebase/Play Services SDK version: 9.2.0
Step 3: Describe the problem:
im trying to test the FCM capabilities using

[2021-08-07 20:02] gdhananjay commented on #1321
So many users are facing issue with FCM notifications are missing or  not delayed . https://github.com/firebase/quickstart-android/issues/83   issue is closed 3 years back.
Could you update on this. If it is possible to resolve this issue. Or please highlight it in document. We implemented entire app and now realised that notification are not guaranteed.  Its big set back for us. Please provide uo

[2021-08-12 17:54] s7aycool opened #1324 "Why it's so hard to download only one project? e.g. messaging"
I only want to quickstart messaging ) why I have to download the entire 3 hundred projects and then .... ???? unzip and import the project I need .... this is just so bad

[2021-08-12 20:29] rosariopfernandes commented on #1324
@s7aycool That's mostly because this is a git repository and that's the way that git works.

According to this [StackOverflow answer](https://stackoverflow.com/a/52269934/5861618), you can actually clone a specific project using git 2.19 (I haven't tested this myself):

[code]

[2021-08-18 15:58] bugthug404 opened #1325 "Firebase causing Crashes on several devices after instaling from playstore (SQLiteConnection.java )"
### Step 1: Describe your environment

  * Android device: All Android devices
  * Android OS version: All OS Version
  * Google Play Services version: any
  * Firebase/Play Services SDK version: Latest 18-07-2021

### Step 2: Describe the problem:
Firebase Firestore causing crashes to app after downloading from playstore
#### Steps to reproduce:

  1. Its occuring around 30% of the devices accord

[2021-08-23 16:27] kroikie commented on #1321
Hi @gdhananjay sorry for the confusion there. Since there are many thing that can result in this message delivery delays I would reachout to [support](https://firebase.google.com/support) for specific situations. One way of better understanding the delivery of messages is by using the [Aggregated delivery API](https://firebase.google.com/docs/cloud-messaging/understand-delivery#aggregated_delivery

[2021-08-23 16:27] #1321 closed

[2021-08-23 16:47] gdhananjay commented on #1321
To:
@kroikie

CC:
@samtstern
@rosariopfernandes

My request you to not to close this issue. This is not only about delay messages are getting lost. As you said "I would reach-out to support for specific situations."

Could you please revert back on possible cause for messages are getting lost.

Please reopen this issue.

[2021-08-23 17:02] kroikie commented on #1321
@gdhananjay support is really the best place to resolve these issues since there are not specific issues with the SDK that can be employed to address delivery issues. For example if the device you are sending to is force stopping the app then there is nothing you can do with FCM to improve that situation.

Using things like the Aggregation API  will help you understand where and why messages are f

[2021-08-23 17:04] rosariopfernandes commented on #1321
@gdhananjay You mentioned you're using this sample, so I assume you're using topics in your app.

It is mentioned on the [Firebase Docs](https://firebase.google.com/docs/cloud-messaging/android/topic-messaging) that:

That said, I suggest you send your messages to specific devices if you want them to be delivered quickly.

[2021-08-23 17:48] gdhananjay commented on #1321
@rosariopfernandes,

CC:
@kroikie
@samtstern

That seems great help to me. Thanks for your suggestion. Along the line i have a question. Yes, topic messages are optimized for throughput and i have same use case.  Problem in our use case is not latency. Problem is messages are getting lost. We observed this on both android and IOS.  Do you have any direction to work on its resolution for me ?

I wa

[2021-08-24 10:13] cluckbird opened #1328 "I have found a Docs error"
Dev Docs: https://firebase.google.com/docs/cloud-messaging/android/client?authuser=0#manifest

[code]
It should be written as
[code]
Although I fully understand the meaning, it is not straightforward to use and may mislead newcomers with its vague meaning
Direct copying results in an `Class referenced in the manifest, com.xxx.java.MyFirebaseMessagingService, was not found in the project or the lib

[2021-08-24 10:14] cluckbird commented on #1328
I understand, but this is a docs error

[2021-09-01 06:39] Eleftheria-99 commented on #715
@ayyf What action did you add in MAnifest?? I have the same issue here

[2021-09-07 14:32] enriquejuan2 commented on #355
For me what i did was to update

This worked for me, i also upgraded the authentication dependency.

[2021-09-09 11:52] Lelelo1 commented on #1040
I am using [google_ml_vision](https://github.com/brianmtully/flutter_google_ml_vision) and I always get null confidence.

[2021-09-12 06:08] xfilesunlimited opened #1330 "I had error on EntryChoiceActivity im using java"
package com.google.samples.quickstart.admobexample

import android.content.Intent
import com.firebase.example.internal.BaseEntryChoiceActivity
import com.firebase.example.internal.Choice
import com.google.samples.quickstart.admobexample.java.MainActivity

class EntryChoiceActivity : BaseEntryChoiceActivity() {

    override fun getChoices(): List<Choice> {
        return listOf(
                Ch

[2021-09-12 06:13] xfilesunlimited opened #1331 "no edit source code"
can any one give me downloadable source code with this with no error i mean complete package

[2021-09-12 06:19] xfilesunlimited opened #1332 "Can anyone give me source code of this in full java"
i need full source code in java please hand me some

[2021-09-12 16:23] OfirAlo commented on #477
another week here as well. "oh my god" indeed

[2021-09-14 19:07] tlworkssoftware commented on #1325
I'm going through the same problem, did you have any solution?

[2021-10-01 07:24] CaptainRock opened #1333 "Build failure without any warning"
### Step 1: Describe your environment

  * Android device: Emulator( Pixel 4 API 27)
  * Android OS version: 8.1
  * Google Play Services version:  Google Services 4.3.10
  * Firebase/Play Services SDK version: com.google.android.gms:play-services-auth:19.2.0
  * Android Studio Version - Arctic Fox

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. Import project
  2. Run "Rebuild

[2021-10-13 07:54] AdnanBhatti143 opened #1336 "ANR"
**Firebase bom version :28.2.1
play services ads version:19.8.0**
ANR details
Broadcast of Intent { act=com.google.android.c2dm.intent.RECEIVE flg=0x11000010
pkg=com.packagename
cmp=com.packagename/com.google.firebase.iid.FirebaseInstanceIdReceiver (has extras) }
com.google.firebase.iid.FirebaseInstanceIdReceiver
By Android version
Android 11 (SDK 30)
By device
Samsung Galaxy A30s
Samsung Galaxy A

[2021-10-13 09:31] #1336 closed

[2021-10-14 19:44] s7aycool commented on #1324
It worked out. Thanks) I think you should pin this somewhere, so people will download only projects they really need, and so will save some electricity and money for the well being of mother nature

[2021-10-14 19:44] #1324 closed

[2021-10-18 09:52] adifyr commented on #296
I am absolutely astonished at the sheer incompetence and negligence of the Firebase Team. You ALSO have an issue - (https://github.com/firebase/firebase-android-sdk/issues/2688) where if the app name on the Play Store/App Store is longer than 15 characters, then the auto-verification doesn't even work!

So now, if I want to disable your near-useless auto-verification and let the user immediately e

[2021-11-02 18:18] ubuntu2326 commented on #88
Don't send notification payload, only send Data payload

[2021-11-21 07:28] akillika commented on #595
Same issue and still they didn't fix it event after Nov 2021.

[2021-11-21 08:43] zeropi2021 commented on #307
I have the same problems, especially noticeable it started to be a few days ago.

Delays from several minutes up to hours or complete lack of notifications. Various applications such as IFTTT or ewelink show the same problems... so this is not a problem on the application side.

[2021-11-25 13:21] RulerKun commented on #1007
Hello,

is there any solution to this issue?

I have also been trying to this

i tested this with the tool from the FCM
`https://console.firebase.google.com/project/__/notification/compose`

while it is successfully receives all notification when it is online, once the device turns offline. Sending multiple FCM notifications and once the network have return. Only the last FCM notification will be

[2021-11-26 09:30] jemshit commented on #1045
Any update?

[2021-12-06 08:07] kushal-panchal28 commented on #595
Faced same issue..
Please put the solution if we get it from firebase

[2021-12-10 09:16] akillika commented on #595
I got reply from Firebase after a month stating that they have unblocked the domain! Can't believe that firebase is in this condition!

[2022-01-17 12:31] joshua-nigro commented on #6
* **GOOGLE** *.  .

[2022-01-21 20:44] Polindem commented on #7
Caused by: com.google.firebase.database.DatabaseException: Failed to get FirebaseDatabase instance: Specify DatabaseURL within FirebaseApp or from your getInstance() call.

the URL should be inside of getInstance()

like:

FirebaseDatabase.getInstance("URL of your database here")

[2022-01-23 13:57] trent-webview-tities87 opened #1345 "firebase"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2022-01-25 17:00] #1345 closed

[2022-01-27 02:58] tunsira opened #1346 "Sira66"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2022-01-27 07:32] #1346 closed

[2022-01-27 21:39] Doyhenc2512 opened #1347 "This issue does not seem to follow the issue template. Make sure you provide all the required information."
This issue does not seem to follow the issue template. Make sure you provide all the required information.

_Originally posted by @google-oss-bot in https://github.com/firebase/quickstart-android/issues/1332#issuecomment-917565751_

[2022-01-28 04:54] NOUIY opened #1348 "https://www.opera.com/computer"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2022-01-29 02:24] tunsira opened #1349 "Repo"
https://github.com/web-platform-tests/wpt/blob/master/IndexedDB/keygenerator-constrainterror.htm#L1-L14

[2022-01-29 08:17] jfbourne commented on #296
whats the status of this?

[2022-01-30 15:51] #1347 closed

[2022-02-02 20:31] trent-webview-tities87 opened #1350 "Firebaae"
### Step 1: Describe your environment

  * Android device: _____
  * Android OS version: _____
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, `logcat` output, etc.

#### Expected Results:

  *

[2022-02-02 20:55] #1350 closed

[2022-02-03 09:44] samikedomitila commented on #307
Having the same issue for both android and iOS, notifications just stopped working and delivered in a huge delay

[2022-02-04 12:09] marinacoelho commented on #1330
Hello @xfilesunlimited . Can you paste the crash here too? It will help to understand what is happening.

[2022-02-04 15:30] marinacoelho commented on #1332
Hello @xfilesunlimited ! All quick starts have both Android and Java Activities/Fragments. You can find the java files for each project by navigating to `app/src/main/project-name/java` folder.

[2022-02-04 15:31] #1332 closed

[2022-02-04 15:32] marinacoelho commented on #1331
Hello @xfilesunlimited ! Have you tried cloning the repository already?

[2022-02-09 19:11] n0psn0ps opened #1352 "Issue with Analytics Quick Start Guide"
### Step 0: Following the provided Guidance in Android Studio to deploy a demo APK for Android here:
    https://github.com/firebase/quickstart-android/blob/master/analytics/README.md

### Step 1: Describe your environment

  * Android device: Pixel 5
  * Android OS version: 30
  * Google Play Services version: not any emulated environment
  * Firebase/Play Services SDK version: Recent

### Step 2

[2022-02-09 19:19] thatfiredev commented on #1352
@n0psn0ps It would be helpful for us if you could show us what edits/changes you made to build.gradle

[2022-02-09 19:21] n0psn0ps commented on #1352
@thatfiredev Here are the changes made below at the end of the code:
[code]

[2022-02-09 19:34] n0psn0ps commented on #1352
Looks like after trying the specified directions as above and loading the application into my emulated device I am getting this error.

[code]

[2022-02-09 19:36] n0psn0ps commented on #1352
Fixed the issue thanks for the help.

[2022-02-09 21:15] n0psn0ps commented on #1352
@thatfiredev Is there a determined amount of time data will populate into Firebase Predictions based on the quick start application. I have read it will take anywhere from 3 - 24 hours. Is this true and what experience do folks have on this?

[2022-02-10 15:19] #1349 closed

[2022-02-15 16:43] aenonGit commented on #307
same here, on android (pixel 3a) sometimes notifications with `priority: high` and `ttl: 0` arrive with few seconds delay (making it useless for my usecase) or do not arrive at all.

[2022-02-18 02:00] #1331 closed

[2022-02-18 02:00] #1330 closed

[2022-02-21 05:43] petrgazarov opened #1354 "Analytics: DebugView not showing any events"
### Step 1: Describe your environment

  * Android device: Samsung A52 (physical)
  * Android OS version: 11
  * Google Play Services version: 21.48.15
  * Firebase/Play Services SDK version: 4.3.8

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. Clone this repository
  2. Add "Quickstart Android" app to an existing Firebase project in the Firebase Console

<img width="943" alt="

[2022-02-21 05:58] petrgazarov commented on #1354
Edited the description with details, steps to reproduce, etc.

[2022-02-23 06:23] sfuqua commented on #4
@samtstern @kroikie pardon the tags but I have been neck-deep in GitHub issues and StackOverflow posts for weeks now trying to understand how to fit a square peg into a round hole with FCM and I keep arriving at "what I want to do is impossible, and is also considered by-design according to Firebase". I have read every post in both this issue and #368 while trying to draw blood from a stone.

I ha

[2022-02-24 20:05] n0psn0ps opened #1355 "Realtime Database Android APK Deployment Issue"
### Step 1: Describe your environment

  * Android device: Android Studio Emulator
  * Android OS version: Pixel 4A - 11.0 / API 30
  * Google Play Services version: n/a
  * Firebase/Play Services SDK version: most recent

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. Build the app via the Quick Start Code with the corresponding google-service.json file and export APK via "rele

[2022-03-03 23:33] thatfiredev commented on #1355
@n0psn0ps when you say _"appears to stall while registering"_ do you mean it crashes?

I successfully reproduced this issue and the app only crashes when running the Kotlin quickstart in release build; the Java one works just fine.
I was able to track it down to some Kotlin model classes being removed from the APK by proguard. In our `proguard-rules.pro` file there's a rule to keep the Java models

[2022-03-04 19:42] MiqueiasDevGames opened #1357 "com/google/firebase/analytics/connector/AnalyticsConnector"
My PC can't handle Android Studio, so I'm making games with godot engine, but now trying to add firebase to the project I'm getting this error:
NoClassDefFoundError: Failed resolution of: com/google/firebase/analytics/connector/AnalyticsConnector

I downloaded the firebase analytics libary in maven from the link below, but when extracting the classes.jar from it is empty and I can't find where thi

[2022-03-04 19:56] MiqueiasDevGames commented on #1357
Never mind already collected in firebase-measurement-connector

[2022-03-04 19:57] #1357 closed

[2022-03-04 22:38] n0psn0ps commented on #1355
Awesome thank you @thatfiredev i will give that a try now and see if I can get it to deploy.

[2022-03-04 23:25] n0psn0ps commented on #1355
Looks like a may be missing something in my setup process. I can get the app to deploy into my android emulator no problem, but when I attempt to sign-up and login I am met with a failure in both regard. Screenshot below.

![image](https://user-images.githubusercontent.com/68410650/156855350-4c4c2a52-232f-40f1-8381-ed497a90c744.png)

I have set the correct permissions for the Realtime Database:
[c

[2022-03-06 21:29] petrgazarov commented on #1354
Amazing, after I switched order of steps 6 and 7, the events started appearing in DebugView. Thanks!

[2022-03-06 21:29] #1354 closed

[2022-03-08 21:05] tregix-tech commented on #296
Any update? 🙏

[2022-03-20 08:16] Tazz1990 opened #1360 "Fire"
https://github.com/firebase/quickstart-android/pull/1356

[2022-03-20 08:20] Tazz1990 opened #1361 "Redfire"
https://github.com/firebase/firebase-android-sdk/issues/3566

[2022-03-20 08:24] Tazz1990 opened #1362 "F"
https://github.com/firebase/quickstart-android/commit/8d5a8bc2578ff74c6b3f53bc5c8aa945c7e03fa6

[2022-04-14 01:47] luoyexk commented on #119
I have the same problem, did they forget to fix it, or is there something wrong with my code?

[code]

[code]
[code]

[2022-04-20 16:07] thatfiredev commented on #1355
@n0psn0ps Sorry for the delay here...
I tried to reproduce this with the security rules that you provided and it worked just fine, I had no errors.
I see from your database screenshot that you have a `password` field on the database that is not supposed to be there. I'm guessing that could be causing the error.
Can you please delete all the users that you have on your Database Console? And only ad

[2022-04-21 15:01] #1348 closed

[2022-04-22 10:30] thatfiredev commented on #562
Closing this issue as it is now well-documented here: https://firebase.google.com/docs/emulator-suite/connect_functions#android

[2022-04-22 10:30] #562 closed

[2022-04-26 12:07] thatfiredev commented on #1325
@bugthug404 It looks like you're using Flutter and this repository has Android samples only.
Your bug has already been reported on https://github.com/firebase/flutterfire/issues/6087
I suggest you follow that thread. I'll close this for now.

[2022-04-26 12:07] #1325 closed

[2022-04-26 16:14] thatfiredev commented on #1302
This is not currently possible, as answered in all of these StackOverflow posts:
- https://stackoverflow.com/a/58380643/5861618
- https://stackoverflow.com/a/40861417/5861618
- https://stackoverflow.com/a/39632704/5861618
- https://stackoverflow.com/a/38379251/5861618

[2022-04-26 16:14] #1302 closed

[2022-05-06 14:30] Rajesh166 opened #1369 "Firebase Analytics and Crashlytics events doesn't work in Corporate Proxy / VPN"
Step 1: Describe your environment
Android device: Android Studio Emulator
Android OS version: Pixel 4A - 11.0 / API 30 and API 29
Google Play Services version: n/a
Firebase/Play Services SDK version: most recent

Step 2: Describe the problem:
Steps to reproduce:
Build the app via the Quick Start Code with the corresponding google-service.json file and export APK via "release" format
When i am in C

[2022-05-19 14:55] thatfiredev commented on #1369
@Rajesh166 I wonder if this could somehow be related to the emulator. Is it possible for you to test this in a physical device?

[2022-05-20 16:40] teddis opened #1374 "Crash due to conflict between com.google.firebase:firebase-perf-ktx:20.0.6 and androidx.health:health-services-client:1.0.0-alpha03"
We use androidx.health:health-services-client:1.0.0-alpha03 to obtain heartbeat measurements on Wear OS 3.0 (Samsung Galaxy Watch 4).

We're seeing the following crash as result of using the library com.google.firebase:firebase-perf-ktx:20.0.6 so we can't using Firebase performance. I've tried testing with earlier releases. Same crash with alpha02. Going further back to alpha01 doesn't include nec

[2022-05-23 09:58] thatfiredev commented on #1374
@teddis Can you confirm the same code runs without crashes once you remove the firebase perfmon dependency?

[2022-05-23 10:10] thatfiredev commented on #1319
@cyxin577 we're logging the token for demonstrative purposes. Notice that we're also displaying it on the UI here:

https://github.com/firebase/quickstart-android/blob/a219d94278faff75774509e5b09fb6d0f02004eb/auth/app/src/main/java/com/google/firebase/quickstart/auth/java/CustomAuthFragment.java#L144

Removing that line doesn't seem like a good option, as we want to make it easy for developers to

[2022-05-23 10:11] #1328 closed

[2022-05-23 10:20] thatfiredev commented on #897
This issue is very old and makes use of the deprecated Fabric Crashlytics Plugin.

Crashlytics now has a new [Firebase Plugin](https://firebase.google.com/docs/crashlytics/get-started?platform=android) which has (hopefully) fixed this issue.
There's also a new documentation page regarding [deobfuscation](https://firebase.google.com/docs/crashlytics/get-deobfuscated-reports?platform=android).

Clos

[2022-05-23 10:20] #897 closed

[2022-05-23 10:23] thatfiredev commented on #323
The Firebase Authentication Android SDK has been updated in [version 20.0.0](https://firebase.google.com/support/release-notes/android#auth_v20-0-0) and I think this leak has been fixed. Closing the issue for now

[2022-05-23 10:23] #323 closed

[2022-05-23 10:29] thatfiredev commented on #908
@YanCorey Can you please update to the latest version of the Android Firebase SDK?

If the error still persists, it would be useful if you could also provide all the relevant code here.

Closing this now, but feel free to re-open if the error is still there.

[2022-05-23 10:29] #908 closed

[2022-05-23 12:13] teddis commented on #1374
Yes

On Mon, May 23, 2022, 2:59 AM Rosário Pereira Fernandes <
***@***.***> wrote:

[2022-05-23 14:33] #1374 closed

[2022-05-23 14:49] thatfiredev commented on #1374
@teddis
Perfect! I'll check which versions each library uses and see how can they update to matching protobuf versions.
Thanks for the feedback!

[2022-05-23 17:06] PHacker1 commented on #200
![Screenshot (56)](https://user-images.githubusercontent.com/94450394/169871679-717cb4ad-62ab-46c4-b578-459108b33683.png)
can you find the error?? what should I do now??

[2022-06-10 13:17] thatfiredev commented on #1333
@CaptainRock Whenever a build fails, there's always an error somewhere. Can you please double-check your logcat?

[2022-06-16 01:00] #1369 closed

[2022-06-16 01:00] #1355 closed

[2022-06-16 01:00] #1319 closed

[2022-06-16 19:10] maxxx opened #1386 "[Messaging] "Customize default notification" docs link is dead"
Here (https://github.com/firebase/quickstart-android/blob/master/messaging/README.md) is the link (https://goo.gl/sPggnS) which navigates to some outdated page (https://firebase.google.com/docs/notifications/android/console-audience#edit-the-app-manifest) which gives 404 in result. So how to read about additional customization of default notification?

[2022-06-17 13:27] thatfiredev commented on #1386
Nice finding @maxxx !
The correct documentation link should be this one: https://firebase.google.com/docs/cloud-messaging/android/receive#edit-the-app-manifest
I'll update the README.md file

[2022-06-22 18:05] rohit267 commented on #296
All hail firebase, when we can't test the code in debug not sure how to proceed for production.

[2022-06-23 01:00] #1333 closed

[2022-06-23 10:58] danielaxo commented on #1007
😭😭😭😭m

nnnn

[2022-06-26 05:23] tunsira opened #1389 "Unicorn Blocker for Samsung Internet"
https://apps.samsung.com/appquery/appDetail.as?appId=kr.co.lylstudio.unicorn

[2022-06-27 10:09] thatfiredev commented on #1389
Closing as it looks like spam to me.

[2022-06-27 10:09] #1389 closed

[2022-06-27 10:20] #1386 closed

[2022-07-06 11:12] 1989shack opened #1392 "Webpages Hosting"
https://github.com/jekyll/jekyll/releases/tag/v3.9.2

[2022-07-06 13:31] #1392 closed

[2022-07-25 16:25] aguli-moeving commented on #296
This happens to me too.
I have iPhone with Sim A, that I use to login to my app on Android Phone with No Sim.
I get the OTP on ios and instant verification happens on the android.
I don't understand how can this happen? This seems very risky.

[2022-08-03 07:45] koelnkalkverbot opened #1397 "UserProperty numbers are not summing up to number of active users"
We recently started using Firebase `UserProperty` for our app analytics and it seems to be working quite well, except that for some properties the numbers of the possible values (mostly just `true` and `false`) don't add up to the total number of active users displayed if Firebase for a certain day.

Two examples to make it more clear:

I select July 14 - 21 as the time range and the total number

[2022-08-10 15:15] JXRIS commented on #296
This has been a request for over 5 years now, any updates on this?

[2022-08-10 21:22] faizanpasha265 commented on #200
Try adding `android:usesCleartextTraffic="true"` in `AndroidManifest.xml`
Inside of `application` tag

[2022-08-16 16:43] rohanvasishth commented on #296
There should be a way to turn this off. As others have mentioned, there are some clear security risks and I don't really see it as a beneficial UX experience.

[2022-08-16 17:48] hojat72elect commented on #784
This problem isn't specific to emulators; it happens on "Samsung S20" and OnePlus devices as well. Does anyone has a solution?

[2022-09-05 08:48] Rous110508 opened #1404 "Since this is a Kotlin snippet, we might want to demonstrate KTX here"
Since this is a Kotlin snippet, we might want to demonstrate KTX here
[code]

_Originally posted by @thatfiredev in https://github.com/firebase/quickstart-android/pull/1353#discussion_r814957506_

[2022-09-05 11:50] thatfiredev commented on #1404
Hi @Rous110508 If you need help with that particular snippet, please share more details so we can help you. Thanks

[2022-09-05 11:50] #1404 closed

[2022-09-05 13:01] IvanSimovic commented on #372
I am also working on a calling app, and I am still dealing with the same issue. For me there are random periods of a minute or two where no notifications arrive, and then it works again. For a calling app that is not fine. Did you ever find a work around for this problem @memfis19 ?

[2022-09-22 09:32] thatfiredev commented on #1397
@koelnkalkverbot where are you seeing the active users number? Is it on the Firebase Console or Analytics Console? And what tab/section is it under (eg. Audiences, Realtime Reports, DebugView, ...)?

[2022-09-26 08:19] chAqibjaved opened #1411 "android firebase file upload in background service app crashed when I passed uri to the service"
### Step 1: Describe your environment

  * Android device: _Samsing A50____
  * Android OS version: ___11
  * Google Play Services version: _____
  * Firebase/Play Services SDK version: _____19.6.0

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. first i take picture from camera ang get URI of the picture
  2. then I call the service to upload image to firebase but app crashs wit

[2022-09-27 06:14] companyshot commented on #582
На русском:
Наверное это будет уже поздно, но я решил эту проблему так. Зашел File ->  Settings -> Plugins, и обновил FIrebase Services После перезагрузил Android Studio
In English:
It will probably be too late, but I solved this problem this way. I went to File -> Settings -> Plugins, and updated FIrebase Services After I rebooted Android Studio
![Screenshot_1](https://user-images.githubuserconte

[2022-10-07 19:04] thatfiredev opened #1416 "FragmentAdapter is deprecated"
Our analytics quickstart uses `FragmentAdapter` which has been deprecated. The [reference docs](https://developer.android.com/reference/androidx/fragment/app/FragmentPagerAdapter) suggests migrating to ViewPager2.

We've done a similar migration in the past for our RTDB quickstart https://github.com/firebase/quickstart-android/pull/1315 - it can be used as inspiration.

[2022-10-07 19:11] thatfiredev opened #1417 "onBackPressed() has been deprecated"
Our firestore quickstart makes use of the `onBackPressed()` method, which has been deprecated:

https://github.com/firebase/quickstart-android/blob/a219d94278faff75774509e5b09fb6d0f02004eb/firestore/app/src/main/java/com/google/firebase/example/fireeats/kotlin/RestaurantDetailFragment.kt#L136-L138

Since that app uses the [Navigation component](https://developer.android.com/guide/navigation/naviga

[2022-10-07 19:14] thatfiredev opened #1418 "setHasOptionsMenu() and onCreateOptionsMenu() have been deprecated"
The `setHasOptionsMenu()` and `onCreateOptionsMenu()` used in our quickstarts have been deprecated in favor of [MenuProvider](https://developer.android.com/jetpack/androidx/releases/activity#1.4.0-alpha01).

We need to update our quickstart apps with the [proposed solutions](https://stackoverflow.com/a/71965674/5861618).

Affected apps:
- [ ] firestore
- [ ] database

[2022-10-07 19:32] AlgyJr commented on #1417
Hi @thatfiredev , I'd like to try this, can you assign it to me?

[2022-10-07 20:48] thatfiredev commented on #1417
@AlgyJr  Go for it!

[2022-10-07 21:09] AlbertoYabeda commented on #1416
Helloo 🔥.
can you assign it to me? I would like to give it a try.

[2022-10-07 21:10] thatfiredev commented on #1416
@AlbertoYabeda Of course!

[2022-10-07 21:20] Nozotrox commented on #1418
I would like to close the issue.

[2022-10-07 21:21] thatfiredev commented on #1418
@Nozotrox you mean you'll fix it? 😁
Sure, assigned to you!

[2022-10-08 15:57] AlbertoYabeda commented on #1416
I think to be able to run it,  I need the google-services.json file for the google services plugin. Am I wrong??

[2022-10-08 21:10] thatfiredev commented on #1416
@AlbertoYabeda Yes, you'll need to create a Firebase Project and add the .json file to the app. We have instructions here: https://github.com/firebase/quickstart-android/tree/master/analytics

[2022-10-08 21:49] AlbertoYabeda commented on #1416
Thanks @thatfiredev

[2022-10-09 05:33] deniscoman commented on #784
Still seeing this issue. Does anyone found any solution?

[2022-10-09 20:31] Nozotrox commented on #1418
Yes! :D

[2022-10-10 14:32] #1417 closed

[2022-10-19 07:50] MSchmidt commented on #784
I'm seeing an increasing number of users that report broken OCR. For many it has started with a recent Android Update but I cannot reproduce it.

[2022-10-19 09:38] jmazier-j2d commented on #784
I'm experiencing this issue on many many recent Android devices (11 & 12)... The download just fail somehow, waiting is not an option (it just won't download).

[2022-10-22 19:35] saketkumar commented on #1416
@AlbertoYabeda Is this still pending?
@thatfiredev Should I take this up? 🙂

[2022-10-23 11:43] AlbertoYabeda commented on #1416
You can take it @saketkumar.

[2022-10-23 14:43] saketkumar commented on #1416
Thanks for the update @AlbertoYabeda
Let me know if you face any issues. I will take this up. 😃

[2022-10-23 14:59] AlbertoYabeda commented on #1416
I'll do that @saketkumar . Thankiuu😉

[2022-10-24 10:26] thatfiredev commented on #1418
Done in #1425

[2022-10-24 10:26] #1418 closed

[2022-10-24 11:02] thatfiredev opened #1428 "Use ConstraintLayout in dynamiclinks quickstart"
Our [dynamiclinks quickstart](https://github.com/firebase/quickstart-android/tree/master/dynamiclinks) has a single screen which uses nested LinearLayouts. It would be nice if we could simplify it with a `ConstraintLayout`.

[2022-10-24 11:03] thatfiredev commented on #1416
@saketkumar if you're still interested in contributing, I have just opened a much simpler issue: #1428

[2022-10-24 15:02] EdNgulele commented on #1428
Hi @thatfiredev, can I take this one?

[2022-10-24 15:04] thatfiredev commented on #1428
Sure @EdNgulele , assigned to you

[2022-10-25 05:30] saketkumar commented on #1416
@thatfiredev No problem .
Please let me know again if there is anything I can contribute to. 🙂

[2022-10-27 19:04] #1428 closed

[2022-10-28 17:39] rodgomesc commented on #784
how i fixed this,

### so far i found 3 scenarios so far that can cause this problem:
    1 - your android emulator is not a version that include google play services.
    2 - google play store need to be logged to be able to download the model
    3 - your google play services is not updated on emulator or physical devices

those steps solved for me

### 1 - updated google play services

<img wid

[2022-11-06 05:22] Jimlala commented on #296
This instant verification thing, without opt-out, is one of the worst features indeed.

[2022-11-06 16:00] mhmas commented on #296
لاتعليق 🙃

[2022-11-07 17:46] thatfiredev commented on #1411
@chAqibjaved this seems to be related to #1431 , which has just been merged.

Can you please pull the changes from our main branch and try again?

[2022-11-21 02:00] #1411 closed

[2022-11-22 12:31] matej-podzemny commented on #296
any news? this feature broke my flow and I have no idea how to disable auto-retrieval on android...

[2022-11-30 17:25] thatfiredev commented on #1416
Done in #1427

[2022-11-30 17:25] #1416 closed